@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: #fafaf1;
  color: #333;
  overflow-x: hidden;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

header {
  height: 300px;
  text-align: center;
  padding: 120px 0;
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
}

/*燈箱寬*/
.lightbox_s {
  width: 500px;
}

/*新手教學用*/
.lightbox_b {
  width: 1000px;
}

/*燈箱的遮罩顏色*/
.lightCover {
  background-color: #414141e6;
}

/*button mixin*/
@media all and (max-width: 768px) {
  header img {
    height: 76px;
  }
}

#app {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

#act_radioBg {
  position: relative;
  max-width: 1400px;
  height: 650px;
  margin: 180px auto 50px 0px;
}

@media all and (max-width: 1200px) {
  #act_radioBg {
    max-width: 1000px;
    height: 450px;
  }
}

#act_radioBg img {
  width: 100%;
  height: 100%;
}

#act_radioBg #act_title {
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: -5%;
  left: 50%;
  -webkit-transform: translate(-30%, 0%);
          transform: translate(-30%, 0%);
  z-index: 1;
}

@media all and (max-width: 1200px) {
  #act_radioBg #act_title {
    width: 222px;
    height: 58px;
  }
}

#act_radioBg h2 {
  margin: 0;
  display: inline-block;
  max-width: 550px;
  position: absolute;
  top: 13%;
  left: 18%;
  z-index: 1;
  font-size: 2rem;
}

@media all and (max-width: 1200px) {
  #act_radioBg h2 {
    font-size: 1.5rem;
  }
}

#act_radioBg #act_sectionAnchor {
  display: inline-block;
  width: 800px;
  height: 75px;
  position: absolute;
  bottom: 4%;
  left: 23%;
  z-index: 1;
}

@media all and (max-width: 1200px) {
  #act_radioBg #act_sectionAnchor {
    width: 600px;
    height: 50px;
  }
}

#act_radioBg #act_sectionAnchor a {
  display: inline-block;
  width: 200px;
  margin-left: 50px;
  height: 75px;
  text-decoration: none;
  position: relative;
}

@media all and (max-width: 1200px) {
  #act_radioBg #act_sectionAnchor a {
    width: 150px;
    height: 50px;
    margin-left: 30px;
  }
}

#act_radioBg #act_sectionAnchor a img {
  width: 100%;
  height: 100%;
}

#act_radioBg #act_sectionAnchor a span {
  color: #333;
  font-size: 0.7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#act_radioBg #act_oldyear_Anchor {
  position: absolute;
  left: 50%;
  bottom: 5%;
  width: 300px;
  height: 50px;
}

#act_radioBg #act_oldyear_Anchor a img {
  width: 50px;
  height: 50px;
}

#act_radioBg #act_oldyear_Anchor a span {
  font-size: 0.7rem;
  margin-right: 10px;
}

#act_HeadBtn {
  position: absolute;
  top: 16%;
  right: 5%;
  z-index: 1;
}

#act_HeadBtn div {
  position: relative;
  margin: 0;
  width: 150px;
  height: 140px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

@media all and (max-width: 1200px) {
  #act_HeadBtn div {
    width: 120px;
    height: 110px;
  }
}

#act_HeadBtn div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#act_HeadBtn div img {
  width: 80%;
  height: 80%;
}

#act_HeadBtn div span {
  position: absolute;
  top: 32%;
  left: 35%;
  z-index: 2;
  font-size: 0.8rem;
  font-weight: bold;
}

@media all and (max-width: 1200px) {
  #act_HeadBtn div span {
    font-size: 0.6rem;
    left: 36%;
  }
}

#act_carousel {
  width: 80%;
  height: 60%;
  max-width: 1200px;
  max-height: 400px;
  position: absolute;
  top: 35%;
  left: 15%;
  z-index: -1;
  overflow: hidden;
}

#act_carousel img {
  width: 100%;
  height: 100%;
}

#act_carouselSelect {
  width: 30px;
  height: 80px;
  position: absolute;
  right: 7%;
  top: 60%;
}

#act_carouselSelect div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  border: yellow;
  -webkit-box-shadow: 1px 1px 5px black;
          box-shadow: 1px 1px 5px black;
  margin: 5px 5px auto;
  opacity: 0.5;
}

#act_carouselSelect .btncolor {
  opacity: 1;
}

#act_countdown {
  display: block;
  width: 350px;
  height: 100px;
  position: absolute;
  top: 25%;
  left: 40%;
  text-align: center;
}

@media all and (max-width: 1200px) {
  #act_countdown {
    width: 250px;
    height: 60px;
  }
}

#act_countdown p {
  vertical-align: bottom;
  font-size: 0.6rem;
  margin: 0;
}

#act_countdown div {
  margin: 0 auto;
}

#act_countdown div div {
  display: inline-block;
  text-align: center;
  width: 70px;
  height: 70px;
  margin: 5px;
}

@media all and (max-width: 1200px) {
  #act_countdown div div {
    width: 30px;
    height: 30px;
    margin: 2px;
  }
}

#act_countdown div div p {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  color: white;
}

@media all and (max-width: 1200px) {
  #act_countdown div div p {
    font-size: 1.2rem;
  }
}

#act_countdown div div span {
  font-size: 0.6rem;
  position: relative;
  top: -20px;
  color: #333;
}

.act_old_years {
  position: relative;
  background-image: url(../img/activity/0.blackline.svg);
  height: 700px;
  max-width: 1300px;
  width: 100%;
  padding: 100px 0 0 150px;
  margin: 150px auto 0 auto;
}

.act_old_years .act_oldink {
  position: absolute;
  top: -30%;
  left: -15%;
  z-index: -1;
  width: 500px;
  height: 400px;
}

.act_old_years .act_oldink img {
  width: 100%;
  height: 100%;
}

.act_old_years div {
  width: 40%;
}

.act_old_years div .act_year {
  font-size: 2.5rem;
  font-weight: bold;
  display: inline-block;
}

.act_old_years div h2 {
  font-size: 2rem;
  margin: 0;
}

.act_old_years div h3 {
  display: inline-block;
  font-size: 1.5rem;
  margin: 0;
}

.act_old_years div p {
  display: inline-block;
  max-width: 600px;
  font-size: 1rem;
}

.act_old_years div .act_oldVotes h3 {
  display: inline-block;
  font-size: 1.5rem;
  margin: 0;
}

.act_old_years div .act_oldVotes span {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}

.act_old_years .act_oldposterbox {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0%;
  right: 0%;
}

.act_old_years .act_oldposterbox .act_oldposter {
  width: 350px;
  height: 500px;
  position: absolute;
  bottom: 5%;
  right: 15%;
  z-index: 2;
}

.act_old_years .act_oldposterbox .act_oldposter img {
  width: 100%;
  height: 100%;
}

.act_old_years .act_oldposterbox .act_oldSplash-ink {
  position: absolute;
  bottom: -20%;
  left: -25%;
  z-index: 1;
  width: 800px;
  height: 600px;
}

.act_old_years .act_oldposterbox .act_oldSplash-ink img {
  width: 100%;
  height: 100%;
}

.act_old_years .act_oldposterbox .act_oldposter-linetop {
  position: absolute;
  top: 10%;
}

.act_old_years .act_oldposterbox .act_oldposter-linebotom {
  position: absolute;
  bottom: -15%;
  right: -15%;
  z-index: 2;
}

.act_oldsongbox {
  margin-top: 75px;
  padding: 100px 135px;
  width: 1500px;
  margin: 50px auto 0 auto;
}

.act_oldsongbox .act_oldTop {
  text-align: left;
  width: 100%;
  max-width: 1400px;
  padding: 100px 0 0 50px;
}

.act_oldsongbox .act_oldTop h3 {
  font-size: 1.5rem;
  margin: 0 0px 30px 20px;
}

.act_oldsongbox .act_oldTop div {
  text-align: left;
  width: 30%;
  margin-left: 2%;
  display: inline-block;
}

.act_oldsongbox .act_oldTop div h4 {
  width: 90%;
  margin: 0;
  font-size: 1.2rem;
}

@media all and (max-width: 1200px) {
  .act_oldsongbox .act_oldTop div h4 {
    font-size: 0.8rem;
  }
}

.act_oldsongbox .act_oldTop div p {
  margin: 0;
  font-size: 1rem;
}

@media all and (max-width: 1200px) {
  .act_oldsongbox .act_oldTop div p {
    width: 100%;
    font-size: 0.8rem;
  }
}

.act_oldsongbox .act_oldTop div p .act_old-hear1 {
  width: 25px;
  height: 25px;
  margin: 0;
}

.act_oldsongbox .act_oldTop div p .act_old-hear1 img {
  width: 100%;
  height: 100%;
}

.act_oldsongbox .act_oldTop div p {
  font-size: 0.6rem;
  margin: 0 auto;
  margin-bottom: 10px;
}

.act_oldsongbox .act_oldTop div p span {
  font-size: 0.8rem;
}

.act_oldsongbox .act_oldTop div div {
  width: 100%;
  margin: 0;
  position: relative;
}

.act_oldsongbox .act_oldTop div div:hover .act_old-play {
  display: block;
  cursor: pointer;
  z-index: 2;
}

.act_oldsongbox .act_oldTop div div .act_old-play {
  width: 100px;
  height: 100px;
  text-align: center;
  position: absolute;
  top: 25%;
  left: 20%;
  display: none;
  z-index: 2;
}

.act_oldsongbox .act_oldTop div div .act_old-play img {
  width: 100%;
  height: 100%;
}

.act_oldsongbox .act_oldTop div div img {
  width: 250px;
  height: 250px;
}

.act_oldAll {
  text-align: left;
  width: 100%;
  margin-top: 75px;
  max-width: 1400px;
  padding: 100px 0 0 50px;
  margin: 50px auto 0px auto;
}

.act_oldAll h3 {
  font-size: 1.5rem;
  margin: 0 0px 30px 0px;
}

.act_oldAll div {
  text-align: left;
  width: 20%;
  margin-left: 3.5%;
  margin-bottom: 50px;
  display: inline-block;
}

.act_oldAll div .act_songBox {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.act_oldAll div .act_songBox h4 {
  width: 90%;
  margin: 0;
  font-size: 1.2rem;
}

@media all and (max-width: 1200px) {
  .act_oldAll div .act_songBox h4 {
    font-size: 0.8rem;
  }
}

.act_oldAll div .act_songBox p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

@media all and (max-width: 1200px) {
  .act_oldAll div .act_songBox p {
    width: 100%;
    font-size: 0.8rem;
  }
}

.act_oldAll div .act_songBox p .act_old-hear1 {
  width: 25px;
  height: 25px;
  margin: 0;
}

.act_oldAll div .act_songBox p .act_old-hear1 img {
  width: 100%;
  height: 100%;
}

.act_oldAll div p {
  font-size: 0.6rem;
  margin: 0 auto;
  margin-bottom: 10px;
}

.act_oldAll div p span {
  font-size: 0.8rem;
}

.act_oldAll div div {
  width: 100%;
  margin: 0;
  position: relative;
}

.act_oldAll div div:hover .act_old-play {
  display: block;
  cursor: pointer;
  z-index: 2;
}

.act_oldAll div div .act_old-play {
  width: 100px;
  height: 100px;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 20%;
  display: none;
  z-index: 2;
}

.act_oldAll div div .act_old-play img {
  width: 100%;
  height: 100%;
}

.act_oldAll div div img {
  width: 200px;
  height: 200px;
}

.act_now-year {
  position: relative;
  height: 700px;
  max-width: 1400px;
  width: 100%;
  padding: 100px 0 0 150px;
  margin: 150px auto 0 auto;
}

@media all and (max-width: 1200px) {
  .act_now-year {
    margin: 75px auto 0 auto;
    padding: 75px 0 0 150px;
  }
}

.act_now-year div {
  width: 50%;
}

.act_now-year div h2 {
  margin: 0;
  font-size: 2rem;
}

@media all and (max-width: 1200px) {
  .act_now-year div h2 {
    font-size: 1.5rem;
  }
}

.act_now-year div h3 {
  margin: 0;
  font-size: 1.5rem;
}

@media all and (max-width: 1200px) {
  .act_now-year div h3 {
    font-size: 1.2rem;
  }
}

.act_now-year div div {
  margin: 20px 0;
  width: 70%;
  font-size: 2.5rem;
  line-height: 1;
}

@media all and (max-width: 1200px) {
  .act_now-year div div {
    font-size: 2rem;
  }
}

.act_now-year div p {
  width: 80%;
  font-size: 1rem;
  margin: 0 auto 20px 0;
}

@media all and (max-width: 1200px) {
  .act_now-year div p {
    font-size: 0.8rem;
    margin: 0 auto 10px 0;
  }
}

.act_nowposterbox {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0%;
  right: 0%;
}

.act_nowposterbox .act_nowposter {
  width: 350px;
  height: 450px;
  position: absolute;
  top: 10%;
  right: 20%;
  z-index: 2;
  margin: auto auto;
}

@media all and (max-width: 1200px) {
  .act_nowposterbox .act_nowposter {
    width: 250px;
    height: 300px;
    bottom: 15%;
    left: 15%;
  }
}

.act_nowposterbox .act_nowposter img {
  width: 100%;
  height: 100%;
}

.act_nowposterbox .act_nowSplash-ink {
  position: absolute;
  bottom: -10%;
  left: 0%;
  z-index: 1;
  width: 800px;
  height: 600px;
}

@media all and (max-width: 1200px) {
  .act_nowposterbox .act_nowSplash-ink {
    width: 450px;
    height: 300px;
    bottom: 15%;
    left: 15%;
  }
}

.act_nowposterbox .act_nowSplash-ink img {
  width: 100%;
  height: 100%;
}

.act_nowposterbox .act_nowposter-linetop {
  width: 400px;
  height: 400px;
  position: absolute;
  top: -8%;
  left: 5%;
  margin: auto auto;
}

@media all and (max-width: 1200px) {
  .act_nowposterbox .act_nowposter-linetop {
    width: 200px;
    height: 200px;
    top: 12%;
    left: 10%;
  }
}

.act_nowposterbox .act_nowposter-linetop img {
  width: 100%;
  height: 100%;
}

.act_nowposterbox .act_nowposter-linebotom {
  position: absolute;
  bottom: -10%;
  right: -12%;
  z-index: 2;
  margin: auto auto;
  width: 400px;
  height: 400px;
}

@media all and (max-width: 1200px) {
  .act_nowposterbox .act_nowposter-linebotom {
    width: 200px;
    height: 200px;
    bottom: 15%;
    right: 0%;
  }
}

.act_nowposterbox .act_nowposter-linebotom img {
  width: 100%;
  height: 100%;
}

#act_Now-Sign-up {
  max-width: 1400px;
  width: 100%;
  min-height: 850px;
  padding: 50px 0 0 30px;
  margin: 150px auto 100px auto;
  position: relative;
}

@media all and (max-width: 1200px) {
  #act_Now-Sign-up {
    margin: 50px auto 100px auto;
    min-height: 750px;
  }
}

#act_Now-Sign-up h2 {
  font-size: 2rem;
  margin: 0 0 20px 120px;
}

@media all and (max-width: 1200px) {
  #act_Now-Sign-up h2 {
    font-size: 1.5rem;
  }
}

#act_Now-Sign-up div {
  width: 30%;
  min-width: 300px;
  height: 100%;
  display: inline-block;
  position: relative;
  text-align: right;
}

@media all and (max-width: 1200px) {
  #act_Now-Sign-up div {
    min-width: 200px;
  }
}

#act_Now-Sign-up div .act_now-marry {
  width: 80%;
  height: 80%;
  margin: auto auto;
}

@media all and (max-width: 1200px) {
  #act_Now-Sign-up div .act_now-marry {
    width: 90%;
    height: 90%;
  }
}

#act_Now-Sign-up div .act_now-marry img {
  width: 100%;
  height: 100%;
}

#act_Now-Sign-up div .act_now-marry-ink {
  width: 900px;
  height: 720px;
  position: absolute;
  z-index: -1;
  left: -45%;
  top: -10%;
}

@media all and (max-width: 1200px) {
  #act_Now-Sign-up div .act_now-marry-ink {
    width: 850px;
    height: 600px;
    top: -20%;
    left: -10%;
  }
}

#act_Now-Sign-up div .act_now-marry-ink img {
  width: 100%;
  height: 100%;
}

#act_Now-Sign-up article {
  position: absolute;
  top: 5%;
  width: 60%;
  min-height: 600px;
  display: inline-block;
  margin: 0 auto;
  background-image: url(../img/activity/0.text-circle.svg), url(../img/activity/text.circle-wh.png);
  background-repeat: no-repeat;
  background-size: contain, 95% 95%;
  background-position-x: center, right;
  text-align: center;
  padding: 50px 0 0 0;
  position: absolute;
}

@media all and (max-width: 1200px) {
  #act_Now-Sign-up article {
    min-height: 400px;
    top: 10%;
    right: 2%;
    width: 68%;
  }
}

#act_Now-Sign-up article .act_SignSongURL-box {
  width: 80%;
  height: 20px;
  overflow: hidden;
  font-size: 0.6rem;
  word-break: break-all;
  border: 1px #d0d6d6 solid;
}

#act_Now-Sign-up article div {
  text-align: left;
  width: 70%;
  margin: auto auto;
  padding: 20px;
  text-align: center;
}

#act_Now-Sign-up article div h3 {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 1.5rem;
}

@media all and (max-width: 1200px) {
  #act_Now-Sign-up article div h3 {
    font-size: 1.2rem;
  }
}

#act_Now-Sign-up article div p {
  font-size: 1rem;
  display: inline-block;
  width: 80%;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 0;
}

@media all and (max-width: 1200px) {
  #act_Now-Sign-up article div p {
    font-size: 0.8rem;
  }
}

#act_Now-Sign-up article div p .act_SignUPButton {
  margin-bottom: 10px;
  font-size: 0.7rem;
  display: inline-block;
  padding: 5px 8px;
  background-color: #f1c40f6b;
  border: 1.5px solid #f1c40f;
  cursor: pointer;
}

#act_Now-Sign-up article div p h4 {
  text-align: left;
}

@media all and (max-width: 1200px) {
  #act_Now-Sign-up article div p h4 {
    font-size: 1rem;
  }
}

#act_Now-Sign-up article div p h4 span {
  font-size: 1rem;
}

@media all and (max-width: 1200px) {
  #act_Now-Sign-up article div p h4 span {
    font-size: 0.8rem;
  }
}

#act_Now-Sign-up article div p select {
  font-size: 0.7rem;
  display: inline-block;
  padding: 5px 8px;
  background-color: #f1c40f6b;
  border: 1.5px solid #f1c40f;
  cursor: pointer;
  border: 1px #d0d6d6 solid;
  background-color: #d0d6d6;
}

#act_Now-Sign-up article div p select option {
  background-color: #d0d6d6;
}

#act_Now-Sign-up article div p p {
  display: inline-block;
  margin: 0;
}

@media all and (max-width: 1200px) {
  #act_Now-Sign-up article div p p {
    font-size: 0.8rem;
  }
}

#act_Now-Sign-up article div .signUpComfirm {
  margin: 0;
  background-color: #f1c40f;
  font-size: 0.8rem;
  padding: 10px 30px;
  border: 1px solid #f1c40f;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

#act_Now-Sign-up article div button {
  background-color: #f1c40f;
  font-size: 0.8rem;
  padding: 10px 30px;
  border: 1px solid #f1c40f;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin: 30px 20px 50px 0;
}

@media all and (max-width: 1200px) {
  #act_Now-Sign-up article div button {
    margin: 15px 10px 30px 10px;
  }
}

#act_Now-Sign-up article div button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#act_Now-Sign-up h4 {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
  text-align: left;
}

@media all and (max-width: 1200px) {
  #act_Now-Sign-up h4 {
    font-size: 1rem;
  }
}

#act_Now-Sign-up .act_SignUPButton2 {
  margin-bottom: 10px;
  font-size: 0.7rem;
  display: inline-block;
  padding: 5px 8px;
  background-color: #f1c40f6b;
  border: 1.5px solid #f1c40f;
  cursor: pointer;
}

#act_Now-Sign-up .act_showSignUpImg {
  width: 65%;
  height: 150px;
  border: 1px #d0d6d6 solid;
  background-color: #d0d6d6;
  margin: 0;
  padding: 0;
}

@media all and (max-width: 1200px) {
  #act_Now-Sign-up .act_showSignUpImg {
    height: 75px;
  }
}

#act_Now-Sign-up .act_showSignUpImg img {
  max-width: 100%;
  max-height: 100%;
}

#act_Now-Sign-up .act_showSignUpImgSmall {
  width: 65%;
  height: 100px;
  border: 1px #d0d6d6 solid;
  margin: 0;
  padding: 0;
}

@media all and (max-width: 1200px) {
  #act_Now-Sign-up .act_showSignUpImgSmall {
    height: 50px;
  }
}

#act_Now-Sign-up .act_showSignUpImgSmall img {
  max-width: 100%;
  max-height: 100%;
}

#act_Now-Sign-up #act_Sign-up-song-name {
  margin: 0;
  border: 1px #d0d6d6 solid;
  background-color: #d0d6d6;
  width: 65%;
  height: 30px;
  overflow: hidden;
}

#act_Now-Sign-up #act_Sign-up-song-information {
  margin: 0;
  border: 1px #d0d6d6 solid;
  background-color: #d0d6d6;
  width: 65%;
  overflow: hidden;
}

#act_Now-Sign-up .act_showSong-information {
  width: 65%;
  overflow: hidden;
  max-height: 100px;
  border: 1px #d0d6d6 solid;
  word-break: break-all;
  font-size: 0.8rem;
}

@media all and (max-width: 1200px) {
  #act_Now-Sign-up .act_showSong-information {
    font-size: 0.6rem;
  }
}

#act_Now-Vote {
  text-align: left;
  height: 700px;
  max-width: 1300px;
  width: 100%;
  margin: 150px auto 0px auto;
  padding-top: 50px;
  position: relative;
}

@media all and (max-width: 1200px) {
  #act_Now-Vote {
    height: 300px;
    max-width: 900px;
    margin: 0px auto 0px auto;
  }
}

#act_Now-Vote .act_Now-Vote-content {
  height: 400px;
  max-width: 1500px;
  padding: 50px 0 0 100px;
  position: relative;
  margin: 0 auto;
  background-image: url(../img/activity/0.blackline.svg), url(../img/activity/text-wh.png);
  background-size: contain, 100% 100%;
  background-repeat: no-repeat, no-repeat;
}

@media all and (max-width: 1200px) {
  #act_Now-Vote .act_Now-Vote-content {
    height: 300px;
    max-width: 900px;
  }
}

#act_Now-Vote .act_Now-Vote-content h2 {
  margin: 0;
  font-size: 2rem;
}

@media all and (max-width: 1200px) {
  #act_Now-Vote .act_Now-Vote-content h2 {
    font-size: 1.5rem;
  }
}

#act_Now-Vote .act_Now-Vote-content h3 {
  margin: 0;
  font-size: 1.5rem;
}

@media all and (max-width: 1200px) {
  #act_Now-Vote .act_Now-Vote-content h3 {
    font-size: 1.2rem;
  }
}

#act_Now-Vote .act_Now-Vote-content p {
  width: 60%;
  font-size: 1rem;
  margin: 0;
}

@media all and (max-width: 1200px) {
  #act_Now-Vote .act_Now-Vote-content p {
    font-size: 0.8rem;
  }
}

#act_Now-Vote .act_Now-Vote-content div {
  text-align: right;
  vertical-align: middle;
  padding-right: 100px;
}

#act_Now-Vote .act_Now-Vote-content div h3 {
  display: inline-block;
  margin: 0;
  font-size: 1.5rem;
}

@media all and (max-width: 1200px) {
  #act_Now-Vote .act_Now-Vote-content div h3 {
    font-size: 0.8rem;
  }
}

#act_Now-Vote .act_Now-Vote-content div span {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}

@media all and (max-width: 1200px) {
  #act_Now-Vote .act_Now-Vote-content div span {
    font-size: 2rem;
  }
}

#act_Now-Vote .act_Now-Vote-content img {
  position: absolute;
  right: -13%;
  bottom: -20%;
  z-index: -1;
  width: 50%;
  height: 125%;
}

#act_Now-Vote section {
  max-width: 1400px;
  width: 100%;
  padding: 0 0 100px 50px;
  margin: 150px auto 0 auto;
}

@media all and (max-width: 1200px) {
  #act_Now-Vote section {
    max-width: 900px;
    margin: 100px auto 0 auto;
  }
}

#act_Now-Vote section div {
  text-align: left;
  width: 20%;
  margin: 0;
  margin-left: 3.5%;
  display: inline-block;
  margin-bottom: 50px;
}

#act_Now-Vote section div p {
  font-size: 0.6rem;
  text-align: left;
  margin: 0 auto 0 10px;
  display: inline-block;
  vertical-align: bottom;
}

#act_Now-Vote section div p span {
  font-size: 0.8rem;
}

#act_Now-Vote section div .act_songBox {
  margin: 0;
  padding: 0;
  font-size: 0;
}

#act_Now-Vote section div .act_songBox h4 {
  width: 90%;
  margin: 0;
  font-size: 1.2rem;
}

@media all and (max-width: 1200px) {
  #act_Now-Vote section div .act_songBox h4 {
    font-size: 0.8rem;
  }
}

#act_Now-Vote section div .act_songBox p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

@media all and (max-width: 1200px) {
  #act_Now-Vote section div .act_songBox p {
    width: 100%;
    font-size: 0.8rem;
  }
}

#act_Now-Vote section div .act_songBox p .act_old-hear1 {
  width: 25px;
  height: 25px;
  margin: 0;
}

#act_Now-Vote section div .act_songBox p .act_old-hear1 img {
  width: 100%;
  height: 100%;
}

#act_Now-Vote section div button {
  display: inline-block;
  background-color: #f1c40f;
  font-size: 0.8rem;
  padding: 10px 30px;
  border: 1px solid #f1c40f;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin: 0 0 10px 0;
}

@media all and (max-width: 1200px) {
  #act_Now-Vote section div button {
    margin: 0 auto;
  }
}

#act_Now-Vote section div button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#act_Now-Vote section div div {
  width: 100%;
  margin: 0;
  position: relative;
}

#act_Now-Vote section div div:hover .act-old-play {
  display: block;
  cursor: pointer;
  z-index: 2;
}

#act_Now-Vote section div div .act_old-play {
  width: 100px;
  height: 100px;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 20%;
  display: none;
  z-index: 2;
}

@media all and (max-width: 1200px) {
  #act_Now-Vote section div div .act_old-play {
    left: 15%;
    top: 15%;
  }
}

#act_Now-Vote section div div .act_old-play img {
  width: 100%;
  height: 100%;
}

#act_Now-Vote section div div img {
  width: 200px;
  height: 200px;
}

@media all and (max-width: 1200px) {
  #act_Now-Vote section div div img {
    width: 150px;
    height: 150px;
  }
}
/*# sourceMappingURL=activity.css.map */