@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: #fafaf1;
  color: #333;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1 {
  /*60px*/
  font-size: 3rem;
}

h2 {
  /* 40px*/
  font-size: 2rem;
  /*副標的h2 font-weight:bold*/
}

h3 {
  /*30px*/
  font-size: 1.5rem;
}

h4 {
  /*24px*/
  font-size: 1.2rem;
}

p {
  /*內文 20px*/
  font-size: 1rem;
}

p.bigSmall {
  /*大小 16px*/
  font-size: 0.8rem;
}

p.doubleSmall {
  /*小小 14px*/
  font-size: 0.7rem;
}

p.forget {
  /*旺季 12px*/
  font-size: 0.6rem;
}

header {
  height: 300px;
  text-align: center;
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
}

/*燈箱寬*/
.lightbox_s {
  width: 500px;
}

/*新手教學用*/
.lightbox_b {
  width: 1000px;
}

/*燈箱的遮罩顏色*/
.lightCover {
  background-color: #414141e6;
}

/*button mixin*/
div.nav_bar {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 60px;
  padding: 0px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
}

div.nav_bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

div.nav_bar .hamburger {
  display: none;
  padding: 10px 10px;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  overflow: hidden;
}

div.nav_bar .hamburger:hover {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

div.nav_bar .hamburger .hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

div.nav_bar .hamburger .hamburger-box .hamburger-inner {
  position: absolute;
  top: 50%;
  margin-top: -2px;
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  -webkit-transition: background-color 0.125s 0.175s ease-in;
  transition: background-color 0.125s 0.175s ease-in;
}

div.nav_bar .hamburger .hamburger-box .hamburger-inner::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: 0;
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  -webkit-transition: top 0.05s 0.125s linear, left 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: top 0.05s 0.125s linear, left 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

div.nav_bar .hamburger .hamburger-box .hamburger-inner::after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  -webkit-transition: top 0.05s 0.125s linear, right 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: top 0.05s 0.125s linear, right 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

div.nav_bar .hamburger.is-active .hamburger-box .hamburger-inner {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  background-color: transparent !important;
}

div.nav_bar .hamburger.is-active .hamburger-box .hamburger-inner::before {
  left: -80px;
  top: -80px;
  -webkit-transform: translate3d(80px, 80px, 0) rotate(45deg);
          transform: translate3d(80px, 80px, 0) rotate(45deg);
  -webkit-transition: left 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

div.nav_bar .hamburger.is-active .hamburger-box .hamburger-inner::after {
  right: -80px;
  top: -80px;
  -webkit-transform: translate3d(-80px, 80px, 0) rotate(-45deg);
          transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  -webkit-transition: right 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

div.nav_bar .mobile_list {
  position: absolute;
  top: 60px;
  left: 0;
  width: 270px;
  -webkit-transform: translateX(-270px);
          transform: translateX(-270px);
  -webkit-filter: opacity(0);
          filter: opacity(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

div.nav_bar .mobile_list .paint_border {
  float: right;
  width: 30px;
  background: url("../img/public/paint_border.png");
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

div.nav_bar .mobile_list ul {
  float: right;
  width: 240px;
  background: #ffffff;
}

div.nav_bar .mobile_list ul li {
  width: 100%;
  height: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.nav_bar .mobile_list ul li.REMIX {
  background: url("../img/public/nav_m_y_bt01.png") center center no-repeat;
}

div.nav_bar .mobile_list ul li.COLLECTION {
  background: url("../img/public/nav_m_y_bt02.png") center center no-repeat;
}

div.nav_bar .mobile_list ul li.ACTIVITY {
  background: url("../img/public/nav_m_y_bt04.png") center center no-repeat;
}

div.nav_bar .mobile_list ul li.LIBRARY {
  background: url("../img/public/nav_m_y_bt04.png") center center no-repeat;
}

div.nav_bar .mobile_list ul li a {
  width: 150px;
  height: 45px;
  font-size: 1.2rem;
  letter-spacing: -0.1rem;
}

div.nav_bar .logo_container {
  height: 55px;
}

div.nav_bar .logo_container .logo {
  width: 100px;
  height: 55px;
  background: url("../img/public/logo_s.svg") center center no-repeat;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

div.nav_bar .main_list {
  position: relative;
  margin: 0 auto 0 0;
  width: 800px;
  height: 60px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.nav_bar .main_list li {
  width: 150px;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.nav_bar .main_list li.REMIX {
  background: url("../img/public/nav_y_bt01.png") center center no-repeat;
}

div.nav_bar .main_list li.COLLECTION {
  background: url("../img/public/nav_y_bt02.png") center center no-repeat;
}

div.nav_bar .main_list li.ACTIVITY {
  background: url("../img/public/nav_y_bt03.png") center center no-repeat;
}

div.nav_bar .main_list li.LIBRARY {
  background: url("../img/public/nav_y_bt04.png") center center no-repeat;
}

div.nav_bar .main_list li a {
  width: 100%;
  height: 45px;
  font-size: 1.2rem;
  letter-spacing: -0.1rem;
}

div.nav_bar .search_bt {
  width: 50px;
  height: 50px;
  background: url("../img/public/search_icon.png");
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

div.nav_bar .search_bt a {
  display: block;
  width: 50px;
  height: 50px;
}

div.nav_bar .search_bar {
  position: absolute;
  top: 60px;
  right: 60px;
  width: 200px;
  height: 240px;
  overflow: hidden;
  -webkit-filter: opacity(0);
          filter: opacity(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

div.nav_bar .search_bar input.search {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 38px;
}

div.nav_bar .search_bar .tag_container {
  width: 100%;
  height: 200px;
  margin: 38px 0 0 0;
  background: #ffffff;
}

div.nav_bar .mem_bt {
  width: 50px;
  height: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url("../img/public/user_icon.png");
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

div.nav_bar .mem_bt a {
  display: block;
  width: 50px;
  height: 50px;
}

div.nav_bar .mem_list {
  position: fixed;
  top: 60px;
  right: 0;
  width: 270px;
  -webkit-transform: translateX(270px);
          transform: translateX(270px);
  -webkit-filter: opacity(0);
          filter: opacity(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

div.nav_bar .mem_list .paint_border {
  float: left;
  width: 30px;
  background: url("../img/public/paint_border.png");
}

div.nav_bar .mem_list ul {
  float: left;
  width: 240px;
  background: #ffffff;
}

div.nav_bar .mem_list ul li {
  padding: 5px 10px;
}

div.nav_bar .mem_list ul li a {
  display: block;
  text-align: end;
}

div.nav_bar .mem_list li:not(:nth-child(5))::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#da1b60));
  background: linear-gradient(to right, #ffffff, #da1b60);
}

@media screen and (max-width: 992px) {
  div.nav_bar .main_list {
    width: 600px;
  }
  div.nav_bar .main_list li {
    width: 120px;
  }
  div.nav_bar .main_list li.REMIX {
    background-size: 120px 55px;
  }
  div.nav_bar .main_list li.COLLECTION {
    background-size: 120px 55px;
  }
  div.nav_bar .main_list li.ACTIVITY {
    background-size: 120px 55px;
  }
  div.nav_bar .main_list li.LIBRARY {
    background-size: 120px 55px;
  }
  div.nav_bar .main_list li a {
    height: 35px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  div.nav_bar .hamburger {
    display: inline-block;
  }
  div.nav_bar .logo_container {
    margin: 0 auto 0 auto;
  }
  div.nav_bar .main_list {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  div.nav_bar .main_list h4 {
    font-size: 0.8rem;
  }
}

.bookshelf-row {
  display: none;
}

.bookshelf {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.bookshelf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 19vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bookshelf .shelf {
  width: 70%;
  height: 440px;
}

.bookshelf .shelf .row-1 {
  position: relative;
  width: 100%;
  height: 158px;
}

.bookshelf .shelf .row-2 {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 164px;
}

.bookshelf .shelf .row-1:after {
  background: url("https://netzulim.org/R/OrgR/Library/sherut/shelfR.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom left;
  width: 100%;
  height: 210px;
  display: block;
  content: "";
}

.bookshelf .shelf .row-2:after {
  background: url("https://netzulim.org/R/OrgR/Library/sherut/shelfR.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom left;
  width: 100%;
  height: 216px;
  display: block;
  content: "";
}

.bookshelf .shelf .loc {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bookshelf .shelf .loc > div {
  width: 33%;
  height: 100%;
  background-size: contain;
  float: left;
}

.bookshelf .sample,
.bookshelf-row .sample {
  margin: auto;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.sample:hover {
  z-index: 2;
  cursor: pointer;
  background-color: white;
  -webkit-transform: scale3d(1.1, 1.1, 1) translate3d(0, -5px, 0);
          transform: scale3d(1.1, 1.1, 1) translate3d(0, -5px, 0);
}

.bookshelf .book1,
.bookshelf-row .book1 {
  background-image: url("https://images.booksense.com/images/books/134/800/FC9780394800134.JPG");
  background-size: 83px 115px;
  width: 83px;
  height: 115px;
}

.bookshelf .book2,
.bookshelf-row .book2 {
  background-image: url("https://images.booksense.com/images/books/899/800/FC9780394800899.JPG");
  background-size: 85px 115px;
  width: 85px;
  height: 115px;
}

.bookshelf .book3,
.bookshelf-row .book3 {
  background-image: url("https://images.booksense.com/images/books/783/800/FC9780394800783.JPG");
  background-size: 84px 115px;
  width: 84px;
  height: 115px;
}

.bookshelf .book4,
.bookshelf-row .book4 {
  background-image: url("http://ecx.images-amazon.com/images/I/51KXmt4Ur-L.jpg");
  background-size: 91px 125px;
  width: 91px;
  height: 125px;
}

.bookshelf .book5,
.bookshelf-row .book5 {
  background-image: url("https://toppsta.com/images/book-covers/9780007169917");
  background-size: 91px 125px;
  width: 91px;
  height: 125px;
}

.bookshelf .book6,
.bookshelf-row .book6 {
  background-image: url("https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/lrg/9780/0071/9780007158461.jpg");
  background-size: 91px 125px;
  width: 91px;
  height: 125px;
}
/*# sourceMappingURL=bookshelf.css.map */