@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: #fafaf1;
  color: #333;
  overflow-x: hidden;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
  color: #333;
}

header {
  height: 300px;
  text-align: center;
  padding: 120px 0;
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
}

/*燈箱寬*/
.lightbox_s {
  width: 500px;
}

/*新手教學用*/
.lightbox_b {
  width: 1000px;
}

/*燈箱的遮罩顏色*/
.lightCover {
  background-color: #414141e6;
}

/*button mixin*/
@media all and (max-width: 768px) {
  header img {
    height: 76px;
  }
}

div.nav_bar {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 60px;
  padding: 0px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
}

div.nav_bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

div.nav_bar .hamburger {
  display: none;
  padding: 10px 10px;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  overflow: hidden;
}

div.nav_bar .hamburger:hover {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

div.nav_bar .hamburger .hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

div.nav_bar .hamburger .hamburger-box .hamburger-inner {
  position: absolute;
  top: 50%;
  margin-top: -2px;
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  -webkit-transition: background-color 0.125s 0.175s ease-in;
  transition: background-color 0.125s 0.175s ease-in;
}

div.nav_bar .hamburger .hamburger-box .hamburger-inner::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: 0;
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  -webkit-transition: top 0.05s 0.125s linear, left 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: top 0.05s 0.125s linear, left 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

div.nav_bar .hamburger .hamburger-box .hamburger-inner::after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  -webkit-transition: top 0.05s 0.125s linear, right 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: top 0.05s 0.125s linear, right 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

div.nav_bar .hamburger.is-active .hamburger-box .hamburger-inner {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  background-color: transparent !important;
}

div.nav_bar .hamburger.is-active .hamburger-box .hamburger-inner::before {
  left: -80px;
  top: -80px;
  -webkit-transform: translate3d(80px, 80px, 0) rotate(45deg);
          transform: translate3d(80px, 80px, 0) rotate(45deg);
  -webkit-transition: left 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

div.nav_bar .hamburger.is-active .hamburger-box .hamburger-inner::after {
  right: -80px;
  top: -80px;
  -webkit-transform: translate3d(-80px, 80px, 0) rotate(-45deg);
          transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  -webkit-transition: right 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

div.nav_bar .mobile_list {
  position: absolute;
  top: 60px;
  left: 0;
  width: 270px;
  -webkit-transform: translateX(-270px);
          transform: translateX(-270px);
  -webkit-filter: opacity(0);
          filter: opacity(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

div.nav_bar .mobile_list .paint_border {
  float: right;
  width: 30px;
  background: url("../img/public/paint_border.png");
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

div.nav_bar .mobile_list ul {
  float: right;
  width: 240px;
  background: #ffffff;
}

div.nav_bar .mobile_list ul li {
  width: 100%;
  height: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.nav_bar .mobile_list ul li.REMIX {
  background: url("../img/public/nav_m_y_bt01.png") center center no-repeat;
}

div.nav_bar .mobile_list ul li.COLLECTION {
  background: url("../img/public/nav_m_y_bt02.png") center center no-repeat;
}

div.nav_bar .mobile_list ul li.ACTIVITY {
  background: url("../img/public/nav_m_y_bt04.png") center center no-repeat;
}

div.nav_bar .mobile_list ul li.LIBRARY {
  background: url("../img/public/nav_m_y_bt04.png") center center no-repeat;
}

div.nav_bar .mobile_list ul li a {
  width: 150px;
  height: 45px;
  font-size: 1.2rem;
  letter-spacing: -0.1rem;
}

div.nav_bar .logo_container {
  height: 55px;
}

div.nav_bar .logo_container .logo {
  width: 100px;
  height: 55px;
  background: url("../img/public/logo_s.svg") center center no-repeat;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

div.nav_bar .main_list {
  position: relative;
  margin: 0 auto 0 0;
  width: 800px;
  height: 60px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.nav_bar .main_list li {
  width: 150px;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.nav_bar .main_list li.REMIX {
  background: url("../img/public/nav_y_bt01.png") center center no-repeat;
}

div.nav_bar .main_list li.COLLECTION {
  background: url("../img/public/nav_y_bt02.png") center center no-repeat;
}

div.nav_bar .main_list li.ACTIVITY {
  background: url("../img/public/nav_y_bt03.png") center center no-repeat;
}

div.nav_bar .main_list li.LIBRARY {
  background: url("../img/public/nav_y_bt04.png") center center no-repeat;
}

div.nav_bar .main_list li a {
  width: 100%;
  height: 45px;
  font-size: 1.2rem;
  letter-spacing: -0.1rem;
}

div.nav_bar .search_bt {
  width: 50px;
  height: 50px;
  background: url("../img/public/search_icon.png");
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

div.nav_bar .search_bt a {
  display: block;
  width: 50px;
  height: 50px;
}

div.nav_bar .search_bar {
  position: absolute;
  top: 60px;
  right: 60px;
  width: 200px;
  height: 240px;
  overflow: hidden;
  -webkit-filter: opacity(0);
          filter: opacity(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

div.nav_bar .search_bar input.search {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 38px;
}

div.nav_bar .search_bar .tag_container {
  width: 100%;
  height: 200px;
  margin: 38px 0 0 0;
  background: #ffffff;
}

div.nav_bar .mem_bt {
  width: 50px;
  height: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url("../img/public/user_icon.png");
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

div.nav_bar .mem_bt a {
  display: block;
  width: 50px;
  height: 50px;
}

div.nav_bar .mem_list {
  position: fixed;
  top: 60px;
  right: 0;
  width: 270px;
  -webkit-transform: translateX(270px);
          transform: translateX(270px);
  -webkit-filter: opacity(0);
          filter: opacity(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

div.nav_bar .mem_list .paint_border {
  float: left;
  width: 30px;
  background: url("../img/public/paint_border.png");
}

div.nav_bar .mem_list ul {
  float: left;
  width: 240px;
  background: #ffffff;
}

div.nav_bar .mem_list ul li {
  padding: 5px 10px;
}

div.nav_bar .mem_list ul li a {
  display: block;
  text-align: end;
}

div.nav_bar .mem_list li:not(:nth-child(5))::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#da1b60));
  background: linear-gradient(to right, #ffffff, #da1b60);
}

@media screen and (max-width: 992px) {
  div.nav_bar .main_list {
    width: 600px;
  }
  div.nav_bar .main_list li {
    width: 120px;
  }
  div.nav_bar .main_list li.REMIX {
    background-size: 120px 55px;
  }
  div.nav_bar .main_list li.COLLECTION {
    background-size: 120px 55px;
  }
  div.nav_bar .main_list li.ACTIVITY {
    background-size: 120px 55px;
  }
  div.nav_bar .main_list li.LIBRARY {
    background-size: 120px 55px;
  }
  div.nav_bar .main_list li a {
    height: 35px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  div.nav_bar .hamburger {
    display: inline-block;
  }
  div.nav_bar .logo_container {
    margin: 0 auto 0 auto;
  }
  div.nav_bar .main_list {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  div.nav_bar .main_list h4 {
    font-size: 0.8rem;
  }
}

body {
  background-image: url(../img/collection/collectionnavback.jpg);
  background-position: bottom;
  background-size: cover;
}

body header {
  text-align: center;
  padding: 120px;
  width: 100%;
}

body header img {
  max-width: 500px;
  width: 100%;
}

body .playall_btn {
  text-align: right;
  margin: 0vw 20vw;
}

body .circlebtn {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  line-height: 50px;
  border-radius: 25px;
  font-size: 0.8rem;
  font-weight: bold;
  border: 1px solid #f1c40f;
  background-color: #f1c40f;
  color: white;
  outline: none;
  cursor: pointer;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

body .circlebtn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body section {
  text-align: center;
}

body section .radio img {
  width: 100vw;
  max-width: 1200px;
}

body section .radio .eyes1 {
  position: absolute;
  top: 40%;
  margin: 0 auto;
  width: 100vw;
}

body section .radio .eyes1 img {
  margin: 35px 60px 0px 10px;
  max-width: 130px;
  width: 100vw;
}

body section .radio .eyes1 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

body section #tabcontainer .tabtitle li {
  list-style: none;
  vertical-align: middle;
  display: inline-block;
  font-size: 2rem;
}

body section #tabcontainer .tabtitle li a {
  margin: 0px 50px 0px 50px;
}

body section #tabcontainer .albumshelf-row {
  display: none;
}

body section #tabcontainer .albumshelf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 19vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body section #tabcontainer .albumshelf .shelf {
  width: 65vw;
  margin-top: 80px;
}

body section #tabcontainer .albumshelf .shelf .row-1 {
  position: relative;
  width: 100%;
  height: 400px;
}

body section #tabcontainer .albumshelf .shelf .row-1:after {
  background: url("../img/collection/shelf.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom left;
  width: 100%;
  height: 200px;
  display: block;
  content: "";
}

body section #tabcontainer h6 {
  font-size: 40px;
  color: #ccc;
  position: relative;
  left: 102%;
  top: 76%;
  cursor: pointer;
}

body section #tabcontainer .redheartshape {
  color: #de267d;
}

body section #tabcontainer .albumshelf .shelf .loc {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
}

body section #tabcontainer .albumshelf .shelf .loc p {
  position: relative;
  top: 180px;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body section #tabcontainer .albumshelf .shelf .loc span {
  position: relative;
  top: 180px;
  font-size: 1rem;
}

body section #tabcontainer .albumshelf .shelf .loc img {
  cursor: pointer;
  position: relative;
  top: 160px;
  left: 200px;
  width: 100%;
  max-width: 40px;
}

body section #tabcontainer .albumshelf .shelf .loc > div {
  width: 25%;
  height: 100%;
  background-size: contain;
  float: left;
}

body section #tabcontainer .albumshelf .sample,
body section #tabcontainer .albumshelf-row .sample {
  border: 1px solid red;
  margin: auto;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

body section #tabcontainer .albumshelf .album1,
body section #tabcontainer .albumshelf-row .album1 {
  background-image: url("../img/collection/album1.jpg");
  background-size: 100%;
  width: 200px;
  height: 200px;
  position: relative;
  bottom: 340px;
}

body section #tabcontainer .albumshelf .album2,
body section #tabcontainer .albumshelf-row .album2 {
  background-image: url("../img/collection/album2.jpg");
  background-size: 100%;
  width: 200px;
  height: 200px;
  position: relative;
  bottom: 340px;
}

body section #tabcontainer .albumshelf .album3,
body section #tabcontainer .albumshelf-row .album3 {
  background-image: url("../img/collection/album3.jpg");
  background-size: 100%;
  width: 200px;
  height: 200px;
  position: relative;
  bottom: 340px;
}

body section #tabcontainer .albumshelf .album4,
body section #tabcontainer .albumshelf-row .album4 {
  background-image: url("../img/collection/album4.jpg");
  background-size: 100%;
  width: 200px;
  height: 200px;
  position: relative;
  bottom: 340px;
}

body section #tabcontainer .albumshelf .album5,
body section #tabcontainer .albumshelf-row .album5 {
  background-image: url("../img/collection/album5.jpg");
  background-size: 100%;
  width: 200px;
  height: 200px;
  position: relative;
  bottom: 340px;
}

body section #tabcontainer .albumshelf .album6,
body section #tabcontainer .albumshelf-row .album6 {
  background-image: url("../img/collection/album6.jpg");
  background-size: 100%;
  width: 200px;
  height: 200px;
  position: relative;
  bottom: 340px;
}

body section #tabcontainer .albumshelf .album7,
body section #tabcontainer .albumshelf-row .album7 {
  background-image: url("../img/collection/album7.jpg");
  background-size: 100%;
  width: 200px;
  height: 200px;
  position: relative;
  bottom: 340px;
}

body section #tabcontainer .albumshelf .album8,
body section #tabcontainer .albumshelf-row .album8 {
  background-image: url("../img/collection/album8.jpg");
  background-size: 100%;
  width: 200px;
  height: 200px;
  position: relative;
  bottom: 340px;
}

body section #tabcontainer .albumshelf .album9,
body section #tabcontainer .albumshelf-row .album9 {
  background-image: url("../img/collection/album9.jpg");
  background-size: 100%;
  width: 200px;
  height: 200px;
  position: relative;
  bottom: 340px;
}

body section #tabcontainer .albumshelf .album10,
body section #tabcontainer .albumshelf-row .album10 {
  background-image: url("../img/collection/album10.jpg");
  background-size: 100%;
  width: 200px;
  height: 200px;
  position: relative;
  bottom: 340px;
}
/*# sourceMappingURL=collection.css.map */