@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: #fafaf1;
  color: #333;
  overflow-x: hidden;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

header {
  height: 300px;
  text-align: center;
  padding: 120px 0;
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
}

/*燈箱寬*/
.lightbox_s {
  width: 500px;
}

/*新手教學用*/
.lightbox_b {
  width: 1000px;
}

/*燈箱的遮罩顏色*/
.lightCover {
  background-color: #414141e6;
}

/*button mixin*/
@media all and (max-width: 768px) {
  header img {
    height: 76px;
  }
}

.col-xl-1 {
  width: 8.33333%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-2 {
  width: 16.66667%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-3 {
  width: 25%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-4 {
  width: 33.33333%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-5 {
  width: 41.66667%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-6 {
  width: 50%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-7 {
  width: 58.33333%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-8 {
  width: 66.66667%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-9 {
  width: 75%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-10 {
  width: 83.33333%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-11 {
  width: 91.66667%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-12 {
  width: 100%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media all and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-2 {
    width: 16.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-3 {
    width: 25%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-4 {
    width: 33.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-5 {
    width: 41.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-6 {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-7 {
    width: 58.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-8 {
    width: 66.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-9 {
    width: 75%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-10 {
    width: 83.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-11 {
    width: 91.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-12 {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media all and (max-width: 1200px) {
  .col-lg-1 {
    width: 8.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-2 {
    width: 16.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-3 {
    width: 25%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-4 {
    width: 33.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-5 {
    width: 41.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-6 {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-7 {
    width: 58.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-8 {
    width: 66.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-9 {
    width: 75%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-10 {
    width: 83.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-11 {
    width: 91.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-12 {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media all and (max-width: 992px) {
  .col-md-1 {
    width: 8.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-2 {
    width: 16.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-3 {
    width: 25%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-4 {
    width: 33.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-5 {
    width: 41.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-6 {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-7 {
    width: 58.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-8 {
    width: 66.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-9 {
    width: 75%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-10 {
    width: 83.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-11 {
    width: 91.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-12 {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media all and (max-width: 768px) {
  .col-sm-1 {
    width: 8.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-2 {
    width: 16.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-3 {
    width: 25%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-4 {
    width: 33.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-5 {
    width: 41.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-6 {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-7 {
    width: 58.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-8 {
    width: 66.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-9 {
    width: 75%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-10 {
    width: 83.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-11 {
    width: 91.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-12 {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media all and (max-width: 576px) {
  .col-1 {
    width: 8.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-2 {
    width: 16.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-3 {
    width: 25%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-4 {
    width: 33.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-5 {
    width: 41.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-6 {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-7 {
    width: 58.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-8 {
    width: 66.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-9 {
    width: 75%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-10 {
    width: 83.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-11 {
    width: 91.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-12 {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.poa_center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#donate_app {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#donate_app .color2 {
  width: 100vw;
  position: absolute;
  bottom: -30%;
  right: -32%;
  min-width: 1500px;
}

.donate_wrapper {
  padding: 0% 0 10%;
  position: relative;
  max-width: 1200px;
}

.donate_wrapper .donate_support .donate_h2 {
  padding: 3vw 8% 2vw;
  font-size: 2rem;
}

.donate_wrapper .donate_support .donate_box {
  width: 100%;
  text-align: center;
}

.donate_wrapper .donate_support .donate_box .phone_member_info {
  display: none;
}

.donate_wrapper .donate_support .donate_box .member_info {
  vertical-align: top;
  background: url(../img/member/mp3.png) no-repeat;
  background-size: contain;
  padding: 23% 0% 13% 0%;
  position: relative;
}

.donate_wrapper .donate_support .donate_box .member_info .gem {
  width: 68%;
  left: 52%;
  top: 6%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
}

.donate_wrapper .donate_support .donate_box .member_info .member {
  width: 100%;
}

.donate_wrapper .donate_support .donate_box .member_info .member .member_detail {
  padding: 2%;
}

.donate_wrapper .donate_support .donate_box .member_info .member .member_detail p {
  text-align: left;
  padding-left: 15%;
  font-size: 0.8rem;
  margin-bottom: 2%;
}

.donate_wrapper .donate_support .donate_box .support_history .table .th {
  font-size: 0;
}

.donate_wrapper .donate_support .donate_box .support_history .table .th .td {
  padding: 2% 0%;
  font-size: 1rem;
  font-weight: bold;
  background-color: #d0d6d6;
}

.donate_wrapper .donate_support .donate_box .support_history .table .th .td:nth-of-type(1) {
  border-radius: 5px 0 0 0;
}

.donate_wrapper .donate_support .donate_box .support_history .table .th .td:nth-of-type(3) {
  border-radius: 0 5px 0 0;
}

.donate_wrapper .donate_support .donate_box .support_history .table .tbody {
  max-height: 20rem;
  overflow-y: scroll;
  background-color: #fafaf1;
}

.donate_wrapper .donate_support .donate_box .support_history .table .tbody .tr {
  font-size: 0;
  padding: 3% 0% 2%;
}

.donate_wrapper .donate_support .donate_box .support_history .table .tbody .tr:nth-of-type(odd) {
  background-color: rgba(208, 214, 214, 0.3);
}

.donate_wrapper .donate_support .donate_box .support_history .table .tbody .tr .td {
  font-size: 1rem;
}

.donate_wrapper .donate_support .donate_box .support_history .table .tbody::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background-color: #dadada;
}

.donate_wrapper .donate_support .donate_box .support_history .table .tbody::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

@media all and (max-width: 992px) {
  #donate_app .color2 {
    bottom: -20%;
  }
  .donate_wrapper {
    width: 80%;
    margin: 0% auto 15%;
  }
  .donate_wrapper .donate_support .donate_box {
    margin: 0 auto;
    text-align: center;
  }
  .donate_wrapper .donate_support .donate_box .phone_member_info {
    display: block;
    text-align: center;
    background: url(../img/member/blackline.svg) no-repeat;
    padding: 4% 0%;
  }
  .donate_wrapper .donate_support .donate_box .phone_member_info .pic img {
    width: 100%;
    max-width: 200px;
    border-radius: 100%;
  }
  .donate_wrapper .donate_support .donate_box .phone_member_info .meminfos {
    vertical-align: top;
    height: 10rem;
    background-color: #d0d6d6;
  }
  .donate_wrapper .donate_support .donate_box .phone_member_info .meminfos .flexbox {
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 10%;
  }
  .donate_wrapper .donate_support .donate_box .phone_member_info .meminfos .flexbox p {
    width: 100%;
    height: calc(100% / 3);
    text-align: left;
    line-height: 3rem;
  }
  .donate_wrapper .donate_support .donate_box .member_info {
    display: none;
  }
  .donate_wrapper .donate_support .donate_box .support_history {
    margin-top: 8%;
  }
}

@media all and (max-width: 576px) {
  .donate_wrapper {
    width: 95%;
    padding: 0% 0% 30%;
  }
  .donate_wrapper .donate_support .donate_h2 {
    padding: 8%;
    font-size: 1.5rem;
  }
  .donate_wrapper .donate_support .donate_box {
    margin: 0 auto;
    text-align: center;
  }
  .donate_wrapper .donate_support .donate_box .phone_member_info {
    display: block;
    text-align: center;
    background: url(../img/member/blackline.svg) no-repeat;
    padding: 8% 8%;
  }
  .donate_wrapper .donate_support .donate_box .phone_member_info .pic img {
    width: 100%;
    max-width: 200px;
    border-radius: 100%;
  }
  .donate_wrapper .donate_support .donate_box .phone_member_info .meminfos {
    vertical-align: top;
    height: 10rem;
    background-color: #d0d6d6;
  }
  .donate_wrapper .donate_support .donate_box .phone_member_info .meminfos .flexbox {
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 10%;
  }
  .donate_wrapper .donate_support .donate_box .phone_member_info .meminfos .flexbox p {
    width: 100%;
    height: calc(100% / 3);
    text-align: left;
    line-height: 3rem;
  }
  .donate_wrapper .donate_support .donate_box .member_info {
    display: none;
  }
  .donate_wrapper .donate_support .donate_box .support_history {
    margin: 10% 0%;
  }
  .donate_wrapper .donate_support .donate_box .support_history .table .date {
    display: none;
  }
}

@media all and (max-width: 376px) {
  .donate_wrapper {
    width: 95%;
  }
}
/*# sourceMappingURL=donated.css.map */