#pp-nav .pp-tooltip {
  color: #539e90;
}

#pp-nav li .active span {
  background: #ffcb1e !important;
}

.home_sec {
  position: relative;
  width: 100%;
  background: #fafaf1;
  overflow: hidden;
}

.home_sec header {
  margin: 60px 0 0 0;
}

.home_sec01 .home_img_container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.home_sec01 .home_img_container .home_stylus {
  position: absolute;
  top: 10px;
  left: -360px;
  z-index: 1;
  width: 618px;
  height: 180px;
  background: url(../img/home/stylus.png);
  -webkit-animation: test02 0.9s infinite linear alternate;
          animation: test02 0.9s infinite linear alternate;
}

.home_sec01 .home_img_container .home_vinyl_records {
  position: absolute;
  z-index: -1;
  top: -100px;
  left: -200px;
  width: 1200px;
  height: 1200px;
  background: url(../img/home/vinyl_records.png);
  background-size: cover;
  -webkit-animation: test 6s infinite linear;
          animation: test 6s infinite linear;
}

.home_sec01 .home_img_container .home_vinyl_records .home_cover_img {
  position: relative;
  top: calc((100% - 400px) / 2);
  left: calc((100% - 400px) / 2);
  width: 400px;
  height: 400px;
  border-radius: 100%;
  background: url(../img/home/test.jpg) center center;
  background-size: cover;
}

@-webkit-keyframes test {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes test {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes test02 {
  0% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

@keyframes test02 {
  0% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

.home_sec01 .home_ctrl_container {
  position: absolute;
  left: 700px;
  top: 350px;
  width: 200px;
  height: 300px;
  border: 1px solid red;
}

.home_sec01 .home_ctrl_container .home_top_arrow {
  position: relative;
  width: 100px;
  height: 100px;
  background: url(../img/home/top_arrow.png) center center no-repeat;
}

.home_sec01 .home_ctrl_container .home_bot_arrow {
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 100px;
  background: url(../img/home/bot_arrow.png) center center no-repeat;
}

.home_sec01 .home_wave_container {
  position: absolute;
  top: 200px;
  right: 0;
  width: 1200px;
  height: 600px;
  border: 1px solid blue;
}

.home_sec02 .home_mixer {
  position: absolute;
  right: 100px;
  width: 556px;
  height: 616px;
  background: url(../img/home/mixer.png);
}

.home_sec03 .home_pot {
  position: absolute;
  top: 40px;
  right: 0;
  width: 407px;
  height: 232px;
  background: url(../img/home/pot.png);
}

.home_sec03 .home_slider {
  position: absolute;
  top: calc(50% - 320px);
  width: 100%;
  height: 740px;
}

.home_sec03 .home_slider .home_perspective {
  position: absolute;
  left: 540px;
  width: 1280px;
  height: 640px;
  -webkit-perspective: 700px;
          perspective: 700px;
  -webkit-perspective-origin: 90% 50%;
          perspective-origin: 90% 50%;
}

.home_sec03 .home_slider .home_perspective .home_song_container {
  position: absolute;
  top: 33%;
  left: 60%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.home_sec03 .home_slider .home_perspective .home_song_container .home_song {
  position: absolute;
  width: 200px;
  height: 200px;
}

.home_sec03 .home_slider .home_perspective .home_song_container .home_song.home_song1 {
  -webkit-transform: rotateY(0deg) translateZ(360px);
          transform: rotateY(0deg) translateZ(360px);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.home_sec03 .home_slider .home_perspective .home_song_container .home_song.home_song1 .home_cover_img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url(../img/home/test.jpg);
  background-size: cover;
}

.home_sec03 .home_slider .home_perspective .home_song_container .home_song.home_song2 {
  -webkit-transform: rotateY(36deg) translateZ(360px);
          transform: rotateY(36deg) translateZ(360px);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.home_sec03 .home_slider .home_perspective .home_song_container .home_song.home_song2 .home_cover_img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url(../img/home/test.jpg);
  background-size: cover;
}

.home_sec03 .home_slider .home_perspective .home_song_container .home_song.home_song3 {
  -webkit-transform: rotateY(72deg) translateZ(360px);
          transform: rotateY(72deg) translateZ(360px);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.home_sec03 .home_slider .home_perspective .home_song_container .home_song.home_song3 .home_cover_img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url(../img/home/test.jpg);
  background-size: cover;
}

.home_sec03 .home_slider .home_perspective .home_song_container .home_song.home_song4 {
  -webkit-transform: rotateY(108deg) translateZ(360px);
          transform: rotateY(108deg) translateZ(360px);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.home_sec03 .home_slider .home_perspective .home_song_container .home_song.home_song4 .home_cover_img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url(../img/home/test.jpg);
  background-size: cover;
}

.home_sec03 .home_slider .home_perspective .home_song_container .home_song.home_song5 {
  -webkit-transform: rotateY(144deg) translateZ(360px);
          transform: rotateY(144deg) translateZ(360px);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.home_sec03 .home_slider .home_perspective .home_song_container .home_song.home_song5 .home_cover_img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url(../img/home/test.jpg);
  background-size: cover;
}

.home_sec03 .home_slider .home_perspective .home_song_container .home_song.home_song6 {
  -webkit-transform: rotateY(180deg) translateZ(360px);
          transform: rotateY(180deg) translateZ(360px);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.home_sec03 .home_slider .home_perspective .home_song_container .home_song.home_song6 .home_cover_img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url(../img/home/test.jpg);
  background-size: cover;
}

.home_sec03 .home_slider .home_perspective .home_song_container .home_song.home_song7 {
  -webkit-transform: rotateY(216deg) translateZ(360px);
          transform: rotateY(216deg) translateZ(360px);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.home_sec03 .home_slider .home_perspective .home_song_container .home_song.home_song7 .home_cover_img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url(../img/home/test.jpg);
  background-size: cover;
}

.home_sec03 .home_slider .home_perspective .home_song_container .home_song.home_song8 {
  -webkit-transform: rotateY(252deg) translateZ(360px);
          transform: rotateY(252deg) translateZ(360px);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.home_sec03 .home_slider .home_perspective .home_song_container .home_song.home_song8 .home_cover_img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url(../img/home/test.jpg);
  background-size: cover;
}

.home_sec03 .home_slider .home_perspective .home_song_container .home_song.home_song9 {
  -webkit-transform: rotateY(288deg) translateZ(360px);
          transform: rotateY(288deg) translateZ(360px);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.home_sec03 .home_slider .home_perspective .home_song_container .home_song.home_song9 .home_cover_img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url(../img/home/test.jpg);
  background-size: cover;
}

.home_sec03 .home_slider .home_perspective .home_song_container .home_song.home_song10 {
  -webkit-transform: rotateY(324deg) translateZ(360px);
          transform: rotateY(324deg) translateZ(360px);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.home_sec03 .home_slider .home_perspective .home_song_container .home_song.home_song10 .home_cover_img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url(../img/home/test.jpg);
  background-size: cover;
}

.home_sec03 .home_slider .home_perspective .home_song_container .home_song .home_shadow {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.home_sec03 .home_slider .home_perspective .home_song_container .home_song .home_song_info {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  font-size: 0.6rem;
  background: #d8d1c5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.home_sec03 .home_slider .home_perspective .home_song_container .home_song .home_song_info .home_icon_container {
  margin: 10px 0 0 0;
}

.home_sec03 .home_slider .home_perspective .home_song_container .home_song .home_song_info .home_icon_container .home_play {
  margin: 0 auto 0 0;
}

.home_sec03 .home_slider .home_perspective .home_song_container .home_song .home_song_info .home_icon_container .home_favorite {
  margin: 0 10px 0 0;
}

.home_sec03 .home_slider .home_perspective .home_song_container .home_song .home_song_info .home_icon_container .home_favorite i {
  color: #de267d;
}

.home_sec03 .home_slider .home_perspective .home_song_container .home_song .home_song_info .home_icon_container .home_donate i {
  color: #f1c410;
}

.home_sec03 .home_slider .home_perspective .home_song_container .home_song .home_song_info .home_icon_container i {
  font-size: 0.5rem;
}

.home_sec03 .home_slider .home_arrow_container {
  position: absolute;
  width: 600px;
  top: 580px;
  left: 800px;
}

.home_sec03 .home_slider .home_arrow_container .home_left_arrow {
  float: left;
  width: 120px;
  height: 60px;
  background: url(../img/home/arrow.png) center center;
  background-size: cover;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.home_sec03 .home_slider .home_arrow_container .home_right_arrow {
  float: right;
  width: 120px;
  height: 60px;
  background: url(../img/home/arrow.png) center center;
  background-size: cover;
}

.home_sec04 .home_DJ {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 613px;
  height: 522px;
  background: url(../img/home/DJ.png);
}

.home_sec05 .home_container {
  position: relative;
  top: 240px;
}

.home_sec05 .home_container .home_shelf {
  position: absolute;
  width: 590px;
  height: 141px;
  background: url(../img/home/shelf.png);
  background-size: cover;
}

.home_sec05 .home_container .home_shelf01 {
  right: 120px;
  top: 0px;
}

.home_sec05 .home_container .home_shelf02 {
  right: 60px;
  top: 240px;
}

.home_sec05 .home_container .home_shelf03 {
  right: 180px;
  top: 480px;
}

.home_sec06 .home_audio_man {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 1153px;
  height: 751px;
  background: url(../img/home/audio_man.png);
}
/*# sourceMappingURL=home.css.map */