@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: #fafaf1;
  color: #333;
  overflow-x: hidden;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
  color: #333;
}

header {
  height: 300px;
  text-align: center;
  padding: 120px 0;
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
}

/*燈箱寬*/
.lightbox_s {
  width: 500px;
}

/*新手教學用*/
.lightbox_b {
  width: 1000px;
}

/*燈箱的遮罩顏色*/
.lightCover {
  background-color: #414141e6;
}

/*button mixin*/
@media all and (max-width: 768px) {
  header img {
    height: 76px;
  }
}

div.nav_bar {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 60px;
  padding: 0px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
}

div.nav_bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

div.nav_bar .hamburger {
  display: none;
  padding: 10px 10px;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  overflow: hidden;
}

div.nav_bar .hamburger:hover {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

div.nav_bar .hamburger .hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

div.nav_bar .hamburger .hamburger-box .hamburger-inner {
  position: absolute;
  top: 50%;
  margin-top: -2px;
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  -webkit-transition: background-color 0.125s 0.175s ease-in;
  transition: background-color 0.125s 0.175s ease-in;
}

div.nav_bar .hamburger .hamburger-box .hamburger-inner::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: 0;
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  -webkit-transition: top 0.05s 0.125s linear, left 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: top 0.05s 0.125s linear, left 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

div.nav_bar .hamburger .hamburger-box .hamburger-inner::after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  -webkit-transition: top 0.05s 0.125s linear, right 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: top 0.05s 0.125s linear, right 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

div.nav_bar .hamburger.is-active .hamburger-box .hamburger-inner {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  background-color: transparent !important;
}

div.nav_bar .hamburger.is-active .hamburger-box .hamburger-inner::before {
  left: -80px;
  top: -80px;
  -webkit-transform: translate3d(80px, 80px, 0) rotate(45deg);
          transform: translate3d(80px, 80px, 0) rotate(45deg);
  -webkit-transition: left 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

div.nav_bar .hamburger.is-active .hamburger-box .hamburger-inner::after {
  right: -80px;
  top: -80px;
  -webkit-transform: translate3d(-80px, 80px, 0) rotate(-45deg);
          transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  -webkit-transition: right 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

div.nav_bar .mobile_list {
  position: absolute;
  top: 60px;
  left: 0;
  width: 270px;
  -webkit-transform: translateX(-270px);
          transform: translateX(-270px);
  -webkit-filter: opacity(0);
          filter: opacity(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

div.nav_bar .mobile_list .paint_border {
  float: right;
  width: 30px;
  background: url("../img/public/paint_border.png");
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

div.nav_bar .mobile_list ul {
  float: right;
  width: 240px;
  background: #ffffff;
}

div.nav_bar .mobile_list ul li {
  width: 100%;
  height: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.nav_bar .mobile_list ul li.REMIX {
  background: url("../img/public/nav_m_y_bt01.png") center center no-repeat;
}

div.nav_bar .mobile_list ul li.COLLECTION {
  background: url("../img/public/nav_m_y_bt02.png") center center no-repeat;
}

div.nav_bar .mobile_list ul li.ACTIVITY {
  background: url("../img/public/nav_m_y_bt04.png") center center no-repeat;
}

div.nav_bar .mobile_list ul li.LIBRARY {
  background: url("../img/public/nav_m_y_bt04.png") center center no-repeat;
}

div.nav_bar .mobile_list ul li a {
  width: 150px;
  height: 45px;
  font-size: 1.2rem;
  letter-spacing: -0.1rem;
}

div.nav_bar .logo_container {
  height: 55px;
}

div.nav_bar .logo_container .logo {
  width: 100px;
  height: 55px;
  background: url("../img/public/logo_s.svg") center center no-repeat;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

div.nav_bar .main_list {
  position: relative;
  margin: 0 auto 0 0;
  width: 800px;
  height: 60px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.nav_bar .main_list li {
  width: 150px;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.nav_bar .main_list li.REMIX {
  background: url("../img/public/nav_y_bt01.png") center center no-repeat;
}

div.nav_bar .main_list li.COLLECTION {
  background: url("../img/public/nav_y_bt02.png") center center no-repeat;
}

div.nav_bar .main_list li.ACTIVITY {
  background: url("../img/public/nav_y_bt03.png") center center no-repeat;
}

div.nav_bar .main_list li.LIBRARY {
  background: url("../img/public/nav_y_bt04.png") center center no-repeat;
}

div.nav_bar .main_list li a {
  width: 100%;
  height: 45px;
  font-size: 1.2rem;
  letter-spacing: -0.1rem;
}

div.nav_bar .search_bt {
  width: 50px;
  height: 50px;
  background: url("../img/public/search_icon.png");
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

div.nav_bar .search_bt a {
  display: block;
  width: 50px;
  height: 50px;
}

div.nav_bar .search_bar {
  position: absolute;
  top: 60px;
  right: 60px;
  width: 200px;
  height: 240px;
  overflow: hidden;
  -webkit-filter: opacity(0);
          filter: opacity(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

div.nav_bar .search_bar input.search {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 38px;
}

div.nav_bar .search_bar .tag_container {
  width: 100%;
  height: 200px;
  margin: 38px 0 0 0;
  background: #ffffff;
}

div.nav_bar .mem_bt {
  width: 50px;
  height: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url("../img/public/user_icon.png");
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

div.nav_bar .mem_bt a {
  display: block;
  width: 50px;
  height: 50px;
}

div.nav_bar .mem_list {
  position: fixed;
  top: 60px;
  right: 0;
  width: 270px;
  -webkit-transform: translateX(270px);
          transform: translateX(270px);
  -webkit-filter: opacity(0);
          filter: opacity(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

div.nav_bar .mem_list .paint_border {
  float: left;
  width: 30px;
  background: url("../img/public/paint_border.png");
}

div.nav_bar .mem_list ul {
  float: left;
  width: 240px;
  background: #ffffff;
}

div.nav_bar .mem_list ul li {
  padding: 5px 10px;
}

div.nav_bar .mem_list ul li a {
  display: block;
  text-align: end;
}

div.nav_bar .mem_list li:not(:nth-child(5))::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#da1b60));
  background: linear-gradient(to right, #ffffff, #da1b60);
}

@media screen and (max-width: 992px) {
  div.nav_bar .main_list {
    width: 600px;
  }
  div.nav_bar .main_list li {
    width: 120px;
  }
  div.nav_bar .main_list li.REMIX {
    background-size: 120px 55px;
  }
  div.nav_bar .main_list li.COLLECTION {
    background-size: 120px 55px;
  }
  div.nav_bar .main_list li.ACTIVITY {
    background-size: 120px 55px;
  }
  div.nav_bar .main_list li.LIBRARY {
    background-size: 120px 55px;
  }
  div.nav_bar .main_list li a {
    height: 35px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  div.nav_bar .hamburger {
    display: inline-block;
  }
  div.nav_bar .logo_container {
    margin: 0 auto 0 auto;
  }
  div.nav_bar .main_list {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  div.nav_bar .main_list h4 {
    font-size: 0.8rem;
  }
}

body {
  height: 100vh;
  background-image: url(../img/register/login.jpg);
  background-size: cover;
  background-position: center;
}

body .signupcontainer {
  margin: 0 auto;
  width: 900px;
  height: 600px;
  position: relative;
  top: 230px;
}

@media all and (max-width: 576px) {
  body .signupcontainer {
    display: none;
  }
}

@media all and (max-width: 376px) {
  body .signupcontainer {
    display: none;
  }
}

@media all and (max-width: 768px) {
  body .signupcontainer {
    width: 600px;
    height: 200px;
    top: 120px;
  }
}

@media all and (max-width: 992px) {
  body .signupcontainer {
    width: 750px;
    top: 150px;
  }
}

body .signupcontainer .greenblock {
  background-color: #d0d6d6;
  width: 100%;
  height: 600px;
}

@media all and (max-width: 376px) {
  body .signupcontainer .greenblock {
    width: 300px;
    height: 500px;
  }
}

@media all and (max-width: 768px) {
  body .signupcontainer .greenblock {
    height: 450px;
  }
}

@media all and (max-width: 992px) {
  body .signupcontainer .greenblock {
    height: 400px;
  }
}

body .signupcontainer .whiteform {
  position: absolute;
  top: -10%;
  left: 7%;
  background-color: #fff;
  border: 1px solid #aaa;
  width: 430px;
  height: 700px;
  -webkit-box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  z-index: 2;
}

@media all and (max-width: 768px) {
  body .signupcontainer .whiteform {
    width: 290px;
    height: 525px;
    top: -20%;
  }
}

@media all and (max-width: 992px) {
  body .signupcontainer .whiteform {
    width: 360px;
    height: 455px;
    top: -5%;
  }
}

body .signupcontainer .displaynone {
  display: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

body .signupcontainer h1 {
  text-align: center;
  margin-top: 55px;
}

@media all and (max-width: 768px) {
  body .signupcontainer h1 {
    margin-top: 25px;
  }
}

@media all and (max-width: 992px) {
  body .signupcontainer h1 {
    margin-top: 25px;
  }
}

body .signupcontainer .leftbox, body .signupcontainer .rightbox {
  position: absolute;
  width: 50%;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

body .signupcontainer .leftbox h2, body .signupcontainer .rightbox h2 {
  text-align: center;
  margin: 17px;
}

body .signupcontainer .leftbox {
  left: -2%;
}

body .signupcontainer .rightbox {
  right: -2%;
}

body .signupcontainer .signin a {
  font-size: 0.6rem;
  margin-left: 170px;
  margin-bottom: 90px;
}

@media all and (max-width: 768px) {
  body .signupcontainer .signin a {
    margin-left: 12px;
    margin-bottom: 0px;
  }
}

@media all and (max-width: 992px) {
  body .signupcontainer .signin a {
    margin-left: 150px;
  }
}

body .signupcontainer .emailinput {
  margin-bottom: 30px;
}

@media all and (max-width: 768px) {
  body .signupcontainer .emailinput {
    margin-bottom: 20px;
  }
}

@media all and (max-width: 992px) {
  body .signupcontainer .emailinput {
    margin-bottom: 20px;
  }
}

body .signupcontainer input {
  background-color: #d0d6d6;
  border: none;
  padding: 12px;
}

@media all and (max-width: 768px) {
  body .signupcontainer input {
    padding: 10px;
  }
}

@media all and (max-width: 992px) {
  body .signupcontainer input {
    padding: 10px;
  }
}

body .signupcontainer .signin form {
  padding-top: 35px;
}

@media all and (max-width: 768px) {
  body .signupcontainer .signin form {
    padding-top: 10px;
  }
}

@media all and (max-width: 992px) {
  body .signupcontainer .signin form {
    padding-top: 5px;
  }
}

body .signupcontainer .signin form button {
  margin-top: 82px;
}

@media all and (max-width: 768px) {
  body .signupcontainer .signin form button {
    margin-top: 122px;
  }
}

@media all and (max-width: 992px) {
  body .signupcontainer .signin form button {
    margin-top: -13px;
  }
}

body .signupcontainer .signup button {
  margin-top: 92px;
}

@media all and (max-width: 768px) {
  body .signupcontainer .signup button {
    margin-top: 50px;
  }
}

@media all and (max-width: 992px) {
  body .signupcontainer .signup button {
    margin-top: 1px;
  }
}

body .signupcontainer button {
  background-color: #f1c40f;
  font-size: 0.8rem;
  padding: 10px 30px;
  border: 1px solid #f1c40f;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  margin: auto;
  display: block;
  margin-top: 10px;
}

body .signupcontainer button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body .signupcontainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px 60px 60px 65px;
}

@media all and (max-width: 768px) {
  body .signupcontainer form {
    margin: 30px 20px 0px 40px;
  }
}

@media all and (max-width: 992px) {
  body .signupcontainer form {
    margin: 30px 30px 0px 50px;
  }
}

body .signupcontainer .title {
  font-size: 1.5em;
  padding-top: 10px;
}

body .signupcontainer .title span {
  color: #fff;
}

body .signupcontainer .account {
  margin-top: 45%;
}

body .signupcontainer p {
  color: #333;
  text-align: center;
  padding-top: 150px;
}

@media all and (max-width: 768px) {
  body .signupcontainer p {
    padding-top: 110px;
  }
}

@media all and (max-width: 992px) {
  body .signupcontainer p {
    padding-top: 35px;
  }
}

body .signupcontainer .flower {
  position: absolute;
  height: 320px;
  top: 25%;
  left: 25%;
}

@media all and (max-width: 768px) {
  body .signupcontainer .flower {
    height: 250px;
  }
}

@media all and (max-width: 992px) {
  body .signupcontainer .flower {
    height: 220px;
    left: 30%;
  }
}

body .signupcontainer .smaller {
  height: 320px;
  top: 25%;
  left: 28%;
}

@media all and (max-width: 768px) {
  body .signupcontainer .smaller {
    height: 230px;
  }
}

@media all and (max-width: 992px) {
  body .signupcontainer .smaller {
    height: 215px;
    left: 30%;
    top: 25%;
  }
}

body .signupcontainer input {
  width: 90%;
}

body .signupcontainer input::-webkit-input-placeholder {
  font-size: 1.3em;
}

body .signupcontainer input:-ms-input-placeholder {
  font-size: 1.3em;
}

body .signupcontainer input::-ms-input-placeholder {
  font-size: 1.3em;
}

body .signupcontainer input::placeholder {
  font-size: 1.3em;
}

body .signupcontainer input:focus {
  font-size: 1em;
  -webkit-transition: .8s all ease;
  transition: .8s all ease;
}

body .signupcontainer input:focus::-webkit-input-placeholder {
  opacity: 0;
}

body .signupcontainer input:focus:-ms-input-placeholder {
  opacity: 0;
}

body .signupcontainer input:focus::-ms-input-placeholder {
  opacity: 0;
}

body .signupcontainer input:focus::placeholder {
  opacity: 0;
}

@media all and (max-width: 768px) {
  #mobilelogintab {
    display: none;
  }
}

@media all and (max-width: 992px) {
  #mobilelogintab {
    display: none;
  }
}

@media all and (max-width: 1200px) {
  #mobilelogintab {
    display: none;
  }
}

@media all and (max-width: 376px) {
  #mobilelogintab {
    display: inline-block;
    border: 1px solid gray;
    background-color: #fff;
    position: absolute;
    padding: 50px 0px 50px 0px;
    width: 80vw;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-image: url(../img/register/register.jpg);
    background-position: center;
    background-repeat: no-repeat;
  }
  #mobilelogintab .motabtitle {
    text-align: center;
  }
  #mobilelogintab .motabtitle li {
    display: inline-block;
    padding: 10px;
    border: 1px solid red;
  }
  #mobilelogintab .motabinner form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 20px 0px 60px;
  }
  #mobilelogintab .motabinner form button {
    background-color: #f1c40f;
    font-size: 0.8rem;
    padding: 10px 30px;
    border: 1px solid #f1c40f;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    position: relative;
    right: 10%;
    margin-top: 40px;
  }
  #mobilelogintab .motabinner form button:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  #mobilelogintab .motabinner form input {
    background-color: #d0d6d6;
    border: none;
    padding: 5px;
    width: 80%;
  }
  #mobilelogintab .motabinner form .mobileemailinput {
    margin-bottom: 15px;
  }
  #mobilelogintab .motabinner form a {
    margin-left: 41px;
  }
}

@media all and (max-width: 576px) {
  #mobilelogintab {
    display: inline-block;
    border: 1px solid gray;
    background-color: #fff;
    position: absolute;
    padding: 50px 0px 50px 0px;
    width: 80vw;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-image: url(../img/register/register.jpg);
    background-position: center;
    background-repeat: no-repeat;
  }
  #mobilelogintab .motabinner form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 40px 0px 100px;
  }
  #mobilelogintab .motabinner form button {
    background-color: #f1c40f;
    font-size: 0.8rem;
    padding: 10px 30px;
    border: 1px solid #f1c40f;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    position: relative;
    right: 10%;
    margin-top: 10px;
  }
  #mobilelogintab .motabinner form button:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  #mobilelogintab .motabinner form input {
    background-color: #d0d6d6;
    border: none;
    padding: 5px;
    width: 80%;
  }
  #mobilelogintab .motabinner form .mobileemailinput {
    margin-bottom: 15px;
  }
  #mobilelogintab .motabinner form a {
    margin-left: 72px;
  }
}
/*# sourceMappingURL=login.css.map */