@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  margin: 0;
  font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
title,
section,
.forget {
  margin: 0;
  padding: 0;
}

h1 {
  /*60px*/
  font-size: 3rem;
}

h2 {
  /* 40px*/
  font-size: 2rem;
  /*副標的h2 font-weight:bold*/
}

h3 {
  /*30px*/
  font-size: 1.5rem;
}

h4 {
  /*24px*/
  font-size: 1.2rem;
}

p {
  /*內文 20px*/
  font-size: 1rem;
}

p.bigSmall {
  /*大小 16px*/
  font-size: 0.8rem;
}

p.doubleSmall {
  /*小小 14px*/
  font-size: 0.7rem;
}

p.forget {
  /*旺季 12px*/
  font-size: 0.6rem;
}

.title {
  /*16px*/
  font-size: 0.8rem;
}

.section {
  /*14px*/
  font-size: 0.7rem;
}

.forget {
  /*12px*/
  font-size: 0.6rem;
}

nav {
  width: 100%;
  position: fixed;
}

nav > h4 {
  /*nav裡面的按鈕*/
  border: 1px solid pink;
  padding: 15px 12px;
  letter-spacing: 1px;
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
}

/*燈箱寬*/
.lightbox_s {
  width: 500px;
}

/*新手教學用*/
.lightbox_b {
  width: 1000px;
}

/*燈箱裡的按鈕*/
.lightbox_s .btn_s {
  font-size: 0.7rem;
  display: inline-block;
  padding: 5px 8px;
  margin: 20px auto;
  background-color: #f1c40f6b;
}

/*燈箱的遮罩顏色*/
/*background-color: #414141e6;*/
/*小按鈕*/
.btn_s {
  font-size: 0.7rem;
  display: inline-block;
  padding: 5px 8px;
  background-color: #f1c40f6b;
  border: 1.5px solid #f1c40f;
}

/*這個是有底圖的按鈕*/
.btn_b {
  font-size: 0.8rem;
  /*按鈕的圖*/
}

header {
  height: 300px;
}

ol,
ul {
  list-style: none;
}

#player {
  width: 100%;
  position: fixed;
  z-index: 98;
}

#player i {
  display: block;
}

#player img {
  width: 100%;
}

#player .player_s {
  width: 100%;
  height: 70px;
  background-color: #373737;
  color: white;
  left: 0;
  bottom: 0;
  padding: 10px;
  position: absolute;
  z-index: 97;
}

#player .player_s .info {
  width: 20%;
  float: left;
}

#player .player_s .info .cover {
  max-width: 50px;
  max-height: 50px;
  float: left;
}

#player .player_s .info .songInfo {
  float: left;
  padding: 5px;
}

#player .player_s .info .songInfo span {
  display: block;
  font-size: 0.8rem;
}

#player .player_s .info .songInfo span.creator {
  font-size: 0.6rem;
}

#player .player_s .info .heart {
  float: left;
  height: 100%;
  padding: 5%;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

#player .player_s .info .heart:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#player .player_s .controlPanel {
  width: 70%;
  height: 100%;
  float: left;
}

#player .player_s .controlPanel .progressbar {
  width: 100%;
  height: 3px;
  border-radius: 2px;
}

#player .player_s .controlPanel .progressbar .progress {
  width: 100%;
  height: 100%;
  background-color: #f1c40f;
}

#player .player_s .controlPanel .time span {
  font-size: 11px;
  width: 49.5%;
  display: inline-block;
}

#player .player_s .controlPanel .time span.start {
  text-align: left;
}

#player .player_s .controlPanel .time span.end {
  text-align: right;
}

#player .player_s .controlPanel .btns {
  width: 70%;
  margin: -10px auto 0;
  text-align: center;
  height: 100%;
}

#player .player_s .controlPanel .btns .controls {
  float: left;
  width: 50%;
  margin-left: 30%;
}

#player .player_s .controlPanel .btns .controls .play {
  width: 35px;
  height: 35px;
  float: left;
  color: black;
  background-color: #f1c40f;
  border-radius: 20px;
  text-align: center;
  line-height: 35px;
  padding: 5px;
  margin: -6px 5px 0;
  border: 0;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

#player .player_s .controlPanel .btns .controls .play:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#player .player_s .controlPanel .btns .controls .prev,
#player .player_s .controlPanel .btns .controls .next,
#player .player_s .controlPanel .btns .controls .stop,
#player .player_s .controlPanel .btns .controls .rand,
#player .player_s .controlPanel .btns .controls .loop {
  width: 25px;
  height: 25px;
  float: left;
  color: black;
  border-radius: 15px;
  text-align: center;
  line-height: 25px;
  padding: 5px;
  margin: 0px 5px;
  border: 0;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

#player .player_s .controlPanel .btns .controls .prev:hover,
#player .player_s .controlPanel .btns .controls .next:hover,
#player .player_s .controlPanel .btns .controls .stop:hover,
#player .player_s .controlPanel .btns .controls .rand:hover,
#player .player_s .controlPanel .btns .controls .loop:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#player .player_s .controlPanel .btns .vol {
  float: left;
  margin: 1% 0;
}

#player .player_s .controlPanel .btns .vol .volicon {
  float: left;
}

#player .player_s .controlPanel .btns .vol .volLine {
  position: relative;
  float: left;
  margin: 6px 8px;
  height: 2px;
  width: 100px;
  background-color: white;
}

#player .player_s .controlPanel .btns .vol .volLine .volControl {
  position: absolute;
  width: 5px;
  height: 10px;
  background-color: white;
  margin: -4px;
}

#player .player_s .expand {
  float: right;
  width: 5%;
  height: 100%;
  padding: 1%;
  cursor: pointer;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

#player .player_s .expand:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#player .player_b {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#player .player_b .left {
  float: left;
  width: 50%;
  height: 100%;
  padding-top: 2%;
  background-color: #cfd6d6;
  overflow: hidden;
}

#player .player_b .left .songCover {
  width: 100%;
  height: 50%;
  min-height: 400px;
  margin: 0 auto 2%;
  padding: 15% 0 1%;
  background-image: url("../img/library/player_record_bg.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center center;
}

#player .player_b .left .songCover .coverImg {
  width: 250px;
  min-height: 250px;
  margin: 0 auto;
  position: relative;
}

#player .player_b .left .songCover .coverImg img {
  display: block;
  position: absolute;
  z-index: 2;
}

#player .player_b .left .songCover .coverImg .coverRec {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 0;
  right: -50%;
  z-index: 1;
}

#player .player_b .left .songInfo {
  text-align: center;
}

#player .player_b .left .songInfo .heart {
  padding-right: 10%;
  float: right;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

#player .player_b .left .songInfo .heart:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#player .player_b .left .controlPanel {
  margin-top: 3%;
}

#player .player_b .left .controlPanel .progressbar {
  width: 80%;
  margin: 0 auto;
  height: 3px;
  border-radius: 2px;
}

#player .player_b .left .controlPanel .progressbar .progress {
  width: 100%;
  height: 100%;
  background-color: #f1c40f;
}

#player .player_b .left .controlPanel .time {
  width: 80%;
  margin: 0 auto;
}

#player .player_b .left .controlPanel .time span {
  font-size: 11px;
  width: 49%;
  display: inline-block;
}

#player .player_b .left .controlPanel .time span.start {
  text-align: left;
}

#player .player_b .left .controlPanel .time span.end {
  text-align: right;
}

#player .player_b .left .controlPanel .btns {
  width: 100%;
  margin: 10px auto 0;
  text-align: center;
  height: 100%;
}

#player .player_b .left .controlPanel .btns .controls {
  float: left;
  width: 40%;
  margin-left: 30%;
}

#player .player_b .left .controlPanel .btns .controls .play {
  width: 35px;
  height: 35px;
  float: left;
  color: black;
  background-color: #f1c40f;
  border-radius: 20px;
  text-align: center;
  line-height: 35px;
  padding: 5px;
  margin: -6px 5px 0;
  border: 0;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

#player .player_b .left .controlPanel .btns .controls .play:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#player .player_b .left .controlPanel .btns .controls .prev,
#player .player_b .left .controlPanel .btns .controls .next,
#player .player_b .left .controlPanel .btns .controls .stop,
#player .player_b .left .controlPanel .btns .controls .rand,
#player .player_b .left .controlPanel .btns .controls .loop {
  width: 25px;
  height: 25px;
  float: left;
  color: black;
  background-color: transparent;
  border-radius: 15px;
  text-align: center;
  line-height: 25px;
  padding: 5px;
  margin: 0px 5px;
  border: 0;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

#player .player_b .left .controlPanel .btns .controls .prev:hover,
#player .player_b .left .controlPanel .btns .controls .next:hover,
#player .player_b .left .controlPanel .btns .controls .stop:hover,
#player .player_b .left .controlPanel .btns .controls .rand:hover,
#player .player_b .left .controlPanel .btns .controls .loop:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#player .player_b .left .controlPanel .btns .vol {
  float: left;
  margin: 1% 0;
}

#player .player_b .left .controlPanel .btns .vol .volicon {
  float: left;
}

#player .player_b .left .controlPanel .btns .vol .volLine {
  position: relative;
  float: left;
  margin: 6px 8px;
  height: 2px;
  width: 100px;
  background-color: white;
}

#player .player_b .left .controlPanel .btns .vol .volLine .volControl {
  position: absolute;
  width: 5px;
  height: 10px;
  background-color: white;
  margin: -4px;
}

#player .player_b .right {
  float: left;
  width: 50%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

#player .player_b .right .close {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  cursor: pointer;
}

#player .player_b .right .close:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#player .player_b .right .listTitle {
  padding: 8% 8% 0;
}

#player .player_b .right .listTitle .listCover {
  width: 100px;
  height: 100px;
  float: left;
}

#player .player_b .right .listTitle .listName {
  width: 50%;
  height: 100%;
  margin-left: 2%;
  float: left;
}

#player .player_b .right .listTitle .listName span {
  display: block;
}

#player .player_b .right .listTitle .selectBtn {
  float: right;
  border: 2px solid #f1c40f;
  padding: 5px 8px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

#player .player_b .right .list ul {
  padding: 3% 8%;
  margin-bottom: 70px;
}

#player .player_b .right .list ul li {
  padding: 15px 0;
  border-bottom: 1px solid #cfd6d6;
}

#player .player_b .right .list ul li div {
  margin-right: 10px;
}

#player .player_b .right .list ul li .songCover {
  width: 70px;
  height: 70px;
  float: left;
  position: relative;
}

#player .player_b .right .list ul li .songCover .listPlay {
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  cursor: pointer;
}

#player .player_b .right .list ul li .songCover .listPlay i {
  color: white;
  font-size: 0.8rem;
  line-height: 30px;
}

#player .player_b .right .list ul li .songCover .listPlay:hover {
  -webkit-transform: scale(1.1) translate(-50%, -50%);
          transform: scale(1.1) translate(-50%, -50%);
}

#player .player_b .right .list ul li .songInfo {
  float: left;
  width: 55%;
  margin-left: 2%;
}

#player .player_b .right .list ul li .songInfo .name {
  height: 100%;
}

#player .player_b .right .list ul li .songInfo .name span {
  display: block;
  font-size: 0.8rem;
}

#player .player_b .right .list ul li .songInfo .name span:last-child {
  font-size: 0.6rem;
}

#player .player_b .right .list ul li .totalTime {
  width: 12%;
  float: left;
  padding: 2% 0;
}

#player .player_b .right .list ul li .heart {
  width: 10%;
  padding: 3% 0;
  float: left;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

#player .player_b .right .list ul li .heart:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

button,
.heart {
  cursor: pointer;
}

.clearfix {
  clear: both;
}
/*# sourceMappingURL=player.css.map */