@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: #fafaf1;
  color: #333;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1 {
  /*60px*/
  font-size: 3rem;
}

h2 {
  /* 40px*/
  font-size: 2rem;
  /*副標的h2 font-weight:bold*/
}

h3 {
  /*30px*/
  font-size: 1.5rem;
}

h4 {
  /*24px*/
  font-size: 1.2rem;
}

p {
  /*內文 20px*/
  font-size: 1rem;
}

p.bigSmall {
  /*大小 16px*/
  font-size: 0.8rem;
}

p.doubleSmall {
  /*小小 14px*/
  font-size: 0.7rem;
}

p.forget {
  /*旺季 12px*/
  font-size: 0.6rem;
}

header {
  height: 300px;
  padding: 120px 0;
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
}

/*燈箱寬*/
.lightbox_s {
  width: 500px;
}

/*新手教學用*/
.lightbox_b {
  width: 1000px;
}

/*燈箱的遮罩顏色*/
.lightCover {
  background-color: #414141e6;
}

/*button mixin*/
.col-xl-1 {
  width: 8.33333%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-2 {
  width: 16.66667%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-3 {
  width: 25%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-4 {
  width: 33.33333%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-5 {
  width: 41.66667%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-6 {
  width: 50%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-7 {
  width: 58.33333%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-8 {
  width: 66.66667%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-9 {
  width: 75%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-10 {
  width: 83.33333%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-11 {
  width: 91.66667%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-12 {
  width: 100%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}

#remix_app {
  position: relative;
  padding-bottom: 10%;
  overflow: hidden;
}

#remix_app .remix_bg_color {
  position: absolute;
  z-index: -100;
  bottom: 0;
  left: 0;
}

h4 {
  font-weight: normal;
}

header {
  text-align: center;
  height: 300px;
  padding: 120px 0;
}

.remix_wrapper {
  overflow-x: hidden;
  font-size: 0;
}

.remix_wrapper .remix_head {
  margin: 0 auto;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.remix_wrapper .remix_head .demo {
  margin: 0 auto;
  padding: 8%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.remix_wrapper .remix_head .demo::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url(../img/remix/Demo.svg) no-repeat;
  background-size: contain;
  z-index: -10;
}

.remix_wrapper .remix_head .demo .choose_song {
  background-color: #d0d6d6;
  margin: 3% auto;
  padding: 5%;
  border-radius: 5px;
}

.remix_wrapper .remix_head .demo .choose_song h4 {
  z-index: 10;
  cursor: pointer;
}

.remix_wrapper .remix_head .demo .choose_song h4:hover {
  font-weight: bold;
}

.remix_wrapper .remix_head .svg_move {
  margin: 0 auto;
  position: relative;
}

.remix_wrapper .remix_head .svg_move .remix_rock_move {
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.remix_wrapper .remix_head .svg_move img {
  width: 100%;
}

.remix_wrapper .remix_head .svg_move .color {
  position: absolute;
  width: 100%;
  padding-top: 75%;
  left: 0%;
  top: 0%;
  z-index: -11;
  background: url("../img/remix/rock_color.png") no-repeat;
  background-size: cover;
  background-position: 50% 75%;
}

.remix_wrapper .range {
  position: relative;
  margin: 0% auto;
  margin: 4% 0% 1%;
}

.remix_wrapper .range p {
  position: absolute;
  left: 5.5%;
}

.remix_wrapper .range .rangebutton {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.remix_wrapper .range .rangebutton input[type='range'] {
  margin: 3%;
  width: 75%;
  text-align: center;
  border-radius: 10px;
  -webkit-appearance: none;
  background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(44%, #fff), color-stop(44%, #333), to(#333));
  background: linear-gradient(to right, #fff 0%, #fff 44%, #333 44%, #333);
}

.remix_wrapper .range .rangebutton input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: #fff;
  border-radius: 50%;
  margin-top: -5px;
  border: solid 0.2px #333;
  /*设置边框*/
  -webkit-box-shadow: 0 .125em .125em #3b4547;
          box-shadow: 0 .125em .125em #3b4547;
  /*添加底部阴影*/
}

.remix_wrapper .range .rangebutton input[type='range']::-webkit-slider-runnable-track {
  height: 8px;
  border-radius: 10px;
  /*将轨道设为圆角的*/
  -webkit-box-shadow: 0 1px 1px #333, inset 0 .1em .1em #333;
          box-shadow: 0 1px 1px #333, inset 0 .1em .1em #333;
  /*轨道内置阴影效果*/
}

.remix_wrapper .range .rangebutton input[type='range']:focus {
  outline: none;
}

.remix_wrapper .range .rangebutton .button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.remix_wrapper .range .rangebutton .button button {
  width: calc(100% / 3);
  border: none;
  background-color: transparent;
  outline: transparent;
  cursor: pointer;
  position: relative;
  padding-top: 33%;
}

.remix_wrapper .range .rangebutton .button button:hover {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
}

.remix_wrapper .range .rangebutton .button button img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 75%;
  z-index: 10;
  max-width: 67px;
}

.remix_wrapper .range .rangebutton .button button span {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 100%;
  width: 50%;
  height: 50%;
  background-color: #E5A84F;
  z-index: 0;
  pointer-events: none;
}

.remix_wrapper .range .rangebutton .button button a {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: inline-block;
}

.remix_wrapper .table {
  width: 100%;
  max-width: 100%;
  position: relative;
}

.remix_wrapper .table h3 {
  margin: 0.5rem 0;
}

.remix_wrapper .table .drumh3 {
  margin-top: 5%;
}

.remix_wrapper .table table {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  background-color: #70706e;
  border: solid 5px #70706e;
  border-radius: 10px;
  border-spacing: 0;
  border-collapse: separate;
}

.remix_wrapper .table table.poa {
  width: 100%;
  left: 0%;
  position: absolute;
}

.remix_wrapper .table table th:first-child {
  border-radius: 10px 0 0 0;
}

.remix_wrapper .table table th:last-child {
  border-radius: 0 10px 0 0;
}

.remix_wrapper .table table th, .remix_wrapper .table table td {
  background-color: #d1d2d4;
  border-left: solid 1px #333;
  border-top: solid 1px #333;
  max-width: 6px;
  cursor: pointer;
}

.remix_wrapper .table table th h6, .remix_wrapper .table table td h6 {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.8rem;
}

.remix_wrapper .table table td.active {
  background-color: #efc318;
}

.remix_wrapper .table table th.active {
  background-color: #444;
  color: #fff;
}

.remix_wrapper .table table .note_name {
  max-width: 7px;
  text-align: center;
}

@media all and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-2 {
    width: 16.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-3 {
    width: 25%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-4 {
    width: 33.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-5 {
    width: 41.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-6 {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-7 {
    width: 58.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-8 {
    width: 66.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-9 {
    width: 75%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-10 {
    width: 83.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-11 {
    width: 91.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-12 {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media all and (max-width: 1200px) and (min-width: 993px) {
  .col-xl-1 {
    width: 8.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-2 {
    width: 16.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-3 {
    width: 25%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-4 {
    width: 33.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-5 {
    width: 41.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-6 {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-7 {
    width: 58.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-8 {
    width: 66.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-9 {
    width: 75%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-10 {
    width: 83.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-11 {
    width: 91.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-12 {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-1 {
    width: 8.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-2 {
    width: 16.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-3 {
    width: 25%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-4 {
    width: 33.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-5 {
    width: 41.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-6 {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-7 {
    width: 58.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-8 {
    width: 66.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-9 {
    width: 75%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-10 {
    width: 83.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-11 {
    width: 91.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-12 {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media all and (max-width: 992px) and (min-width: 769px) {
  .col-xl-1 {
    width: 8.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-2 {
    width: 16.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-3 {
    width: 25%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-4 {
    width: 33.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-5 {
    width: 41.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-6 {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-7 {
    width: 58.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-8 {
    width: 66.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-9 {
    width: 75%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-10 {
    width: 83.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-11 {
    width: 91.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-12 {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-1 {
    width: 8.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-2 {
    width: 16.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-3 {
    width: 25%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-4 {
    width: 33.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-5 {
    width: 41.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-6 {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-7 {
    width: 58.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-8 {
    width: 66.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-9 {
    width: 75%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-10 {
    width: 83.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-11 {
    width: 91.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-12 {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-1 {
    width: 8.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-2 {
    width: 16.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-3 {
    width: 25%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-4 {
    width: 33.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-5 {
    width: 41.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-6 {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-7 {
    width: 58.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-8 {
    width: 66.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-9 {
    width: 75%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-10 {
    width: 83.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-11 {
    width: 91.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-12 {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  html {
    font-size: 17px;
  }
  .remix_wrapper .remix_head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10%;
  }
  .remix_wrapper .remix_head .demo {
    padding: 12% 12% 12%;
  }
  .remix_wrapper .remix_head .demo::before {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
    width: 80%;
  }
  .remix_wrapper .remix_head .demo .choose_song {
    margin: 5% auto;
  }
  .remix_wrapper .range p {
    top: 15%;
  }
  .remix_wrapper .range .rangebutton input[type='range'] {
    margin: 6% 3% 3%;
    width: 65%;
  }
  .remix_wrapper .range .rangebutton .button button img {
    width: 100%;
  }
}

@media all and (max-width: 768px) and (min-width: 577px) {
  .col-xl-1 {
    width: 8.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-2 {
    width: 16.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-3 {
    width: 25%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-4 {
    width: 33.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-5 {
    width: 41.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-6 {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-7 {
    width: 58.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-8 {
    width: 66.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-9 {
    width: 75%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-10 {
    width: 83.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-11 {
    width: 91.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-12 {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-1 {
    width: 8.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-2 {
    width: 16.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-3 {
    width: 25%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-4 {
    width: 33.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-5 {
    width: 41.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-6 {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-7 {
    width: 58.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-8 {
    width: 66.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-9 {
    width: 75%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-10 {
    width: 83.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-11 {
    width: 91.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-12 {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-1 {
    width: 8.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-2 {
    width: 16.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-3 {
    width: 25%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-4 {
    width: 33.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-5 {
    width: 41.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-6 {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-7 {
    width: 58.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-8 {
    width: 66.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-9 {
    width: 75%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-10 {
    width: 83.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-11 {
    width: 91.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-12 {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-1 {
    width: 8.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-2 {
    width: 16.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-3 {
    width: 25%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-4 {
    width: 33.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-5 {
    width: 41.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-6 {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-7 {
    width: 58.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-8 {
    width: 66.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-9 {
    width: 75%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-10 {
    width: 83.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-11 {
    width: 91.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-12 {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  html {
    font-size: 17px;
  }
  header img {
    height: 76px;
  }
  .wrapper .remix_head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10%;
  }
  .wrapper .remix_head .demo {
    padding: 24% 18%;
  }
  .wrapper .remix_head .demo::before {
    width: 80vw;
    height: 80vw;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
  }
  .wrapper .range p {
    top: 40%;
  }
  .wrapper .range .rangebutton {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .wrapper .range .rangebutton input[type='range'] {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 3%;
    width: 95%;
  }
  .wrapper .range .rangebutton .button {
    position: relative;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 250px;
    margin-left: 65%;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  .wrapper .range .rangebutton .button button img {
    width: 95%;
  }
}

@media all and (max-width: 576px) and (min-width: 377px) {
  .col-xl-1 {
    width: 8.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-2 {
    width: 16.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-3 {
    width: 25%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-4 {
    width: 33.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-5 {
    width: 41.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-6 {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-7 {
    width: 58.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-8 {
    width: 66.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-9 {
    width: 75%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-10 {
    width: 83.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-11 {
    width: 91.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-12 {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-1 {
    width: 8.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-2 {
    width: 16.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-3 {
    width: 25%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-4 {
    width: 33.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-5 {
    width: 41.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-6 {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-7 {
    width: 58.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-8 {
    width: 66.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-9 {
    width: 75%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-10 {
    width: 83.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-11 {
    width: 91.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-12 {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-1 {
    width: 8.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-2 {
    width: 16.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-3 {
    width: 25%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-4 {
    width: 33.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-5 {
    width: 41.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-6 {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-7 {
    width: 58.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-8 {
    width: 66.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-9 {
    width: 75%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-10 {
    width: 83.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-11 {
    width: 91.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-12 {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-1 {
    width: 8.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-2 {
    width: 16.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-3 {
    width: 25%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-4 {
    width: 33.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-5 {
    width: 41.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-6 {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-7 {
    width: 58.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-8 {
    width: 66.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-9 {
    width: 75%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-10 {
    width: 83.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-11 {
    width: 91.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-12 {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  html {
    font-size: 17px;
  }
  header {
    padding: 120px 0;
  }
  header img {
    height: 76px;
  }
  .wrapper .remix_head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20%;
  }
  .wrapper .remix_head .demo {
    padding: 30% 6% 30%;
  }
  .wrapper .remix_head .demo::before {
    width: 100vw;
    height: 100vw;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
  }
  .wrapper .remix_head .demo h2 {
    font-size: 1.6rem;
  }
  .wrapper .remix_head .demo p {
    font-size: 0.9rem;
  }
  .wrapper .remix_head .demo .choose_song {
    margin: 3% auto;
  }
  .wrapper .range p {
    top: 40%;
  }
  .wrapper .range .rangebutton {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .wrapper .range .rangebutton input[type='range'] {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 3%;
    width: 95%;
  }
  .wrapper .range .rangebutton .button {
    position: relative;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 250px;
    margin-left: 55%;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .wrapper .range .rangebutton .button button img {
    width: 95%;
  }
}

@media all and (max-width: 376px) {
  .col-xl-1 {
    width: 8.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-2 {
    width: 16.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-3 {
    width: 25%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-4 {
    width: 33.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-5 {
    width: 41.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-6 {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-7 {
    width: 58.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-8 {
    width: 66.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-9 {
    width: 75%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-10 {
    width: 83.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-11 {
    width: 91.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-12 {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-1 {
    width: 8.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-2 {
    width: 16.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-3 {
    width: 25%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-4 {
    width: 33.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-5 {
    width: 41.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-6 {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-7 {
    width: 58.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-8 {
    width: 66.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-9 {
    width: 75%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-10 {
    width: 83.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-11 {
    width: 91.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-12 {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-1 {
    width: 8.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-2 {
    width: 16.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-3 {
    width: 25%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-4 {
    width: 33.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-5 {
    width: 41.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-6 {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-7 {
    width: 58.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-8 {
    width: 66.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-9 {
    width: 75%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-10 {
    width: 83.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-11 {
    width: 91.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-12 {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-1 {
    width: 8.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-2 {
    width: 16.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-3 {
    width: 25%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-4 {
    width: 33.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-5 {
    width: 41.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-6 {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-7 {
    width: 58.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-8 {
    width: 66.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-9 {
    width: 75%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-10 {
    width: 83.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-11 {
    width: 91.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-12 {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-1 {
    width: 8.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-2 {
    width: 16.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-3 {
    width: 25%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-4 {
    width: 33.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-5 {
    width: 41.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-6 {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-7 {
    width: 58.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-8 {
    width: 66.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-9 {
    width: 75%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-10 {
    width: 83.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-11 {
    width: 91.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-12 {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  html {
    font-size: 16px;
  }
  header {
    padding: 120px 0;
  }
  header img {
    height: 76px;
  }
  .wrapper .remix_head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-bottom: 20%;
  }
  .wrapper .remix_head .demo {
    padding: 18% 13% 18% 16%;
  }
  .wrapper .remix_head .demo::before {
    width: 100vw;
    height: 100vw;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
  }
  .wrapper .remix_head .demo h2 {
    font-size: 1.6rem;
  }
  .wrapper .remix_head .demo p {
    font-size: 0.9rem;
  }
  .wrapper .remix_head .demo .choose_song {
    margin: 4% auto 10%;
  }
  .wrapper .range p {
    top: 25%;
  }
  .wrapper .range .rangebutton {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .wrapper .range .rangebutton input[type='range'] {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 3%;
    width: 95%;
  }
  .wrapper .range .rangebutton .button {
    position: relative;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 250px;
    margin-left: 55%;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .wrapper .range .rangebutton .button button img {
    width: 95%;
  }
}
/*# sourceMappingURL=remix.css.map */