@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: #fafaf1;
  color: #333;
  overflow-x: hidden;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
  color: #333;
}

header {
  height: 300px;
  text-align: center;
  padding: 120px 0;
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
}

/*燈箱寬*/
.lightbox_s {
  width: 500px;
}

/*新手教學用*/
.lightbox_b {
  width: 1000px;
}

/*燈箱的遮罩顏色*/
.lightCover {
  background-color: #414141e6;
}

/*button mixin*/
@media all and (max-width: 768px) {
  header img {
    height: 76px;
  }
}

.col-xl-1 {
  width: 8.33333%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-2 {
  width: 16.66667%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-3 {
  width: 25%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-4 {
  width: 33.33333%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-5 {
  width: 41.66667%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-6 {
  width: 50%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-7 {
  width: 58.33333%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-8 {
  width: 66.66667%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-9 {
  width: 75%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-10 {
  width: 83.33333%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-11 {
  width: 91.66667%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-xl-12 {
  width: 100%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media all and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-2 {
    width: 16.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-3 {
    width: 25%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-4 {
    width: 33.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-5 {
    width: 41.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-6 {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-7 {
    width: 58.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-8 {
    width: 66.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-9 {
    width: 75%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-10 {
    width: 83.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-11 {
    width: 91.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xl-12 {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media all and (max-width: 1200px) {
  .col-lg-1 {
    width: 8.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-2 {
    width: 16.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-3 {
    width: 25%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-4 {
    width: 33.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-5 {
    width: 41.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-6 {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-7 {
    width: 58.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-8 {
    width: 66.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-9 {
    width: 75%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-10 {
    width: 83.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-11 {
    width: 91.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg-12 {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media all and (max-width: 992px) {
  .col-md-1 {
    width: 8.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-2 {
    width: 16.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-3 {
    width: 25%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-4 {
    width: 33.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-5 {
    width: 41.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-6 {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-7 {
    width: 58.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-8 {
    width: 66.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-9 {
    width: 75%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-10 {
    width: 83.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-11 {
    width: 91.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md-12 {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media all and (max-width: 768px) {
  .col-sm-1 {
    width: 8.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-2 {
    width: 16.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-3 {
    width: 25%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-4 {
    width: 33.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-5 {
    width: 41.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-6 {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-7 {
    width: 58.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-8 {
    width: 66.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-9 {
    width: 75%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-10 {
    width: 83.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-11 {
    width: 91.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm-12 {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media all and (max-width: 576px) {
  .col-1 {
    width: 8.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-2 {
    width: 16.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-3 {
    width: 25%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-4 {
    width: 33.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-5 {
    width: 41.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-6 {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-7 {
    width: 58.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-8 {
    width: 66.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-9 {
    width: 75%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-10 {
    width: 83.33333%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-11 {
    width: 91.66667%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-12 {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.poa_center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.store_h2 {
  font-weight: bold;
  font-size: 2rem;
}

.store_big_box {
  width: 100%;
  overflow-x: hidden;
}

.store_wrapper {
  margin-top: 0%;
  position: relative;
  max-width: 1200px;
  width: 100%;
  height: 2000px;
}

.store_wrapper p {
  font-size: 1rem;
}

.store_wrapper h2 {
  font-size: 2rem;
}

.store_wrapper h4 {
  font-size: 1.2rem;
}

.store_wrapper .store_color1 {
  width: 50%;
  position: absolute;
  left: -20%;
}

.store_wrapper .store_meminfos {
  font-size: 0;
}

.store_wrapper .store_meminfos div[class*=col-] {
  vertical-align: middle;
  text-align: center;
}

.store_wrapper .store_meminfos p {
  text-align: center;
  font-size: 1.6vw;
}

.store_wrapper .store_meminfos .pline {
  border-left: 0.2vw solid #333;
  border-right: 0.2vw solid #333;
}

.store_wrapper .store_meminfos .mem_img {
  text-align: center;
}

.store_wrapper .store_meminfos .mem_img img {
  width: 100%;
  border-radius: 100%;
}

.store_wrapper .store_flow {
  width: 100%;
  margin: 0 auto;
  margin-top: 10vw;
  font-size: 0;
}

.store_wrapper .store_flow div[class*=col-] {
  vertical-align: bottom;
  text-align: center;
}

.store_wrapper .store_flow .title {
  margin: 2vw auto;
}

.store_wrapper .store_flow .flow .image {
  position: relative;
  text-align: center;
}

.store_wrapper .store_flow .flow .image img {
  position: relative;
  max-width: 60px;
  text-align: center;
}

.store_wrapper .store_step {
  width: 80%;
  margin: 0 auto;
  margin-top: 10vw;
  font-size: 0;
}

.store_wrapper .store_step div[class*=col-] {
  border: solid 1px #333;
  vertical-align: middle;
  text-align: center;
}

.store_wrapper .store_step .step {
  margin: 0 auto;
  background-color: #d0d6d6;
  padding-top: 4vw;
}

.store_wrapper .store_step .step .choose {
  position: relative;
}

.store_wrapper .store_step .step .choose img {
  width: 100%;
}

.store_wrapper .store_step .step .store_button {
  padding: 2vw 0 3vw;
}

.store_wrapper .store_step .step .store_button .btn {
  position: relative;
  background-color: #f1c40f;
  font-size: 0.8rem;
  padding: 10px 30px;
  border: 1px solid #f1c40f;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

@media all and (max-width: 992px) {
  html {
    font-size: 17px;
  }
  .store_wrapper {
    width: 100%;
  }
  .store_wrapper .store_support .store_box {
    margin: 0 auto;
    text-align: center;
  }
  .store_wrapper .store_support .store_box .phone_member_info {
    display: block;
    text-align: center;
    background: url(../img/member/blackline.svg) no-repeat;
    padding: 4% 0%;
  }
  .store_wrapper .store_support .store_box .phone_member_info .pic img {
    width: 100%;
    max-width: 200px;
    border-radius: 100%;
  }
  .store_wrapper .store_support .store_box .phone_member_info .meminfos {
    vertical-align: top;
    height: 10rem;
    background-color: #d0d6d6;
  }
  .store_wrapper .store_support .store_box .phone_member_info .meminfos .flexbox {
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 10%;
  }
  .store_wrapper .store_support .store_box .phone_member_info .meminfos .flexbox p {
    width: 100%;
    height: calc(100% / 3);
    text-align: left;
    line-height: 3rem;
  }
  .store_wrapper .store_support .store_box .member_info {
    display: none;
  }
  .store_wrapper .store_support .store_box .support_history {
    margin-top: 8%;
  }
}

@media all and (max-width: 768px) {
  .store_wrapper .store_color1 {
    width: 70%;
    top: 2%;
    position: absolute;
    left: -22%;
  }
  .store_wrapper .store_step {
    width: 100%;
  }
  .store_wrapper .store_step .step .choose {
    margin-bottom: 4vw;
  }
}

@media all and (max-width: 576px) {
  .store_wrapper .store_flow .flow .image img {
    max-width: 40px;
  }
}

@media all and (max-width: 376px) {
  html {
    font-size: 16px;
  }
  .store_wrapper {
    width: 95%;
  }
}
/*# sourceMappingURL=store.css.map */