.lightCover {
    background-color: #414141e6;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    display: none;

    #myAllList {
        width: 90%;
        max-width: 500px;
        background-color: white;
        border-radius: 10px;
        padding: 1% 0;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        display: none;
        //   opacity: 0;
        //   transition: opacity 0.5s ease-in-out;
        transform: translate(-50%, -50%);

        //   &.show {
        //     opacity: 1;
        //   }

        .lightSelectMenu {
            clear: both;

            ul {
                width: 80%;
                margin: 3% auto;
                padding: 16px 0;
                min-height: 100px;
                background-image: url('../img/library/blackline2.svg');
                background-position: center center;

                li {
                    width: 90%;
                    margin: 0 auto;
                    padding: 16px 0;
                    border-bottom: 1px solid $fontColor;

                    &.choose {
                        background-color: #7ed5e5;
                    }

                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
    }

    #deleteCheck {
        width: 90%;
        max-width: 500px;
        background-color: white;
        border-radius: 10px;
        padding: 1% 0;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }

    .close {
        // margin-top: 20px;
        margin-right: 20px;
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
        transition: transform 0.5s;

        &:hover {
            transform: scale(1.1);
        }
    }

    button {
        @include butttonn02;
        transition: transform 0.5s;

        @include respond(phone) {
            margin-bottom: 10px;
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}