div.nav_bar {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 60px;
  padding: 0px 10px;
  align-items: center;
  background: #FAFAF1;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .hamburger {
    display: none;
    padding: 10px 10px;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    overflow: hidden;
    &:hover {
      filter: opacity(0.7);
    }

    .hamburger-box {
      width: 40px;
      height: 24px;
      display: inline-block;
      position: relative;
      vertical-align: middle;

      .hamburger-inner {
        position: absolute;
        top: 50%;
        margin-top: -2px;
        width: 40px;
        height: 4px;
        background-color: #000;
        border-radius: 4px;
        transition: background-color 0.125s 0.175s ease-in;

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: -10px;
          left: 0;
          width: 40px;
          height: 4px;
          background-color: #000;
          border-radius: 4px;
          transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear,
            left 0.125s 0.175s ease-in;
        }
        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 10px;
          right: 0;
          bottom: -10px;
          width: 40px;
          height: 4px;
          background-color: #000;
          border-radius: 4px;
          transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear,
            right 0.125s 0.175s ease-in;
        }
      }
    }
  }
  .hamburger.is-active {
    .hamburger-box {
      .hamburger-inner {
        transition-delay: 0s;
        transition-timing-function: ease-out;
        background-color: transparent !important;
        &::before {
          left: -80px;
          top: -80px;
          transform: translate3d(80px, 80px, 0) rotate(45deg);
          transition: left 0.125s ease-out, top 0.05s 0.125s linear,
            transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        &::after {
          right: -80px;
          top: -80px;
          transform: translate3d(-80px, 80px, 0) rotate(-45deg);
          transition: right 0.125s ease-out, top 0.05s 0.125s linear,
            transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
      }
    }
  }

  .mobile_list {
    position: absolute;
    top: 60px;
    left: 0;
    width: 270px;
    transform: translateX(-270px);
    filter: opacity(0);
    transition: all 0.5s;

    .paint_border {
      float: right;
      width: 30px;
      background: url("../img/public/paint_border.png");
      transform: scaleX(-1);
    }
    ul {
      float: right;
      width: 240px;
      background: #ffffff;

      li {
        width: 100%;
        height: 80px;
        justify-content: center;
        align-items: center;

        &.REMIX {
          background: url("../img/public/nav_m_y_bt01.png") center center no-repeat;
        }
        &.COLLECTION {
          background: url("../img/public/nav_m_y_bt02.png") center center no-repeat;
        }
        &.ACTIVITY {
          background: url("../img/public/nav_m_y_bt04.png") center center no-repeat;
        }
        &.LIBRARY {
          background: url("../img/public/nav_m_y_bt04.png") center center no-repeat;
        }
        a {
          width: 150px;
          height: 45px;
          font-size: 1.2rem;
          letter-spacing: -0.1rem;
        }
      }
    }
  }

  .logo_container {
    position: relative;
    width: 100px;
    height: 55px;
    .logo {
      position: absolute;
      z-index: 2;
      left: 0px;
      width: 100px;
      height: 55px;
      background: url("../img/public/logo_s.svg") center center no-repeat;
    }
    .finger {
      position: absolute;
      z-index: 1;
      top: -18px;
      left: 10px;
      width: 138px;
      height: 100px;
      background: url("../img/public/finger.png") center center no-repeat;
      pointer-events: none;
    }
  }

  .main_list {
    position: relative;
    margin: 0 auto 0 0;
    width: 800px;
    height: 60px;
    justify-content: space-around;
    align-items: center;

    li {
      width: 150px;
      height: 60px;
      align-items: center;

      &.REMIX {
        background: url("../img/public/nav_y_bt01.png") center center no-repeat;
      }
      &.COLLECTION {
        background: url("../img/public/nav_y_bt02.png") center center no-repeat;
      }
      &.ACTIVITY {
        background: url("../img/public/nav_y_bt03.png") center center no-repeat;
      }
      &.LIBRARY {
        background: url("../img/public/nav_y_bt04.png") center center no-repeat;
      }
      a {
        width: 100%;
        height: 45px;
        font-size: 1.2rem;
        letter-spacing: -0.1rem;
      }
    }
  }

  .search_bt {
    width: 50px;
    height: 50px;
    background: url("../img/public/search_icon.png") center center no-repeat;
    background-size: 30px 30px;
    transition: all 0.5s;

    a {
      display: block;
      width: 50px;
      height: 50px;
    }
  }

  .search_bar {
    position: absolute;
    top: 60px;
    right: 60px;
    width: 200px;
    height: 0px;
    overflow: hidden;
    filter: opacity(0);
    transition: all 0.5s;

    input.search {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 38px;
    }

    .tag_container {
      width: 100%;
      height: 200px;
      margin: 38px 0 0 0;
      background: #ffffff;
    }
  }

  .login_bt {
    width: 80px;
    height: 45px;
    background: url("../img/public/login_bt.png") center center no-repeat;
    background-size: 65px 35px;

    a {
      display: block;
      width: 68px;
      height: 38px;
    }
  }

  .mem_bt {
    width: 50px;
    height: 50px;
    background: url("../img/public/user_icon.png") center center no-repeat;
    background-size: 25px 30px;

    a {
      display: block;
      width: 50px;
      height: 50px;
    }
  }

  .mem_list {
    position: fixed;
    top: 60px;
    right: 0;
    width: 270px;
    transform: translateX(270px);
    filter: opacity(0);
    transition: all 0.5s;

    .paint_border {
      float: left;
      width: 30px;
      background: url("../img/public/paint_border.png");
    }
    ul {
      float: left;
      width: 240px;
      background: #ffffff;

      li {
        padding: 5px 10px;

        a {
          display: block;
          text-align: end;
        }
      }
    }

    li:not(:nth-child(5)) {
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: linear-gradient(to right, #ffffff, #da1b60);
      }
    }
  }
}

@media screen and (max-width: 992px) {
  div.nav_bar {
    .main_list {
      width: 600px;

      li {
        width: 120px;
        &.REMIX {
          background-size: 120px 55px;
        }
        &.COLLECTION {
          background-size: 120px 55px;
        }
        &.ACTIVITY {
          background-size: 120px 55px;
        }
        &.LIBRARY {
          background-size: 120px 55px;
        }
        a {
          height: 35px;
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  div.nav_bar {
    .hamburger {
      display: inline-block;
    }

    .logo_container {
      margin: 0 auto 0 auto;
    }

    .main_list {
      display: none;
    }
  }
}
@media screen and (max-width: 375px) {
  div.nav_bar {
    .main_list {
      h4 {
        font-size: 0.8rem;
      }
    }
  }
}
