@import"_public";

#act_title {
    margin: 0 auto;
    text-align: center;
    
}


#act_radioBg {
  
    position: relative;
    max-width: 1200px;
    height: 650px;
    margin: 0 auto;


    @include respond(latop-max) {
        width: 940px;
        height: 500px;
    }

    @include respond(latop-min) {
        width: 752px;
        height: 400px;

    }

    @include respond(ipadpro) {
        width: 564px;
        height: 300px;


    }

    @include respond(ipad) {
        width: 410px;
        height: 220px;

    }

    @include respond(phone) {
        width: 338px;
        height: 180px;


    }


    img {
        width: 100%;
        height: 100%;
    }





    h2 {
        margin: 0;
        display: inline-block;
        max-width: 550px;
        position: absolute;
        top: 13%;
        left: 18%;
        z-index: 1;
        font-size: $rem2;

        @include respond(latop-max) {
            font-size: $rem1_5;
        }

        @include respond(latop-min) {
            font-size: $rem1_2;
            max-width: 40%;
        }

        @include respond(ipadpro) {
            font-size: $rem1;
        }

        @include respond(ipad) {
            font-size: $rem0_8;
            width: 45%;
            top: 10%;
        }

        @include respond(phone) {
            display: none;
        }
    }

    #act_sectionAnchor {
        display: inline-block;
        width: 850px;
        height: 75px;
        position: absolute;
        bottom: 4%;
        left: 15%;
        // transform: translate(-50%, -50%);
        z-index: 1;

        @include respond(latop-max) {
            width: 700px;
            height: 50px;
            left: 18%;
            bottom: 7%;
        }

        @include respond(latop-min) {
            width: 600px;
            height: 30px;
            left: 50%;
            transform: translate(-50%, 0%);
            bottom: 5%;
        }

        @include respond(ipadpro) {
            width: 500px;
            height: 25px;
            left: 55%;
            bottom: 2%;
        }

        @include respond(ipad) {
            width: 375px;
            left: 68%;
            bottom: 3%;
        }

        @include respond(phone) {
            display: none;
        }

        a {

            &:hover {
                transform: scale(1.1);
            }

            display: inline-block;
            width: 220px;
            margin-left: 50px;
            height: 75px;
            text-decoration: none;
            position: relative;

            @include respond(latop-max) {
                width: 180px;
                height: 60px;
                margin-left: 30px;
            }

            @include respond(latop-min) {
                width: 150px;
                height: 45px;
                margin-left: 15px;
                left: 10%;
                top: -15px;
            }

            @include respond(ipadpro) {
                width: 115px;
                height: 30px;
                margin-left: 15px;
                left: 0%;
                top: -10px;
            }

            @include respond(ipad) {
                width: 80px;
                height: 25px;
                margin-left: 5px;
                left: 0%;
                top: -5px;
            }

            @include respond(phone) {
                display: none;
            }



            img {
                width: 100%;
                height: 100%;
            }

            span {
                white-space: pre;
                color: #333;
                font-size: $rem1_5;
                font-weight: bold;
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 1;
                transform: translate(-50%, -50%);

                @include respond(latop-max) {
                    font-size: $rem1_2;
                }

                @include respond(latop-min) {
                    font-size: $rem1;
                }

                @include respond(ipadpro) {
                    font-size: $rem0_8;
                }

                @include respond(ipad) {
                    font-size: $rem0_6;

                }


            }
        }
    }

    #act_oldyear_Anchor {

        position: absolute;
        bottom: 5%;
        width: 300px;
        height: 50px;
        left: 60%;
        transform: translate(-60%, 0%);


        @include respond(latop-min) {
            transform: translate(-50%, 0%);
        }

        @include respond(ipadpro) {
            transform: translate(-40%, 0%);
            bottom: 1%;
        }

        @include respond(ipad) {
            bottom: -6%;
            transform: translate(-40%, 0%);
        }

        @include respond(phone) {
            display: none;

        }


        a {

            img {
                width: 50px;
                height: 50px;

                &:hover {
                    transform: scale(1.1);
                }

                @include respond(ipadpro) {
                    width: 40px;
                    height: 40px;
                }

                @include respond(ipad) {
                    width: 30px;
                    height: 30px;
                }


            }

            span {
                font-size: $rem1_5;
                margin-right: 10px;
                font-weight: bold;

                @include respond(latop-max) {
                    font-size: $rem1_2;
                }

                @include respond(ipadpro) {
                    font-size: $rem1;
                }

            }

        }

    }

}

#act_TopAnchor {
    width: 30px;
    display: inline-block;
    position: fixed;
    z-index: 5;
    right: 2%;
    bottom: 150px;
    font-size: 0;

    @include respond(phone) {
        display: none;
    }

    a {
        font-size: $rem0_8;

        @include respond(latop-max) {
            font-size: $rem0_6;
        }

        .act_Bush {
            width: 30px;
            height: 100px;

            @include respond(latop-max) {
                width: 20px;
                height: 61px;
            }


        }
    }
}

.act_ShowTopAnchor {
    height: 400px;
    width: 60px;
    transition: ease-out all 2s;
    animation-duration: 1;
    animation: GoTop 2s;

}

@keyframes GoTop {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-150px);
    }

}

.act_ShowTopBush {
    display: inline-block;
    height: 3px;
    width: 40px;
    left: -5px;
    top: 90px;
    background-size: contain;
    position: absolute;
    z-index: -1;
    transition: all 2s;
    animation-delay: 0.1s;
    animation: GoTopBush 1.9s;
    animation-duration: 1;

    @include respond(latop-max) {
        top: 55px;
        width: 30px;
    }

    @include respond(phone) {
        display: none;



    }

    img {
        width: 100%;
        height: 100%;
    }

}

.act_bushShow {
    transition: all 2s;
    animation-delay: 0.1s;
    animation: GoTopBush 1.9s;
    animation-duration: 1;
}

@keyframes GoTopBush {
    0% {
        opacity: 0;
        height: 0px;
    }

    100% {
        opacity: 1;
        height: 250px;
    }

    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-170px);
    }
}



#act_HeadBtn {
    position: absolute;
    top: 16%;
    right: 5%;
    z-index: 1;
}

#act_HeadBtn {
    font-size: 0;

    div {
        position: relative;
        margin: 0;
        width: 150px;
        height: 140px;
        display: inline-block;
        cursor: pointer;
        text-align: center;


        @include respond(latop-max) {
            width: 120px;
            height: 110px;
        }

        @include respond(latop-min) {
            width: 100px;
            height: 90px;
            top: -15px;
            padding: 0;
        }

        @include respond(ipad) {
            width: 80px;
            height: 70px;
            top: -5px;
            padding: 0;
        }

        @include respond(phone) {
            left: -35%;
            top: -20px;
        }

        &:hover {
            transform: scale(1.1);
        }

        img {
            width: 80%;
            height: 80%;

        }

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            font-size: $rem1_5;
            font-weight: bold;
            transform: translate(-60%, -70%);

            @include respond(latop-max) {
                font-size: $rem1_2;
            }

            @include respond(latop-min) {
                font-size: $rem1;

            }

            @include respond(ipad) {
                font-size: $rem0_8;
            }

        }
    }

}

#act_carousel {
    width: 90%;
    height: 60%;
    max-width: 1200px;
    max-height: 400px;
    position: absolute;
    top: 35%;
    left: 5%;
    z-index: -1;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
    }

    @include respond(latop-min) {
        max-height: 300px;
    }

    @include respond(ipadpro) {
        max-height: 220px;
    }


}

#act_carouselSelect {
    width: 30px;
    height: 80px;
    position: absolute;
    right: 7%;
    top: 60%;

    div {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: white;
        border: yellow;
        box-shadow: 1px 1px 5px black;
        margin: 5px 5px auto;
        opacity: 0.5;

        @include respond(latop-min) {
            width: 15px;
            height: 15px;
        }

        @include respond(ipad) {
            width: 10px;
            height: 10px;
        }
    }

    .btncolor {
        opacity: 1;
    }


}

#act_countdown {
    display: block;
    width: 350px;
    height: 100px;
    position: absolute;
    bottom: -25%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0%);
   


    @include respond(latop-min) {
        width: 300px;
        height: 75px;
        transform: translate(-35%, 0%);
    }

    @include respond(ipadpro) {
        transform: translate(-45%, 0%);
        bottom: -32%;
    }

    @include respond(ipad) {
        transform: translate(-45%, 0%);
        bottom: -40%;
    }

    @include respond(phone) {
        transform: translate(-45%, 0%);
        bottom: -50%;
    }

    p {
        vertical-align: bottom;
        font-size: $rem1;
        margin: 0;

        @include respond(ipad) {
            font-size: $rem0_8;
        }
    }

    div {
        margin: 0 auto;

        div {
            display: inline-block;
            text-align: center;
            width: 70px;
            height: 70px;
            margin: 5px;


            @include respond(latop-min) {
                width: 50px;
                height: 50px;
                margin: 5px;

            }

            p {
                margin: 0;
                padding: 0;
                font-size: $rem1_5;
                color: #333;

                @include respond(latop-min) {
                    font-size: $rem1;

                }

            }

            span {
                font-size: $rem0_8;
                position: relative;
                top: -20px;
                color: #333;

                @include respond(latop-min) {
                    font-size: 0.4rem;
                    top: -10px;

                }
            }
        }
    }
}

.act_old_years {
    // border: solid 1px blue;
    position: relative;
    background-image: url(../img/activity/0.blackline.svg);
    max-width: 1200px;
    min-height: 700px;
    padding: 50px;
    margin: 100px auto 0 auto;


    @include respond(latop-max) {
        max-width: 940px;
        min-height: 650px;
    }

    @include respond(latop-min) {
        max-width: 752px;
        min-height: 550px;
    }

    @include respond(ipadpro) {
        max-width: 564px;


    }

    @include respond(ipad) {
        max-width: 410px;
        margin: 75px auto 0 auto;
        padding: 30px;

    }

    @include respond(phone) {
        max-width: 320px;
        padding: 30px 15px 30px 20px;
        margin: 50px auto 0 auto;

    }

    .act_oldink {
        position: absolute;
        top: -20%;
        left: -10%;
        z-index: -1;
        width: 500px;
        height: 400px;

        @include respond(latop-max) {
            top: -30%;
            left: -10%;
        }

        @include respond(latop-min) {
            width: 450px;
            height: 350px;
            top: -30%;
            left: -10%;
        }

        @include respond(ipadpro) {
            width: 350px;
            height: 250px;
            top: -20%;
            left: -10%;

        }

        @include respond(ipad) {
            top: -15%;
            left: -20%;
        }

        @include respond(phone) {
            width: 300px;
            height: 200px;
            top: -10%;
            left: -25%;
        }


        img {
            width: 100%;
            height: 100%;
        }
    }

    div {
        width: 45%;
        padding-top: 20px;

        @include respond(latop-min) {
            width: 50%;
        }

        @include respond(ipadpro) {
            width: 100%;
        }

        .act_year {
            font-size: 2.5rem;
            font-weight: bold;
            display: inline-block;

            @include respond(latop-max) {
                font-size: 2rem;
                padding: 0;
            }

            @include respond(latop-min) {
                font-size: $rem1_5;

            }

            @include respond(ipad) {
                font-size: $rem1_2;

            }


        }

        h2 {
            font-size: $rem2;
            margin: 0;

            @include respond(latop-max) {
                font-size: $rem1_5;
            }

            @include respond(latop-min) {
                font-size: $rem1_2;

            }

        }

        h3 {
            display: inline-block;
            font-size: $rem1_5;
            margin: 0;
            font-weight: normal;

            @include respond(latop-max) {
                font-size: $rem1_2;
                margin: 10px auto 0 auto;
            }

            @include respond(latop-min) {
                font-size: $rem1;
                width: 80%;

            }

            @include respond(ipad) {
                margin: 5px auto 0 auto;

            }
        }

        p {
            display: inline-block;
            max-width: 600px;
            font-size: $rem1;

            @include respond(latop-max) {
                margin: 10px auto;
            }

            @include respond(latop-min) {
                font-size: $rem0_8;
                width: 80%;

            }

            @include respond(ipadpro) {
                width: 100%;

            }

            @include respond(ipad) {
                margin: 5px auto;
                width: 95%;

            }
        }

        .act_oldVotes {
            width: 100%;

            @include respond(latop-max) {
                padding: 0;
            }

            h3 {
                display: inline-block;
                font-size: $rem1_5;
                margin: 20px auto 20px auto;
                font-weight: normal;

                @include respond(latop-max) {
                    font-size: $rem1_2;
                    width: 20%;
                }

                @include respond(ipadpro) {
                    font-size: $rem1;
                    width: 60px;
                    margin: 15px auto 20px auto;
                }

                @include respond(ipad) {
                    margin: 10px auto 20px auto;
                    width: 60px;

                }

                @include respond(phone) {
                    margin: 10px auto 0px auto;


                }

            }

            span {
                font-size: 2.5rem;
                font-weight: bold;
                color: #333;

                @include respond(latop-max) {
                    font-size: 2rem;
                    padding: 0;
                }

                @include respond(latop-min) {
                    font-size: $rem1_5;

                }

                @include respond(ipadpro) {
                    font-size: $rem1_2;
                }
            }
        }
    }


    .act_oldposterbox {

        display: inline-block;
        position: absolute;
        height: 100%;
        top: 0%;
        right: 0%;

        @include respond(ipadpro) {
            position: static;
            position: relative;
            width: 100%;
            margin: 0 20px 0 auto;

        }

        @include respond(ipad) {
            margin: 0 20px 0 auto;
            left: 50px;
            width: 100%;
        }

        .act_oldposter {
            width: 500px;
            height: 590px;
            position: absolute;
            bottom: 5%;
            right: 10%;
            z-index: 2;

            @include respond(latop-max) {
                width: 400px;
                height: 456px;
                top: 20%;
                right: 10%;

            }

            @include respond(latop-min) {
                top: 15%;
                right: 10%;

            }

            @include respond(ipadpro) {
                position: static;
                position: relative;
                width: 300px;
                height: 342px;
                margin: 0 20px 0 auto;

            }


            @include respond(phone) {
                left: -50px;
            }


            img {
                width: 100%;
                height: 100%;
            }
        }

        .act_oldSplash-ink {
            position: absolute;
            bottom: -10%;
            left: -35%;
            z-index: 1;
            width: 800px;
            height: 600px;

            @include respond(latop-max) {
                width: 600px;
                height: 450px;
                bottom: 0%;
                left: -25%;

            }

            @include respond(latop-min) {
                width: 550px;
                height: 450px;
                bottom: 0%;
                left: -25%;
            }

            @include respond(ipadpro) {
                width: 500px;
                height: 350px;
                left: -5%;
                bottom: 0%;
                z-index: -1;

            }

            @include respond(ipad) {
                left: -35%;
                bottom: -10%;

            }

            @include respond(phone) {
                left: -50%;
                bottom: -10%;

            }


            img {
                width: 100%;
                height: 100%;
            }
        }


    }
}

.act_oldsongbox {
    // border: solid 1px blue;
    max-width: 1200px;
    font-size: 0;
    padding-bottom: 100px;


    @include respond(latop-max) {
        max-width: 940px;

    }

    @include respond(latop-min) {
        max-width: 752px;

    }

    @include respond(ipadpro) {
        max-width: 564px;


    }

    @include respond(ipad) {
        max-width: 410px;

    }

    @include respond(phone) {
        max-width: 320px;
        padding-bottom: 50px;

    }

}

.act_oldTop {
    // border: solid 1px blue;
    text-align: center;
    max-width: 1200px;
    margin: 50px auto 0px auto;
    min-height: 550px;
    vertical-align: top;

    @include respond(latop-max) {
        max-width: 940px;
        min-height: 450px;

    }

    @include respond(latop-min) {
        max-width: 752px;
        min-height: 400px;
    }

    @include respond(ipadpro) {
        max-width: 564px;
        min-height: 350px;

    }

    @include respond(ipad) {
        max-width: 410px;

    }

    @include respond(phone) {
        max-width: 320px;
        min-height: 300px;
    }

    h3 {
        font-size: $rem1_5;
        margin: 20px 0 50px 50px;
        font-weight: normal;
        text-align: left;

        @include respond(latop-max) {
            font-size: $rem1_2;
            margin: 0 0px 40px 50px;
        }

        @include respond(latop-min) {
            margin: 0 0px 30px 50px;
            text-align: left;
        }

        @include respond(phone) {
            margin: 0 0px 30px 20px;

        }

    }

    div {
        text-align: center;
        width: 25%;
        margin: 0 20px;
        display: inline-block;
        font-size: 0;
        vertical-align: top;

        @include respond(latop-max) {
            width: 200px;
            margin: 0 15px;
        }

        @include respond(latop-min) {
            width: 180px;
            margin: 0 10px;
        }

        @include respond(ipadpro) {
            width: 110px;

        }

        @include respond(ipad) {
            width: 94px;
        }

        @include respond(phone) {
            width: 85px;
            margin-right: 5px;
        }



        p {

            font-size: $rem0_6;
            text-align: left;
            margin: 0 auto 0 30px;
            vertical-align: bottom;

            @include respond(latop-max) {
                margin: 0 auto
            }

            span {
                font-size: $rem0_8;


            }


        }

        .act_songBox {
            margin: 0;
            padding: 0;
            font-size: 0;
            max-height: 150px;
            text-align: left;

            h4 {
                width: 100%;
                margin: 0;
                font-size: $rem1_2;
                font-weight: normal;
                cursor: pointer;

                &:hover {
                    transform: scale(1.1);
                    font-weight: bold;
                }

                @include respond(latop-max) {
                    font-size: $rem0_8;
                }
            }

            p {
                margin: 0;
                padding: 0;
                font-size: $rem1;

                @include respond(latop-max) {
                    width: 100%;
                    font-size: $rem0_8;
                }

            }

            .act_old-hear1 {
                width: 25px;
                height: 25px;
                background: url("../img/activity/grayheart.png");
                background-size: contain;

                &:hover {
                    transform: scale(1.1);
                }


            }

            .actShowHeart {
                width: 25px;
                height: 25px;
                background: url("../img/activity/redheart.png");
                background-size: contain;
            }

        }


        div {
            width: 250px;
            height: 250px;
            margin: 0;
            position: relative;
            vertical-align: top;

            @include respond(latop-max) {
                width: 200px;
                height: 200px;
            }

            @include respond(latop-min) {
                width: 180px;
                height: 180px;
            }

            @include respond(ipadpro) {
                width: 100px;
                height: 100px;
            }

            @include respond(ipad) {
                width: 94px;
                height: 94px;
            }

            @include respond(phone) {
                width: 85px;
                height: 85px;
            }


            img {
                width: 100%;
                height: 100%;

            }

            &:hover .act_old-play {
                display: block;
                cursor: pointer;
                z-index: 2;

            }


            .act_old-play {
                width: 50px;
                height: 50px;
                text-align: center;
                background-image: url(../img/library/coverPlay-b.png);
                background-size: contain;
                position: absolute;
                top: 50%;
                left: 50%;
                display: none;
                transform: translate(-50%, -50%);



            }

            .act_old-play-Pause {
                width: 50px;
                height: 50px;
                text-align: center;
                background-image: url(../img/library/coverPause-b.png);
                background-size: contain;
                position: absolute;
                top: 50%;
                left: 50%;
                display: none;
                transform: translate(-50%, -50%);
            }


        }


    }

}

.act_oldAll {
    // border: solid 1px blue;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 50px auto 0px auto;
    vertical-align: top;

    @include respond(latop-max) {
        max-width: 940px;

    }

    @include respond(latop-min) {
        max-width: 752px;

    }

    @include respond(ipadpro) {
        max-width: 564px;


    }

    @include respond(ipad) {
        max-width: 410px;

    }

    @include respond(phone) {
        max-width: 320px;

    }

    h3 {
        font-size: $rem1_5;
        margin: 20px 0 50px 50px;
        font-weight: normal;
        text-align: left;

        @include respond(latop-max) {
            font-size: $rem1_2;
            margin: 0 0px 40px 50px;
        }

        @include respond(latop-min) {
            margin: 0 0px 30px 50px;

        }

        @include respond(phone) {
            margin: 0 0px 30px 20px;

        }
    }

    div {

        text-align: center;
        width: 20%;
        margin: 0 20px;
        display: inline-block;
        font-size: 0;
        vertical-align: top;

        @include respond(latop-max) {
            width: 160px;
            margin: 0 15px;
        }

        @include respond(latop-min) {
            width: 160px;
            margin: 0 10px;
        }

        @include respond(ipadpro) {
            width: 110px;
            margin: 0 10px 30px 10px;

        }

        @include respond(ipad) {
            width: 120px;
        }

        @include respond(phone) {
            width: 120px;
            margin-right: 15px;
            margin-bottom: 40px;
        }



        p {
            text-align: left;
            font-size: $rem0_6;
            margin: 0 auto 0 20px;
            vertical-align: bottom;

            @include respond(latop-max) {
                margin: 0 auto 0 5px;
            }

            span {
                font-size: $rem0_8;


            }


        }

        .act_songBox {
            margin: 0;
            padding: 0;
            font-size: 0;
            text-align: left;

            h4 {
                width: 100%;
                margin: 0;
                font-size: $rem1_2;
                font-weight: normal;
                cursor: pointer;

                &:hover {
                    transform: scale(1.1);
                    font-weight: bold;
                }

                @include respond(latop-max) {
                    font-size: $rem0_8;
                }
            }

            p {
                margin: 0;
                padding: 0;
                font-size: $rem1;

                @include respond(latop-max) {
                    width: 100%;
                    font-size: $rem0_8;
                }

            }

            .act_old-hear1 {
                width: 25px;
                height: 25px;
                background: url("../img/activity/grayheart.png");
                background-size: contain;

                &:hover {
                    transform: scale(1.1);

                }


            }

            .actShowHeart {
                width: 25px;
                height: 25px;
                background: url("../img/activity/redheart.png");
                background-size: contain;
            }

        }


        div {
            width: 200px;
            height: 200px;
            margin: 0;
            position: relative;
            vertical-align: top;

            @include respond(latop-max) {
                width: 150px;
                height: 150px;
            }

            @include respond(ipadpro) {
                width: 100px;
                height: 100px;
            }

            @include respond(phone) {
                width: 120px;
                height: 120px;
            }


            &:hover .act_old-play {
                display: block;
                cursor: pointer;
                z-index: 2;

            }


            .act_old-play {
                width: 50px;
                height: 50px;
                text-align: center;
                background-image: url(../img/library/coverPlay-b.png);
                background-size: contain;
                position: absolute;
                top: 50%;
                left: 50%;
                display: none;
                transform: translate(-50%, -50%);



            }

            .act_old-play-Pause {
                width: 50px;
                height: 50px;
                text-align: center;
                background-image: url(../img/library/coverPause-b.png);
                background-size: contain;
                position: absolute;
                top: 50%;
                left: 50%;
                display: none;
                transform: translate(-50%, -50%);
            }

            img {
                width: 100%;
                height: 100%;

            }
        }


    }


}


.act_now-year {
   
    position: relative;
    max-width: 1200px;
    width: 100%;
    min-height: 700px;
    padding: 50px;
    margin: 150px auto 0 auto;
    overflow: hidden;

    @include respond(latop-max) {
        max-width: 940px;
        margin: 100px auto 0 auto;


    }

    @include respond(latop-min) {
        margin: 75px auto 0 auto;
        max-width: 750px;

    }

    @include respond(ipadpro) {
        margin: 50px auto 0 auto;
        padding: 100px 20px 20px;
        max-width: 575px;
        min-height: 750px;
    }

    @include respond(ipad) {
        max-width: 400px;
        padding: 75px 30px;
        min-height: 780px;
    }

    @include respond(phone) {
        max-width: 320px;
        padding: 75px 10px;
        min-height: 800px;
    }

    div {
        width: 50%;
       

        @include respond(ipadpro) {
            width: 90%;
            margin: 0 auto;
        }

        @include respond(ipad) {
            margin: 0;
            width: 100%;
        }


        h2 {
            margin: 0 0 50px 0;
            font-size: $rem2;

            @include respond(latop-max) {
                font-size: $rem1_5;
            }

            @include respond(latop-min) {
                font-size: $rem1_2;

            }

            @include respond(ipadpro) {
                margin: 0 0 30px 0;

            }

            @include respond(ipad) {
                margin: 0 0 30px 0;
            }

        }

        h3 {
            margin: 0;
            font-size: $rem1_5;
            font-weight: normal;

            @include respond(latop-max) {
                font-size: $rem1_2;
            }

            @include respond(latop-min) {
                font-size: $rem1;

            }


        }

        div {
            margin: 20px 0;
            width: 100%;
            font-size: 2.5rem;
            line-height: 1;
            font-weight: normal;

            @include respond(latop-max) {
                font-size: 2rem;
            }

            @include respond(latop-min) {
                font-size: $rem1_5;

            }

            @include respond(ipadpro) {
                width: 90%;
                margin: 0 0 15px 0;
            }

            @include respond(ipad) {
                margin: 0 0 15px 0;
                width: 100%;
                font-size: $rem1_2;
            }
        }

        p {
            width: 60%;
            font-size: $rem1;
            margin: 10px auto 20px 0;

            @include respond(latop-max) {
                font-size: $rem0_8;
                margin: 10px auto 10px 0;
            }

            @include respond(latop-min) {
                font-size: $rem0_8;
                margin: 10px auto 10px 0;
            }

            @include respond(ipadpro) {
                width: 90%;
                margin: 10px auto 10px 0;
            }

            // @include respond(ipad) {
            //     font-size: $rem0_6;
            //     margin: 10px auto 10px 0;
            // }
        }
    }
}





.act_nowposterbox {
    display: inline-block;
    position: absolute;
    top: 10%;
    right: 2%;
   
    @include respond(latop-max) {
        top: 20%;
        right: 2%;

    }


    @include respond(latop-min) {
        right: 2%;

    }

    @include respond(ipadpro) {
        position: static;
        position: relative;
        top: 50px;
        left: 5%;


    }

    @include respond(ipad) {
        left: 10px;

    }

    @include respond(phone) {
        left: -20px;

    }


    .act_nowposter {
        width: 600px;
        height: 612px;
        position: absolute;
        z-index: 2;
        margin: auto auto;
        // top: 30%;
        // left: 0;
      

        @include respond(latop-max) {
            width: 400px;
            height: 408px;


        }

        @include respond(latop-min) {
            width: 400px;
            height: 408px;


        }

        @include respond(ipadpro) {
            position: static;
            width: 400px;
            height: 408px;
            margin: 0 auto;

        }

        @include respond(ipad) {
            width: 300px;
            height: 306px;

        }

        @include respond(phone) {
            width: 350px;
            height: 357px;
            margin: 20px 20px 0 auto;
        }


        img {
            width: 100%;
            height: 100%;
        }
    }

    .act_nowSplash-ink {
        position: absolute;
        top: -10%;
        left: -13%;
        z-index: 1;
        width: 800px;
        height: 600px;
      

        @include respond(latop-max) {
            width: 600px;
            height: 450px;
            bottom: 5%;
            left: -15%;

        }

        @include respond(latop-min) {
            width: 500px;
            height: 450px;
            bottom: 5%;
            left: -20%;
        }

        @include respond(ipadpro) {
            left: 1%;
            z-index: -1;
        }

        @include respond(ipad) {
            width: 425px;
            height: 350px;
            left: -15%;

        }

        @include respond(phone) {
            width: 470px;
            height: 370px;
            left: -25%;
            top: 75px;
        }


        img {
            width: 100%;
            height: 100%;
        }
    }



}

#act_Now-Sign-up {
  
    max-width: 1200px;
    width: 100%;
    min-height: 850px;
    padding: 50px;
    margin: 100px auto 150px auto;
    position: relative;

    @include respond(latop-max) {
        margin: 0px auto;
        max-width: 940px;
        min-height: 800px;
    }

    @include respond(latop-min) {
        max-width: 750px;
        padding: 0px;
        min-height: 700px;


    }

    @include respond(ipadpro) {
        max-width: 630px;
        min-height: 825px;
        text-align: center;
        margin: 50px auto 50px auto;
    }

    @include respond(ipad) {
        max-width: 400px;
    }

    @include respond(phone) {
        max-width: 320px;
        margin: 75px auto 100px auto;
    }

    h2 {

        font-size: $rem2;
        margin: 0 0 40px 0px;
        text-align: left;

        @include respond(latop-max) {
            font-size: $rem1_5;
        }

        @include respond(latop-min) {
            font-size: $rem1_2;
            margin: 0 0 40px 50px;
        }

        @include respond(ipadpro) {
            margin: 0 0 20px 70px;
        }

        @include respond(phone) {
            margin: 0 0 20px 10px;
        }
    }

    div {

        width: 35%;
        min-width: 300px;
        height: 100%;
        display: inline-block;
        position: relative;
        text-align: right;
        top: 20px;
        left: 10px;
      

        @include respond(latop-max) {
            min-width: 200px;
        }

        @include respond(ipadpro) {
            width: 70%;
            text-align: left;
            z-index: 1;

        }

        @include respond(phone) {
            width: 100%;

        }

        .act_now-marry {
            width: 100%;
            height: 100%;
            margin: auto auto;

            @include respond(latop-max) {
                width: 90%;
                height: 90%;
            }

            @include respond(ipadpro) {
                width: 75%;
                height: 75%;
                margin: 0 auto;

            }

            @include respond(phone) {
                position: relative;
                left: 30px;
            }


            img {
                width: 100%;
                height: 100%;

            }
        }

        .act_now-marry-ink {
         
            width: 1200px;
            height: 850px;
            position: absolute;
            transform: rotate(-2deg);
            z-index: -1;
            top: -25%;
            left: -10%;

            @include respond(latop-max) {
                width: 850px;
                height: 600px;
                top: -20%;
                left: -3%;
            }

            @include respond(latop-min) {
                top: -25%;
                left: -0%;
                width: 700px;
            }

            @include respond(ipadpro) {
                width: 600px;
                height: 400px;
                top: 10%;
                left: -20%;
            }

            @include respond(ipad) {
                width: 400px;
                height: 300px;
                top: 10%;
                left: -29%;
            }

            @include respond(phone) {
                width: 320px;
                height: 275px;
                top: 10%;
                left: -1%;
            }


            img {
                width: 100%;
                height: 100%;
            }
        }
    }


}

#act_Now-Sign-up {


    article {

        font-size: 0;
        width: 60%;
        display: inline-block;
        margin: 0 auto;
        min-height: 400px;
        ;
        background-image:
            url(../img/activity/0.blackline.svg),
            url(../img/activity/text-wh.png);
        background-repeat: no-repeat;
        background-size: cover, 95% 95%;
        background-position-x: center;
        padding: 15px;
        position: absolute;
        top: 20%;
        right: 0%;
        text-align: center;
        z-index: 1;

        @include respond(latop-min) {
            top: 15%;

        }

        @include respond(ipadpro) {
            position: static;
            position: relative;
            width: 90%;
            margin: 0 auto;

        }


        div {

            font-size: 0;
            width: 90%;
            margin: 0 10px 0 auto;
            padding: 10px;
            text-align: left;

            @include respond(phone) {
                width: 95%;
                position: relative;
                left: 0px;

            }

            h3 {
                font-size: $rem1_5;
                margin: 0 auto;
                padding-bottom: 10px;
                font-weight: normal;
                text-align: center;

                @include respond(latop-max) {
                    font-size: $rem1_2;
                }

                @include respond(latop-min) {

                    font-size: $rem1;
                }
            }





            p {

                font-size: $rem1;
                width: 100%;
                margin: 5px auto;
                text-align: left;
                font-weight: normal;

                @include respond(latop-min) {

                    font-size: $rem0_8;
                }


            }

            .act_from-button-box {

                text-align: center;
                margin: 0 auto 30px auto;
                padding-top: 20px;


                button {
                    margin-top: 20px;
                    @include butttonn02();
                    margin-left: 15px;
                }

                input {
                    margin-top: 20px;
                    @include butttonn02();
                    margin-left: 15px;
                }


            }


            div {

                font-size: $rem1;
                margin: 0 auto;
                padding: 0 0 10px 5px;
                text-align: left;
                width: 95%;
                font-weight: normal;


                @include respond(ipadpro) {
                    font-size: $rem0_8;

                }

                @include respond(phone) {
                    width: 100%;
                }

                label {
                    @include buttonno04();
                    text-align: center;
                }

                h4 {
                    font-size: $rem1_2;
                    font-weight: normal;
                    margin: 0;
                    padding: 0;
                    display: inline-block;

                    @include respond(latop-min) {
                        font-size: $rem1;
                    }

                }

                .act_Sign-up-song-name {
                    border: 1px #d0d6d6 solid;
                    background-color: #d0d6d6;
                    width: 100%;
                    height: 30px;
                    overflow: hidden;
                    vertical-align: top;
                    margin: 0;
                    padding: 0;

                }

                .act_Sign-up-song-information {
                    margin: 0;
                    padding: 0;
                    border: 1px #d0d6d6 solid;
                    background-color: #d0d6d6;
                    width: 100%;
                    overflow: hidden;
                    vertical-align: top;
                    height: 100px;
                    resize:none;
                }

                .act_showSignUpImg {
                    width: 100%;
                    height: 100px;
                    border: 1px #d0d6d6 solid;
                    padding: 0;
                    text-align: center;
                    font-size: $rem1;
                    margin: 0 0 10px 0;
                    padding: 0;
                    position: relative;
                    left: 0px;

                    @include respond(latop-max) {
                        height: 75px;
                    }

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }

                }

                .act_showSignUpImgSmall {
                    width: 100%;
                    height: 75px;
                    border: 1px #d0d6d6 solid;
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    position: relative;
                    left: 0px;
                    top: 0;

                    @include respond(latop-max) {
                        height: 50px;
                    }

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }

                }

            }

            .act_SignSongURL-box {
                font-size: $rem0_6;
                margin: 0 0 10px 0;
                text-align: left;
                padding: 2px 0;
                overflow: hidden;
                color: #aaa;

            }

            .act_showSong-information {
                font-size: $rem1;
                border: 1px #d0d6d6 solid;
                margin: 0;
                text-align: left;
                padding: 2px 0;
                width: 100%;
                overflow: auto;
                max-height: 100px;
                word-break: break-all;
            }

        }

    }
}




#act_Now-Vote {

    text-align: left;
    max-width: 1200px;
    width: 100%;
    margin: 150px auto 0px auto;
    padding-top: 50px;
    position: relative;
   

    @include respond(latop-max) {
        height: 300px;
        max-width: 940px;
        margin: 0px auto;
    }

    @include respond(latop-min) {
        max-width: 750px;
    }

    @include respond(ipadpro) {
        max-width: 565px;

    }

    @include respond(ipad) {
        max-width: 400px;
        padding-top: 20px;

    }


    h2 {
        margin: 0 0 40px 50px;
        font-size: $rem2;

        @include respond(latop-max) {
            font-size: $rem1_5;
        }

        @include respond(latop-min) {
            font-size: $rem1_2;
        }

        @include respond(ipadpro) {
            margin: 0 0 40px 30px;

        }

        @include respond(ipad) {
            margin: 0 0 40px 30px;

        }

    }

    .act_Now-Vote-content {
      
        min-height: 400px;
        max-width: 1200px;
        padding: 50px;
        position: relative;
        left: 0px;
        margin: 0 auto;
        background-image:
            url(../img/activity/0.blackline.svg),
            url(../img/activity/text-wh.png);
        background-repeat: no-repeat;
        background-size: cover, 95% 95%;
        background-position-x: center;

        @include respond(latop-max) {
            height: 300px;
            max-width: 850px;

        }

        @include respond(latop-min) {
            max-width: 680px;
        }

        @include respond(ipadpro) {
            max-width: 600px;
        }

        @include respond(ipad) {
            padding: 50px 30px;
            max-width: 360px;
        }

        @include respond(phone) {
            max-width: 290px;
            padding: 50px 20px;
            min-height: 450px;
        }


        h3 {
            margin: 0;
            font-size: $rem1_5;
            font-weight: normal;

            @include respond(latop-max) {
                font-size: $rem1_2;
            }

            @include respond(latop-min) {
                font-size: $rem1;
            }
        }

        p {
            width: 90%;
            font-size: $rem1;
            margin: 0;

            @include respond(latop-max) {
                font-size: $rem0_8;
            }

            @include respond(ipadpro) {
                width: 100%;
            }
        }

        div {
            text-align: right;
            vertical-align: middle;
            position: relative;
            top: -50px;

            @include respond(ipadpro) {
                left: 25px;
                top: 0;

            }

            @include respond(ipad) {
                left: 0px;

            }

            h3 {
                display: inline-block;
                margin: 0;
                font-size: $rem1_5;
                font-weight: normal;

                @include respond(latop-max) {
                    font-size: $rem0_8;
                }
            }

            span {
                font-size: 2.5rem;
                font-weight: bold;
                color: #333;

                @include respond(latop-max) {
                    font-size: 2rem;
                }

                @include respond(latop-min) {
                    font-size: $rem1_5;
                }

                @include respond(ipadpro) {
                    font-size: $rem1_2;
                }

            }

        }

        img {
            position: absolute;
            right: -13%;
            bottom: -20%;
            z-index: -1;
            width: 50%;
            height: 125%;
           

            @include respond(latop-max) {
                width: 80%;
                right: 0%;
            }

            @include respond(latop-min) {
                right: 0%;
            }

            @include respond(ipadpro) {
                width: 80%;
                height: 100%;
            }

            @include respond(ipad) {
                width: 75%;
                height: 50%;
                bottom: -10%;
            }

            @include respond(phone) {
                width: 100%;
                height: 40%;
                bottom: -10%;
            }

        }


    }




    section {
      
        max-width: 1200px;
        width: 100%;
        padding: 0 0 100px 0px;
        margin: 150px auto 0 auto;
        text-align: center;

        @include respond(latop-max) {
            max-width: 940px;
            margin: 100px auto 0 auto;

        }

        @include respond(latop-min) {
            max-width: 750px;
        }

        @include respond(ipadpro) {
            margin: 75px auto 0px auto;

        }

        @include respond(ipad) {
            margin: 50px auto 0px auto;

        }

        @include respond(phone) {
            max-width: 320px;
        }


        div {

            text-align: center;
            width: 20%;
            margin: 0 20px;
            display: inline-block;
            font-size: 0;
            vertical-align: top;

            @include respond(latop-max) {
                width: 160px;
                margin: 0 15px;
            }

            @include respond(latop-min) {
                width: 150px;
                margin: 0 10px;
            }

            @include respond(ipadpro) {
                width: 110px;
                margin: 0 10px 30px 10px;

            }

            @include respond(ipad) {
                width: 150px;
                margin-right: 10px;
            }

            @include respond(phone) {
                width: 120px;
                margin-right: 15px;
                margin-bottom: 40px;
            }



            p {
                font-size: $rem0_6;
                text-align: left;
                margin: 0 auto 0 10px;
                display: inline-block;
                vertical-align: bottom;
                min-width: 60px;

                span {
                    font-size: $rem0_8;


                }


            }

            .act_songBox {
                margin: 0;
                padding: 0;
                font-size: 0;
                text-align: left;

                h4 {
                    width: 100%;
                    margin: 0;
                    font-size: $rem1_2;
                    font-weight: normal;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.1);
                        font-weight: bold;
                    }

                    @include respond(latop-max) {
                        font-size: $rem0_8;
                    }
                }

                p {
                    margin: 0;
                    padding: 0;
                    font-size: $rem1;

                    @include respond(latop-max) {
                        width: 100%;
                        font-size: $rem0_8;
                    }

                }

                .act_old-hear1 {
                    width: 25px;
                    height: 25px;
                    background: url("../img/activity/grayheart.png");
                    background-size: contain;

                    &:hover {
                        transform: scale(1.1);
                    }


                }

                .actShowHeart {
                    width: 25px;
                    height: 25px;
                    background: url("../img/activity/redheart.png");
                    background-size: contain;
                }

            }

            button {
                display: inline-block;
                @include butttonn02();
                margin: 0 0 10px -30px;

                @include respond(latop-max) {
                    margin: 0 auto;
                }

                &:hover {
                    transform: scale(1.1);
                }
            }

            .act_vote-button {
                background-color: gray;
            }

            div {
                width: 200px;
                height: 200px;
                margin: 0;
                position: relative;

                @include respond(latop-max) {
                    width: 150px;
                    height: 150px;
                }


                @include respond(latop-min) {
                    width: 140px;
                    height: 140px;
                }

                @include respond(ipadpro) {
                    width: 100px;
                    height: 100px;
                }

                @include respond(ipad) {
                    width: 130px;
                    height: 130px;
                }


                @include respond(phone) {
                    width: 120px;
                    height: 120px;
                }

                &:hover .act_old-play {
                    display: block;
                    cursor: pointer;
                    z-index: 2;

                }


                .act_old-play {
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    background-image: url(../img/library/coverPlay-b.png);
                    background-size: contain;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: none;
                    transform: translate(-50%, -50%);



                }

                .act_old-play-Pause {
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    background-image: url(../img/library/coverPause-b.png);
                    background-size: contain;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: none;
                    transform: translate(-50%, -50%);
                }

                img {
                    width: 100%;
                    height: 100%;

                }
            }


        }
    }

}