// @import './public.scss';
// @import './nav_bar.scss';
// @import './player.scss';

$green: #d0d6d6;
$yellow: #f1c40f;
$mainBg: #fafaf1;
$fontColor: #333;
$albumsize: 200px;
$albumbottom: 340px;

@mixin collectionalbum {
    background-size: 100%;
    width:$albumsize;
    height:$albumsize;
    position: relative;
    bottom:$albumbottom;
}

.collectionbody{
    background-image: url(../img/collection/collectionnavback.jpg);
    background-position:bottom;
    background-size: cover;
    background-repeat: no-repeat;
    header{
        text-align: center;
        padding:120px;
        width: 100%;
        img{
            max-width:500px;
            width: 100%;
        }
    }
    .playall_btn{
        text-align: right;
        margin: 0vw 20vw;
        
    }
    .circlebtn {
        width: 50px;
        height: 50px;
        vertical-align: middle;
        line-height: 50px;
        border-radius: 25px;
        font-size: 0.8rem;
        font-weight: bold;
        border: 1px solid $yellow;
        background-color: $yellow;
        color: white;
        outline: none;
        cursor: pointer;
        transition: transform .5s;
      
        &:hover {
          transform: scale(1.1);
        }
      }
    section{
        text-align: center;
        .collectionradio{
            img{
                width:100vw;
                max-width:1200px;
            }
            .eyes1{
                position: absolute;
                top: 40%;
                margin:0 auto;
                width:100vw;
                img{
                    margin:35px 60px 0px 10px;
                    max-width:130px;
                    width:100vw;
                    &:hover{
                        transform: scale(1.1);
                        cursor: pointer;
                    }
                }
            }
        }
        #collectiontabcontainer{
            .collectiontabtitle{
                li{
                    list-style: none;
                    vertical-align: middle;
                    display: inline-block;
                    font-size: 2rem;
                    border-radius: 5px;
                    background-color: $yellow;
                    margin: 20px;
                    &:hover{
                        transform: scale(1.1);
                        background-color: $mainBg;
                        border:2px solid $yellow;
                    }
                    a{
                        margin: 0px 50px 0px 50px;
                        color: #fff;
                        // img{
                        //     border: 1px solid green;
                        // }
                        &:hover{
                            color: $fontColor;
                        }

                    }
                }
            }
            
.albumshelf-row{
	display:none;
}

.albumshelf{
    display: flex;
    margin-top: 19vh;
    justify-content: center;
}

.albumshelf .shelf{
    width:65vw;
    margin-top:80px;
}
.sample{
    .like{ 
        font-size : 40px;   
        color : #ccc; 
        position: relative;
        left: 102%;
        top: 75%;
        width: 50px;
        cursor : pointer;
    }
    p{
        position: relative;
        font-size: 1.2rem;
        display: flex;
        top: 160px;
    }
    span{
        position: relative;
        font-size: 1rem;
        top: 160px;
    }
}
.albumshelf .shelf .row-1{
	position:relative;
	width:100%;
    height:400px;
}
.albumshelf .shelf .row-1:after {
	background:url("../img/collection/shelf.png");
	background-size:100%;
	background-repeat: no-repeat;
	background-position:bottom left;
	width:100%;
	height:$albumsize;
	display:block;
	content:"";
}

.redheartshape{
    color:#de267d;
}

.albumshelf .shelf .loc{
	position:absolute;
	bottom:0;
    width:100%;
    text-align: left;
    
    img{
        cursor: pointer;
        position: relative;
        top: 160px;
        left: 200px;
        width:100%;
        max-width:40px;
    }
}

.albumshelf .shelf .loc > div{
	width:25%;
    height:100%;
    background-size: contain;
	float:left;
}

.albumshelf .sample,
.albumshelf-row .sample{
    border: 1px solid #ffffff00;
	margin:auto;
	position: relative;
	z-index:1;
	box-shadow:2px 2px 5px rgba(0,0,0,0.6);
}
.albumshelf .album1,
.albumshelf-row .album1{
    background-image:url("../img/collection/album1.jpg");
    @include collectionalbum;
}

.albumshelf .album2,
.albumshelf-row .album2{
	background-image:url("../img/collection/album2.jpg");
    @include collectionalbum;
}

.albumshelf .album3,
.albumshelf-row .album3{
	background-image:url("../img/collection/album3.jpg");
    @include collectionalbum;
}

.albumshelf .album4,
.albumshelf-row .album4{
	background-image:url("../img/collection/album4.jpg");
    @include collectionalbum;

}
.albumshelf .album5,
.albumshelf-row .album5{
	background-image:url("../img/collection/album5.jpg");
    @include collectionalbum;
}

.albumshelf .album6,
.albumshelf-row .album6{
    background-image:url("../img/collection/album6.jpg");
    @include collectionalbum;
}
.albumshelf .album7,
.albumshelf-row .album7{
    background-image:url("../img/collection/album7.jpg");
    @include collectionalbum;
}
.albumshelf .album8,
.albumshelf-row .album8{
    background-image:url("../img/collection/album8.jpg");
    @include collectionalbum;
}
.albumshelf .album9,
.albumshelf-row .album9{
    background-image:url("../img/collection/album9.jpg");
    @include collectionalbum;
}
.albumshelf .album10,
.albumshelf-row .album10{
    background-image:url("../img/collection/album10.jpg");
    @include collectionalbum;
}
        }

    }
}
