@import './public.scss';
@import './nav_bar.scss';

body{
    header{
        padding:120px;
        border: 1px solid red;
        width: 100%;
        img{
            max-width:500px;
            width: 100%;
        }
    }
    section{
        border: 1px solid green;
        text-align: center;
        .radio{
            img{
                width:100vw;
                max-width:1200px;
            }
            .eyes1{
                position: absolute;
                top: 40%;
                margin:0 auto;
                border:1px solid red;
                width:100vw;
                img{
                    margin:35px 60px 0px 10px;
                    max-width:130px;
                    width:100vw;
                    &:hover{
                        transform: scale(1.1);
                        cursor: pointer;
                    }
                }
            }
        }
        #tabcontainer{
            border:1px solid purple;
            
            .tabtitle{
                li{
                    list-style: none;
                    vertical-align: middle;
                    display: inline-block;
                    font-size: 2rem;
                    a{
                        margin: 0px 50px 0px 50px;
                        img{
                            border: 1px solid green;
                        }
                    }
                }
            }
        }

    }
    
}
