@import './colmix.scss';

#donate_app {
  width: 100%;
  overflow: hidden;
  position: relative;

  .bg_down {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.donate_wrapper {
  margin-top: 0%;
  margin-bottom: 15%;
  position: relative;
  max-width: 1200px;
  width: 100%;

  p {
    font-size: $rem1;
  }

  h2 {
    font-size: $rem2;
  }

  h3 {
    font-size: $rem1_5;
  }

  h4 {
    font-size: $rem1_2;
  }

  h5 {
    font-size: $rem1;
  }

  .donate_meminfos {
    margin-bottom: 10%;
    font-size: 0;

    div[class*=col-] {
      // border: solid 1px #333;
      vertical-align: middle;
      text-align: center;
    }

    p {
      text-align: center;
      font-size: 1.6vw;
    }

    .pline {
      border-left: 0.2vw solid #333;
      border-right: 0.2vw solid #333;
    }

    .mem_img {
      text-align: center;

      img {
        width: 100%;
        border-radius: 100%;
      }

    }
  }

  .donate_history {
    text-align: center;
    margin-top: 0rem;
    font-size: 0;

    div[class*=col-] {
      // border: solid 1px #333;
      vertical-align: middle;
      text-align: center;
    }

    .title {
      margin: 2vw auto;
    }

    h2 {
      text-align: left;
    }

    h4 {
      padding: 0.5rem 0;
    }

    .tr {
      font-size: 0;
      border-top: 1px solid #ebebeb;
    }

    .td {
      font-size: $rem1;
      padding: 0.5rem 0;
    }

    .tr:nth-of-type(even) {
      background-color: #ebebeb;
    }

    .thead {
      background-color: $green;
      border-radius: 10px 10px 0 0;
    }

    .tbody {
      overflow-y: scroll;
      height: 25rem;
      background-color: #fafaf1;

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        margin: 0px 0px 0px 0px;
        background-color: #e4e4e4;
      }

      &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background: #8d8d8d;
      }
    }
  }
}

@include respond(latop-min) {

  // 996
  html {
    font-size: 17px;
  }

  .donate_wrapper {
    width: 100%;
  }
}

@include respond(ipadpro) {

  // 768 
  .store_wrapper {
    .store_meminfos {
      p {
        font-size: 2.5vw;
      }
    }
  }
}

@include respond(ipad) {

  // 576
  .donate_wrapper {
    margin-bottom: 30%;
  }
}

@include respond(phone) {
  html {
    font-size: 16px;
  }

  .donate_wrapper {
    width: 95%;
    h2{
      font-size: 1.5rem;
    }

    .donate_history {
      h4{
        font-size: 4.5vw;
      }
      .td{
        font-size: 0.9rem;
      }
    }
  }

}