#loader {
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: #333;
  transition: all 0.6s;
}

.line_container {
  position: relative;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  width: 40px;
  height: 40px;
}

#loader .line {
  width: 8px;
  position: absolute;
  border-radius: 5px;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#1ee95d), to(#5714ce));
  background: -webkit-linear-gradient(top, #1ee95d, #5714ce);
  background: -o-linear-gradient(top, #1ee95d, #5714ce);
  background: linear-gradient(to bottom, #1ee95d, #5714ce);
}

#loader .line1 {
  left: 0;
  -webkit-animation: line-grow 0.5s ease alternate infinite;
  animation: line-grow 0.5s ease alternate infinite;
}

#loader .line2 {
  left: 20px;
  -webkit-animation: line-grow 0.5s 0.2s ease alternate infinite;
  animation: line-grow 0.5s 0.2s ease alternate infinite;
}

#loader .line3 {
  left: 40px;
  -webkit-animation: line-grow 0.5s 0.4s ease alternate infinite;
  animation: line-grow 0.5s 0.4s ease alternate infinite;
}

@-webkit-keyframes line-grow {
  0% {
    height: 0;
  }

  100% {
    height: 40px;
  }
}

@keyframes line-grow {
  0% {
    height: 0;
  }

  100% {
    height: 40px;
  }
}
#pp-nav {
  .pp-tooltip {
    color: #539e90;
  }
  li {
    .active {
      span {
        background: #ffcb1e !important;
      }
    }
  }
}

.home_sec {
  background: #fafaf1;
  overflow: hidden;

  header {
    margin: 60px 0 0 0;
  }
}

.home_sec01 {
  .home_paint01 {
    position: absolute;
    bottom: 0px;
    left: 100px;
    width: 1286px;
    height: 800px;
    background: url(../img/home/sec01_p01.png) center center no-repeat;
    background-size: cover;
  }
  .home_paint02 {
    position: absolute;
    bottom: 0px;
    left: 400px;
    width: 1200px;
    height: 500px;
    background: url(../img/home/sec01_p02.png) center center no-repeat;
    background-size: cover;
  }
  .home_img_container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;

    .home_stylus {
      position: absolute;
      top: -30px;
      left: 480px;
      z-index: 2;
      width: 618px;
      height: 180px;
      background: url(../img/home/stylus.png) center center no-repeat;
      background-size: cover;
      transform: scaleX(-1);
      animation: stylus_rotate 0.9s infinite linear alternate;
    }
    .home_vinyl_records {
      position: absolute;
      z-index: 1;
      top: -100px;
      left: -250px;
      width: 1100px;
      height: 1100px;
      background: url(../img/home/vinyl_records.png) center center no-repeat;
      background-size: cover;
      animation: record_rotate 6s infinite linear;

      .home_cover_img {
        position: relative;
        top: calc((100% - 370px) / 2);
        left: calc((100% - 370px) / 2);
        width: 370px;
        height: 370px;
        border-radius: 50%;
        border: 1px solid #ffffff;
      }
    }

    @keyframes record_rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes stylus_rotate {
      0% {
        transform: scaleX(-1) rotate(15deg);
      }
      100% {
        transform: scaleX(-1) rotate(20deg);
      }
    }
  }

  .home_ctrl_container {
    position: absolute;
    z-index: 3;
    left: 610px;
    top: 260px;
    height: 400px;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    .home_top_arrow {
      width: 100px;
      height: 100px;
      background: url(../img/home/top_arrow.png) center center no-repeat;
      background-size: cover;
    }
    .home_bot_arrow {
      width: 100px;
      height: 100px;
      background: url(../img/home/bot_arrow.png) center center no-repeat;
      background-size: cover;
    }

    .home_songInfo_container {
      position: relative;
      width: 300px;
      height: 100px;
      padding: 10px;
      background: rgba(216, 209, 197, 0.3);

      .home_song_cover {
        float: left;
        width: 80px;
        height: 80px;
        .home_play {
          position: relative;
          top: calc((100% - 35px) / 2);
          left: calc((100% - 35px) / 2);
          width: 35px;
          height: 35px;
          display: inline-block;
          background-color: #f1c40f;
          border-radius: 20px;
          text-align: center;
          line-height: 35px;
          padding: 5px;
          border: 0;
          transition: transform 0.5s;
          i {
            display: block;
          }
          &:hover {
            transform: scale(1.1);
          }
        }
      }
      .contain {
        float: left;
        width: 200px;
        height: 80px;
        flex-direction: column;
        overflow: hidden;
        span {
          padding: 0 10px;
          height: 40px;
          white-space: nowrap;
          line-height: 40px;
          text-shadow: -1px 0 #fafaf1, 0 1px #fafaf1, 1px 0 #fafaf1, 0 -1px #fafaf1;
          &.home_song_name {
            font-size: 1.4rem;
            &::after {
              content: "";
              display: block;
              position: relative;
              width: 180px;
              border-top: 1px solid #666666;
            }
          }
          &.home_song_author {
            overflow: hidden;
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .home_wave_container {
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    canvas {
      position: absolute;
      top: 0px;
      right: 0px;
    }
    .home_line {
      position: absolute;
      z-index: 1;
      top: 449px;
      left: 0px;
      width: 1320px;
      height: 5px;
    }
  }
}
.home_sec02 {
  .home_paint01 {
    position: absolute;
    top: 90px;
    left: 1002px;
    width: 398px;
    height: 138px;
    background: url(../img/home/sec02_p01.png);
    background-size: cover;
  }
  .home_paint02 {
    position: absolute;
    bottom: 30px;
    left: 1088px;
    width: 552px;
    height: 421px;
    background: url(../img/home/sec02_p02.png);
    background-size: cover;
  }
  .home_mixer_bt {
    position: absolute;
    left: 1044px;
    width: 556px;
    height: 616px;
    background: url(../img/home/mixer.png);
    background-size: cover;
    .home_mixer_box {
      position: fixed;
      z-index: 10;
      display: none;
      max-width: 556px;
      max-height: 616px;
      min-width: 320px;
      min-height: 480px;
      background: #fafaf1;
      border: 1px solid #333333;
      border-radius: 10px;
      .home_mixer {
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: url(../img/home/mixer.png);
        background-size: cover;
      }
      .close {
        position: absolute;
        right: 5px;
        top: 5px;
        width: 40px;
        height: 40px;
        i {
          font-size: 40px;
        }
      }
    }
  }
  .home_remix {
    width: calc(628px * 0.5);
    height: calc(230px * 0.5);
    margin: 90px auto 0 auto;
    background: url(../img/home/remix.png) center center no-repeat;
    background-size: cover;
  }

  .home_container {
    position: relative;
    top: 0px;
    height: 100%;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 25px;

    h2 {
      position: relative;
      font-size: 1rem;
      letter-spacing: 1px;
      line-height: 33px;
      margin: 0px;
      padding: 0px;
      text-transform: uppercase;
      span {
        position: relative;
        display: block;
        font-size: 52px;
        letter-spacing: 0px;
        line-height: 60px;
        padding-top: 5px;
        text-transform: uppercase;
      }
    }
    .content {
      max-width: 640px;
      .text0 {
        position: relative;
        height: 100%;
        overflow: hidden;
        transition: all 0.3s;
        h4 {
          display: inline-block;
        }
        .home_more_bt {
          display: inline-block;
          width: calc(170px * 0.5);
          height: calc(110px * 0.5);
          background: url(../img/home/more_bt.png) center center no-repeat;
          background-size: cover;
          vertical-align: middle;
          a {
            display: block;
            width: 100%;
            height: 100%;
          }
        }
        .hidden {
          position: absolute;
          z-index: 1;
          width: 100%;
          height: 0px;
          background: #fafaf1;
          transition: all 0.3s;
        }
      }

      ul {
        display: inline-block;
        margin: 10px 0;
        width: 100%;
        li {
          position: relative;
          float: left;
          height: 42px;
          margin: 0 15px 0 0;
          overflow: hidden;
          text-align: left;
          text-decoration: none;
          background: #f5c90f80;
          border-radius: 5px;
          cursor: pointer;
          transition: all 0.25s ease-in-out 0s;
          .number {
            font-size: 42px;
            left: 0;
            line-height: 42px;
            opacity: 0.8;
            position: absolute;
            top: 0;
            pointer-events: none;
          }
          .toptext {
            font-size: 14px;
            left: 27px;
            line-height: 14px;
            opacity: 0.8;
            position: absolute;
            top: 0;
            pointer-events: none;
          }
          .bottomtext {
            float: left;
            font-size: 26px;
            line-height: 26px;
            margin: 15px 0 0 26px;
            position: relative;
            pointer-events: none;
          }
          .arrow {
            float: left;
            font-size: 14px;
            margin: 20px 0 0 0;
            opacity: 0.5;
            padding: 0 0 0 5px;
            position: relative;
            pointer-events: none;
          }
        }
      }
      .text {
        transition: height 0.3s;
        &.text1 {
          height: 100%;
          overflow: hidden;
        }
        &.text2 {
          height: 100%;
          overflow: hidden;
        }
        &.text3 {
          height: 100%;
          overflow: hidden;
        }
      }
    }
  }
  @media screen and (max-height: 640px) {
    .home_container {
      h2 {
        span {
          font-size: 30px;
          line-height: 30px;
          padding: 0;
        }
      }
    }
  }
  @media screen and (max-height: 576px) {
    .home_container {
      .content {
        ul {
          display: none;
        }
      }
    }
  }
  @media screen and (max-height: 480px) {
    .home_mixer_bt {
      .home_mixer_box {
        .home_mixer {
          top: -20px;
        }
      }
    }
  }
  @media screen and (max-width: 1280px) {
    .home_container {
      max-width: 50%;
      margin: 0 auto 0 0;
    }
  }
  @media screen and (max-width: 768px) {
    .home_paint01,
    .home_paint02 {
      display: none;
    }
    .home_container {
      max-width: 100%;
    }
    .home_mixer_bt {
      display: none;
    }
  }
  @media screen and (max-width: 576px) {
    .home_container {
      h2 {
        line-height: 24px;
      }
      .content {
        h3 {
          line-height: 24px;
        }
        p {
          font-size: 0.8rem;
          line-height: 18px;
        }
      }
    }
  }
  @media screen and (max-width: 375px) {
    .home_container {
      .content {
        p {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
        h4 {
          margin: 15px 0 0 0;
        }
      }
    }
  }
}
.home_sec03 {
  .home_pot {
    position: absolute;
    top: 40px;
    right: 0;
    width: 407px;
    height: 232px;
    background: url(../img/home/pot.png) center center no-repeat;
    background-size: cover;
    pointer-events: none;
  }
  @media screen and (max-width: 1200px) {
    .home_pot {
      filter: opacity(0.3);
    }
  }
  @media screen and (max-width: 576px) {
    .home_pot {
      display: none;
    }
  }

  .home_rank {
    width: calc(515px * 0.5);
    height: calc(230px * 0.5);
    margin: 90px auto 0 auto;
    background: url(../img/home/rank.png) center center no-repeat;
    background-size: cover;
    pointer-events: none;
  }

  .home_slider {
    position: absolute;
    z-index: -1;
    top: 0px;
    width: 100%;
    height: 100%;

    .rank_title {
      position: relative;
      z-index: 1;
      margin: 180px auto 0 auto;
      text-align: center;
      pointer-events: none;
    }
    @media screen and (max-width: 768px) {
      .rank_title {
        font-size: 0.8rem;
      }
    }
    @media screen and (max-width: 576px) {
      .rank_title {
        font-size: 0.6rem;
      }
    }
    .home_perspective {
      position: absolute;
      top: 100px;
      left: 3200px;
      width: 1280px;
      height: 640px;
      perspective: 700px;
      perspective-origin: 87% 50%;
      background: url(../img/home/sec03_p01.png) center center no-repeat;
      background-size: cover;
      border: 1px solid #edd8a6;
      border-radius: 20px;
      .home_song_container {
        position: absolute;
        top: 250px;
        left: 800px;
        transform-style: preserve-3d;

        .home_song {
          position: absolute;
          z-index: 10;
          width: 200px;
          height: 200px;
          backface-visibility: hidden;

          .home_cover_img {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            background-size: cover;
            .home_play {
              position: absolute;
              top: calc((100% - 35px) / 2);
              left: calc((100% - 35px) / 2);
              width: 35px;
              height: 35px;
              display: inline-block;
              background-color: #f1c40f;
              border-radius: 20px;
              text-align: center;
              line-height: 35px;
              padding: 5px;
              cursor: pointer;
              transition: transform 0.5s;
              i {
                display: block;
                pointer-events: none;
              }
            }
          }

          &.home_song1 {
            transform: rotateY(0deg) translateZ(360px);
          }
          &.home_song2 {
            transform: rotateY(36deg) translateZ(360px);
          }
          &.home_song3 {
            transform: rotateY(72deg) translateZ(360px);
          }
          &.home_song4 {
            transform: rotateY(108deg) translateZ(360px);
          }
          &.home_song5 {
            transform: rotateY(144deg) translateZ(360px);
          }
          &.home_song6 {
            transform: rotateY(180deg) translateZ(360px);
          }
          &.home_song7 {
            transform: rotateY(216deg) translateZ(360px);
          }
          &.home_song8 {
            transform: rotateY(252deg) translateZ(360px);
          }
          &.home_song9 {
            transform: rotateY(288deg) translateZ(360px);
          }
          &.home_song10 {
            transform: rotateY(324deg) translateZ(360px);
          }

          .home_shadow {
            width: 100%;
            height: 100%;
            transition: all 0.5s;
            pointer-events: none;
          }

          .home_song_info {
            position: absolute;
            top: 0;
            left: 0px;
            width: 100%;
            height: 100%;
            padding: 5px 10px;
            font-size: 0.6rem;
            background: #d8d1c5;
            transition: all 0.3s;
            overflow: hidden;
            flex-direction: column;

            .container {
              width: 100%;
              flex-direction: column;
              span {
                &.home_song_name {
                  overflow: hidden;
                  font-size: 1rem;
                  line-height: 1rem;
                  white-space: nowrap;
                }
                &.home_song_author {
                  overflow: hidden;
                  font-size: 0.8rem;
                  line-height: 0.8rem;
                  white-space: nowrap;
                  &::after {
                    content: "";
                    display: block;
                    position: relative;
                    width: 100%;
                    margin: 5px 0;
                    border-top: 1px solid #bbae7f;
                  }
                }
              }
            }
            .home_icon_container {
              .home_favorite {
                color: #de267d;
              }
              .home_donate {
                color: #f8b503;
                margin: 0 0 0 10px;
              }
            }
            .more {
              position: absolute;
              bottom: 0px;
              left: 0px;
              width: 100%;
              height: 40px;
              background: linear-gradient(transparent 30%, #d8d1c5 70%);
              cursor: pointer;
              a {
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: flex-end;
                i {
                  margin: 0 0 5px 0;
                }
              }
            }
          }
          .home_vinyl_records_s {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(../img/home/vinyl_records_s.png) center center no-repeat;
            background-size: cover;
            transition: transform 0.3s;
            transform: rotate(0deg);
          }
        }
      }
    }

    .home_arrow_container {
      width: 600px;
      margin: 440px auto 0 auto;

      .home_left_arrow {
        float: left;
        width: 100px;
        height: 100px;
        background: url(../img/home/top_arrow.png) center center no-repeat;
        background-size: cover;
        transform: rotate(-80deg);
        cursor: pointer;
      }
      .home_right_arrow {
        float: right;
        width: 100px;
        height: 100px;
        background: url(../img/home/top_arrow.png) center center no-repeat;
        background-size: cover;
        transform: rotate(100deg);
        cursor: pointer;
      }
    }
    @media screen and (max-width: 768px) {
      .home_arrow_container {
        .home_left_arrow {
          width: 80px;
          height: 80px;
        }
        .home_right_arrow {
          width: 80px;
          height: 80px;
        }
      }
    }

    @media screen and (max-width: 576px) {
      .home_perspective {
        .home_song_container {
          .home_song {
            .home_cover_img {
              .home_play {
                top: calc((100% - 25px) / 2);
                left: calc((100% - 25px) / 2);
                width: 25px;
                height: 25px;
              }
            }
            .home_song_info {
              padding: 0px 5px;
              .container {
                height: 100%;
                flex-shrink: 0;
                display: block;
                span {
                  display: block;
                  &.home_song_name {
                    font-size: 0.8rem;
                  }
                  &.home_song_author {
                    font-size: 0.6rem;
                  }
                }
              }
              .more {
                top: 0px;
                right: 0px;
                bottom: initial;
                left: initial;
                width: 20px;
                height: 100%;
                background: linear-gradient(90deg, transparent 30%, #d8d1c5 70%);
                a {
                  justify-content: center;
                  align-items: center;
                }
                i {
                  margin: 0 5px 0 0;
                }
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: 480px) {
      .home_perspective {
        .home_song_container {
          .home_song {
            .home_song_info {
              padding: 0px 5px;
              .container {
                span {
                  &.home_song_name {
                    font-size: 0.8rem;
                  }
                  &.home_song_author {
                    font-size: 0.6rem;
                  }
                }
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: 375px) {
      .home_perspective {
        .home_song_container {
          .home_song {
            .home_song_info {
              .container {
                span {
                  &.home_song_name {
                    font-size: 0.7rem;
                  }
                  &.home_song_author {
                    font-size: 0.6rem;
                  }
                }
              }
            }
          }
        }
      }
      .home_arrow_container {
        width: 250px;
        .home_left_arrow {
          width: 60px;
          height: 60px;
        }
        .home_right_arrow {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}

.home_sec04 {
  .home_paint01 {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 526px;
    height: 1022px;
    background: url(../img/home/sec04_p01.png);
  }
  .home_paint02 {
    position: absolute;
    z-index: -1;
    bottom: -60px;
    left: 0;
    width: 1168px;
    height: 382px;
    background: url(../img/home/sec04_p02.png);
  }
  .home_activity {
    width: calc(750px * 0.5);
    height: calc(258px * 0.5);
    margin: 90px auto 0 auto;
    background: url(../img/home/activity.png) center center no-repeat;
    background-size: cover;
  }
  .home_DJ {
    position: absolute;
    bottom: 70px;
    left: 0;
    width: 613px;
    height: 522px;
    background: url(../img/home/DJ.png) center center no-repeat;
    .lightning1,
    .lightning2,
    .lightning3 {
      position: absolute;
    }
    .lightning1 {
      top: 70px;
      left: 408px;
      color: #0f9fed;
      transform: rotate(-36deg) scaleX(-1);
      animation: lightning1 3.69s infinite linear;
    }
    .lightning2 {
      top: 50px;
      left: 488px;
      color: #ffcb1e;
      transform: rotate(12deg);
      animation: lightning2 3.33s infinite linear;
    }
    .lightning3 {
      top: 72px;
      left: 502px;
      color: #9036ef;
      transform: rotate(36deg);
      animation: lightning3 3.96s infinite linear;
    }

    @keyframes lightning1 {
      0% {
        color: transparent;
      }
      2.7% {
        color: #0f9fed;
      }
      5.4% {
        color: transparent;
      }
      9% {
        color: #0f9fed;
      }
      13% {
        color: transparent;
      }
      18% {
        color: #0f9fed;
      }
      24% {
        color: transparent;
      }
      30% {
        color: #0f9fed;
      }
      48% {
        color: #0f9fed;
      }
      54% {
        color: transparent;
      }
      60% {
        color: #0f9fed;
      }
    }
    @keyframes lightning2 {
      0% {
        color: transparent;
      }
      2.1% {
        color: #ffcb1e;
      }
      4.2% {
        color: transparent;
      }
      6.9% {
        color: #ffcb1e;
      }
      11% {
        color: transparent;
      }
      14% {
        color: #ffcb1e;
      }
      19% {
        color: transparent;
      }
      25% {
        color: #ffcb1e;
      }
      47% {
        color: #ffcb1e;
      }
      51% {
        color: transparent;
      }
      55% {
        color: #ffcb1e;
      }
    }
    @keyframes lightning3 {
      0% {
        color: transparent;
      }
      2.1% {
        color: #9036ef;
      }
      4.8% {
        color: transparent;
      }
      6.9% {
        color: #9036ef;
      }
      9.7% {
        color: transparent;
      }
      11.8% {
        color: #9036ef;
      }
      14.6% {
        color: transparent;
      }
      16.7% {
        color: #9036ef;
      }
      21% {
        color: transparent;
      }
      26% {
        color: #9036ef;
      }
      50% {
        color: #9036ef;
      }
      54% {
        color: transparent;
      }
      58% {
        color: #9036ef;
      }
    }
    .home_DJ_g {
      width: 100%;
      height: 100%;
      background: url(../img/home/DJ_g.png) center center no-repeat;
      filter: opacity(0);
      transition: all 0.3s;
    }
    &:hover .home_DJ_g {
      filter: opacity(1);
    }
  }
  .home_activity_info {
    position: absolute;
    top: 160px;
    right: 780px;
    width: 400px;
    height: 650px;

    .home_activity_img {
      position: absolute;
      top: 0px;
      left: 420px;
      width: 400px;
      height: 520px;
      background: url(../img/activity/2019-rock-poster.png);
      background-size: contain;
    }
    h2 {
      padding: 20px 0;
      font-size: 2rem;
      line-height: 1;
    }
    h3 {
      font-size: 1.6rem;
    }
    h4 {
      display: inline-block;
      margin: 60px 0 0 0;
    }
    .enter_bt {
      display: inline-block;
      width: calc(180px * 0.5);
      height: calc(120px * 0.5);
      vertical-align: middle;
      background: url(../img/home/enter_bt.png) center center no-repeat;
      background-size: cover;
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  @media screen and (max-width: 870px) {
    .home_activity_info {
      width: 350px;
      .home_activity_img {
        left: 370px;
        width: 350px;
        height: calc(520px / (400 / 350));
      }
      h2 {
        font-size: 1.6rem;
        padding: 10px 0;
      }
      h3 {
        font-size: 1.2rem;
      }
      h4 {
        margin: 30px 0 0 0;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .home_paint01,
    .home_paint02 {
      filter: opacity(0.5);
    }
    .home_activity_info {
      position: initial;
      width: 100%;
      padding: 0 25px;
      .home_activity_img {
        width: 263px;
        height: 340px;
        margin: 0 10px 0 0;
        position: initial;
        float: left;
      }
      h2 {
        font-size: 1.4rem;
      }
    }
  }
  @media screen and (max-height: 768px) {
    .home_activity_info {
      top: 140px;
      .home_activity_img {
        width: 320px;
        height: 420px;
      }
      h2 {
        font-size: 1.4rem;
        padding: 10px 0;
      }
      h3 {
        font-size: 1.2rem;
      }
      h4 {
        font-size: 1.2rem;
        margin: 30px 0 0 0;
      }
    }
  }

  @media screen and (max-height: 640px) {
    .home_activity_info {
      .home_activity_img {
        width: 260px;
        height: 340px;
      }
      h2 {
        padding: 0;
      }
    }
  }
  @media screen and (max-height: 576px) {
    .home_activity_info {
      top: 120px;
      .home_activity_img {
        width: 200px;
        height: 260px;
      }
      h2 {
        line-height: 30px;
      }
      h3,
      h4 {
        line-height: 24px;
      }
      p {
        line-height: 18px;
      }
      h4 {
        margin: 0px;
      }
    }
  }

  @media screen and (max-width: 576px) {
    .home_activity_info {
      .home_activity_img {
        width: 135px;
        height: 180px;
        margin: 0 10px 0 0;
        position: initial;
        float: left;
      }
      p {
        font-size: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
    }
  }
}
.home_sec05 {
  .home_paint01 {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/home/sec05_p01.png) center center no-repeat;
  }
  .home_collection {
    width: calc(1043px * 0.5);
    height: calc(250px * 0.5);
    margin: 90px auto 0 auto;
    background: url(../img/home/collection.png) center center no-repeat;
    background-size: cover;
  }
  .home_sloth_top {
    position: absolute;
    z-index: 1;
    top: -510px;
    right: 0px;
    width: calc(490px * 0.9);
    height: calc(696px * 0.9);
    background: url(../img/home/sloth_top.png) center center no-repeat;
    background-size: cover;
    transition: all 0.8s cubic-bezier(0, 1.95, 0.8, 1.95);
  }
  .home_girl {
    position: absolute;
    left: 160px;
    top: 320px;
    width: 564px;
    height: 564px;
    background: url(../img/home/girl.png) center center no-repeat;
    background-size: cover;
    transition: all 0.3s;
  }
  .holder {
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
    .text_container {
      float: left;
      width: 560px;
      padding: 20px;
      p {
        font-size: 1.2rem;
      }
    }
    .home_sort_container {
      float: left;
      width: 720px;
      height: 480px;

      .home_sort {
        position: relative;
        a {
          width: 100%;
          height: 100%;
          color: #ffffff;
          justify-content: center;
          align-items: center;
          font-size: 2.4rem;
          text-shadow: 0px 0px 5px black, 0px 0px 10px black;
          white-space: nowrap;
        }
      }
      .home_sort01 {
        float: left;
        margin: 20px;
        width: 200px;
        height: 200px;
        background: url(../img/song_cover/a01.jpg) center center;
        background-size: 100% 100%;
        transition: background-size 0.3s;
        .selector {
          position: absolute;
          top: -25px;
          left: -25px;
          width: 250px;
          height: 250px;
          pointer-events: none;

          .st0 {
            stroke-dasharray: 582;
            stroke-dashoffset: 582;
          }
        }
        &:hover {
          background-size: 120% 120%;
        }
        &:hover .st0 {
          animation: stroke 0.5s forwards;
        }
        @keyframes stroke {
          0% {
            stroke-dashoffset: 582;
          }
          100% {
            stroke-dashoffset: 0;
          }
        }
      }
      .home_sort02 {
        float: left;
        margin: 20px;
        width: 200px;
        height: 200px;
        background: url(../img/song_cover/a02.jpg) center center no-repeat;
        background-size: 100% 100%;
        transition: background-size 0.3s;
        .selector {
          position: absolute;
          top: -25px;
          left: -25px;
          width: 250px;
          height: 250px;
          pointer-events: none;

          .st0 {
            stroke-dasharray: 582;
            stroke-dashoffset: 582;
          }
        }
        &:hover {
          background-size: 120% 120%;
        }

        &:hover .st0 {
          animation: stroke 0.5s forwards;
        }
        @keyframes stroke {
          0% {
            stroke-dashoffset: 582;
          }
          100% {
            stroke-dashoffset: 0;
          }
        }
      }
      .home_sort03 {
        float: left;
        margin: 20px;
        width: 200px;
        height: 200px;
        background: url(../img/song_cover/a03.jpg) center center no-repeat;
        background-size: 100% 100%;
        transition: background-size 0.3s;
        .selector {
          position: absolute;
          top: -25px;
          left: -25px;
          width: 250px;
          height: 250px;
          pointer-events: none;

          .st0 {
            stroke-dasharray: 582;
            stroke-dashoffset: 582;
          }
        }
        &:hover {
          background-size: 120% 120%;
        }

        &:hover .st0 {
          animation: stroke 0.5s forwards;
        }
        @keyframes stroke {
          0% {
            stroke-dashoffset: 582;
          }
          100% {
            stroke-dashoffset: 0;
          }
        }
      }
      .home_sort04 {
        float: left;
        margin: 20px;
        width: 200px;
        height: 200px;
        background: url(../img/song_cover/a04.jpg) center center no-repeat;
        background-size: 100% 100%;
        transition: background-size 0.3s;
        .selector {
          position: absolute;
          top: -25px;
          left: -25px;
          width: 250px;
          height: 250px;
          pointer-events: none;

          .st0 {
            stroke-dasharray: 582;
            stroke-dashoffset: 582;
          }
        }
        &:hover {
          background-size: 120% 120%;
        }

        &:hover .st0 {
          animation: stroke 0.5s forwards;
        }
        @keyframes stroke {
          0% {
            stroke-dashoffset: 582;
          }
          100% {
            stroke-dashoffset: 0;
          }
        }
      }
      .home_sort05 {
        float: left;
        margin: 20px;
        width: 200px;
        height: 200px;
        background: url(../img/song_cover/a05.jpg) center center no-repeat;
        background-size: 100% 100%;
        transition: background-size 0.3s;
        .selector {
          position: absolute;
          top: -25px;
          left: -25px;
          width: 250px;
          height: 250px;
          pointer-events: none;

          .st0 {
            stroke-dasharray: 582;
            stroke-dashoffset: 582;
          }
        }
        &:hover {
          background-size: 120% 120%;
        }

        &:hover .st0 {
          animation: stroke 0.5s forwards;
        }
        @keyframes stroke {
          0% {
            stroke-dashoffset: 582;
          }
          100% {
            stroke-dashoffset: 0;
          }
        }
      }
      .home_sort06 {
        float: left;
        margin: 20px;
        width: 200px;
        height: 200px;
        background: url(../img/song_cover/a06.jpg) center center no-repeat;
        background-size: 100% 100%;
        transition: background-size 0.3s;
        .selector {
          position: absolute;
          top: -25px;
          left: -25px;
          width: 250px;
          height: 250px;
          pointer-events: none;

          .st0 {
            stroke-dasharray: 582;
            stroke-dashoffset: 582;
          }
        }
        &:hover {
          background-size: 120% 120%;
        }

        &:hover .st0 {
          animation: stroke 0.5s forwards;
        }
        @keyframes stroke {
          0% {
            stroke-dashoffset: 582;
          }
          100% {
            stroke-dashoffset: 0;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1280px) {
    .home_girl {
      width: calc(564px * 0.8);
      height: calc(564px * 0.8);
    }
    .holder {
      .text_container {
        width: 450px;
      }
      .home_sort_container {
        width: 540px;
        height: 360px;
        .home_sort {
          width: 160px;
          height: 160px;
          margin: 10px;
          .selector {
            width: 200px;
            height: 200px;
            svg {
              width: 200px;
              height: 200px;
            }
          }
          a {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
  @media screen and (max-width: 992px) {
    .home_girl {
      width: calc(564px * 0.7);
      height: calc(564px * 0.7);
    }
    .holder {
      .text_container {
        display: block;
        width: 100%;
        padding: 25px;
        p {
          font-size: 1rem;
        }
      }
      .home_sort_container {
        display: block;
        width: 480px;
        height: 320px;
        .home_sort {
          width: 140px;
          height: 140px;
          .selector {
            width: 180px;
            height: 180px;
            svg {
              width: 180px;
              height: 180px;
            }
          }
          a {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .holder {
      .text_container {
        display: block;
        width: 100%;
        p {
          font-size: 0.8rem;
        }
      }
      .home_sort_container {
        display: block;
        width: 100%;
        height: 280px;
        padding: 0 40px 0 15px;
        .home_sort {
          width: 120px;
          height: 120px;
          .selector {
            width: 160px;
            height: 160px;
            svg {
              width: 160px;
              height: 160px;
            }
          }
          a {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  @media screen and (max-width: 576px) {
    .holder {
      .text_container {
        padding: 10px 25px;
      }
      .home_sort_container {
        height: 360px;
        .home_sort {
          width: 100px;
          height: 100px;
          .selector {
            top: -10px;
            left: -10px;
            width: 120px;
            height: 120px;
            svg {
              width: 120px;
              height: 120px;
            }
          }
          a {
            font-size: 1rem;
          }
        }
      }
    }
  }
  @media screen and (max-height: 640px) {
    .holder {
      .text_container {
        padding: 0px 25px;
      }
      .home_sort_container {
        .home_sort {
          height: 80px;
          .selector {
            top: -10px;
            height: 100px;
            svg {
              height: 100px;
            }
          }
          a {
            font-size: 1rem;
          }
        }
      }
    }
  }
  @media screen and (max-height: 576px) {
    .holder {
      .home_sort_container {
        .home_sort {
          height: 60px;
          .selector {
            top: -10px;
            height: 80px;
            svg {
              height: 80px;
            }
          }
          a {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
.home_sec06 {
  .home_about {
    width: calc(624px * 0.5);
    height: calc(228px * 0.5);
    margin: 90px auto 0 auto;
    background: url(../img/home/about.png) center center no-repeat;
    background-size: cover;
  }
  .home_audioMan {
    position: absolute;
    top: 160px;
    left: 320px;
    width: 1153px;
    height: 751px;
    background: url(../img/home/audio_man.png) center center no-repeat;
    background-size: cover;
    .gear01 {
      position: absolute;
      top: 157px;
      left: 299px;
      width: 66px;
      height: 63px;
      background: url(../img/home/audiotape_item01.png) center center no-repeat;
      background-size: cover;
      animation: gear_rotate01 3s infinite linear;
    }
    .gear02 {
      position: absolute;
      top: 184px;
      left: 146px;
      width: 66px;
      height: 63px;
      background: url(../img/home/audiotape_item02.png) center center no-repeat;
      background-size: cover;
      animation: gear_rotate02 3s infinite linear;
    }
    @keyframes gear_rotate01 {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    @keyframes gear_rotate02 {
      0% {
        transform: rotate(360deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  }
  .home_about_text {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 25px;
    h2 {
      padding: 20px 0;
    }
    .home_logo {
      display: inline-block;
      width: 300px;
      height: 165px;
      background: url(../img/public/logo_s.svg);
      background-size: cover;
    }
    p {
      width: 400px;
    }
  }
  @media screen and (max-width: 450px) {
    .home_about_text {
      p {
        width: initial;
      }
    }
  }
  @media screen and (max-height: 768px) {
    .home_about_text {
      h3 {
        font-size: 1.2rem;
        line-height: 28px;
      }
      h2 {
        font-size: 1.4rem;
        line-height: 32px;
        padding: 10px 0;
      }
      p {
        font-size: 1rem;
        line-height: 24px;
      }
      .home_logo {
        width: calc(300px * 0.8);
        height: calc(165px * 0.8);
      }
      p {
        width: initial;
      }
    }
  }
  @media screen and (max-height: 640px) {
    .home_about_text {
      h3 {
        font-size: 1rem;
        line-height: 24px;
      }
      h2 {
        display: none;
      }
      p {
        font-size: 0.8rem;
        line-height: 18px;
      }
      .home_logo {
        width: calc(300px * 0.8);
        height: calc(165px * 0.8);
      }
      p {
        width: initial;
      }
    }
  }
}
