@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');
@import "./public";

.songinfo_infoplay .music-player-container {
  height: 370px;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto 0;
  padding: 10px;

  @include respond(ipadpro) {
    display: flex;
    flex-wrap: wrap;
  }
}

.songinfo_infoplay .music-player {
  height: 250px;
  text-align: right;
  width: 50%;
  float: left;

  @include respond(ipadpro) {
    width: 100%;
    order: 2;
  }
}

.songinfo_infoplay .player-content-container {
  padding-top: 15%;
  width: 100%;

  @include respond(ipadpro) {
    padding-top: 0;
  }
}

.songinfo_infoplay .artist-name {
  font-size: 1rem;
  // @include infoname();
  font-weight: normal;
  // margin: 0 0 0.75em 0;
  margin: 0 0 20px 0;
  text-align: left;
  padding-left: 30%;

  @include respond(latop-max) {
    padding-left: 20%;
  }

  @include respond(latop-min) {
    padding-left: 10%;
  }

  @include respond(ipadpro) {
    padding-left: 0;
    text-align: center;
  }
}

.songinfo_infoplay .song-title {
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: left;
  padding-left: 30%;

  @include respond(latop-max) {
    padding-left: 20%;
  }

  @include respond(latop-min) {
    padding-left: 10%;
  }

  @include respond(ipadpro) {
    padding-left: 0;
    margin-top: 20px;
    text-align: center;
  }
}

.songinfo_infoplay .album {
  height: 400px;
  position: relative;
  width: 400px;
  z-index: 10;
  float: left;

  @include respond(latop-max) {
    width: 350px;
    height: 350px;
  }

  @include respond(latop-min) {
    width: 300px;
    height: 300px;
  }

  @include respond(ipadpro) {
    margin: 0 auto;
    order: 1;
  }

  @include respond(phone) {
    width: 250px;
    height: 250px;
  }
}

.songinfo_infoplay .album-art {
  background: #fff url("../img/songinfo/cover1.jpg") (center / cover) no-repeat;
  height: 400px;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 400px;
  z-index: 10;

  @include respond(latop-max) {
    width: 350px;
    height: 350px;
  }

  @include respond(latop-min) {
    width: 300px;
    height: 300px;
  }

  @include respond(phone) {
    width: 250px;
    height: 250px;
  }
}

.songinfo_infoplay .vinyl {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  transition: all 500ms;
  background-image: url("../img/songinfo/player_record.png") !important;
  background-position: center, center;
  background-size: cover, 40% auto;
  background-repeat: no-repeat;
  border-radius: 100%;
  height: 400px;
  left: 0;
  position: absolute;
  top: 0;
  // bottom: 0px;
  width: 400px;
  z-index: 5;
  will-change: transform, left;

  @include respond(latop-max) {
    width: 350px;
    height: 350px;
  }

  @include respond(latop-min) {
    width: 300px;
    height: 300px;
  }

  @include respond(phone) {
    width: 250px;
    height: 250px;
  }
}

.songinfo_infoplay .is-playing .vinyl {
  left: 52%;
}

.songinfo_infoplay .music-player-controls {
  text-align: left;
  padding-left: 30%;
  width: 100%;
  display: flex;

  @include respond(latop-max) {
    padding-left: 20%;
  }

  @include respond(latop-min) {
    padding-left: 10%;
  }

  @include respond(ipadpro) {
    padding-left: 0;
    max-width: 300px;
    margin: 20px auto 0;
  }
}

[class^="control-"] {
  border-radius: 100%;
  height: 44px;
  width: 44px;
}

.songinfo_infoplay .control-play {
  width: 35px;
  height: 35px;
  display: inline-block;
  background-color: #f1c40f;
  border-radius: 20px;
  text-align: center;
  line-height: 35px;
  padding: 5px;
  border: 0;
  transition: transform 0.5s;
  i {
    display: block;
  }
  &:hover {
    transform: scale(1.1);
  }
}


.songinfo_infoplay .infodona {
  @include butttonn02();
  display: inline-block;
  margin: 0 20px;

  @include respond(ipadpro) {
    margin: 0 10px;
  }
}

[class^="heart-"] {
  // -webkit-filter: brightness(95%);
  // filter: brightness(95%);
  border-radius: 5px;
  display: inline-block;
  height: 25px;
  width: 25px;
}

.songinfo_infoplay .heart-like {
  background: transparent url("../img/songinfo/grayheart.png") (center / cover) no-repeat;
  width: 100%;
  max-width: 25px;
  background-size: cover;
}

.songinfo_infoplay .is-click .heart-like {
  background: transparent url("../img/songinfo/redheart.png") (center / cover) no-repeat;
}

// .songinfo_infoplay .control-forwards {
//   background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/83141/forwards.svg") (center / cover) no-repeat;
// }

// .songinfo_infoplay .control-back {
//   background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/83141/backwards.svg") (center / cover) no-repeat;
// }

.song_tllike {
  font-size: 0.7rem;
  margin: 0 20px;

  @include respond(ipadpro) {
    margin: 0 10px;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
