@import './public.scss';

html {
  @include respond(latop-min) {
    font-size: 16px;
  }

  @include respond(ipadpro) {
    font-size: 16px;
  }

  @include respond(ipad) {
    font-size: 16px;
  }
  @include respond(phone) {
    font-size: 16px;
  }
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: $mainBg;
  background-image: url('../img/library/library_bg.jpg');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1rem;
  color: $fontColor;
  
}

header {
  text-align: center;

  img {
    @include respond(phone) {
      width: 100%;
    }
  }
}

a {
  display: block;
  color: $fontColor;
  text-decoration: none;
  transition: transform .5s;

  &:hover {
    transform: scale(1.1);
  }
}

main.library_main {
  width: 100%;

  img {
    width: 100%;
  }

  aside {
    // border: 1px solid gold;
    float: left;
    width: 25%;
    position: relative;
    z-index: 3;

    .my_list {
      background-color: #d0d6d6;
      padding: 8%;
      text-align: center;

      div {
        &:nth-child(2) {
          padding: 20px 0;
          color: #b3b3b3;
          position: relative;

          &::before {
            content: '';
            width: 30%;
            height: 2px;
            top: 50%;
            left: 0;
            position: absolute;
            background-color: #cacaca;
          }

          &::after {
            content: '';
            width: 30%;
            height: 2px;
            top: 50%;
            right: 0;
            position: absolute;
            background-color: #cacaca;
          }
        }
      }

      .lists {
        text-align: left;

        li {
          padding: 10px 0;
          border-bottom: 1px solid #b3b3b3;
          position: relative;

          .delete{
            color: $fontColor;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: transform .5s;
            cursor: pointer;

            &:hover{
              transform: scale(1.1) translateY(-50%);
            }
          }
        }

        @include respond(latop-min) {
          display: none;
        }

        @include respond(ipadpro) {
          display: none;
        }

        @include respond(ipad) {
          display: none;
        }

        @include respond(phone) {
          display: none;
        }
      }

      select {
        width: 100%;
        background-color: #d0d6d6;
        font-size: 1rem;
        padding: 16px 8px;

        option {
          padding: 16px 0;
        }

        @include respond(latop-min) {
          display: block;
        }

        @include respond(ipadpro) {
          display: block;
        }

        @include respond(ipad) {
          display: block;
        }

        @include respond(phone) {
          display: block;
        }
      }

    }

    .list_pic {
      margin-top: 20px;
      text-align: center;

      img {
        width: 100%;
        max-width: 250px;
        vertical-align: bottom;
      }
    }

    @include respond(ipadpro) {
      width: 90%;
      margin: 0 auto;
      float: none;
    }

    @include respond(ipad) {
      width: 90%;
      margin: 0 auto;
      float: none;
    }

    @include respond(phone) {
      width: 90%;
      margin: 0 auto;
      float: none;
    }

  }

  .right {
    // border: 1px solid gold;
    float: left;
    width: 70%;
    padding: 5%;
    margin-left: 5%;
    min-height: 400px;
    background-image: url('../img/library/blackline2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/library/list_hand.png");
      background-repeat: no-repeat;
      background-position: bottom center;
      width: 350px;
      max-width: 350px;
      height: 520px;
      background-size: contain;
      bottom: 0px;
      left: -350px;

      @include respond(ipadpro){
        display: none;
      }
      @include respond(ipad){
        display: none;
      }
      @include respond(phone){
        display: none;
      }
    }

    .listInfo {
      .listCover {
        width: 200px;
        height: 200px;
        float: left;
        position: relative;

        @include respond(phone) {
          float: none;
        }

        button {
          position: absolute;
          bottom: 10px;
          left: 50%;
          transform: translateX(-50%);
        }

        @include respond(phone) {
          margin: 5% auto;
        }
      }

      .nameAndBtn {
        width: calc(100% - 200px);
        height: 200px;
        padding: 5%;
        float: left;

        .listName {
          .name {
            h2 {
              display: inline-block;
              vertical-align: middle;
            }

            button {
              margin-left: 10px;
            }
          }
          @include respond(phone) {
            width:100%;
          }
        }

        .playall_btn {
          text-align: right;
          // border: 1px black solid;
        }
        @include respond(phone) {
          width:100%;
        }
      }
    }

    ul.songs {
      padding-top: 20px;

      li {
        // border: 1px skyblue solid;
        padding: 10px 0;
        border-bottom: 1px solid #cacaca;
        &:last-child{
          border: none;
        }

        .songPlay {
          float: left;

          .songCover {
            width: 60px;
            height: 60px;
            position: relative;

            .listPlay {
              width: 30px;
              height: 30px;
              line-height: 30px;
              text-align: center;
              background-color: rgba(255, 255, 255, 0.5);
              border-radius: 15px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              transition: transform .5s;
              cursor: pointer;

              i {
                color: white;
                font-size: 0.8rem;
              }

              &:hover {
                transform: scale(1.1) translate(-50%, -50%);
              }
            }
          }
        }

        .songInfo {
          float: left;
          margin: 0 3%;
          width: 60%;

          .name {
            padding: 2% 0;

            h4 {
              display: inline-block;
            }

            p {
              display: inline-block;
              margin-left: 5%;
            }
          }
        }


        .totalTime {
          float: left;
          padding: 2% 0;
          width: 10%;
          @include respond(phone){
            display: none;
          }
        }

        .heart {
          float: left;
          text-align: right;
          padding: 2% 0;
          width: 5%;
        }

        .more {
          float: left;
          text-align: right;
          padding: 2% 0;
          width: 5%;
        }
      }
    }

    @include respond(ipadpro) {
      width: 90%;
      margin: 5%;
      padding: 10% 5%;
    }
    @include respond(ipad) {
      width: 90%;
      margin: 5%;
      padding: 10% 5%;
    }
    @include respond(phone) {
      width: 90%;
      margin: 5%;
      padding: 10% 5%;
    }
  }
}


.circlebtn {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  font-size: 0.8rem;
  font-weight: bold;
  border: 1px solid $yellow;
  background-color: $yellow;
  color: white;
  outline: none;
  cursor: pointer;
  transition: transform .5s;

  &:hover {
    transform: scale(1.1);
  }
}

.normalbtn {
  @include butttonn02;
  display: inline-block;
  margin-top: 20px;
  transition: transform .5s;

  &:hover {
    transform: scale(1.1);
  }

  @include respond(latop-min) {
    width: 100%;
  }

  @include respond(phone) {
    width: 100%;
  }
}

.editBtn {
  @include buttonno03;
}


.clearfix {
  clear: both;
}