@import "public";
.my_header {
  @media screen and (max-width: 375px) {
    img {
      width: 100%;
    }
  }
}
.profile_content {
  position: relative;
  background: url(../img/member/border.png) top center no-repeat;
  background-size: 1280px 640px;
  border-top: 1px solid transparent;
  .profile_container {
    max-width: 1280px;
    min-height: 640px;
    margin: 120px auto 0 auto;
    justify-content: center;
    overflow: hidden;
    .profile_leftbox {
      flex: 0 1 25%;
      padding: 30px;
      .profile_mem_img {
        position: relative;
        width: 300px;
        height: 300px;

        .edit {
          position: absolute;
          bottom: 15px;
          left: calc(50% - 40px);
          display: inline-block;
          width: 80px;
          padding: 5px 8px;
          font-size: 0.7rem;
          text-align: center;
          background-color: #ffffff;
          color: #333;
          border: 1.5px solid $yellow;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
    .profile_rightbox {
      flex: 0 1 40%;
      margin: 0 0 0 60px;
      overflow: hidden;

      .edit_box {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 0px;
        transition: all 0.3s;
        overflow: hidden;

        .th {
          padding: 10px 10px 5px 10px;
          line-height: 20px;
          margin: 30px 15px 0px 15px;
        }
        .td {
          padding: 5px 10px 10px 10px;
          line-height: 20px;
          margin: 0px 15px 15px 15px;
          label {
            margin: 0 0 0 5px;
            color: #c4c4c4;
          }
        }
        .psw_th {
          padding: 10px 10px 5px 10px;
          line-height: 20px;
          margin: 0px 15px;
        }
        .warn {
          padding: 0px 10px;
          margin: -15px 15px 0 15px;
          font-size: 0.8rem;
          color: red;
        }

        input[type="text"],
        input[type="password"] {
          width: 275px;
          font-size: 1rem;
          background: $green;
          border-radius: 5px;
        }

        .cancel {
          @include butttonn02;
          position: absolute;
          top: 270px;
          left: 44px;
          width: 123px;
          background: #e6e6e6;
          border: 1px solid #e6e6e6;
          transition: all 0.3s;
        }
        .confirm {
          @include butttonn02;
          position: absolute;
          top: 270px;
          left: 177px;
          width: 123px;
          transition: all 0.3s;
        }
      }
      .row2,
      .row3 {
        transition: all 0.3s;
        &:hover {
          background: rgba(200, 200, 200, 0.3);
        }
      }

      .row {
        width: 100%;
        max-height: 120px;
        transition: all 0.3s;

        .th,
        .td,
        .td_i {
          padding: 15px;
          line-height: 20px;
          margin: 15px;
          align-items: center;
        }
        .th {
          flex: 0 0 130px;
        }
        .td {
          width: 250px;
          word-wrap: break-word;
          transition: all 0.3s;
          overflow: hidden;
        }
        .td_i {
          cursor: pointer;

          &:hover i {
            transform: scale(1.1);
          }
          i {
            transition: all 0.1s;
          }
        }
        .to_small {
          animation: to_small 0.3s;
        }
        @keyframes to_small {
          0% {
            width: 250px;
          }
          100% {
            width: 0px;
          }
        }
        .to_big {
          animation: to_big 0.3s;
        }
        @keyframes to_big {
          0% {
            width: 0px;
          }
          100% {
            width: 250px;
          }
        }
      }
    }
  }
}

.profile_lightbox {
  position: fixed;
  z-index: 99;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #414141e6;
  transition: all 0.3s;
  .photo_edit_box {
    position: relative;
    top: calc(50% - 260px);
    left: calc(50% - 240px);
    width: 480px;
    height: 520px;
    background: #fafaf1;
    border-radius: 10px;
    .photo_preview {
      display: block;
      position: relative;
      top: 30px;
      left: calc(50% - 150px);
      width: 300px;
      height: 300px;
      background: #e6e6e6;
      border: 1px solid #d5d5d5;
      background-size: cover;
      cursor: pointer;
      input[type="file"] {
        display: none;
      }
      .plus1 {
        position: absolute;
        top: calc(50% - 80px);
        left: calc(50% - 8px);
        display: block;
        width: 16px;
        height: 160px;
        background: #a1a1a1;
      }
      .plus2 {
        position: absolute;
        top: calc(50% - 8px);
        left: calc(50% - 80px);
        display: block;
        width: 160px;
        height: 16px;
        background: #a1a1a1;
      }
    }
    p {
      margin: 40px 0 0 0;
      text-align: center;
    }
    .confirm {
      @include butttonn02;
      position: absolute;
      top: 440px;
      left: calc(100% - ((100% - 246px - 20px) / 2) - 123px);
      width: 123px;
      transition: transform 0.3s;
    }
    .cancel {
      @include butttonn02;
      position: absolute;
      top: 440px;
      left: calc((100% - 246px - 20px) / 2);
      width: 123px;
      background: #e6e6e6;
      border: 1px solid #e6e6e6;
      transition: transform 0.3s;
    }
  }
}
@media screen and (max-width: 480px) {
  .profile_lightbox {
    .photo_edit_box {
      width: 100%;
      left: 0px;
    }
  }
}
.box_cover {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  .remind_box {
    position: relative;
    left: calc(50% - 160px);
    top: calc(40% - 120px);
    width: 320px;
    height: 240px;
    background: #fafaf1;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    p {
      padding: 40px;
    }
    .OK {
      @include butttonn02;
      position: absolute;
      top: 180px;
      left: calc((100% - 123px) / 2);
      width: 123px;
      transition: transform 0.3s;
    }
  }
}
@media screen and (max-width: 1280px) {
  .profile_content {
    background-size: 100% 640px;
  }
}

@media screen and (max-width: 992px) {
  .profile_content {
    .profile_container {
      .profile_leftbox {
        padding: 15px;
        .profile_mem_img {
          width: 200px;
          height: 200px;
        }
      }
      .profile_rightbox {
        margin: 0 0 0 30px;
        .edit_box {
          .th {
            margin: 0px 15px;
          }
          .td {
            margin: 0px 15px;
          }
          .psw_th {
            margin: 0px 15px;
          }
          .cancel {
            top: 200px;
          }
          .confirm {
            top: 200px;
          }
        }
        .row {
          .th,
          .td,
          .td_i {
            margin: 0px;
            font-size: 16px;
          }
          .th {
            flex: 0 0 100px;
          }
          .td {
            width: 200px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .profile_content {
    .profile_container {
      display: block;
      margin: 60px auto 0 auto;
      .profile_leftbox {
        width: 210px;
        margin: 0 auto;
        .profile_mem_img {
          width: 180px;
          height: 180px;
        }
      }
      .profile_rightbox {
        width: 100%;
        padding: 0 30px 0 10px;
        margin: 0;

        .edit_box {
          left: calc((100% - 330px) / 2);
        }
        .row {
          display: block;
          overflow: hidden;
          padding: 0 15px;
          .th,
          .td {
            float: left;
            margin: 0px;
            font-size: 16px;
            padding: 15px 0;
          }
          .td_i {
            float: right;
          }
          .th {
            width: 80px;
          }
          .td {
            width: 60%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .profile_content {
    .profile_container {
      margin: 30px auto 0 auto;
      .profile_leftbox {
        width: 180px;
        margin: 0 auto;
        .profile_mem_img {
          width: 150px;
          height: 150px;
        }
      }

      .profile_rightbox {
        .row {
          .th,
          .td,
          .td_i {
            padding: 10px;
          }
          .th {
            float: initial;
          }
          .td {
            margin: 0 0 10px 0;
          }
          .td_i {
            float: right;
          }
        }
        .row2,
        .row3,
        .row4 {
          &::before {
            content: "";
            display: block;
            width: 98%;
            border: 1px solid #e6e6e6;
          }
        }
      }
    }
  }
  .profile_lightbox {
    .photo_edit_box {
      top: calc(50% - 210px);
      left: calc(50% - 160px);
      width: 320px;
      height: 400px;
      .photo_preview {
        left: calc(50% - 100px);
        width: 200px;
        height: 200px;
        .plus1 {
          top: calc(50% - 60px);
          left: calc(50% - 7px);
          width: 14px;
          height: 120px;
        }
        .plus2 {
          top: calc(50% - 7px);
          left: calc(50% - 60px);
          width: 120px;
          height: 14px;
        }
      }
      .cancel,
      .confirm {
        top: 330px;
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .profile_content {
    .profile_container {
      .profile_rightbox {
        .edit_box {
          input[type="text"],
          input[type="password"] {
            width: 260px;
          }
          .cancel {
            left: 25px;
          }
          .confirm {
            left: 162px;
          }
        }
      }
    }
  }
}
