$green: #d0d6d6;
$yellow: #f1c40f;
$mainBg: #fafaf1;
$fontColor: #333;

* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

// 手機版改成 375以下
// html {
//     font-size: 16px;
// }

body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: $mainBg;
  color: $fontColor;
}

.flexbox {
  display: flex;
}

a {
  text-decoration: none;
  color: $fontColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1 {
  /*60px*/
  font-size: 3rem;
}

h2 {
  /* 40px*/
  font-size: 2rem;
  /*副標的h2 font-weight:bold*/
}

h3 {
  /*30px*/
  font-size: 1.5rem;
}

h4 {
  /*24px*/
  font-size: 1.2rem;
}

p {
  /*內文 20px*/
  font-size: 1rem;

  &.bigSmall {
    /*大小 16px*/
    font-size: 0.8rem;
  }

  &.doubleSmall {
    /*小小 14px*/
    font-size: 0.7rem;
  }

  &.forget {
    /*旺季 12px*/
    font-size: 0.6rem;
  }
}

header {
  height: 300px;
  text-align: center;
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
}

/*燈箱寬*/
.lightbox_s {
  width: 500px;
}

/*新手教學用*/
.lightbox_b {
  width: 1000px;
}

/*燈箱的遮罩顏色*/
.lightCover {
  background-color: #414141e6;
}

/*button mixin*/
@mixin butttonn02 {
  background-color: $yellow;
  font-size: 0.8rem;
  padding: 10px 30px;
  border: 1px solid $yellow;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

@mixin buttonno03 {
  font-size: 0.7rem;
  display: inline-block;
  padding: 5px 8px;
  background-color: #f1c40f6b;
  border: 1.5px solid $yellow;
  cursor: pointer;
}

// RWD新增斷點
$phone: 376px;
$ipad: 576px;
$ipadpro: 768px;
$latop-min: 992px;
$latop-max: 1200px;

//mixin
@mixin respond($breakpoint) {
  @if $breakpoint== "phone" {
    @media all and (max-width: $phone) {
      @content;
    }
  } @else if $breakpoint== "ipad" {
    @media all and (max-width: $ipad) and (min-width: $phone + 1) {
      @content;
    }
  } @else if $breakpoint== "ipadpro" {
    @media all and (max-width: $ipadpro) and (min-width: $ipad + 1) {
      @content;
    }
  } @else if $breakpoint== "latop-min" {
    @media all and (max-width: $latop-min) and (min-width:$ipadpro + 1) {
      @content;
    }
  }@else if $breakpoint== "latop-max" {
    @media all and (max-width: $latop-max) and (min-width: $latop-min + 1) {
      @content;
    }
  } @else if $breakpoint== "desktop" {
    @media all and (min-width: $latop-max) {
      @content;
    }
  }
}
