@import './public.scss';

// $button-no2-color: #f1c40f;
// $button-no2-fontsize:0.8rem;
// $button-no2-padding:10px 30px;
$green-color:#d0d6d6;
$labelfontsize:1.2rem;
$forgetfontsize:0.6rem;
$buttonhover:scale(1.1);

@mixin butttonn02{
    background-color:#f1c40f;
    font-size:0.8rem;
    padding:10px 30px;
    border:1px solid #f1c40f;
    border-radius: 5px;
    color:#fff;
    font-weight: bold;
}

body{
    // background-image: url(/img/register/login.jpg);
    margin:0;
    padding:0;
    width:100%;
    background-color:#fafaf1;
    nav{
        height: 100px;
        border: 1px solid pink;
    }
    .registercontainer{
        margin:0 auto;
        border: 1px solid green;
        position: relative;
        top: 100px;
        .registerbox{
            background-color: $green-color;
            width: 55%;
            height: 550px;
            margin: 0 auto;
            position: relative;
            top:100px;
            transition: all 0.5s ease-in-out;
            z-index: 2;
            .registerform{
                background-color:#fff;
                border:1px solid #aaa;
                width:40%;
                height:700px;
                position: relative;
                bottom: 15%;
                left: 10%;
                h2{
                    text-align: center;
                    padding-top:50px;
                }
                form{
                    border:1px solid #aaa;
                    margin: 0 auto;
                    height: 500px;
                    padding:70px;
                    button{
                        @include butttonn02;
                        margin-top: 150px;
                        display: block;
                        margin: 180px auto;
                        transition: $buttonhover;
                    }
                    label{
                        font-size:$labelfontsize;
                    }
                    .inputemail{
                        margin-bottom: 20px;
                    }
                    input{
                        background-color:$green-color;
                        border: 1px solid #d0d6d6;
                        padding: 8px;
                        width: 100%;
                    }
                    a{
                        font-size: $forgetfontsize;
                        display: inline;
                        position: relative;
                        left: 17px;
                    }
                }

            }
            .signupform{
                border: 1px solid gray;
            }
            .rightbox,.leftbox{
                border: 1px solid red;
                display: inline-block;
                text-align: center;
                button{
                    @include butttonn02;
                }
            }
        
        }
    }
}