@import 'public';

$lightblue: #D1F1FA;
$gray: #d0d6d6;
$buttonyellow: #efc318;

// 自製斷點
@mixin grid($grid_number) {
  @for $i from 1 through $grid_number {
    .col-#{$i} {
      width: ($i / $grid_number) * 100%;
      display: inline-block;
      // padding: 5px 0;
      box-sizing: border-box;
    }
  }
}

@mixin sm-grid($grid_number) {
  @for $i from 1 through $grid_number {
    .col-sm-#{$i} {
      width: ($i / $grid_number) * 100%;
      display: inline-block;
      // padding: 5px 0;
      box-sizing: border-box;
    }
  }
}

@mixin md-grid($grid_number) {
  @for $i from 1 through $grid_number {
    .col-md-#{$i} {
      width: ($i / $grid_number) * 100%;
      display: inline-block;
      // padding: 5px 0;
      box-sizing: border-box;
    }
  }
}

@mixin lg-grid($grid_number) {
  @for $i from 1 through $grid_number {
    .col-lg-#{$i} {
      width: ($i / $grid_number) * 100%;
      display: inline-block;
      // padding: 5px 0;
      box-sizing: border-box;
    }
  }
}

@mixin xl-grid($grid_number) {
  @for $i from 1 through $grid_number {
    .col-xl-#{$i} {
      width: ($i / $grid_number) * 100%;
      display: inline-block;
      // padding: 5px 0;
      box-sizing: border-box;
    }
  }
}

@include xl-grid(12);

#remix_app{
  position: relative;
  padding-bottom: 10%;
  overflow: hidden;
  .remix_bg_color{
    position: absolute;
    z-index: -100;
    bottom: 0;
    left: 0; 
  }
}
.remix_h4 {
  font-weight: normal;
  font-size: $rem1_2;
  margin: 0;
}
.remix_h2 {
  font-weight: 900;
  font-size: $rem2;
  margin: 0;
}
.remix_h6 {
  font-weight: 900;
  font-size: $rem0_8;
  margin: 0;
}

.remix_intro{
  font-size: $rem1;
}
.remix_wrapper {
  overflow-x: hidden;
  // padding-top: 8%;
  font-size: 0;
  .remix_head {
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .remix_demo {
      margin: 0 auto;
      padding: 8%;
      position: relative;
      box-sizing: border-box;
      // overflow: hidden;
      // height: 0;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        // transform-origin: 0 100%;
        background: url(../img/remix/Demo.svg) no-repeat;
        background-size: contain;
        z-index: -10;
      }

      // border: solid 1px #333;
      .remix_choose_song {
        background-color: $gray;
        margin: 3% auto;
        padding: 5%;
        border-radius: 5px;

        h4 {
          z-index: 10;
          cursor: pointer;

          &:hover {
            font-weight: bold;
          }
        }

      }
    }

    .remix_svg_move {
      margin: 0 auto;
      position: relative;

      // border: solid 1px #333;
      .remix_rock_move{
        transform-origin: right bottom;
        transform: rotate(90deg);
      }
      img {
        width: 100%;
      }

      .remix_color {
        position: absolute;
        width: 100%;
        padding-top: 75%;
        left: 0%;
        top:  0%;
        z-index: -11;
        background: url('../img/remix/rock_color.png') no-repeat;
        background-size: cover;
        background-position: 50% 75%;

      }
    }

  }

  .remix_range {
    position: relative;
    margin: 0% auto;
    margin: 4% 0% 1%;
    .remix_npm{
      position: absolute;
      left: 5.5%;
      font-size: $rem1;
    }

    .remix_rangebutton {
      width: 95%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      // align-items: center;
      input[type='range'] {
        margin: 3%;
        width: 75%;
        text-align: center;
        border-radius: 10px;
        -webkit-appearance: none;
        background: linear-gradient(to right, #fff 0%, #fff 44%,#333  44%, #333);
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          height: 20px;
          width: 20px;
          background: #fff;
          border-radius: 50%;
          margin-top: -5px;
          border: solid 0.2px #333;
          /*设置边框*/
          box-shadow: 0 .125em .125em #3b4547;
          /*添加底部阴影*/

        }
        &::-webkit-slider-runnable-track {
          // 自定义滑动控件的轨道
          height: 8px;
          border-radius: 10px;
          /*将轨道设为圆角的*/
          box-shadow: 0 1px 1px #333, inset 0 .1em .1em #333;
          /*轨道内置阴影效果*/
          
        }

        &:focus {
          outline: none;
        }
      }
      .remix_button{
        flex-grow: 1;
        .remix_btn{
          width: calc(100% / 3);
          border: none;
          // border: solid 1px #333;
          background-color: transparent;
          outline: transparent;
          cursor: pointer;
          position: relative;
          padding-top: 33%;
          &:hover{
            animation: pulse 1s;
          }
          img{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 75%;
            z-index: 10;
            max-width: 67px;
          }
          span{
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            border-radius: 100%;
            width: 50%;
            height: 50%;
            background-color: #E5A84F;
            z-index: 0;
            pointer-events: none

          }
          a{
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute;
            display: inline-block;
            // position: relative;
          }
        }
      }
    }
  }
  .remix_table{
    width: 100%;
    max-width: 100%;
    position: relative;
    h3{
      font-size: $rem1_5;
      margin: 0.5rem 0;
    }
    .remix_drumh3{
      margin-top: 5%;
    }
    .remix_play{
      margin: 0 auto;
      width: 100%;
      max-width: 100%;
      background-color: #70706e;
      border: solid 5px #70706e;
      border-radius: 10px;
      border-spacing: 0;
      border-collapse: separate;
      // overflow-x: scroll;
      &.poa{
        width: 100%;
        left: 0%;
        // transform: translateX(-50%);
        position: absolute;
      }
      &.fa{
        font-family: "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        display: inline-table;
        line-height: unset;
      }
      th:first-child{
        border-radius: 10px 0 0 0;
      }
      th:last-child{
        border-radius: 0 10px 0 0;
      }
      th,td{
        background-color: #d1d2d4;
        border-left: solid 1px #333;
        border-top: solid 1px #333;
        width: 20px;
        cursor: pointer;
        .remix_h6{
          font-weight: normal;
          font-size: 1rem;
          line-height: 1.8rem;
          margin: 0;
          margin-block-start: 0rem;
          margin-block-end: 0rem;
        }
      }

      td.active{
        background-color: $buttonyellow;
      }
      th.active{
        background-color: #444;
        color: #fff;
      }
      .note_name{
        max-width: 7px;
        text-align: center;
        width: 70px;
      }
    }
  }
}




@include respond(desktop) {
  // 1200 up
  @include xl-grid(12)
}

@include respond(latop-max) {
  // 996-1200
  @include lg-grid(12);

  .remix_wrapper{
    .remix_range {
      p{
      }
      .remix_rangebutton {
        input[type='range'] {
          &::-webkit-slider-thumb {
          }
          &::-webkit-slider-runnable-track {
          }
  
          &:focus {
          }
        }
        .remix_button{
          .remix_btn{
            &:hover{
            }
            img{
            }
            span{
            }
            a{
            }
          }
        }
      }
    }
  }
}

@include respond(latop-min) {
  // 996-768
  @include md-grid(12);

  html {
    font-size: 17px;
  }

  .remix_wrapper {
    .remix_title {}

    .remix_head {
      flex-direction: column;
      margin-bottom: 10%;
      .remix_demo {
        padding: 12% 12% 12%;
        &::before {
          transform: translate(-50%, -50%) rotate(90deg);
          width: 80%;
        }

        .remix_choose_song {
          margin: 5% auto;

          h4:hover {}
        }
      }

      .remix_svg_move {
        img {}

        .remix_color {}
      }
    }
    .remix_range {
      .remix_npm{
        top: 0%;
      }
      .remix_rangebutton {
        input[type='range'] {
          margin: 6% 3% 3%;
          width: 65%;
          &::-webkit-slider-thumb {
          }
          &::-webkit-slider-runnable-track {
          }
  
          &:focus {
          }
        }
        .remix_button{
          .remix_btn{
            &:hover{
            }
            img{
              width: 100%;
            }
            span{
            }
            a{
            }
          }
        }
      }
    }
  }
}

@include respond(ipadpro) {
  // 768-576
  @include sm-grid(12);

  .remix_wrapper {
    .remix_head {
      flex-direction: column;
      margin-bottom: 10%;
      .remix_demo {
        padding: 24% 18%;

        &::before {
          width: 80vw;
          height: 80vw;
          transform: translate(-50%, -50%) rotate(90deg);
        }

        .remix_choose_song {
          h4:hover {}
        }
      }

      .remix_svg_move {
        img {}

        .remix_color {}
      }
    }
    .remix_range {
      .remix_npm{
        top: 40%;
      }
      .remix_rangebutton {
        flex-direction: column;
        position: relative;

        input[type='range'] {
          order: 2;
          margin: 3%;
          width: 95%;
          &::-webkit-slider-thumb {
          }
          &::-webkit-slider-runnable-track {
          }
  
          &:focus {
          }
        }
        .remix_button{
          position: relative;
          order: 1;
          max-width: 250px;
          margin-left: 65%;
          transform: translateY(10px);
          .remix_btn{
            // max-width: 67px;
            &:hover{
            }
            img{
              width: 95%;
            }
            span{
            }
            a{
            }
          }
        }
      }
    }
  }
}

@include respond(ipad) {
  // 576-375
  .remix_wrapper {
    .remix_head {
      flex-direction: column;
      margin-bottom: 20%;
      .remix_demo {
        padding: 20% 19% 26%;
        &::before {
          width: 100vw;
          height: 100vw;
          transform: translate(-50%, -50%) rotate(90deg);
        }

        h2 {
          font-size: 1.6rem;
        }

        p {
          font-size: 0.9rem;
        }

        .remix_choose_song {
          margin: 3% auto;

          h4:hover {}
        }
      }

      .remix_svg_move {
        img {}

        .remix_color {}
      }
    }
    .remix_range {
      .remix_npm{
        top: 25%;
      }
      .remix_rangebutton {
        flex-direction: column;
        position: relative;

        input[type='range'] {
          order: 2;
          margin: 3%;
          width: 95%;
          &::-webkit-slider-thumb {
          }
          &::-webkit-slider-runnable-track {
          }
  
          &:focus {
          }
        }
        .remix_button{
          position: relative;
          order: 1;
          max-width: 250px;
          margin-left: 55%;
          transform: translateY(0px);

          .remix_btn{
            // max-width: 67px;
            &:hover{
            }
            img{
              width: 95%;
            }
            span{
            }
            a{
            }
          }
        }
      }
    }
  }
}

@include respond(phone) {
  // 375-0
  @include grid(12);

  html {
    font-size: 16px;
  }
  #remix_app{
    margin-bottom: 3rem;
  }
  .remix_wrapper {
    .remix_head {
      flex-direction: column;
      width: 100%;
      margin-bottom: 20%;

      .remix_demo {
        padding: 18% 13% 18% 16%;

        &::before {
          width: 100vw;
          height: 100vw;
          transform: translate(-50%, -50%) rotate(90deg);
        }

        h2{
          margin: 0;
          font-size: 1.6rem;
        }

        .remix_intro{
          font-size: 0.9rem;
          margin: 0;
        }

        .remix_choose_song {
          margin: 4% auto 4%;

          h4:hover {}
        }
      }

      .remix_svg_move {
        img {}

        .remix_color {}
      }
    }
    .remix_range {
      .remix_npm{
        top: 15%;
      }
      .remix_rangebutton {
        flex-direction: column;
        position: relative;

        input[type='range'] {
          order: 2;
          margin: 3%;
          width: 95%;
          &::-webkit-slider-thumb {
          }
          &::-webkit-slider-runnable-track {
          }
  
          &:focus {
          }
        }
        .remix_button{
          position: relative;
          order: 1;
          max-width: 250px;
          margin-left: 55%;
          transform: translateY(0px);
          .remix_btn{
            // max-width: 67px;
            &:hover{
            }
            img{
              width: 95%;
            }
            span{
            }
            a{
            }
          }
        }
      }
    }

  }
}