@import './public';

$bg: rgba(44, 15, 15, 1);

.songinfo_back {
    background-image: url(../img/songinfo/songinfo_back.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .songinfo_infos2 {
        max-height: 550px;
        overflow: hidden;

        @include respond(ipad) {
            max-height: 500px;
        }

        .songinfo_infoplay {
            width: 100%;
            max-width: 1200px;
            min-height: 350px;
            margin: 0 auto;
            box-sizing: border-box;
        }

        #audioFile {
            display: none;
        }

        .songinfo_wave {
            position: relative;
            margin-top: -400px;
            width: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            margin-bottom: 200px;

            .infoinfocontainer {
                width: 100%;
                min-height: 400px;
                z-index: -1;

                #infoinfocanvas {
                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 50%;
                    width: 100%;
                    height: 80%;
                }
            }

            iframe {
                display: none;
            }
        }
    }



    /*單曲資訊*/
    .songinfo_infos3 {
        margin-top: 130px;
        width: 100%;
        margin: 0 auto;

        p {
            width: 130px;
            padding-top: 20px;
            font-size: $rem2;
            font-weight: bold;
        }


        .songinfo_titl {
            max-width: 1200px;
            width: 100%;
            margin: 0 auto;

            .info_square {
                background-color: #d0d6d6;
                box-sizing: border-box;
                width: 90%;
                min-height: 400px;
                margin: 0 auto;
                padding-bottom: 50px;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    width: 430px;
                    height: 700px;
                    right: 0;
                    top: -145px;
                    background-image: url(../img/songinfo/ear2.png);
                    background-repeat: no-repeat;

                    @include respond(ipadpro) {
                        background-image: none;
                        width: 0;
                        height: 0;
                        overflow: hidden;
                    }
                }

                p {
                    margin-left: -50px;
                    text-align: left;

                    @include respond(latop-max) {
                        margin-left: 0px;
                        padding-left: 50px;
                    }
                }

                .square_info_info {
                    width: 70%;
                    margin-left: 50px;

                    @include respond(latop-min) {
                        width: 60%;
                    }

                    @include respond(ipadpro) {
                        width: 100%;
                        margin-left: 0px;
                        padding: 0 50px;
                    }
                }
            }
        }
    }

    /*留言區*/
    .songinfo_infos4 {
        margin-top: 120px;

        @include respond(ipadpro) {
            margin-top: 30px;
        }

        h3 {
            margin-left: 0px;
            font-weight: bold;
            font-size: $rem2;

            @include respond(latop-max) {
                margin-left: 10%;
            }
        }

        .message {
            max-width: 1200px;
            width: 90%;
            margin: 0 auto;

            @include respond(latop-max) {
                width: 100%;
            }

            .mess {
                width: 90%;
                margin: 0 auto;

                li {
                    background-color: #d0d6d6;
                    margin-bottom: 20px;
                    padding: 10px;
                    display: flex;
                    align-content: center;

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 25px;
                    }

                    p {
                        width: 90%;
                    }

                    .songinfo_re {
                        @include buttonno04();
                        max-height: 32px;
                    }

                    .clearfix {
                        width: 0;
                        height: 0;
                        display: none;
                    }
                }
            }

            .mess_write {
                background-color: #d0d6d6;
                width: 90%;
                margin: 0 auto;
                padding: 30px 50px;

                textarea {
                    width: 100%;
                }

                div.infose-send {
                    width: 100%;
                    display: block;
                    height: 40px;
                    text-align: right;

                    button.infose-send {
                        @include butttonn02();
                    }
                }
            }
        }
    }

    input[type="radio"] {
        -webkit-appearance: none;
        vertical-align: middle;
        margin-top: 0;
        background: #fff;
        border: #d0d6d6 solid 1px;
        border-radius: 3px;
        min-height: 20px;
        min-width: 20px;
    }

    input[type="radio"]:checked {
        background: #7ED5E5;
    }

    input[type=radio]:checked::after {
        content: '';
        top: 3px;
        left: 3px;
        position: absolute;
        background: transparent;
        border: #fff solid 2px;
        border-top: none;
        border-right: none;
        height: 6px;
        width: 10px;
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

[class^="re-"] {
    border-radius: 5px;
    display: inline-block;
    height: 30px;
    width: 70px;
}

// [class^="infose-"] {
//     border-radius: 5px;
//     display: inline-block;
//     height: 30px;
//     width: 70px;
// }

#infocanvas {
    z-index: -1;
}

.jumping-things-wrap {
    width: 800px;
    min-height: 120px;
    max-height: 120px;
    text-align: center;
    left: 27px;
    position: relative;

    span {
        width: 20px;
        margin: 0;
        padding: 0;
        background: #d0d6d6;
        transition: all 0.2s;
        display: inline-block;
        position: absolute;
        bottom: 0;
    }

    @for $i from 1 through 72 {
        span:nth-child(#{$i}) {
            left: 25px * $i;
        }
    }
}

.songinfo_ear {
    display: none;

    img {
        width: 0;
        height: 0;
        overflow: hidden;
    }
}

.infocreat_re {
    @include buttonno04();
    position: relative;
    left: 730px;
}

.infore {
    width: 400px;
    height: 260px;
    background-color: white;
    border-radius: 10px;

    .reportbtn {
        @include butttonn02;
    }
}


.songinfofoot {
    height: 100px;
}

// .songinfo_all{
//     overflow: hidden;
// }
// .infoallall{
//     overflow: hidden;
// }

// }

@media screen and (max-width:930px) {
    .songinfo_back {
        background-position: center;
    }
}