<<<<<<< HEAD
=======
// @import "./player.scss";
// @import "./public.scss";
>>>>>>> new_style

@import "./public.scss";


//songadd
// .bnr img {
//     border: 1px solid rgb(24, 27, 199);
//     position: relative;
//     top: 55px;
// }

.songsadded_adds2 {
    // border: 1px solid black;
    box-sizing: border-box;
    // width: 100vw;
    // height: 700px;
}

.songsadded_leftli {
    // border: 1px solid greenyellow;
    width: 1200px;
    height: 600px !important;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0px;
}

.songsadded_lif {
    border: 1px solid #b2c0c0;
    width: 1200px;
    padding: 30px 0px;
    background-color: #d0d6d6;
}

.songsadded_inside,
.songsadded_inside2 {
    border: 1px solid rgba(128, 128, 128, 0.5);
    width: 1200px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

.songsadded_inside div{
    // border: 1px solid orange;
    width: 500px;
    height: 320px;
    position: relative;
    right: -100px;
    top: 0px;
    padding: 30px 0px;
    display: inline-block;
}

.songsadded_inside article{
    // border: 1px solid firebrick;
    width: 500px;
    height: 300px;
    position: relative;
    left: 120px;
    top: 20px;
    float: left;
}

.songsadded_inside article #theFile{
    position: relative;
    top: 140px;
    left: 65px;
}

.songsadded_ff{
    // border: 1px solid mediumaquamarine;
    position: relative;
    top: 150px;
    left: 130px;
}

.songsadded_inside section{
    // border: 1px solid yellow;
    text-align: center;
    margin-left: -70px;
}

#sd {
    z-index: 10;
}



.uploadmic img {
    // border: 1px solid red;
    position: absolute;
    right: 50px;
    bottom: 70px;
    width: 200px;
    height: 420px;
}

.songsadded_inside2 {
    padding: 40px 0px;
}

.songsadded_inside2 li {
    border: 1px solid gray;
    padding: 15px;
    width: 800px;
    margin: 0 auto;
}

// .inside2 input {
//     // border: 1px solid chocolate;
//     position: relative;
//     left: 500px;
//     top: -15px;
//     border: 0;
//     background-color: #003C9D;
//     color: #fff;
//     border-radius: 10px;
// }
.songsadded_inside2 input {
    // border: 1px solid chocolate;
    position: relative;
    left: 60px;
    top: 140px;
}
// #ff2{
//     position: relative;
//     left: 125px;
//     top: 170px;
// }

// .inside2 button a {
//     background-color: #fff;
//     color: #333;
//     display: block;
//     text-decoration: none;
// }

// .inside2 ul{
//     // border: 1px solid coral;
//     width: 80px;
//     position: relative;
//     left: 1060px;
//     top: -60px;
//     text-align: center;
// }
// .inside2 ul li{
//     border: 1px solid purple;
//     width: 80px;
// }
// .inside2 ul{
//     display: none;
// }
// .inside2 input:hover > ul{
//     display: block;
// }

.songsadded_inside2 ol{
    // border: 1px solid mediumaquamarine;
    height: 350px;
    padding: 20px 0px;
    margin-left: 200px;
}
.songsadded_inside2 article{
   float: left;
}
.songsadded_inside2 div{
    position: relative;
    left: 100px;
    float: left;
}
// .inside2 div .ins2box{
//     position: relative;
//     top: 50px;
// }

// @media screen and(max-width: 1200px){
//     section.adds2{
//         width: 100%;
//         max-width: 1200px;
//     }
//     .leftli{
//         width: 100vw;
//         max-width: 900px;
//     }
// }
.songsadded_adds3{
    border: 1px solid rgba(0, 128, 0, 0);
    height: 250px;
}