@import './colmix.scss';
$lightblue: #D1F1FA;
$gray: #d0d6d6;
$buttonyellow: #efc318;

.store_h2 {
  font-weight: bold;
  font-size: $rem2;
}

.store_big_box {
  width: 100%;
  overflow-x: hidden;
}

.store_wrapper {
  margin-top: 0%;
  position: relative;
  max-width: 960px;

  // width: 80%;
  .store_color1 {
    width: 50%;
    position: absolute;
    left: -20%;
  }

  .store_stepCount {
    margin: 2.5rem auto;
    width: 100%;
    overflow: hidden;

    .rowCount {
      font-size: 0;
    }

    .count {
      text-align: center;
      position: relative;

      img {
        width: 40%;
        min-width: 4.5rem;
      }

      .step_color {
        min-width: 3rem;
        position: absolute;
        width: 40%;
        top: 4%;
        left: 30%;
        z-index: -10;
        min-width: 79px;
      }
    }
  }

  .store_stepFlow {
    width: 100%;

    .store_step {
      position: relative;
      background: url('../img/member/blackline.svg');
      background-size: cover;


      .step {
        .store_h2 {
          padding: 3vw 8% 2vw;
          font-size: $rem2;
          text-align: left;
        }

        // choose_money ========
        .rowpick {
          width: 90%;
          margin: 0 auto;
          font-size: 0;

          .store_money {
            justify-content: center;

            .select_money {
              width: 75%;
              margin: 0 auto;
              position: relative;
              text-align: center;

              p {
                font-size: $rem1;
              }

              img {
                width: 20vw;
                max-width: 100%;
                text-align: center;
                // max-width: 270px;
              }
            }
          }
        }

        &.choose_money {
          .color2 {
            position: absolute;
            width: 80%;
            right: -23%;
            bottom: -73%;
            z-index: -10;
          }
        }

        // enter_card ===========
        &.enter_card {
          font-size: 0;
          text-align: center;

          .store_h2 {
            text-align: left;
          }

          .color2 {
            position: absolute;
            width: 80%;
            right: -30%;
            bottom: -40%;
            z-index: -10;
          }
        }

        .enter {
          // border: solid 1px #333;
          margin: 0 auto;

          &.mem {
            padding: 2rem 0%;
            background-color: $green;
            border-radius: 5px;
            height: 313px;
          }

          .mem_info {
            width: 100%;

            .store_h4 {
              font-size: $rem1_2;
              text-align: center;
              margin: 2vw 0;
            }

            .stored_value {
              width: 80%;
              margin: 0% auto;
              text-align: center;
              position: relative;

              img {
                text-align: center;
                width: 85%;
              }

              .store_h3 {
                font-size: $rem1_5;
              }
            }
          }

          &.enterNumber {
            flex-direction: column;
            justify-content: space-around;
            vertical-align: top;

            .store_input {
              margin: 0 5%;

              .store_h6 {
                font-size: $rem1;
                text-align: left;
              }

              input {
                margin: 1% 0 4%;
                padding: 0.625rem 1%;
                width: 100%;
                border: solid 1px #B2B2B2;
                border-radius: 5px;
                background-color: $green;
              }
            }
          }

        }

        // confirm_detail ==========
        &.comfirm_detail {
          text-align: center;

          .color2 {
            position: absolute;
            width: 80%;
            right: -30%;
            bottom: -40%;
            z-index: -10;
          }

          .detail {
            background-color: $green;
            border-radius: 5px;
            padding: 3%;

            .store_p {
              text-align: left;
              margin: 1% 0%;
            }
          }
        }

        // done ===============
        &.done {
          text-align: center;

          .color2 {
            position: absolute;
            width: 80%;
            right: -30%;
            bottom: -40%;
            z-index: -10;
          }

          .store_success {
            position: relative;
            text-align: left;

            .success_info {
              background-color: $green;
              border-radius: 5px;
              padding: 8% 6%;

              p {
                text-align: left;
                margin: 3% 0;
                font-size: $rem1_2;
                font-weight: bold;
              }
            }

            img {
              position: absolute;
              bottom: -40%;
              right: -10%;
              max-width: 250px;
              transform: rotate(10deg);
            }
          }
        }

        .store_button {
          width: 100%;
          padding: 2rem 0%;
          margin: 0 auto;
          text-align: center;
          position: relative;

          .press {
            font-size: 0;
          }

          .btn_s {
            width: 5rem;
            margin: 0% auto;
            text-align: center;
            @include butttonn02;
            padding: 10px 0;

            p {
              font-size: $rem1;
            }

            &.step3 {
              width: 6rem;
            }

            &.store_back_home {
              width: 8rem;
            }
          }


        }
      }
    }
  }

  .store_support {
    margin: 5rem auto 15%;
    ;

    .store_h2 {
      padding: 3vw 8% 2vw
    }

    .store_box {
      width: 100%;
      text-align: center;

      .phone_member_info {
        display: none;
      }

      .member_info {
        vertical-align: top;
        // border: solid 1px #333;
        background: url(../img/member/mp3.png) no-repeat;
        background-size: contain;
        padding: 23% 0% 13% 0%;
        position: relative;

        .gem {
          width: 68%;
          left: 52%;
          top: 6%;
          transform: translateX(-50%);
          position: absolute;
        }

        .member {
          width: 100%;

          .member_detail {
            padding: 2%;

            // border: solid 1px #333;
            p {
              text-align: left;
              padding-left: 15%;
              font-size: $rem0_8;
              margin-bottom: 2%;
            }
          }
        }
      }

      .support_history {

        // border: solid 1px #333;
        .table {
          .th {
            font-size: 0;

            // background-color: $green;
            .td {
              padding: 2% 0%;
              font-size: $rem1;
              font-weight: bold;
              background-color: $green;

              &:nth-of-type(1) {
                border-radius: 5px 0 0 0;
              }

              &:nth-of-type(3) {
                border-radius: 0 5px 0 0;
              }
            }
          }

          .tbody {
            max-height: 20rem;
            overflow-y: scroll;

            .tr {
              font-size: 0;
              padding: 3% 0% 2%;

              &:nth-of-type(even) {
                background-color: rgba($green, 0.3);
              }

              .td {
                font-size: $rem1;
              }
            }

            &::-webkit-scrollbar {
              width: 16px;
              height: 16px;
              background-color: #dadada;
            }

            &::-webkit-scrollbar-thumb {
              border-radius: 10px;
              -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
              background-color: #555;
            }
          }
        }
      }
    }
  }
}

@include respond(latop-max) {

  // 1200 
  .store_wrapper {
    .store_stepFlow {
      .store_step {
        .step {
          .store_h2 {
            font-size: $rem1_5;

          }

          .enter {
            .mem_info {
              .stored_value {
                width: 100%;
              }
            }

            &.mem {
              height: 280px;
            }
          }

          .store_button {
            .btn_s {}
          }
        }
      }
    }
  }
}

@include respond(latop-min) {

  // 996
  .store_wrapper {
    width: 80%;

    .store_stepFlow {
      .store_step {
        .step {
          .store_h2 {
            font-size: $rem1_5;

          }

          .enter {
            &.mem {
              padding: 3% 0%;
              height: 270px;
            }
          }

          &.done {
            .store_success {
              .success_info {
                p {}
              }

              img {
                max-width: 200px;
              }
            }
          }

          .store_button {
            .btn_s {
              padding-left: 0;
              padding-right: 0;

              p {
                text-align: center;
              }
            }
          }

        }
      }
    }

    .store_support {
      .store_h2 {}

      .store_box {
        margin: 0 auto;
        text-align: center;
        .phone_member_info {
          display: block;
          text-align: center;
          background: url(../img/member/blackline.svg) no-repeat;
          padding: 4% 0%;
          
          .pic {
            img {
              width: 100%;
              max-width: 200px;
              border-radius: 100%;
            }
          }
          .meminfos{
            vertical-align: top;
            // border: solid 1px #333;
            height: 10rem;
            background-color: $green;
            .flexbox{
              width: 100%;
              height: 100%;
              flex-direction: column;
              align-content: space-around;
              display: flex;
              padding-left: 10%;
              p{
                width: 100%;
                height: calc(100% / 3);
                text-align: left;
                line-height: 3rem;
              }
            }
          }
        }

        .member_info {
          display: none;
        }

        .support_history {
          margin-top: 8%;
          .table {
            .th {
              .td {
                &:nth-of-type(1) {}

                &:nth-of-type(3) {}
              }
            }

            .tbody {
              .tr {
                &:nth-of-type(even) {}

                .td {}
              }

              &::-webkit-scrollbar {}

              &::-webkit-scrollbar-thumb {}
            }
          }
        }
      }
    }
  }
}

@include respond(ipadpro) {

  // 768 
  .store_wrapper {
    width: 80%;
    .store_color1{
      width: 70%;
      top: 2%;
      position: absolute;
      left: -22%;
    }
    .store_stepFlow {
      .store_step {
        .step {
          .store_h2 {
            padding: 6%;
          }

          &.choose_money {
            .color2 {
              bottom: -20%;
            }
          }

          .rowpick {
            .store_money {
              .select_money {
                padding: 2% 0%;

                img {
                  width: 25vw;
                }
              }
            }
          }

          &.enter_card {
            .color2 {
              bottom: -10%;
            }
          }

          .enter {
            &.enterNumber {
              .store_input {
                margin: 2% 5%;

                .store_h6 {
                  margin: 0% 0;
                }
              }
            }

            &.mem {
              height: auto;
              padding: 6%;
            }

            .mem_info {
              .stored_value {
                img {
                  width: 70%;
                }
              }

              .store_h4 {
                margin: 3vw 0 6vw;
              }
            }
          }

          &.comfirm_detail {
            .color2 {
              bottom: -20%;
            }
          }

          &.done {
            .color2 {
              bottom: -20%;
            }

            .store_success {
              .success_info {
                p {
                  font-size: $rem1;
                }
              }

              img {
                max-width: 150px;
              }
            }
          }

          .store_button {
            .btn_s {
              padding-left: 0;
              padding-right: 0;

              p {}
            }
          }
        }
      }
    }
  }
}

@include respond(ipad) {

  // 576
  .store_wrapper {
    width: 95%;

    .store_stepFlow {
      .store_step {
        .step {
          .store_h2 {
            padding: 8%;
          }

          .rowpick {
            .store_money {
              .select_money {
                padding: 2% 0%;

                img {
                  width: 25vw;
                }
              }
            }
          }

          &.enter_card {
            .store_h2 {
              padding: 13% 8% 8%;
            }
          }

          .enter {
            .mem_info {
              .stored_value {
                width: 80%;
              }
            }

            &.enterNumber {
              .store_input {
                margin: 0;
              }
            }

            &.mem {
              padding: 6% 0;
              margin-bottom: 7%;
              height: auto;
            }

            .mem_info {
              .store_h4 {
                margin: 8vw 0;
              }
            }
          }

          &.comfirm_detail {
            .detail {
              .store_p {
                font-size: 0.9rem;
              }
            }
          }

          &.done {
            .store_success {
              .success_info {
                p {
                  font-size: $rem0_8;
                }
              }

              img {
                max-width: 100px;
                bottom: -35%;
              }
            }
          }


          .store_button {
            font-size: 0;
            padding: 1.5rem 0%;

            .btn_s {
              &.step3 {
                width: 5rem;
              }

              p {}

              &.store_back_home {
                width: 6rem;
              }
            }
          }
        }
      }
    }
    .store_support {
      .store_h2 {
        padding: 8%;
        font-size: 1.5rem;
      }

      .store_box {
        margin: 0 auto;
        text-align: center;
        .phone_member_info {
          display: block;
          text-align: center;
          background: url(../img/member/blackline.svg) no-repeat;
          padding: 4% 0%;
          
          .pic {
            img {
              width: 100%;
              max-width: 200px;
              border-radius: 100%;
            }
          }
          .meminfos{
            vertical-align: top;
            // border: solid 1px #333;
            height: 10rem;
            background-color: $green;
            .flexbox{
              width: 100%;
              height: 100%;
              flex-direction: column;
              align-content: space-around;
              display: flex;
              padding-left: 10%;
              p{
                width: 100%;
                height: calc(100% / 3);
                text-align: left;
                line-height: 3rem;
              }
            }
          }
        }

        .member_info {
          display: none;
        }

        .support_history {
          margin: 10% 0%;
          .table {
            .date{
              display: none;
            }
            .th {
              .td {
                &:nth-of-type(1) {}

                &:nth-of-type(3) {}
              }
            }

            .tbody {
              .tr {
                &:nth-of-type(even) {}

                .td {}
              }

              &::-webkit-scrollbar {}

              &::-webkit-scrollbar-thumb {}
            }
          }
        }
      }
    }
  }
}

@include respond(phone) {

  //375
  .store_wrapper {
    width: 95%;

    .store_stepCount {
      .count {
        img {
          min-width: 3.8rem;
        }
      }
    }

    .store_stepFlow {
      .store_step {
        .step {
          .rowpick {
            .store_money {
              .select_money {
                width: 85%;

                img {
                  width: 100%;
                }
              }
            }
          }

          &.enter_card {
            .store_h2 {
              font-size: $rem1_2;
            }
          }

          .enter {
            &.mem {
              margin-bottom: 7%;
            }

            .mem_info {
              .store_h4 {
                margin: 8vw 0;
              }
            }
          }

          &.comfirm_detail {
            .detail {
              .store_p {
                font-size: 0.8rem;

                .card_class {
                  width: 55%;
                }
              }
            }
          }

          .store_button {
            padding: 8% 0%;

            .btn_s {
              p {
                font-size: $rem0_8;
              }
            }
          }
        }
      }
    }
  }
}