$bg: rgba(44,15,15,1);
$accent: lighten($bg, 30%);

iframe {
    display: none;
} 

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: $bg;
	font-family: sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.jumping-things-wrap {
	width: 400px;
	min-height: 120px;
	max-height: 120px;
	text-align: center;
	left: 27px;
	position: relative;
	span {
		width: 20px;
		margin: 0;
		padding: 0;
		background: $accent;
		transition: all 0.2s;
		display: inline-block;
		position: absolute;
		bottom: 0;
	}
	@for $i from 1 through 12 {
		span:nth-child(#{$i}){
			left: 25px * $i;
		}
	}
}
.title {
	display: block;
	color: $accent;
	max-width: 400px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 100;
}


