<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SOUNDWAVE | collection</title>
  <link rel="Shortcut Icon" type="image/x-icon" href="./img/collection/smalllogo.ico" />
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="./js/player.js"></script>
  <script src="./js/public.js"></script>
</head>
<body class="collectionbody">
  <!-- nav_bar and player -->
  <div id="app">
    <div class="nav_bar flexbox">
      <div class="hamburger" @click="hamburger_click">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
      <div class="mobile_list" @click="stopPropagation">
        <div class="paint_border"></div>
        <ul>
          <li class="REMIX flexbox">
            <a href="./remix.html">
            </a>
          </li>
          <li class="COLLECTION flexbox">
            <a href="./collection.html">
            </a>
          </li>
          <li class="ACTIVITY flexbox">
            <a href="./activity.html">
            </a>
          </li>
          <li class="LIBRARY flexbox">
            <a href="./library.html">
            </a>
          </li>
        </ul>
      </div>
      <div class="logo_container">
        <a href="./index.html">
          <div class="logo"></div>
        </a>
      </div>
      <ul class="main_list flexbox">
        <li class="REMIX flexbox">
          <a href="./remix.html">
          </a>
        </li>
        <li class="COLLECTION flexbox">
          <a href="./collection.html">
          </a>
        </li>
        <li class="ACTIVITY flexbox">
          <a href="./activity.html">
          </a>
        </li>
        <li class="LIBRARY flexbox">
          <a href="./library.html">
          </a>
        </li>
      </ul>
      <div class="search_bt" @click="search_bt_click">
        <a href="#"></a>
      </div>
      <div class="search_bar" @click="stopPropagation">
        <input class="search" type="text" />
        <div class="tag_container">
        </div>
      </div>
      <div class="login_bt" @click="" v-if="mem_login == false">
        <a class="flexbox" href="#">Login</a>
      </div>
      <div class="mem_bt" @click="mem_bt_click" v-if="mem_login == true">
        <a href="#"></a>
      </div>
      <div class="mem_list" @click="stopPropagation">
        <div class="paint_border"></div>
        <ul>
          <li>
            <a href="./profile.html">
              <h4>Profile</h4>
            </a>
          </li>
          <li>
            <a href="./library.html">
              <h4>Library</h4>
            </a>
          </li>
          <li>
            <a href="./songsadded.html">
              <h4>
                Song Upload
                <br />&amp; Remove
              </h4>
            </a>
          </li>
          <li>
            <a href="./store.html">
              <h4>
                Store Value
                <br />&amp;Store Record
              </h4>
            </a>
          </li>
          <li>
            <a href="">
              <h4>Donate Record</h4>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- nav_bar end -->
    <!-- player start -->
    <div id="player">
      <audio src="" id="audioPlayer"></audio>
      <div class="player_s">
        <div class="info">
          <div class="cover"><img src="./img/library/cover1.jpg"></div>
          <div class="songInfo">
            <span class="name">Lucid Dreamer</span>
            <span class="creator">Spazz Cardigan</span>
          </div>
          <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
          <div class="clearfix"></div>
        </div>
  
        <div class="controlPanel">
          <div class="progressbar">
            <div class="progress"></div>
          </div>
          <div class="time">
            <span class="start">00:00</span>
            <span class="end">04:30</span>
            <div class="clearfix"></div>
          </div>
          <div class="btns">
            <div class="controls">
              <button class="prev"><i class="fas fa-step-backward"></i></button>
              <button class="play"><i class="fas fa-play"></i></button>
              <button class="next"><i class="fas fa-step-forward"></i></button>
              <button class="stop"><i class="fas fa-stop"></i></button>
              <button class="rand"><i class="fas fa-random"></i></button>
              <button class="loop"><i class="fas fa-undo-alt"></i></button>
              <div class="clearfix"></div>
            </div>
            <div class="vol">
              <div class="volicon"><i class="fas fa-volume-down"></i></div>
              <div class="volLine">
                <div class="volControl"></div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="expand" id="expand"><i class="fas fa-expand"></i></div>
        <div class="clearfix"></div>
      </div>
      <!-- 詳細版 -->
      <div class="player_b">
        <div class="left">
          <div class="songCover">
            <div class="coverImg">
              <img src="./img/library/cover1.jpg">
              <div class="coverRec"><img src="./img/library/player_record.png" alt=""></div>
            </div>
          </div>
          <div class="songInfo">
            <div class="name">Lucid Dreamer</div>
            <div class="creator">Spazz Cardigan</div>
            <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
            <div class="clearfix"></div>
          </div>
          <div class="controlPanel">
            <div class="progressbar">
              <div class="progress"></div>
            </div>
            <div class="time">
              <span class="start">00:00</span>
              <span class="end">00:00</span>
              <div class="clearfix"></div>
            </div>
            <div class="btns">
              <div class="controls">
                <button class="rand"><i class="fas fa-random"></i></button>
                <button class="prev"><i class="fas fa-step-backward"></i></button>
                <button class="play"><i class="fas fa-play"></i></button>
                <button class="next"><i class="fas fa-step-forward"></i></button>
                <button class="stop"><i class="fas fa-stop"></i></button>
                <button class="loop"><i class="fas fa-undo-alt"></i></button>
                <div class="clearfix"></div>
              </div>
              <div class="vol">
                <div class="volicon"><i class="fas fa-volume-down"></i></div>
                <div class="volLine">
                  <div class="volControl"></div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="pushBtn"></div>
        </div>
        <div class="right">
          <div class="pushBtn"></div>
          <div class="listTitle">
            <div class="listCover">
              <img src="./img/library/list_pic1.jpg"></div>
            <div class="listName">
              <h2>peaceful list</h2>
              <span>8 songs</span>
            </div>
            <button class="selectBtn" id="selectBtn">SELECT</button>
            <div class="clearfix"></div>
          </div>
          <div class="list">
            <ul>
              <li>
                <div class="songCover">
                  <img src="./img/library/cover1.jpg" alt="">
                  <div class="listPlay"><i class="fas fa-play"></i></div>
                </div>
                <div class="listSongInfo">
                  <div class="name">
                    <h4>Lucid Dreamer</h4>
                    <p> Spazz Cardigan</p>
                  </div>
                </div>
                <div class="totalTime">3:11</div>
                <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                <div class="clearfix"></div>
              </li>
              <li>
                <div class="songCover">
                  <img src="./img/library/cover2.jpg" alt="">
                  <div class="listPlay"><i class="fas fa-play"></i></div>
                </div>
                <div class="listSongInfo">
                  <div class="name">
                    <h4>Spring In My Step</h4>
                    <p>Silent Partner</p>
                  </div>
                </div>
                <div class="totalTime">1:59</div>
                <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                <div class="clearfix"></div>
              </li>
              <li>
                <div class="songCover">
                  <img src="./img/library/cover3.jpg" alt="">
                  <div class="listPlay"><i class="fas fa-play"></i></div>
                </div>
                <div class="listSongInfo">
                  <div class="name">
                    <h4>On My Way Home</h4>
                    <p>The 126ers</p>
                  </div>
                </div>
                <div class="totalTime">1:56</div>
                <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                <div class="clearfix"></div>
              </li>
              <li>
                <div class="songCover">
                  <img src="./img/library/cover4.jpg" alt="">
                  <div class="listPlay"><i class="fas fa-play"></i></div>
                </div>
                <div class="listSongInfo">
                  <div class="name">
                    <h4>Lucid Dreamer</h4>
                    <p> Spazz Cardigan</p>
                  </div>
                </div>
                <div class="totalTime">4:30</div>
                <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                <div class="clearfix"></div>
              </li>
              <li>
                <div class="songCover">
                  <img src="./img/library/cover5.jpg" alt="">
                  <div class="listPlay"><i class="fas fa-play"></i></div>
                </div>
                <div class="listSongInfo">
                  <div class="name">
                    <h4>Lucid Dreamer</h4>
                    <p> Spazz Cardigan</p>
                  </div>
                </div>
                <div class="totalTime">4:30</div>
                <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                <div class="clearfix"></div>
              </li>
              <li>
                <div class="songCover">
                  <img src="./img/library/cover6.jpg" alt="">
                  <div class="listPlay"><i class="fas fa-play"></i></div>
                </div>
                <div class="listSongInfo">
                  <div class="name">
                    <h4>Lucid Dreamer</h4>
                    <p> Spazz Cardigan</p>
                  </div>
                </div>
                <div class="totalTime">4:30</div>
                <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                <div class="clearfix"></div>
              </li>
              <li>
                <div class="songCover">
                  <img src="./img/library/cover1.jpg" alt="">
                  <div class="listPlay"><i class="fas fa-play"></i></div>
                </div>
                <div class="listSongInfo">
                  <div class="name">
                    <h4>Lucid Dreamer</h4>
                    <p> Spazz Cardigan</p>
                  </div>
                </div>
                <div class="totalTime">4:30</div>
                <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                <div class="clearfix"></div>
              </li>
  
            </ul>
          </div>
        </div>
        <div class="close" id="closePlayer"><i class="fas fa-times"></i></div>
        <div class="clearfix"></div> 
        <!-- 撥放器燈箱 -->
        <div class="lightCover">
          <div class="lightbox_s" id="myAllList">
            <div class="closeLight"><i class="fas fa-times"></i></div>
            <h3>My List</h3>
            <div class="lightSelectMenu">
              <ul>
                <li>Liked songs</li>
                <li>Peaceful songs</li>
                <li>party</li>
              </ul>
            </div>
            <button class="">ok</button>
          </div>
        </div>
      </div>
    </div>
    <!-- player end -->
  </div>
  <!-- the end of the nav_bar and player  -->
  <!-- start to the content -->
  <header>
    <img src="./img/collection/colltitle.png" alt="">
  </header>
  <section class="collectionsection">
    <div class="collectionradio">
      <div class="collgreenradio">
        <img src="./img/collection/closeeye.png" alt="">
      </div>
      <div class="collpinkradio">
        <img src="./img/collection/closeeye.png" alt="">
        <img src="./img/collection/closeeye.png" alt="">
      </div>
      <div class="collblueradio">
        <img src="./img/collection/closeeye.png" alt="">
      </div>
    </div>
    <div id="collectiontabcontainer">
      <ul class="collectiontabtitle">
        <li><a class="tabtitlechange1" href="#tab01"><img src="./img/collection/tabblue.png" alt=""><span> All</span></a></li>
        <li><a class="tabtitlechange2" href="#tab02"><img src="./img/collection/tabyellow.png" alt=""><span> Trap</span></a></li>
        <li><a class="tabtitlechange3" href="#tab03"><img src="./img/collection/tabyellow.png" alt=""><span> House</span></a></li>
        <li><a class="tabtitlechange4" href="#tab04"><img src="./img/collection/tabyellow.png" alt=""><span> Favorite</span></a></li>
      </ul>
      <div class="playall_btns">
        <button id="listAllPlay" class="circlebtn"><i class="fas fa-play"></i></button>
        play all
      </div>
      <div id="tab01" class="collectiontabinner">
        <section class="collectionalbumsection1">
          <div class="collectionsinglealbum">
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum1">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Hey</a><br>
                <span>Fais ft. Afrojack</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum2">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Another life</a><br>
                <span>David Guetta</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum3">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Cutting shapes</a><br>
                <span>Don Diablo</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum4">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">What would you</a><br>
                <span>NERVO</span>
              </p>
            </div>
          </div>
          <div class="collectionsinglealbum">
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum5">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Champagne</a><br>
                <span>Chief Keef</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum6">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Dharma</a><br>
                <span>Headhunterz</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum7">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Survivors</a><br>
                <span>Hardwel</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum8">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Solo dance</a><br>
                <span>Martin Jensen</span>
              </p>
            </div>
          </div>
          <div class="collectionsinglealbum">
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum9">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">16 steps</a><br>
                <span>Olivia Holt</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum10">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Welcome</a><br>
                <span>Julian Jordan</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum11">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Bfam</a><br>
                <span>Martin Garrix</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum12">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Phatt bass</a><br>
                <span>Warp Brothersk</span>
              </p>
            </div>
          </div>
        </section>
      </div>
      <div id="tab02" class="collectiontabinner">
        <section class="collectionalbumsection1">
          <div class="collectionsinglealbum">
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum12">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Game over</a><br>
                <span>Loopers</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum11">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">All aboard</a><br>
                <span>Bassjackers</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum10">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Renegade master</a><br>
                <span>Jamis</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum9">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Phatt bass</a><br>
                <span>Playmen</span>
              </p>
            </div>
          </div>
          <div class="collectionsinglealbum">
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum8">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">One kiss</a><br>
                <span>Dua Lipa</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum7">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Magenta riddim</a><br>
                <span>DJ Snake </span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum6">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Alone</a><br>
                <span>Alan Walker</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum5">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Faith</a><br>
                <span>Galantis</span>
              </p>
            </div>
          </div>
          <div class="collectionsinglealbum">
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum4">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Analog signal</a><br>
                <span>DJ E-turn</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum3">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Sell my soul</a><br>
                <span>Sigma</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum2">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Bumpy teeth</a><br>
                <span>Zeds Dead</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum1">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Cruel love</a><br>
                <span>Kayzo</span>
              </p>
            </div>
          </div>
        </section>
      </div>
      <div id="tab03" class="collectiontabinner">
        <section class="collectionalbumsection1">
          <div class="collectionsinglealbum">
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum1">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Hey</a><br>
                <span>Fais ft. Afrojack</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum2">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Another life</a><br>
                <span>David Guetta</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum3">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Cutting shapes</a><br>
                <span>Don Diablo</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum4">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">What would you</a><br>
                <span>NERVO</span>
              </p>
            </div>
          </div>
          <div class="collectionsinglealbum">
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum5">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Champagne</a><br>
                <span>Chief Keef</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum6">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Dharma</a><br>
                <span>Headhunterz</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum7">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Survivors</a><br>
                <span>Hardwel</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum8">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Solo dance</a><br>
                <span>Martin Jensen</span>
              </p>
            </div>
          </div>
          <div class="collectionsinglealbum">
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum9">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">16 steps</a><br>
                <span> Olivia Holt</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum10">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
             <p><a class="collsongnamea" href="./songinfo.html">Welcome</a><br>
                <span>Julian Jordan</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum11">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Bfam</a><br>
                <span>Martin Garrix</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum12">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Phatt bass</a><br>
                <span>Warp Brothersk</span>
              </p>
            </div>
          </div>
        </section>
      </div>
      <div id="tab04" class="collectiontabinner">
        <section class="collectionalbumsection1">
          <div class="collectionsinglealbum">
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum12">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Game over</a><br>
                <span>Loopers</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum11">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">All aboard</a><br>
                <span>Bassjackers</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum10">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Renegade master</a><br>
                <span>Jamis</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum9">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Phatt bass</a><br>
                <span>Playmen</span>
              </p>
            </div>
          </div>
          <div class="collectionsinglealbum">
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum8">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">One kiss</a><br>
                <span>Dua Lipa</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum7">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Magenta riddim</a><br>
                <span>DJ Snake </span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum6">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Alonem</a><br>
                <span>Alan Walker</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum5">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Faith</a><br>
                <span>Galantis</span>
              </p>
            </div>
          </div>
          <div class="collectionsinglealbum">
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum4">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Analog signal</a><br>
                <span>DJ E-turn</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum3">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Sell my soul</a><br>
                <span>Sigma</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum2">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Bumpy teeth</a><br>
                <span>Zeds Dead</span>
              </p>
            </div>
            <div class="collectionsinglecover">
              <div class="collalbumpic sampleblum1">
                <div class="collplayer"><a href=""><img src="./img/library/coverPlay-b.png" alt=""></a></div>
              </div>
              <div class="collheart"><img src="./img/collection/grayheart.png" alt=""></div>
              <p><a class="collsongnamea" href="./songinfo.html">Cruel love</a><br>
                <span>Kayzo</span>
              </p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
  <!-- the end of the content -->
</body>
<!-- the script of myself -->
<script>
  // CHANGE HEART
  $('.collheart').click(function () {
    if ($(this).hasClass('becomeRed')) {
      $(this).html('<img src="./img/collection/grayheart.png">').removeClass('becomeRed');
    } else {
      $(this).html('<img src="./img/collection/redheart.png">').addClass('becomeRed');
    }
  });
  // PLAY BUTTON
  $('.collalbumpic').hover(function () {
    $(this).find('.collplayer').css("display", "block");
  }, function () {
    $(this).find('.collplayer').css("display", "none");
  });
  //PLAY AND PAUSE BUTTON
  $('.collplayer a').click(function (e) {
    e.preventDefault();
    if ($(this).hasClass('Pause')) {
      $(this).html('<img src="./img/library/coverPlay-b.png">').removeClass('Pause');
    } else {
      $(this).html('<img src="./img/library/coverPause-b.png">').addClass('Pause');
    }
  });
  // TAB CONTENT CHANGE
  $(function () {
    var $li = $('ul.collectiontabtitle li');
    $($li.eq(0).addClass('active').find('a').attr('href')).siblings('.collectiontabinner').hide();
    $li.click(function () {
      $($(this).find('a').attr('href')).show().siblings('.collectiontabinner').hide();
      $(this).addClass('active').siblings('.active').removeClass('active');
    });
  });
  //TAB CHNAGE COLOR
  $('.collectiontabtitle li a').click(function () {
    $(this).children('img').attr("src","./img/collection/tabblue.png");
    $('.collectiontabtitle li a').not(this).children('img').attr("src","./img/collection/tabyellow.png");
    var lia = $(this).parent().index();
    if( lia == 0){
      $('.collgreenradio').find('img').attr("src","./img/collection/openeye.png");
      $('.collpinkradio').find('img').attr("src","./img/collection/closeeye.png");
      $('.collblueradio').find('img').attr("src","./img/collection/closeeye.png");
    }
    else if(lia == 1){
      $('.collpinkradio').find('img').eq(0).attr("src","./img/collection/openeye.png");
      $('.collgreenradio').find('img').attr("src","./img/collection/closeeye.png");
      $('.collpinkradio').find('img').eq(1).attr("src","./img/collection/closeeye.png");
      $('.collblueradio').find('img').attr("src","./img/collection/closeeye.png");
    }
    else if(lia == 2){
      $('.collpinkradio').find('img').eq(1).attr("src","./img/collection/openeye.png");
      $('.collgreenradio').find('img').attr("src","./img/collection/closeeye.png");
      $('.collpinkradio').find('img').eq(0).attr("src","./img/collection/closeeye.png");
      $('.collblueradio').find('img').attr("src","./img/collection/closeeye.png");
    }else if(lia == 3){
      $('.collblueradio').find('img').attr("src","./img/collection/openeye.png");
      $('.collgreenradio').find('img').attr("src","./img/collection/closeeye.png");
      $('.collpinkradio').find('img').attr("src","./img/collection/closeeye.png");
    }
  });
</script>
<!-- the end of my script -->
</html>