<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
  <link rel="stylesheet" href="./css/main.css">
</head>

<body>
  <div id="app">
    <div class="nav_bar flexbox">
      <div class="hamburger" @click="hamburger_click">
          <div class="hamburger-box">
              <div class="hamburger-inner"></div>
          </div>
      </div>
      <div class="mobile_list" @click="stopPropagation">
          <div class="paint_border"></div>
          <ul>
              <li class="REMIX flexbox">
                  <a href="">
                  </a>
              </li>
              <li class="COLLECTION flexbox">
                  <a href="">
                  </a>
              </li>
              <li class="ACTIVITY flexbox">
                  <a href="">
                  </a>
              </li>
              <li class="LIBRARY flexbox">
                  <a href="">
                  </a>
              </li>
          </ul>
      </div>

      <div class="logo_container">
          <a href="">
              <div class="logo"></div>
          </a>
      </div>
      <ul class="main_list flexbox">
          <li class="REMIX flexbox">
              <a href="">
              </a>
          </li>
          <li class="COLLECTION flexbox">
              <a href="">
              </a>
          </li>
          <li class="ACTIVITY flexbox">
              <a href="">
              </a>
          </li>
          <li class="LIBRARY flexbox">
              <a href="">
              </a>
          </li>
      </ul>
      <div class="search_bt" @click="search_bt_click">
          <a href="#"></a>
      </div>
      <div class="search_bar" @click="stopPropagation">
          <input class="search" type="text" />
          <div class="tag_container">
          </div>
      </div>
      <div class="login_bt" @click="" v-if="mem_login == false">
          <a class="flexbox" href="#">Login</a>
      </div>
      <div class="mem_bt" @click="mem_bt_click" v-if="mem_login == true">
          <a href="#"></a>
      </div>
      <div class="mem_list" @click="stopPropagation">
          <div class="paint_border"></div>
          <ul>
              <li>
                  <a href="">
                      <h4>Profile</h4>
                  </a>
              </li>
              <li>
                  <a href="">
                      <h4>Favorite</h4>
                  </a>
              </li>
              <li>
                  <a href="">
                      <h4>
                          Song Upload
                          <br />&amp; Remove
                      </h4>
                  </a>
              </li>
              <li>
                  <a href="">
                      <h4>
                          Store Value
                          <br />&amp;Store Record
                      </h4>
                  </a>
              </li>
              <li>
                  <a href="">
                      <h4>Donate Record</h4>
                  </a>
              </li>
          </ul>
      </div>
  </div>
  </div>
  <header>
    <img src="./img/member/doNATE.png" alt="">
  </header>

  <!-- ======================= my code =========================== -->
  <div id="donate_app">
    <img src="./img/member/color2.png" class="color2">
    <div class="wrapper donate_wrapper">
      <div class="donate_support">
        <h2 class="donate_h2">Trade Record</h2>
        <div class="donate_box">
          <div class="phone_member_info col-md-12 col-sm-12">
            <div class="pic col-md-4 col-sm-10"><img src="./img/member/gem.jpg"></div>
            <div class="meminfos col-md-6 col-sm-6 col-10">
              <div class="flexbox">
                <p>MemberID: 21468</p>
                <p>MemberName: G.E.M</p>
                <p>Points: 1021</p>
              </div>
            </div>
          </div>
          <div class="member_info col-xl-3">
            <!-- <img class="mp3" src="./img/member/mp3.png"> -->
            <img class="gem" src="./img/member/gem.jpg">
            <div class="member">
              <div class="member_detail">
                <p>MemberID: 21468</p>
                <p>MemberName: G.E.M</p>
                <p>Points: 1021</p>
              </div>
            </div>
          </div>
          <div class="support_history col-xl-8 col-md-12">
            <div class="table">
              <div class="th">
                <div class="col-xl-3 col-sm-3 col-6 td" style="border-radius: 5px 0 0 0;">Trade no</div>
                <div class="col-xl-4 col-sm-4 col-6 td" style="">Cost</div>
                <div class="col-xl-5 col-sm-5 date td" style="border-radius: 0 5px 0 0;">Date</div>
              </div>
              <div class="tbody">
                <div v-for="item in history" class="tr">
                  <div class="col-xl-3 col-sm-3 col-6 td">{{item.no}}</div>
                  <div class="col-xl-4 col-sm-4 col-6 td">${{item.cost}}</div>
                  <div class="col-xl-5 col-sm-5 date td">{{item.date}}</div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- ======================= my code =========================== -->
  <div id="player">
    <audio src="" id="audioPlayer"></audio>
    <div class="player_s">
      <div class="info">
        <div class="cover"><img src="./img/library/cover1.jpg"></div>
        <div class="songInfo">
          <span class="name">Lucid Dreamer</span>
          <span class="creator">Spazz Cardigan</span>
        </div>
        <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
        <div class="clearfix"></div>
      </div>

      <div class="controlPanel">
        <div class="progressbar">
          <div class="progress"></div>
        </div>
        <div class="time">
          <span class="start">00:00</span>
          <span class="end">04:30</span>
          <div class="clearfix"></div>
        </div>
        <div class="btns">
          <div class="controls">
            <button class="prev"><i class="fas fa-step-backward"></i></button>
            <button class="play"><i class="fas fa-play"></i></button>
            <button class="next"><i class="fas fa-step-forward"></i></button>
            <button class="stop"><i class="fas fa-stop"></i></button>
            <button class="rand"><i class="fas fa-random"></i></button>
            <button class="loop"><i class="fas fa-undo-alt"></i></button>
            <div class="clearfix"></div>
          </div>
          <div class="vol">
            <div class="volicon"><i class="fas fa-volume-down"></i></div>
            <div class="volLine">
              <div class="volControl"></div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="expand" id="expand"><i class="fas fa-expand"></i></div>
      <div class="clearfix"></div>
    </div>

    <!-- 詳細版 -->
    <div class="player_b">
      <div class="left">
        <div class="songCover">
          <div class="coverImg">
            <img src="./img/library/cover1.jpg">
            <div class="coverRec"><img src="./img/library/player_record.png" alt=""></div>
          </div>
        </div>
        <div class="songInfo">
          <div class="name">
            Lucid Dreamer
          </div>
          <div class="creator">
            Spazz Cardigan
          </div>
          <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
          <div class="clearfix"></div>
        </div>
        <div class="controlPanel">
          <div class="progressbar">
            <div class="progress"></div>
          </div>
          <div class="time">
            <span class="start">00:00</span>
            <span class="end">04:30</span>
            <div class="clearfix"></div>
          </div>
          <div class="btns">
            <div class="controls">
              <button class="rand"><i class="fas fa-random"></i></button>
              <button class="prev"><i class="fas fa-step-backward"></i></button>
              <button class="play"><i class="fas fa-play"></i></button>
              <button class="next"><i class="fas fa-step-forward"></i></button>
              <button class="stop"><i class="fas fa-stop"></i></button>
              <button class="loop"><i class="fas fa-undo-alt"></i></button>
              <div class="clearfix"></div>
            </div>
            <div class="vol">
              <div class="volicon"><i class="fas fa-volume-down"></i></div>
              <div class="volLine">
                <div class="volControl"></div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="pushBtn"></div>
      </div>

      <div class="right">
        <div class="pushBtn"></div>
        <div class="listTitle">
          <div class="listCover">
            <img src="./img/library/list_pic1.jpg"></div>
          <div class="listName">
            <h2 class="donate_h2">peaceful list</h2>
            <span>8 songs</span>
          </div>
          <button class="selectBtn" id="selectBtn">SELECT</button>
          <div class="clearfix"></div>
        </div>
        <div class="list">
          <ul>
            <li>
              <div class="songCover">
                <img src="./img/library/cover1.jpg" alt="">
                <div class="listPlay"><i class="fas fa-play"></i></div>
              </div>
              <div class="listSongInfo">
                <div class="name">
                  <h4>Lucid Dreamer</h4>
                  <p> Spazz Cardigan</p>
                </div>
              </div>
              <div class="totalTime">4:30</div>
              <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="songCover">
                <img src="./img/library/cover2.jpg" alt="">
                <div class="listPlay"><i class="fas fa-play"></i></div>
              </div>
              <div class="listSongInfo">
                <div class="name">
                  <h4>Lucid Dreamer</h4>
                  <p> Spazz Cardigan</p>
                </div>
              </div>
              <div class="totalTime">4:30</div>
              <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="songCover">
                <img src="./img/library/cover3.jpg" alt="">
                <div class="listPlay"><i class="fas fa-play"></i></div>
              </div>
              <div class="listSongInfo">
                <div class="name">
                  <h4>Lucid Dreamer</h4>
                  <p> Spazz Cardigan</p>
                </div>
              </div>
              <div class="totalTime">4:30</div>
              <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="songCover">
                <img src="./img/library/cover4.jpg" alt="">
                <div class="listPlay"><i class="fas fa-play"></i></div>
              </div>
              <div class="listSongInfo">
                <div class="name">
                  <h4>Lucid Dreamer</h4>
                  <p> Spazz Cardigan</p>
                </div>
              </div>
              <div class="totalTime">4:30</div>
              <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="songCover">
                <img src="./img/library/cover5.jpg" alt="">
                <div class="listPlay"><i class="fas fa-play"></i></div>
              </div>
              <div class="listSongInfo">
                <div class="name">
                  <h4>Lucid Dreamer</h4>
                  <p> Spazz Cardigan</p>
                </div>
              </div>
              <div class="totalTime">4:30</div>
              <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="songCover">
                <img src="./img/library/cover6.jpg" alt="">
                <div class="listPlay"><i class="fas fa-play"></i></div>
              </div>
              <div class="listSongInfo">
                <div class="name">
                  <h4>Lucid Dreamer</h4>
                  <p> Spazz Cardigan</p>
                </div>
              </div>
              <div class="totalTime">4:30</div>
              <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="songCover">
                <img src="./img/library/cover1.jpg" alt="">
                <div class="listPlay"><i class="fas fa-play"></i></div>
              </div>
              <div class="listSongInfo">
                <div class="name">
                  <h4>Lucid Dreamer</h4>
                  <p> Spazz Cardigan</p>
                </div>
              </div>
              <div class="totalTime">4:30</div>
              <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
              <div class="clearfix"></div>
            </li>

          </ul>
        </div>
      </div>
      <div class="close" id="closePlayer"><i class="fas fa-times"></i></div>
      <div class="clearfix"></div>

      <!-- 撥放器燈箱 -->
      <div class="lightCover">
        <div class="lightbox_s" id="myAllList">
          <div class="closeLight"><i class="fas fa-times"></i></div>
          <h3>My List</h3>
          <div class="lightSelectMenu">
            <ul>
              <li>Liked songs</li>
              <li>Peaceful songs</li>
              <li>party</li>
            </ul>
          </div>
          <button class="">ok</button>
        </div>
      </div>
    </div>
  </div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js'></script>
  <script src="./js/vue.js"></script>
  <script src="./js/public.js"></script>
  <script src="./js/player.js"></script>

  <script>
    new Vue({
      el: '#donate_app',
      data: {
        history: [{
            no: 1,
            cost: 500,
            date: '2019-1-12',
          },
          {
            no: 2,
            cost: 300,
            date: '2019-2-12',
          },
          {
            no: 3,
            cost: 500,
            date: '2019-3-12',
          },
          {
            no: 4,
            cost: 500,
            date: '2019-4-12',
          },
          {
            no: 5,
            cost: 500,
            date: '2019-5-12',
          },
          {
            no: 6,
            cost: 500,
            date: '2019-5-22',
          },
          {
            no: 7,
            cost: 500,
            date: '2019-1-12',
          },
          {
            no: 1,
            cost: 500,
            date: '2019-1-12',
          },
          {
            no: 1,
            cost: 500,
            date: '2019-1-12',
          },
          {
            no: 1,
            cost: 500,
            date: '2019-1-12',
          },
          {
            no: 1,
            cost: 500,
            date: '2019-1-12',
          },
          {
            no: 1,
            cost: 500,
            date: '2019-1-12',
          },
          {
            no: 1,
            cost: 500,
            date: '2019-1-12',
          },
          {
            no: 1,
            cost: 500,
            date: '2019-1-12',
          },
          {
            no: 1,
            cost: 500,
            date: '2019-1-12',
          },
          {
            no: 1,
            cost: 500,
            date: '2019-1-12',
          },
          {
            no: 1,
            cost: 500,
            date: '2019-1-12',
          },
          {
            no: 1,
            cost: 500,
            date: '2019-1-12',
          },
          {
            no: 1,
            cost: 500,
            date: '2019-1-12',
          },
          {
            no: 1,
            cost: 500,
            date: '2019-1-12',
          },
          {
            no: 1,
            cost: 500,
            date: '2019-1-12',
          },

        ]
      },
      methods: {

      },
    })
  </script>
</body>

</html>