<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SOUNDWAVE | log in</title>
  <link rel="Shortcut Icon" type="image/x-icon" href="./img/collection/smalllogo.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="./css/main.css">
  <script src="./js/player.js"></script>
  <script src="./js/public.js"></script>
</head>
<body class="loginbody">
  <!-- nav_bar and player -->
  <div id="app">
    <!-- nav_bar start -->
    <div class="nav_bar flexbox">
        <div class="hamburger" @click="hamburger_click">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>
        <div class="mobile_list" @click="stopPropagation">
            <div class="paint_border"></div>
            <ul>
                <li class="REMIX flexbox">
                    <a href="./remix.html">
                    </a>
                </li>
                <li class="COLLECTION flexbox">
                    <a href="./collection.html">
                    </a>
                </li>
                <li class="ACTIVITY flexbox">
                    <a href="./activity.html">
                    </a>
                </li>
                <li class="LIBRARY flexbox">
                    <a href="./library.html">
                    </a>
                </li>
            </ul>
        </div>
        <div class="logo_container">
            <a href="./index.html">
                <div class="logo"></div>
            </a>
        </div>
        <ul class="main_list flexbox">
            <li class="REMIX flexbox">
                <a href="./remix.html">
                </a>
            </li>
            <li class="COLLECTION flexbox">
                <a href="./collection.html">
                </a>
            </li>
            <li class="ACTIVITY flexbox">
                <a href="./activity.html">
                </a>
            </li>
            <li class="LIBRARY flexbox">
                <a href="./library.html">
                </a>
            </li>
        </ul>
        <div class="search_bt" @click="search_bt_click">
            <a href="#"></a>
        </div>
        <div class="search_bar" @click="stopPropagation">
            <input class="search" type="text" />
            <div class="tag_container">
            </div>
        </div>
        <div class="login_bt" @click="" v-if="mem_login == false">
            <a class="flexbox" href="#">Login</a>
        </div>
        <div class="mem_bt" @click="mem_bt_click" v-if="mem_login == true">
            <a href="#"></a>
        </div>
        <div class="mem_list" @click="stopPropagation">
            <div class="paint_border"></div>
            <ul>
                <li>
                    <a href="./profile.html">
                        <h4>Profile</h4>
                    </a>
                </li>
                <li>
                    <a href="./library.html">
                        <h4>Library</h4>
                    </a>
                </li>
                <li>
                    <a href="./songsadded.html">
                        <h4>
                            Song Upload
                            <br />&amp; Remove
                        </h4>
                    </a>
                </li>
                <li>
                    <a href="./store.html">
                        <h4>
                            Store Value
                            <br />&amp;Store Record
                        </h4>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h4>Donate Record</h4>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- nav_bar end -->
    <!-- player start -->
    <div id="player">
      <audio src="" id="audioPlayer"></audio>
      <div class="player_s">
        <div class="info">
          <div class="cover"><img src="./img/collection/album1.jpg"></div>
          <div class="songInfo">
            <span class="name">Lucid Dreamer</span>
            <span class="creator">Spazz Cardigan</span>
          </div>
          <div class="heart becomeRed"><img src="./img/collection/redheart.png" alt=""></div>
          <div class="clearfix"></div>
        </div>
  
        <div class="controlPanel">
          <div class="progressbar">
            <div class="progress"></div>
          </div>
          <div class="time">
            <span class="start">00:00</span>
            <span class="end">04:30</span>
            <div class="clearfix"></div>
          </div>
          <div class="btns">
            <div class="controls">
              <button class="prev"><i class="fas fa-step-backward"></i></button>
              <button class="play"><i class="fas fa-play"></i></button>
              <button class="next"><i class="fas fa-step-forward"></i></button>
              <button class="stop"><i class="fas fa-stop"></i></button>
              <button class="rand"><i class="fas fa-random"></i></button>
              <button class="loop"><i class="fas fa-undo-alt"></i></button>
              <div class="clearfix"></div>
            </div>
            <div class="vol">
              <div class="volicon"><i class="fas fa-volume-down"></i></div>
              <div class="volLine">
                <div class="volControl"></div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
  
        <div class="expand" id="expand"><i class="fas fa-expand"></i></div>
        <div class="clearfix"></div>
      </div>
  
      <!-- 詳細版 -->
      <div class="player_b">
        <div class="left">
          <div class="info">
            <div class="songCover">
              <img src="./img/collection/album1.jpg">
              <div class="coverRec"><img src="./img/library/player_record.png" alt=""></div>
            </div>
          </div>
          <div class="songInfo">
            <div class="name">Lucid Dreamer</div>
            <div class="creator">Spazz Cardigan</div>
            <div class="heart becomeRed"><img src="./img/collection/redheart.png" alt=""></div>
            <div class="clearfix"></div>
          </div>
          <div class="controlPanel">
            <div class="progressbar">
              <div class="progress"></div>
            </div>
            <div class="time">
              <span class="start">00:00</span>
              <span class="end">00:00</span>
              <div class="clearfix"></div>
            </div>
            <div class="btns">
              <div class="controls">
                <button class="rand"><i class="fas fa-random"></i></button>
                <button class="prev"><i class="fas fa-step-backward"></i></button>
                <button class="play"><i class="fas fa-play"></i></button>
                <button class="next"><i class="fas fa-step-forward"></i></button>
                <button class="stop"><i class="fas fa-stop"></i></button>
                <button class="loop"><i class="fas fa-undo-alt"></i></button>
                <div class="clearfix"></div>
              </div>
              <div class="vol">
                <div class="volicon"><i class="fas fa-volume-down"></i></div>
                <div class="volLine">
                  <div class="volControl"></div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="pushBtn"></div>
        </div>
  
        <div class="right">
          <div class="pushBtn"></div>
          <div class="listTitle">
            <div class="listCover">
              <img src="./img/library/list_pic1.jpg"></div>
            <div class="listName">
              <h2>peaceful list</h2>
              <span>8 songs</span>
            </div>
            <button class="selectBtn" id="selectBtn">SELECT</button>
            <div class="clearfix"></div>
          </div>
          <div class="list">
            <ul>
              <li>
                <div class="songCover">
                  <img src="./img/collection/album1.jpg" alt="">
                  <div class="listPlay nowlistening"><img src="./img/library/coverPlay-s.png"></div>
                </div>
                <div class="listSongInfo">
                  <div class="name">
                    <h4>Lucid Dreamer</h4>
                    <p> Spazz Cardigan</p>
                  </div>
                </div>
                <div class="totalTime">3:11</div>
                <div class="heart becomeRed"><img src="./img/collection/redheart.png"></div>
                <div class="clearfix"></div>
              </li>
              <li>
                <div class="songCover">
                  <img src="./img/collection/album2.jpg" alt="">
                  <div class="listPlay"><img src="./img/library/coverPlay-s.png"></div>
                </div>
                <div class="listSongInfo">
                  <div class="name">
                    <h4>Spring In My Step</h4>
                    <p>Silent Partner</p>
                  </div>
                </div>
                <div class="totalTime">1:59</div>
                <div class="heart becomeRed"><img src="./img/collection/redheart.png" alt=""></div>
                <div class="clearfix"></div>
              </li>
              <li>
                <div class="songCover">
                  <img src="./img/collection/album3.jpg" alt="">
                  <div class="listPlay"><img src="./img/library/coverPlay-s.png"></div>
                </div>
                <div class="listSongInfo">
                  <div class="name">
                    <h4>On My Way Home</h4>
                    <p>The 126ers</p>
                  </div>
                </div>
                <div class="totalTime">1:56</div>
                <div class="heart becomeRed"><img src="./img/collection/redheart.png" alt=""></div>
                <div class="clearfix"></div>
              </li>
              <li>
                <div class="songCover">
                  <img src="./img/collection/album4.jpg" alt="">
                  <div class="listPlay"><img src="./img/library/coverPlay-s.png"></div>
                </div>
                <div class="listSongInfo">
                  <div class="name">
                    <h4>Lucid Dreamer</h4>
                    <p> Spazz Cardigan</p>
                  </div>
                </div>
                <div class="totalTime">4:30</div>
                <div class="heart becomeRed"><img src="./img/collection/redheart.png" alt=""></div>
                <div class="clearfix"></div>
              </li>
              <li>
                <div class="songCover">
                  <img src="./img/collection/album5.jpg" alt="">
                  <div class="listPlay"><img src="./img/library/coverPlay-s.png"></div>
                </div>
                <div class="listSongInfo">
                  <div class="name">
                    <h4>Lucid Dreamer</h4>
                    <p> Spazz Cardigan</p>
                  </div>
                </div>
                <div class="totalTime">4:30</div>
                <div class="heart becomeRed"><img src="./img/collection/redheart.png" alt=""></div>
                <div class="clearfix"></div>
              </li>
              <li>
                <div class="songCover">
                  <img src="./img/collection/album6.jpg" alt="">
                  <div class="listPlay"><img src="./img/library/coverPlay-s.png"></div>
                </div>
                <div class="listSongInfo">
                  <div class="name">
                    <h4>Lucid Dreamer</h4>
                    <p> Spazz Cardigan</p>
                  </div>
                </div>
                <div class="totalTime">4:30</div>
                <div class="heart becomeRed"><img src="./img/collection/redheart.png" alt=""></div>
                <div class="clearfix"></div>
              </li>
              <li>
                <div class="songCover">
                  <img src="./img/collection/album7.jpg" alt="">
                  <div class="listPlay"><img src="./img/library/coverPlay-s.png"></div>
                </div>
                <div class="listSongInfo">
                  <div class="name">
                    <h4>Lucid Dreamer</h4>
                    <p> Spazz Cardigan</p>
                  </div>
                </div>
                <div class="totalTime">4:30</div>
                <div class="heart becomeRed"><img src="./img/collection/redheart.png" alt=""></div>
                <div class="clearfix"></div>
              </li>
  
            </ul>
          </div>
        </div>
        <div class="close" id="closePlayer"><i class="fas fa-times"></i></div>
        <div class="clearfix"></div>
  
        <!-- 撥放器燈箱 -->
        <div class="lightCover">
          <div class="lightbox_s" id="myAllList">
            <div class="closeLight"><i class="fas fa-times"></i></div>
            <h3>My List</h3>
            <div class="lightSelectMenu">
              <ul>
                <li>Liked songs</li>
                <li>Peaceful songs</li>
                <li>party</li>
              </ul>
            </div>
            <button class="">ok</button>
          </div>
        </div>
      </div>
    </div>
    <!-- player end -->
  </div>
  <!-- the end of the nav_bar and player -->
  <!-- start to the content -->
  <div class="signupcontainer">
    <div class="greenblock">
      <div class="whiteform">
        <div class="signup displaynone">
          <h1>Register</h1>
          <form autocomplete="off" action="" method="post">
            <label>E-mail*:</label>
            <input type="email"class="emailinput" title="ENTER RIGHT" name="mem_acct" required>
            <label>Password*:</label>
            <input type="password"class="emailinput firsttimepsw" pattern="\w{5,17}$" name="mem_psw" title="字母開頭，長度在6~18間，只能包含字母、數字、下底線" >
            <label>Confirm password*:</label>
            <input type="password"class="emailinput confirmpsw" pattern="\w{5,17}$" name="mem_psw" title="字母開頭，長度在6~18間，只能包含字母、數字、下底線">
            <button type="button" class="loginregisterbtn">Create</button>
          </form>
        </div>
        <div class="signin">
            <h1>Sign in</h1>
            <form  autocomplete="off">
            <label>E-mail*:</label>
            <input type="email" class="emailinput" title="ENTER RIGHT" id="mem_acct" name="mem_acct" required>
            <label >Password*:</label>
            <input type="password" id="mem_psw" pattern="\w{5,17}$" name="mem_psw" title="字母開頭，長度在6~18間，只能包含字母、數字、下底線">
            <a href="" class="forgetpswlightbox">forget password?</a>
            <button type="button" class="buttonsubmitlogin" id="loginbutton" >Log in</button>
          </form>
        </div>
      </div>
        <div class="leftbox">
          <h2 class="title"><span>EDM</span><br>IN SOUNDWAVE</h2>
          <img class="flower smaller" src="./img/register/flower.png" alt="1357d638624297b" border="0">
          <p class="account">have an account?</p>
          <button id="signin">Login</button>
        </div>
        <div class="rightbox">
          <h2 class="title"><span>SOUNDWAVE</span><br>IN HEART</h2>
          <img class="flower" src="./img/register/water.png"/>
          <p class="account">don't have an account?</p>
          <button id="signup">Sign up</button>
        </div>
      </div>
    </div>
  <div id=mobilelogintab>
    <ul class="motabtitle">
      <li><a href="#mobilelogintab1">Sign in</a></li>
      <li><a href="#mobilelogintab2">Register</a></li>
    </ul>
    <div id="mobilelogintab1" class="motabinner">
      <form  autocomplete="off" action="./php/login.php" method="post">
        <label>E-mail*:</label>
        <input type="email" value="soundwave@gmail.com" class="emailinput" title="ENTER RIGHT" name="mem_acct" required>
        <label >Password*:</label>
        <input type="password" value="dd104g1dd104g1" pattern="\w{5,17}$" name="mem_psw" title="字母開頭，長度在6~18間，只能包含字母、數字、下底線">
        <a href="" class="forgetpswlightbox">forget password?</a>
        <button type="submit" class="buttonsubmitlogin">Log in</button>
      </form>
    </div>
    <div id="mobilelogintab2" class="motabinner">
      <form autocomplete="off" action="" method="post">
        <label>E-mail:</label>
        <input type="email"class="emailinput" title="ENTER RIGHT" name="mem_acct" required>
        <label>Password:</label>
        <input type="password"class="emailinput firsttimepsw" pattern="\w{5,17}$" title="字母開頭，長度在6~18間，只能包含字母、數字、下底線" >
        <label>Confirm password:</label>
        <input type="password"class="emailinput confirmpsw" pattern="\w{5,17}$" title="字母開頭，長度在6~18間，只能包含字母、數字、下底線">
        <button>Create</button>
      </form>
    </div>
  </div>
  <!-- the end of the content -->
  <!-- lightbox -->
  <div class="loginforgetpsw1 lightCover">
    <div class="loginforgetpsw2 lightbox_s">
      <div class="loginlightboxclose closeLight"><i class="fas fa-times"></i></div>
      <h4>Return password</h4>
      <label class="emailchecklabel">Please enter your e-mail:</label> <br>
      <input class="emailcheckinput" type="text"> <br>
      <button class="emailcheck">Ok</button>
    </div>
  </div>
  <!-- the end of light box -->
</body>
<!-- the script of myself -->
<script>
  //click login XML function
  function loginfun(){  
  let xhr = new XMLHttpRequest();
  console.log(xhr.readyState);
  xhr.onreadystatechange = function(){
    if(xhr.readyState == 4){
      if( xhr.status == 200){ //success
        //go the index.html
        alert(xhr.responseText);
      }else{ 
        alert('fail');
        alert(xhr.responseText);
        //lightbox
      }
    }
  }
  let url = "./php/login.php";
  xhr.open("post", url, true);
  xhr.setRequestHeader("content-type","application/x-www-form-urlencoded");
  let member_data = "mem_acct=" + document.getElementById('mem_acct').value+"&&mem_psw=" + document.getElementById('mem_psw').value ;
  xhr.send(member_data);
  console.log(member_data);
}
  //the lightbox forgetpswlightbox
  $('.forgetpswlightbox').click(function (e) {
    e.preventDefault();
    $('.loginforgetpsw1').show();
    $('.loginforgetpsw2').show();
  });
  $('.loginlightboxclose').click(function () {
    $('.loginforgetpsw1').hide();
  });
  //the email double check
  $('.emailcheck').click(function(){
    $('.emailchecklabel').text('Please check the confirmation in your E-mail.');
    $('.emailcheckinput').hide();
    $('.emailcheck').text('Close');
      $('.emailcheck').click(function(){
        $('.loginforgetpsw1').hide();
        location.reload(['.forgetpswlightbox']);  
      }); 
  });
  //the change of the div
  $('#signup').click(function() {
    $('.whiteform').css('transform', 'translateX(80%)');
    $('.signin').addClass('displaynone');
    $('.signup').removeClass('displaynone');
    });
  $('#signin').click(function() {
      $('.whiteform').css('transform', 'translateX(0%)');
      $('.signup').addClass('displaynone');
      $('.signin').removeClass('displaynone');
    });
    //loging/out status change
    // mobile version the tab
  $(function(){
    var $li = $('ul.motabtitle li');
        $($li. eq(0) .addClass('active').find('a').attr('href')).siblings('.motabinner').hide();
        $li.click(function(){
          $($(this).find('a'). attr ('href')).show().siblings ('.motabinner').hide();
          $(this).addClass('active'). siblings ('.active').removeClass('active');
        });
   $('#loginbutton').click(loginfun);
   });
</script>
<!-- the end of my script -->
</html>