<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>

</head>

<body>
    <div id="nav_app">
        <!-- nav_bar start -->
        <div class="nav_bar flexbox">
            <div class="hamburger" @click="hamburger_click">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
            <div class="mobile_list" @click="stopPropagation">
                <div class="paint_border"></div>
                <ul>
                    <li class="REMIX flexbox">
                        <a href="./remix.html">
                        </a>
                    </li>
                    <li class="COLLECTION flexbox">
                        <a href="./collection.html">
                        </a>
                    </li>
                    <li class="ACTIVITY flexbox">
                        <a href="./activity.html">
                        </a>
                    </li>
                    <li class="LIBRARY flexbox">
                        <a href="./library.html">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="logo_container">
                <a href="./index.html">
                    <div class="logo"></div>
                </a>
                <div class="finger"></div>
            </div>
            <ul class="main_list flexbox">
                <li class="REMIX flexbox">
                    <a href="./remix.html">
                    </a>
                </li>
                <li class="COLLECTION flexbox">
                    <a href="./collection.html">
                    </a>
                </li>
                <li class="ACTIVITY flexbox">
                    <a href="./activity.html">
                    </a>
                </li>
                <li class="LIBRARY flexbox">
                    <a href="./library.html">
                    </a>
                </li>
            </ul>
            <div class="search_bt" @click="search_bt_click">
                <a href="#"></a>
            </div>
            <div class="search_bar" @click="stopPropagation">
                <input class="search" type="text" />
                <div class="tag_container">
                </div>
            </div>

            <div class="mem_bt" @click="mem_bt_click" v-if="mem_login == true">
                <a href="#"></a>
            </div>
            <div class="login_bt" v-if="mem_login == false">
                <a href="./login.html"></a>
            </div>
            <div class="mem_list" @click="stopPropagation">
                <div class="paint_border"></div>
                <ul>
                    <li>
                        <a href="./profile.html">
                            <h4>Profile</h4>
                        </a>
                    </li>
                    <li>
                        <a href="./songsadded.html">
                            <h4>
                                Song Upload
                                <br />&amp; Remove
                            </h4>
                        </a>
                    </li>
                    <li>
                        <a href="./store.html">
                            <h4>
                                Store Value
                                <br />&amp;Store Record
                            </h4>
                        </a>
                    </li>
                    <li>
                        <a href="./donate.html">
                            <h4>Donate Record</h4>
                        </a>
                    </li>
                    <li @click="logout">
                        <a href="#">
                            <h4>Log Out</h4>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- nav_bar end -->
    </div>
    <script src="./js/nav_bar.js"></script>
</body>

</html>