<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
  <link rel="stylesheet" href="./css/main.css">
  <title>remix</title>
</head>

<body>
  <div id="remix_app">
    <div class="nav_bar flexbox">
      <div class="hamburger" @click="hamburger_click">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
      <div class="mobile_list" @click="stopPropagation">
        <div class="paint_border"></div>
        <ul>
          <li class="REMIX flexbox">
            <a href="">
            </a>
          </li>
          <li class="COLLECTION flexbox">
            <a href="">
            </a>
          </li>
          <li class="ACTIVITY flexbox">
            <a href="">
            </a>
          </li>
          <li class="LIBRARY flexbox">
            <a href="">
            </a>
          </li>
        </ul>
      </div>

      <div class="logo_container">
        <a href="">
          <div class="logo"></div>
        </a>
      </div>
      <ul class="main_list flexbox">
        <li class="REMIX flexbox">
          <a href="">
          </a>
        </li>
        <li class="COLLECTION flexbox">
          <a href="">
          </a>
        </li>
        <li class="ACTIVITY flexbox">
          <a href="">
          </a>
        </li>
        <li class="LIBRARY flexbox">
          <a href="">
          </a>
        </li>
      </ul>
      <div class="search_bt" @click="search_bt_click">
        <a href="#"></a>
      </div>
      <div class="search_bar" @click="stopPropagation">
        <input class="search" type="text" />
        <div class="tag_container">
        </div>
      </div>
      <div class="login_bt" @click="" v-if="mem_login == false">
        <a class="flexbox" href="#">Login</a>
      </div>
      <div class="mem_bt" @click="mem_bt_click" v-if="mem_login == true">
        <a href="#"></a>
      </div>
      <div class="mem_list" @click="stopPropagation">
        <div class="paint_border"></div>
        <ul>
          <li>
            <a href="">
              <h4>Profile</h4>
            </a>
          </li>
          <li>
            <a href="">
              <h4>Favorite</h4>
            </a>
          </li>
          <li>
            <a href="">
              <h4>
                Song Upload
                <br />&amp; Remove
              </h4>
            </a>
          </li>
          <li>
            <a href="">
              <h4>
                Store Value
                <br />&amp;Store Record
              </h4>
            </a>
          </li>
          <li>
            <a href="">
              <h4>Donate Record</h4>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <header>
      <img src="./img/remix/REMIX.png">
    </header>
    <div class="wrapper remix_wrapper">
      <div class="remix_head">
        <div class="remix_demo col-xl-6 col-md-8 col-sm-12">
          <h2 class="remix_h2">The Playground</h2>
          <p class="remix_intro">You can experiment with the different music making tools you've used so far.
            They'll all
            play together in sync.</p>
          <div class="remix_choose_song">
            <h4 class="remix_h4" @click="npm = 120;song_list('always_with_me')">1. always with me</h4>
            <h4 class="remix_h4" @click="song_list(0)">2. Happy Birthday</h4>
            <h4 class="remix_h4" @click="npm = 120;song_list('cat')">3. cat</h4>
          </div>
        </div>
        <div class="remix_svg_move col-xl-6 col-md-10 col-sm-12">
          <div class="remix_rock_move">
            <img src="./img/remix/rock.png" class="">
          </div>
          <div class="remix_color"></div>
        </div>
      </div>
      <div class="remix_range">
        <p class="remix_npm">npm: {{ npm }}</p>
        <div class="remix_rangebutton">
          <input type="range" id="input_npm" value="120" min="40" max="220" step="5" v-model="npm" @input="npm_control">
          <div class="remix_button">
            <button class="start remix_btn" @click="start_schedule();buttonclick(1)" @mouseenter="buttonclick(1)"
              v-if="loop == false">
              <img src="./img/remix/start.png"><span></span>
            </button>
            <button class="start remix_btn" @click="start_schedule();buttonclick(1)" @mouseenter="buttonclick(1)"
              v-if="loop == true && record == false">
              <img src="./img/remix/pause.png"><span></span>
            </button>
            <button class="start remix_btn" v-if="loop == true && record == true">
              <img src="./img/remix/start_disable.png"><span></span>
            </button>
            <button class="record remix_btn" @click="record = true;start_record()" @mouseenter="buttonclick(2)"
              v-if="record == false">
              <img src="./img/remix/record.png"><span></span>
            </button>
            <button class="record remix_btn" @click="record = false;start_record()" @mouseenter="buttonclick(2)"
              v-if="record == true">
              <img src="./img/remix/record.gif"><span></span>
            </button>
            <button class="download remix_btn" v-if="audioSrc == ''">
              <img src="./img/remix/download_disabled.png"><span></span>
            </button>
            <button class="download remix_btn" v-else>
              <a :href="audioSrc" download>
                <img src="./img/remix/download.png">
                <audio :href="audioSrc" id='recordAudio'></audio>
              </a>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <div class="remix_table">
        <h3>Paino</h3>
        <!-- re -->
        <table class="re poa remix_play" style="z-index: 5;">
          <tr>
            <th v-for="(tr,index) in table_id" colspan="7" @click="className.isActive = index;control_table(tr)"
              :class="{active: className.isActive == index}">
              <h4 class="remix_h4"> {{ tr }}</h4>
            </th>
          </tr>
          <tr v-for="(res,index_row) in re" class="trclass">
            <td class="note_name">
              <h6 class="remix_h6">{{re[index_row]}}</h6><audio
                :src="'./img/remix/sound/'+(re1[index_row])+'.mp3'"></audio>
            </td>
            <td class="sound_note" v-for="(item,index) in lattice"
              @click="changeClass(index_row,index);one_sound(re[index_row],index_row,index);">

            </td>
          </tr>
        </table>
        <!-- mi -->
        <table class="mi poa remix_play">
          <tr>
            <th v-for="(tr,index) in table_id" colspan="7" @click="className.isActive = index;control_table(tr)"
              :class="{active: className.isActive == index}">
              <h4 class="remix_h4"> {{ tr }}</h4>
            </th>
          </tr>
          <tr v-for="(res,index_row) in mi" class="trclass">
            <td class="note_name">
              <h6 class="remix_h6">{{mi[index_row]}}</h6><audio
                :src="'./img/remix/sound/'+(mi1[index_row])+'.mp3'"></audio>
            </td>
            <td class="sound_note" v-for="(item,index) in lattice"
              @click="changeClass(index_row + 12,index);one_sound(mi[index_row],index_row + 12,index);">

            </td>
          </tr>
        </table>
        <!-- fa -->
        <table class="fa poa remix_play">
          <tr>
            <th v-for="(tr,index) in table_id" colspan="7" @click="className.isActive = index;control_table(tr)"
              :class="{active: className.isActive == index}">
              <h4 class="remix_h4"> {{ tr }}</h4>
            </th>
          </tr>
          <tr v-for="(res,index_row) in fa" class="trclass">
            <td class="note_name">
              <h6 class="remix_h6">{{fa[index_row]}}</h6><audio
                :src="'./img/remix/sound/'+(fa1[index_row])+'.mp3'"></audio>
            </td>
            <td class="sound_note" v-for="(item,index) in lattice"
              @click="changeClass(index_row + 24,index);one_sound(fa[index_row],index_row + 24,index);">
            </td>
          </tr>
        </table>
        <!-- so -->
        <table class="so poa remix_play">
          <tr>
            <th v-for="(tr,index) in table_id" colspan="7" @click="className.isActive = index;control_table(tr)"
              :class="{active: className.isActive == index}">
              <h4 class="remix_h4"> {{ tr }}</h4>
            </th>
          </tr>
          <tr v-for="(res,index_row) in so" class="trclass">
            <td class="note_name">
              <h6 class="remix_h6">{{so[index_row]}}</h6><audio
                :src="'./img/remix/sound/'+(so1[index_row])+'.mp3'"></audio>
            </td>
            <td class="sound_note" v-for="(item,index) in lattice"
              @click="changeClass(index_row + 36,index);one_sound(so[index_row],index_row + 36,index);">

            </td>
          </tr>
        </table>
        <!-- la -->
        <table class="la remix_play">
          <tr>
            <th v-for="(tr,index) in table_id" colspan="7" @click="className.isActive = index;control_table(tr)"
              :class="{active: className.isActive == index}">
              <h4 class="remix_h4"> {{ tr }}</h4>
            </th>
          </tr>
          <tr v-for="(res,index_row) in la" class="trclass">
            <td class="note_name">
              <h6 class="remix_h6">{{la[index_row]}}</h6><audio
                :src="'./img/remix/sound/'+(la1[index_row])+'.mp3'"></audio>
            </td>
            <td class="sound_note" v-for="(item,index) in lattice"
              @click="changeClass(index_row + 48,index);one_sound(la[index_row],index_row + 48,index);">

            </td>
          </tr>
        </table>
        <h3 class="remix_drumh3">Beat</h3>
        <!-- drum -->
        <table class="drum remix_play">
          <tr v-for="(res,index_row) in drum" class="trclass">
            <td class="note_name">
              <h6 class="remix_h6">{{drum[index_row]}}</h6><audio
                :src="'./img/remix/sound/'+(drum[index_row])+'.mp3'"></audio>
            </td>
            <td class="sound_note" v-for="(item,index) in lattice"
              @click="changeClass(index_row + 60,index);one_sound(drum[index_row],index_row + 60,index);">

            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="remix_bg_color">
      <img src="./img/remix/background_color.png" alt="">
    </div>
  </div>

  <!-- player start -->
  <div id="player">
    <audio src="" id="audioPlayer"></audio>
    <div class="player_s">
      <div class="info">
        <div class="cover"><img src="./img/library/cover1.jpg"></div>
        <div class="songInfo">
          <span class="name">Lucid Dreamer</span>
          <span class="creator">Spazz Cardigan</span>
        </div>
        <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
        <div class="clearfix"></div>
      </div>

      <div class="controlPanel">
        <div class="progressbar">
          <div class="progress"></div>
        </div>
        <div class="time">
          <span class="start">00:00</span>
          <span class="end">04:30</span>
          <div class="clearfix"></div>
        </div>
        <div class="btns">
          <div class="controls">
            <button class="prev"><i class="fas fa-step-backward"></i></button>
            <button class="play"><i class="fas fa-play"></i></button>
            <button class="next"><i class="fas fa-step-forward"></i></button>
            <button class="stop"><i class="fas fa-stop"></i></button>
            <button class="rand"><i class="fas fa-random"></i></button>
            <button class="loop"><i class="fas fa-undo-alt"></i></button>
            <div class="clearfix"></div>
          </div>
          <div class="vol">
            <div class="volicon"><i class="fas fa-volume-down"></i></div>
            <div class="volLine">
              <div class="volControl"></div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="expand" id="expand"><i class="fas fa-expand"></i></div>
      <div class="clearfix"></div>
    </div>

    <!-- 詳細版 -->
    <div class="player_b">
      <div class="left">
        <div class="songCover">
          <div class="coverImg">
            <img src="./img/library/cover1.jpg">
            <div class="coverRec"><img src="./img/library/player_record.png" alt=""></div>
          </div>
        </div>
        <div class="songInfo">
          <div class="name">
            Lucid Dreamer
          </div>
          <div class="creator">
            Spazz Cardigan
          </div>
          <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
          <div class="clearfix"></div>
        </div>
        <div class="controlPanel">
          <div class="progressbar">
            <div class="progress"></div>
          </div>
          <div class="time">
            <span class="start">00:00</span>
            <span class="end">04:30</span>
            <div class="clearfix"></div>
          </div>
          <div class="btns">
            <div class="controls">
              <button class="rand"><i class="fas fa-random"></i></button>
              <button class="prev"><i class="fas fa-step-backward"></i></button>
              <button class="play"><i class="fas fa-play"></i></button>
              <button class="next"><i class="fas fa-step-forward"></i></button>
              <button class="stop"><i class="fas fa-stop"></i></button>
              <button class="loop"><i class="fas fa-undo-alt"></i></button>
              <div class="clearfix"></div>
            </div>
            <div class="vol">
              <div class="volicon"><i class="fas fa-volume-down"></i></div>
              <div class="volLine">
                <div class="volControl"></div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="pushBtn"></div>
      </div>

      <div class="right">
        <div class="pushBtn"></div>
        <div class="listTitle">
          <div class="listCover">
            <img src="./img/library/list_pic1.jpg"></div>
          <div class="listName">
            <h2>peaceful list</h2>
            <span>8 songs</span>
          </div>
          <button class="selectBtn" id="selectBtn">SELECT</button>
          <div class="clearfix"></div>
        </div>
        <div class="list">
          <ul>
            <li>
              <div class="songCover">
                <img src="./img/library/cover1.jpg" alt="">
                <div class="listPlay"><i class="fas fa-play"></i></div>
              </div>
              <div class="listSongInfo">
                <div class="name">
                  <h4>Lucid Dreamer</h4>
                  <p> Spazz Cardigan</p>
                </div>
              </div>
              <div class="totalTime">4:30</div>
              <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="songCover">
                <img src="./img/library/cover2.jpg" alt="">
                <div class="listPlay"><i class="fas fa-play"></i></div>
              </div>
              <div class="listSongInfo">
                <div class="name">
                  <h4>Lucid Dreamer</h4>
                  <p> Spazz Cardigan</p>
                </div>
              </div>
              <div class="totalTime">4:30</div>
              <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="songCover">
                <img src="./img/library/cover3.jpg" alt="">
                <div class="listPlay"><i class="fas fa-play"></i></div>
              </div>
              <div class="listSongInfo">
                <div class="name">
                  <h4>Lucid Dreamer</h4>
                  <p> Spazz Cardigan</p>
                </div>
              </div>
              <div class="totalTime">4:30</div>
              <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="songCover">
                <img src="./img/library/cover4.jpg" alt="">
                <div class="listPlay"><i class="fas fa-play"></i></div>
              </div>
              <div class="listSongInfo">
                <div class="name">
                  <h4>Lucid Dreamer</h4>
                  <p> Spazz Cardigan</p>
                </div>
              </div>
              <div class="totalTime">4:30</div>
              <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="songCover">
                <img src="./img/library/cover5.jpg" alt="">
                <div class="listPlay"><i class="fas fa-play"></i></div>
              </div>
              <div class="listSongInfo">
                <div class="name">
                  <h4>Lucid Dreamer</h4>
                  <p> Spazz Cardigan</p>
                </div>
              </div>
              <div class="totalTime">4:30</div>
              <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="songCover">
                <img src="./img/library/cover6.jpg" alt="">
                <div class="listPlay"><i class="fas fa-play"></i></div>
              </div>
              <div class="listSongInfo">
                <div class="name">
                  <h4>Lucid Dreamer</h4>
                  <p> Spazz Cardigan</p>
                </div>
              </div>
              <div class="totalTime">4:30</div>
              <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="songCover">
                <img src="./img/library/cover1.jpg" alt="">
                <div class="listPlay"><i class="fas fa-play"></i></div>
              </div>
              <div class="listSongInfo">
                <div class="name">
                  <h4>Lucid Dreamer</h4>
                  <p> Spazz Cardigan</p>
                </div>
              </div>
              <div class="totalTime">4:30</div>
              <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
              <div class="clearfix"></div>
            </li>

          </ul>
        </div>
      </div>
      <div class="close" id="closePlayer"><i class="fas fa-times"></i></div>
      <div class="clearfix"></div>

      <!-- 撥放器燈箱 -->
      <div class="lightCover">
        <div class="lightbox_s" id="myAllList">
          <div class="closeLight"><i class="fas fa-times"></i></div>
          <h3>My List</h3>
          <div class="lightSelectMenu">
            <ul>
              <li>Liked songs</li>
              <li>Peaceful songs</li>
              <li>party</li>
            </ul>
          </div>
          <button class="">ok</button>
        </div>
      </div>
    </div>
  </div>
  <!-- player end -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/tone/13.4.0/Tone.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
  <script src="./js/vue.js"></script>
  <script src="./js/player.js"></script>
  
  <script>
    var app = new Vue({
      el: '#remix_app',
      data: {
        className: {
          isActive: 0,
        },
        mobile_list: false,
        search_bar: false,
        mem_list: false,
        mem_login: false,
        screenWidth: document.body.clientWidth, // 紀錄螢幕寬度
        npm: 120,
        lattice: 34, // 現在有幾格
        loop: false, // 是否再循環撥放            
        record: false, // 是否有在錄音
        finish_one_song: false,
        table_id: ['re', 'mi', 'fa', 'so', 'la'],
        index: 0, // 第幾直排
        audioSrc: "", // 歌曲路徑
        demostart: false,
        category: ['two', 'three', 'four', 'five', 'six'],
        notes: ['C2', 'C#2', 'D2', 'D#2', 'E2', 'F2', 'F#2', 'G2', 'G#2', 'A2', 'A#2', 'B2', 'C3', 'C#3',
          'D3', 'D#3', 'E3', 'F3', 'F#3', 'G3', 'G#3', 'A3', 'A#3', 'B3', 'C4', 'C#4', 'D4', 'D#4',
          'E4', 'F4', 'F#4', 'G4', 'G#4', 'A4', 'A#4', 'B4', 'C5', 'C#5', 'D5', 'D#5', 'E5', 'F5',
          'F#5', 'G5', 'G#5', 'A5', 'A#5', 'B5', 'C6', 'C#6', 'D6', 'D#6', 'E6', 'F6', 'F#6', 'G6',
          'G#6', 'A6', 'A#6', 'B6', 'C1', 'D1', 'D#1', 'E1', 'F1', 'F#1', 'G1', 'G#1', 'C7', 'D7',
          'D#7', 'E7'
        ],
        notes1: ['C2', 'Cs2', 'D2', 'Ds2', 'E2', 'F2', 'Fs2', 'G2', 'Gs2', 'A2', 'As2', 'B2', 'C3', 'Cs3',
          'D3', 'Ds3', 'E3', 'F3', 'Fs3', 'G3', 'Gs3', 'A3', 'As3', 'B3', 'C4', 'Cs4', 'D4', 'Ds4',
          'E4', 'F4', 'Fs4', 'G4', 'Gs4', 'A4', 'As4', 'B4', 'C5', 'Cs5', 'D5', 'Ds5', 'E5', 'F5',
          'Fs5', 'G5', 'Gs5', 'A5', 'As5', 'B5', 'C6', 'Cs6', 'D6', 'Ds6', 'E6', 'F6', 'Fs6', 'G6',
          'Gs6', 'A6', 'As6', 'B6', 'Ride', 'Tom', 'OpenHat', 'ClosedHat', 'Clap', 'Snare', 'Rim', 'Kick', 'Slam',
          'Guitar',
          'Scratch', 'Electric'
        ],
        re: ['C2', 'C#2', 'D2', 'D#2', 'E2', 'F2', 'F#2', 'G2', 'G#2', 'A2', 'A#2', 'B2'],
        re1: ['C2', 'Cs2', 'D2', 'Ds2', 'E2', 'F2', 'Fs2', 'G2', 'Gs2', 'A2', 'As2', 'B2'],
        mi: ['C3', 'C#3', 'D3', 'D#3', 'E3', 'F3', 'F#3', 'G3', 'G#3', 'A3', 'A#3', 'B3'],
        mi1: ['C3', 'Cs3', 'D3', 'Ds3', 'E3', 'F3', 'Fs3', 'G3', 'Gs3', 'A3', 'As3', 'B3'],
        fa: ['C4', 'C#4', 'D4', 'D#4', 'E4', 'F4', 'F#4', 'G4', 'G#4', 'A4', 'A#4', 'B4'],
        fa1: ['C4', 'Cs4', 'D4', 'Ds4', 'E4', 'F4', 'Fs4', 'G4', 'Gs4', 'A4', 'As4', 'B4'],
        so: ['C5', 'C#5', 'D5', 'D#5', 'E5', 'F5', 'F#5', 'G5', 'G#5', 'A5', 'A#5', 'B5'],
        so1: ['C5', 'Cs5', 'D5', 'Ds5', 'E5', 'F5', 'Fs5', 'G5', 'Gs5', 'A5', 'As5', 'B5'],
        la: ['C6', 'C#6', 'D6', 'D#6', 'E6', 'F6', 'F#6', 'G6', 'G#6', 'A6', 'A#6', 'B6'],
        la1: ['C6', 'Cs6', 'D6', 'Ds6', 'E6', 'F6', 'Fs6', 'G6', 'Gs6', 'A6', 'As6', 'B6'],
        drum: ['Ride', 'Tom', 'Open', 'Closed', 'Clap', 'Snare', 'Rim', 'Kick', 'Slam', 'Guitar',
          'Scratch', 'Electric'
        ],
        soundSrc: {
          "c2": "./img/remix/sound/C2.mp3",
          "c#2": "./img/remix/sound/Cs2.mp3",
          "d2": "./img/remix/sound/D2.mp3",
          "d#2": "./img/remix/sound/Ds2.mp3",
          "e2": "./img/remix/sound/E2.mp3",
          "f2": "./img/remix/sound/F2.mp3",
          "f#2": "./img/remix/sound/Fs2.mp3",
          "g2": "./img/remix/sound/G2.mp3",
          "G#2": "./img/remix/sound/Gs2.mp3",
          "a2": "./img/remix/sound/A2.mp3",
          "a#2": "./img/remix/sound/As2.mp3",
          "c3": "./img/remix/sound/C3.mp3",
          "c#3": "./img/remix/sound/Cs3.mp3",
          "d3": "./img/remix/sound/D3.mp3",
          "d#3": "./img/remix/sound/Ds3.mp3",
          "e3": "./img/remix/sound/E3.mp3",
          "f3": "./img/remix/sound/F3.mp3",
          "f#3": "./img/remix/sound/Fs3.mp3",
          "g3": "./img/remix/sound/G3.mp3",
          "g#3": "./img/remix/sound/Gs3.mp3",
          "a3": "./img/remix/sound/A3.mp3",
          "a#3": "./img/remix/sound/As3.mp3",
          "c4": "./img/remix/sound/C4.mp3",
          "d4": "./img/remix/sound/D4.mp3",
          "d#4": "./img/remix/sound/Ds4.mp3",
          "e4": "./img/remix/sound/E4.mp3",
          "f4": "./img/remix/sound/F4.mp3",
          "f#4": "./img/remix/sound/Fs4.mp3",
          "g4": "./img/remix/sound/G4.mp3",
          "g#4": "./img/remix/sound/Gs4.mp3",
          "a4": "./img/remix/sound/A4.mp3",
          "b4": "./img/remix/sound/B4.mp3",
          "c5": "./img/remix/sound/C5.mp3",
          "d5": "./img/remix/sound/D5.mp3",
          "d#5": "./img/remix/sound/Ds5.mp3",
          "e5": "./img/remix/sound/E5.mp3",
          "f5": "./img/remix/sound/F5.mp3",
          "f#5": "./img/remix/sound/Fs5.mp3",
          "g5": "./img/remix/sound/G5.mp3",
          "g#5": "./img/remix/sound/Gs5.mp3",
          "a5": "./img/remix/sound/A5.mp3",
          "b5": "./img/remix/sound/B5.mp3",
          "c6": "./img/remix/sound/C6.mp3",
          "d6": "./img/remix/sound/D6.mp3",
          "d#6": "./img/remix/sound/Ds6.mp3",
          "e6": "./img/remix/sound/E6.mp3",
          "f6": "./img/remix/sound/F6.mp3",
          "f#6": "./img/remix/sound/Fs6.mp3",
          "g6": "./img/remix/sound/G6.mp3",
          "g#6": "./img/remix/sound/Gs6.mp3",
          "a6": "./img/remix/sound/A6.mp3",
          "b6": "./img/remix/sound/B6.mp3",
          "c1": "./img/remix/sound/Ride.mp3",
          "d1": "./img/remix/sound/Tom.mp3",
          "d#1": "./img/remix/sound/Open.mp3",
          "e1": "./img/remix/sound/Closed.mp3",
          "f1": "./img/remix/sound/Clap.mp3",
          "f#1": "./img/remix/sound/Snare.mp3",
          "g1": "./img/remix/sound/Rim.mp3",
          "g#1": "./img/remix/sound/Kick.mp3",
          "c7": "./img/remix/sound/Slam.mp3",
          "d7": "./img/remix/sound/Guitar.mp3",
          "d#7": "./img/remix/sound/Scratch.mp3",
          "e7": "./img/remix/sound/Electric.mp3",
        },
        song_start: {
          always_with_me: [
            [24],
            [26],
            [12, 28],
            [24],
            [19, 31],
            [],
            [28],
            [7, 26],
            [31],
            [],
            [19, 26],
            [],
            [9, 24],
            [21],
            [24, 28],
            [],
            [4, 23],
            [19],
            [],
            [23],
            [5, 21],
            [17, 23],
            [24],
            [26],
            [16, 19],
            [],
            [19, 24],
            [],
            [26],
            [28],
            [14, 29],
            [21, 29],
            [21, 19],
            [28],
            [26],
          ],
          cat: [
            [42],
            [44],
            [46, 18, 25],
            [37],
            [42],
            [46],
            [46],
            [],
            [44],
            [42],
            [17, 24, 44],
            [49],
            [49],
            [49],
            [49],
            [],
            [42],
            [41],
            [14, 22, 42],
            [42],
            [42],
            [42],
            [42],
            [],
            [41],
            [42],
            [41, 13, 22],
            [42],
            [41],
            [39],
            [37, 17],
            [],
            [13, 37],
            [11, 18, 39],
            [39],
            [39],
            [39],
            [39],
            [],
            [37],
            [34],
            [10, 18, 37],
            [34],
            [37],
            [44],
            [13, 42],
            [],
            [10],
            [37],
            [8, 15, 46],
            [46],
            [46],
            [47],
            [15, 49],
            [42],
            [11, 44],
            [46],
            [13, 20, 44],
            []
          ]
        },
      },
      methods: {
        hamburger_click(e) {
          e.stopPropagation();
          document.querySelector(".hamburger").classList.tmp3le("is-active");
        },
        search_bt_click(e) {
          e.stopPropagation();
          if (this.search_bar == false) {
            this.search_bar = true;
            this.mem_list = false;
            this.mobile_list = false;
            document
              .querySelector(".search_bar")
              .setAttribute("style", "height: 240px; filter: opacity(1);");
            document.querySelector("input.search").focus();
            document
              .querySelector(".mem_list")
              .setAttribute("style", "transform: translateX(270px); filter: opacity(0);");
            document
              .querySelector(".mobile_list")
              .setAttribute("style", "transform: translateX(-270px); filter: opacity(0);");
          } else {
            this.search_bar = false;
            document
              .querySelector(".search_bar")
              .setAttribute("style", "height: 0px; filter: opacity(0);");
            document.querySelector("input.search").blur();
            document
              .querySelector(".mem_list")
              .setAttribute("style", "transform: translateX(270px); filter: opacity(0);");
            document
              .querySelector(".mobile_list")
              .setAttribute("style", "transform: translateX(-270px); filter: opacity(0);");
          }
        },
        stopPropagation(e) {
          e.stopPropagation();
        },
        mem_bt_click(e) {
          e.stopPropagation();
          if (this.mem_list == false) {
            this.mem_list = true;
            this.search_bar = false;
            this.mobile_list = false;
            document
              .querySelector(".mem_list")
              .setAttribute("style", "transform: translateX(0); filter: opacity(1);");
            document
              .querySelector(".search_bar")
              .setAttribute("style", "height: 0px; filter: opacity(0);");
            document
              .querySelector(".mobile_list")
              .setAttribute("style", "transform: translateX(-270px); filter: opacity(0);");
          } else {
            this.mem_list = false;
            document
              .querySelector(".mem_list")
              .setAttribute("style", "transform: translateX(270px); filter: opacity(0);");
            document
              .querySelector(".search_bar")
              .setAttribute("style", "height: 0px; filter: opacity(0);");
            document
              .querySelector(".mobile_list")
              .setAttribute("style", "transform: translateX(-270px); filter: opacity(0);");
          }
        },
        hamburger_click(e) {
          e.stopPropagation();
          if (this.mobile_list == false) {
            this.mobile_list = true;
            this.mem_list = false;
            this.search_bar = false;
            document
              .querySelector(".mobile_list")
              .setAttribute("style", "transform: translateX(0); filter: opacity(1);");
            document
              .querySelector(".mem_list")
              .setAttribute("style", "transform: translateX(270px); filter: opacity(0);");
            document
              .querySelector(".search_bar")
              .setAttribute("style", "height: 0px; filter: opacity(0);");
          } else {
            this.mobile_list = false;
            document.querySelector(".mobile_list").setAttribute("style",
              "transform: translateX(-270px); filter: opacity(0);");
            document
              .querySelector(".mem_list")
              .setAttribute("style", "transform: translateX(270px); filter: opacity(0);");
            document
              .querySelector(".search_bar")
              .setAttribute("style", "height: 0px; filter: opacity(0);");
          }
        },
        npm_control() {
          // 顏色控制
          var input_npm = document.getElementById('input_npm');
          let value = ((this.npm - 40) / 180) * 100;

          input_npm.style.background = "linear-gradient(to right, #fff 0%, #fff " + value + "%,#333 " + value +
            "%, #333)";
        },
        buttonclick(num) {
          var button = document.querySelector('.remix_button button:nth-of-type(' + num + ') span');
          if (num == 3) {
            TweenMax.to(button, 1, {
              scale: 3,
              opacity: 0,
              repeat: -1,
              // ease: Quad.easeInOut
            })
          } else {
            TweenMax.set(button, {
              css: {
                scale: 1,
                opacity: 1,
              }
            })
            TweenMax.to(button, 0.5, {
              css: {
                scale: 3,
                opacity: 0,
                // ease: Quad.easeInOut
              }
            })
          }
        },
        control_table(index) { // 控制table z-index
          var index = document.getElementsByClassName(`${index}`)[0];
          var tables = document.getElementsByTagName('table');
          for (var i = 0; i < tables.length; i++) {
            tables[i].style.zIndex = '-10';
          }
          index.style.zIndex = '5';
        },
        one_sound(note, column, row) { // 按下會發出聲音 
          var vm = this;
          var trclass = document.getElementsByClassName('trclass');
          var sound_note = trclass[column].getElementsByClassName('sound_note');
          var note_name = trclass[column].getElementsByClassName('note_name')[0];
          var audiostart = note_name.querySelector('audio');

          if (sound_note[row].classList.contains('active')) {
            audiostart.pause();
            audiostart.currentTime = 0;
            audiostart.play();
          } else {
            audiostart.pause();
            audiostart.currentTime = 0;
          }
        },
        changeClass(column, row) { // 換 class
          var trclass = document.getElementsByClassName('trclass');
          var sound_note = trclass[column].getElementsByClassName('sound_note');
          sound_note[row].className == 'sound_note active' ? sound_note[row].className = 'sound_note' :
            sound_note[row].className = 'sound_note active';
        },
        start_schedule() {
          // 開始輪播 + 控制 npm
          var vm = this;
          var trclass = document.getElementsByClassName('trclass');
          if (!vm.loop) { // 沒有在循環播放
            vm.loop = !vm.loop;
            console.log(vm.loop);

            function repeat() {
              var step = vm.index % vm.lattice;
              for (var i = 0; i < trclass.length; i++) {
                var tr = trclass[i];
                var beforestep = trclass[i].getElementsByClassName(`sound_note`)[step - 1];
                var nowstep = trclass[i].getElementsByClassName(`sound_note`)[step];
                // var audiosound = trclass[i].getElementsByClassName(`note_name`)[0];
                if (step == 0) {
                  nowstep.style.border = 'solid 0.5px rgba(255, 255, 255, 0.3)';
                  trclass[i].getElementsByClassName(`sound_note`)[vm.lattice - 1].style.border = 'none';
                  trclass[i].getElementsByClassName(`sound_note`)[vm.lattice - 1].style.borderLeft =
                    'solid 1px rgba(0,0,0, 1)';
                  trclass[i].getElementsByClassName(`sound_note`)[vm.lattice - 1].style.borderTop =
                    'solid 1px rgba(0,0,0, 1)';
                } else {
                  nowstep.style.border = 'solid 0.5px rgba(255,255,255, 0.3)';
                  beforestep.style.border = 'none';
                  beforestep.style.borderLeft = 'solid 1px rgba(0,0,0, 1)';
                  beforestep.style.borderTop = 'solid 1px rgba(0,0,0, 1)';
                }

                if (nowstep.classList.contains('active')) {
                  var audio = new Audio(`./img/remix/sound/${vm.notes1[i]}.mp3`)
                  audio.play();
                }
              }
              vm.index++;
              console.log(vm.index);
              start = setTimeout(repeat, (60000 / vm.npm) / 2);
            }
            repeat();
          } else {
            vm.loop = !vm.loop;
            console.log(start);
            clearTimeout(start);
          }
        },
        song_list(list) { // 播放 Demo
          var vm = this;
          var trclass = document.getElementsByClassName('trclass');
          vm.index = 0;
          if (vm.demostart) {
            clearTimeout(start);
            vm.demostart = false;
            var sound_note = document.getElementsByClassName('sound_note');
            for (var x = 0; x < sound_note.length; x++) {
              sound_note[x].style.border = 'none';
              sound_note[x].style.borderLeft = 'solid 1px rgba(0,0,0,1)';
              sound_note[x].style.borderTop = 'solid 1px rgba(0,0,0,1)';
            }
          };

          function repeat() {
            vm.demostart = true;
            var step = vm.index % vm.lattice;
            for (var i = 0; i < trclass.length; i++) {
              var tr = trclass[i];
              var beforestep = trclass[i].getElementsByClassName(`sound_note`)[step - 1];
              var nowstep = trclass[i].getElementsByClassName(`sound_note`)[step];
              if (step == 0) {
                nowstep.style.border = 'solid 0.5px rgba(255, 255, 255, 0.3)';
                trclass[i].getElementsByClassName(`sound_note`)[vm.lattice - 1].style.border = 'none';
                trclass[i].getElementsByClassName(`sound_note`)[vm.lattice - 1].style.borderLeft =
                  'solid 1px rgba(0,0,0, 1)';
                trclass[i].getElementsByClassName(`sound_note`)[vm.lattice - 1].style.borderTop =
                  'solid 1px rgba(0,0,0, 1)';
              } else {
                nowstep.style.border = 'solid 0.5px rgba(255,255,255, 0.3)';
                beforestep.style.border = 'none';
                beforestep.style.borderLeft = 'solid 1px rgba(0,0,0,1)';
                beforestep.style.borderTop = 'solid 1px rgba(0,0,0,1)';
              }

              if (vm.index == vm.song_start[list].length) { // 如果大於歌曲陣列就停止時鐘
                clearTimeout(start);
                var sound_note = document.getElementsByClassName('sound_note');
                for (var x = 0; x < sound_note.length; x++) {
                  sound_note[x].style.border = 'none';
                  sound_note[x].style.borderLeft = 'solid 1px rgba(0,0,0,1)';
                  sound_note[x].style.borderTop = 'solid 1px rgba(0,0,0,1)';
                }
                return;
              }

              if (step == 0) { // 清除上一次的紀錄
                tr.getElementsByClassName('sound_note')[vm.lattice - 1].className = 'sound_note';
              } else {
                tr.getElementsByClassName('sound_note')[step].className = 'sound_note';
              }

              for (var j = 0; j < vm.song_start[list][vm.index].length; j++) {
                var note = vm.song_start[list][vm.index][j]; // 第一直排的第幾個音
                if (i == note) {
                  tr.getElementsByClassName('sound_note')[step].classList.add('active'); // 現在的位置
                  var audio = new Audio(`./img/remix/sound/${vm.notes1[note]}.mp3`)
                  audio.play();
                }
              }
            }
            vm.index++;
            // console.log(vm.index);
            start = setTimeout(repeat, 60000 / vm.npm / 2);
          };
          repeat();
        },
        start_record() { // 開始錄音
          var vm = this;
          this.loop = !this.loop;

          // 錄音功能
          let audio = document.getElementById('recordAudio');
          const actx = Tone.context;
          const dest = actx.createMediaStreamDestination();
          if (vm.loop) {
            recorder = new MediaRecorder(dest.stream);
          }
          const chunks = []; // 音頻陣列

          var sampler = new Tone.Sampler(vm.soundSrc, function () {
            if (!vm.loop) { // 控制播放 or 暫停
              Tone.Transport.stop();
              recorder.stop();
              console.log('stop');
            } else {
              var trs = document.getElementsByClassName('trclass');
              var sound_note = document.getElementsByClassName('sound_note');
              let index = vm.index // 第幾直排

              Tone.Transport.scheduleRepeat(repeat, '8n');
              Tone.Transport.start();

              if (vm.record) {
                recorder.start();
                console.log(`record: start`);
              }

              function repeat(time) {
                console.log(`repeat: start`);
                Tone.Transport.bpm.value = vm.npm; // 控制 npm
                let step = index % vm.lattice;
                for (var i = 0; i < trs.length; i++) {
                  let note = vm.notes[i],
                    $row = trs[i];
                  note = note.toLowerCase();
                  var $td = $row.getElementsByClassName('sound_note')[step - 1];
                  var $tds = $row.getElementsByClassName('sound_note')[step];

                  if (step == 0) {
                    $tds.style.border = 'solid 0.5px rgba(255, 255, 255, 0.3)';
                    $row.getElementsByClassName('sound_note')[vm.lattice - 1].style.border = 'none';
                    $row.getElementsByClassName('sound_note')[vm.lattice - 1].style.borderLeft =
                      'solid 1px rgba(0,0,0, 1)';
                    $row.getElementsByClassName('sound_note')[vm.lattice - 1].style.borderTop =
                      'solid 1px rgba(0,0,0, 1)';
                  } else {
                    $tds.style.border = 'solid 0.5px rgba(255, 255, 255, 0.3)';
                    $td.style.border = 'none';
                    $td.style.borderLeft = 'solid 1px rgba(0,0,0, 1)';
                    $td.style.borderTop = 'solid 1px rgba(0,0,0, 1)';
                  }
                  if ($tds.className == 'sound_note active') {
                    sampler.triggerAttack(note, time);
                  }
                }
                index++;
                vm.index = index; // 傳回index值
              }
            }

          })
          sampler.connect(dest).toMaster();

          recorder.ondataavailable = evt => chunks.push(evt.data);
          recorder.onstop = evt => {
            let blob = new Blob(chunks, {
              type: 'audio/mp3; codecs=opus'
            });
            vm.audioSrc = URL.createObjectURL(blob);
            // audio.src = URL.createObjectURL(blob);
            // vm.audioSrc = audio.src;
          };
        }
      },
      computed: {},
      mounted() {
        const vm = this;
        // 組長的code
        // nav_bar start
        document.querySelector('.mem_list ul').setAttribute('style', `height: ${window.innerHeight}px;`);
        document.querySelector('.mobile_list ul').setAttribute('style', `height: ${window.innerHeight}px;`);
        document.querySelectorAll('.paint_border')[0].setAttribute('style', `height: ${window.innerHeight}px;`);
        document.querySelectorAll('.paint_border')[1].setAttribute('style', `height: ${window.innerHeight}px;`);

        document.addEventListener('click', () => {
          this.mem_list = false;
          this.search_bar = false;
          this.mobile_list = false;

          document
            .querySelector(".search_bar")
            .setAttribute("style", "height: 0px; filter: opacity(0);");
          document
            .querySelector(".mem_list")
            .setAttribute("style", "transform: translateX(270px); filter: opacity(0);");
          document
            .querySelector(".mobile_list")
            .setAttribute("style", "transform: translateX(-270px); filter: opacity(0);");
        });
        // nav_bar end


        // resize 的部分
        window.onresize = () => {
          return (() => {
            vm.screenWidth = document.body.clientWidth;
            // console.log(vm.screenWidth)
          })()
        }

        // 一開始偵測是否為 425
        if (this.screenWidth <= 425) {
          var remix_intro = document.getElementsByClassName('remix_intro')[0];
          remix_intro.innerHTML = remix_intro.innerHTML.substr(0, 79);
        }

        if (this.screenWidth > 1200) {
          $('th').attr('colspan', 7);
          this.lattice = 34;
        } else if (this.screenWidth > 768) {
          $('th').attr('colspan', 4);
          this.lattice = 19;
        } else if (this.screenWidth > 576) {
          $('th').attr('colspan', 3);
          this.lattice = 14;
        } else {
          $('th').attr('colspan', 2);
          this.lattice = 9;
        }

        // 一開始的微動畫
        TweenMax.to($('.remix_rock_move'), 2.5, {
          rotation: 0,
          ease: Bounce.easeOut,
        })
      },
      watch: {
        screenWidth(val) {
          // 偵測螢幕寬度 切字串
          this.screenWidth = val;
          if (this.screenWidth > 1200) {
            $('th').attr('colspan', 7);
            this.lattice = 34;
          } else if (this.screenWidth > 768) {
            $('th').attr('colspan', 4);
            this.lattice = 19;
          } else if (this.screenWidth > 576) {
            $('th').attr('colspan', 3);
            this.lattice = 14;
          } else {
            $('th').attr('colspan', 2);
            this.lattice = 9;
          }

          if (this.screenWidth <= 425) {
            var remix_intro = document.getElementsByClassName('remix_intro')[0];
            remix_intro.innerHTML = remix_intro.innerHTML.substr(0, 79);
          }

          $('.sound_note').css('width', `calc(100% - 70px) / ${this.lattice - 2}`);
        },
        audioSrc(NewaudioSrc) {
          this.audioSrc = NewaudioSrc;
          var button = document.querySelector('.remix_button button:nth-of-type(3) span');
          TweenMax.set(button, {
            css: {
              scale: 1,
              opacity: 1,
            }
          })
          TweenMax.to(button, 1, {
            scale: 3,
            opacity: 0,
            repeat: -1,
            // ease: Quad.easeInOut
          })
        }

      },
    })
  </script>

</body>

</html>