<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SongsAdded</title>
    <link rel="stylesheet" href="./css/main.css">
    <!-- <link rel="stylesheet" href="./css/songupload.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pagePiling.js/1.5.6/jquery.pagepiling.min.js"></script> -->
    <!-- <script src="./js/player.js"></script> -->
    <style>
        .songsadded_leftli {
            list-style-type: none;
        }

        .songsadded_leftli ul {
            list-style-type: none;
            padding: 0px;
        }

        .songsadded_body {
            background: url(./img/songupload/addimg0.jpg);
            background-repeat: no-repeat;
        }

        input[type="checkbox"] {
            -webkit-appearance: none;
            vertical-align: middle;
            margin-top: 0;
            background: #fff;
            border: #d0d6d6 solid 1px;
            border-radius: 3px;
            min-height: 20px;
            min-width: 20px;
        }

        input[type="checkbox"]:checked {
            background: #f1c40f;
        }

        input[type=checkbox]:checked::after {
            content: '';
            top: 3px;
            left: 3px;
            position: absolute;
            background: transparent;
            border: #fff solid 2px;
            border-top: none;
            border-right: none;
            height: 6px;
            width: 10px;
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

    </style>
</head>

<body class="songsadded_body">
    <div id="app">
        <!-- 記得包在 Vue 裡-->


        <!-- nav_bar start -->
        <div class="nav_bar flexbox">
            <div class="hamburger" @click="hamburger_click">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
            <div class="mobile_list" @click="stopPropagation">
                <div class="paint_border"></div>
                <ul>
                    <li class="REMIX flexbox">
                        <a href="">
                        </a>
                    </li>
                    <li class="COLLECTION flexbox">
                        <a href="">
                        </a>
                    </li>
                    <li class="ACTIVITY flexbox">
                        <a href="">
                        </a>
                    </li>
                    <li class="LIBRARY flexbox">
                        <a href="">
                        </a>
                    </li>
                </ul>
            </div>

            <div class="logo_container">
                <a href="">
                    <div class="logo"></div>
                </a>
            </div>
            <ul class="main_list flexbox">
                <li class="REMIX flexbox">
                    <a href="">
                    </a>
                </li>
                <li class="COLLECTION flexbox">
                    <a href="">
                    </a>
                </li>
                <li class="ACTIVITY flexbox">
                    <a href="">
                    </a>
                </li>
                <li class="LIBRARY flexbox">
                    <a href="">
                    </a>
                </li>
            </ul>
            <div class="search_bt" @click="search_bt_click">
                <a href="#"></a>
            </div>
            <div class="search_bar" @click="stopPropagation">
                <input class="search" type="text" />
                <div class="tag_container">
                </div>
            </div>
            <div class="login_bt" @click="" v-if="mem_login == false">
                <a class="flexbox" href="#">Login</a>
            </div>
            <div class="mem_bt" @click="mem_bt_click" v-if="mem_login == true">
                <a href="#"></a>
            </div>
            <div class="mem_list" @click="stopPropagation">
                <div class="paint_border"></div>
                <ul>
                    <li>
                        <a href="">
                            <h4>Profile</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <h4>Favorite</h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <h4>
                                Song Upload
                                <br />&amp; Remove
                            </h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <h4>
                                Store Value
                                <br />&amp;Store Record
                            </h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <h4>Donate Record</h4>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- nav_bar end -->




        <!-- player start -->
        <div id="player">
            <audio src="" id="audioPlayer"></audio>
            <div class="player_s">
                <div class="info">
                    <div class="cover"><img src="./img/library/cover1.jpg"></div>
                    <div class="songInfo">
                        <span class="name">Lucid Dreamer</span>
                        <span class="creator">Spazz Cardigan</span>
                    </div>
                    <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                    <div class="clearfix"></div>
                </div>

                <div class="controlPanel">
                    <div class="progressbar">
                        <div class="progress"></div>
                    </div>
                    <div class="time">
                        <span class="start">00:00</span>
                        <span class="end">04:30</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="btns">
                        <div class="controls">
                            <button class="prev"><i class="fas fa-step-backward"></i></button>
                            <button class="play"><i class="fas fa-play"></i></button>
                            <button class="next"><i class="fas fa-step-forward"></i></button>
                            <button class="stop"><i class="fas fa-stop"></i></button>
                            <button class="rand"><i class="fas fa-random"></i></button>
                            <button class="loop"><i class="fas fa-undo-alt"></i></button>
                            <div class="clearfix"></div>
                        </div>
                        <div class="vol">
                            <div class="volicon"><i class="fas fa-volume-down"></i></div>
                            <div class="volLine">
                                <div class="volControl"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="expand" id="expand"><i class="fas fa-expand"></i></div>
                <div class="clearfix"></div>
            </div>

            <!-- 詳細版 -->
            <div class="player_b">
                <div class="left">
                    <div class="songCover">
                        <div class="coverImg">
                            <img src="./img/library/cover1.jpg">
                            <div class="coverRec"><img src="./img/library/player_record.png" alt=""></div>
                        </div>
                    </div>
                    <div class="songInfo">
                        <div class="name">
                            Lucid Dreamer
                        </div>
                        <div class="creator">
                            Spazz Cardigan
                        </div>
                        <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="controlPanel">
                        <div class="progressbar">
                            <div class="progress"></div>
                        </div>
                        <div class="time">
                            <span class="start">00:00</span>
                            <span class="end">04:30</span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="btns">
                            <div class="controls">
                                <button class="rand"><i class="fas fa-random"></i></button>
                                <button class="prev"><i class="fas fa-step-backward"></i></button>
                                <button class="play"><i class="fas fa-play"></i></button>
                                <button class="next"><i class="fas fa-step-forward"></i></button>
                                <button class="stop"><i class="fas fa-stop"></i></button>
                                <button class="loop"><i class="fas fa-undo-alt"></i></button>
                                <div class="clearfix"></div>
                            </div>
                            <div class="vol">
                                <div class="volicon"><i class="fas fa-volume-down"></i></div>
                                <div class="volLine">
                                    <div class="volControl"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="pushBtn"></div>
                </div>

                <div class="right">
                    <div class="pushBtn"></div>
                    <div class="listTitle">
                        <div class="listCover">
                            <img src="./img/library/list_pic1.jpg"></div>
                        <div class="listName">
                            <h2>peaceful list</h2>
                            <span>8 songs</span>
                        </div>
                        <button class="selectBtn" id="selectBtn">SELECT</button>
                        <div class="clearfix"></div>
                    </div>
                    <div class="list">
                        <ul>
                            <li>
                                <div class="songCover">
                                    <img src="./img/library/cover1.jpg" alt="">
                                    <div class="listPlay"><i class="fas fa-play"></i></div>
                                </div>
                                <div class="listSongInfo">
                                    <div class="name">
                                        <h4>Lucid Dreamer</h4>
                                        <p> Spazz Cardigan</p>
                                    </div>
                                </div>
                                <div class="totalTime">4:30</div>
                                <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <div class="songCover">
                                    <img src="./img/library/cover2.jpg" alt="">
                                    <div class="listPlay"><i class="fas fa-play"></i></div>
                                </div>
                                <div class="listSongInfo">
                                    <div class="name">
                                        <h4>Lucid Dreamer</h4>
                                        <p> Spazz Cardigan</p>
                                    </div>
                                </div>
                                <div class="totalTime">4:30</div>
                                <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <div class="songCover">
                                    <img src="./img/library/cover3.jpg" alt="">
                                    <div class="listPlay"><i class="fas fa-play"></i></div>
                                </div>
                                <div class="listSongInfo">
                                    <div class="name">
                                        <h4>Lucid Dreamer</h4>
                                        <p> Spazz Cardigan</p>
                                    </div>
                                </div>
                                <div class="totalTime">4:30</div>
                                <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <div class="songCover">
                                    <img src="./img/library/cover4.jpg" alt="">
                                    <div class="listPlay"><i class="fas fa-play"></i></div>
                                </div>
                                <div class="listSongInfo">
                                    <div class="name">
                                        <h4>Lucid Dreamer</h4>
                                        <p> Spazz Cardigan</p>
                                    </div>
                                </div>
                                <div class="totalTime">4:30</div>
                                <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <div class="songCover">
                                    <img src="./img/library/cover5.jpg" alt="">
                                    <div class="listPlay"><i class="fas fa-play"></i></div>
                                </div>
                                <div class="listSongInfo">
                                    <div class="name">
                                        <h4>Lucid Dreamer</h4>
                                        <p> Spazz Cardigan</p>
                                    </div>
                                </div>
                                <div class="totalTime">4:30</div>
                                <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <div class="songCover">
                                    <img src="./img/library/cover6.jpg" alt="">
                                    <div class="listPlay"><i class="fas fa-play"></i></div>
                                </div>
                                <div class="listSongInfo">
                                    <div class="name">
                                        <h4>Lucid Dreamer</h4>
                                        <p> Spazz Cardigan</p>
                                    </div>
                                </div>
                                <div class="totalTime">4:30</div>
                                <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <div class="songCover">
                                    <img src="./img/library/cover1.jpg" alt="">
                                    <div class="listPlay"><i class="fas fa-play"></i></div>
                                </div>
                                <div class="listSongInfo">
                                    <div class="name">
                                        <h4>Lucid Dreamer</h4>
                                        <p> Spazz Cardigan</p>
                                    </div>
                                </div>
                                <div class="totalTime">4:30</div>
                                <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                                <div class="clearfix"></div>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="close" id="closePlayer"><i class="fas fa-times"></i></div>
                <div class="clearfix"></div>

                <!-- 撥放器燈箱 -->
                <div class="lightCover">
                    <div class="lightbox_s" id="myAllList">
                        <div class="closeLight"><i class="fas fa-times"></i></div>
                        <h3>My List</h3>
                        <div class="lightSelectMenu">
                            <ul>
                                <li>Liked songs</li>
                                <li>Peaceful songs</li>
                                <li>party</li>
                            </ul>
                        </div>
                        <button class="">ok</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- player end -->





    </div>
    <header>
        <div>
            <img src="./img/songupload/addtitle.png" alt="">
        </div>
    </header>

    <section class="songsadded_adds2">
        <ol class="songsadded_leftli">
            <li class="songsadded_lif">&emsp;UPLOAD SONG</li>
            <ol class="songsadded_inside">
                <form action="" method="POST">
                    <article>
                        <p style="width: 100px;height: 100px;">
                            <img id="image" style="width: 300px;height: 300px;">
                        </p>
                        <img class="songsadded_ff" style="width: 50px;height: 30px;"
                            src="./img/songupload/button_edit.png">
                        <input style="opacity:0;" type="file" name="" id="theFile" style="color: rgba(0, 0, 0, 0);">

                    </article>
                    <div>
                        <p>Song Title : <input type="text"
                                style="border: 1px solid #d0d6d6;width:350px;height:28px;background-color: #d0d6d6;">
                        </p>
                        <div id="infopath">
                            <p  class="songsadd_path" v-if="infopathURL">{{infopathURL}}</p>
                            <input type="file" name="" id="songinfo_btn" @change="changeSignUpload" style="display: none;">
                            <label for="songinfo_btn">choose</label>
                        </div>
                        <input type="checkbox" name="" id=""> House&emsp;&emsp;&emsp;&ensp;&ensp;&ensp;
                        <input type="checkbox" style="border-radius: 5px;" name="" id="">Trap
                        <br>
                        <input type="checkbox" name="" id="">#Scratch &emsp;&emsp;&emsp;
                        <input type="checkbox" name="" id="">#Stress &emsp;&emsp;&emsp;
                        <input type="checkbox" name="" id="">#Ethereal
                        <br>
                        <p>Introduction :</p>
                        <textarea name="" id="" cols="65" rows="6" style="border: 1px solid #d0d6d6;"></textarea>
                    </div>
                    <section><input type="image" id="sd" name="submit" src="./img/songupload/button_send.png"
                            onClick="document.form.submit()" style="width:80px;height:50px;margin-left:50px;"></section>
                </form>

            </ol>

            <li class="songsadded_lif">&emsp;UPLOADED</li>
            <ol class="songsadded_inside2">
                <li>Andy Warhol - Because of you</li>
                <ol>
                    <article>
                        <p style="width: 100px;height: 100px;">
                            <img src="./img/songinfo/cover1.jpg" style="width: 300px;height: 300px;">
                        </p>
                        <img class="songsadded_ff" style="width: 50px;height: 30px;"
                            src="./img/songupload/button_edit.png">
                        <input style="opacity:0;" type="file" name="" class="theFile" style="color: rgba(0, 0, 0, 0);">
                    </article>
                    <div>
                        <span>Song Title : Because of you</span><br>
                        <span>Author : Andy Warhol</span><br>
                        <span>Song Type : House</span><br>
                        <span>HashTag : #Scratch</span><br>
                        <span>Introduction :</span><br>
                        <span>"Hold It Against Me" is three <br>
                            minutes and forty-nine seconds <br>
                            long.It is a dance-pop song that <br>
                            blends pulsating industrial and trance <br>
                            beats with elements of grime.</span>
                    </div>
                </ol>
                <li>Andy Warhol - Because of you</li>
                <ol>
                    <article>
                        <p style="width: 100px;height: 100px;">
                            <img src="./img/songinfo/cover1.jpg" style="width: 300px;height: 300px;">
                        </p>
                        <img class="songsadded_ff" style="width: 50px;height: 30px;"
                            src="./img/songupload/button_edit.png">
                        <input style="opacity:0;" type="file" name="" class="theFile" style="color: rgba(0, 0, 0, 0);">
                    </article>
                    <div>
                        <span>Song Title : Because of you</span><br>
                        <span>Author : Andy Warhol</span><br>
                        <span>Song Type : House</span><br>
                        <span>HashTag : #Scratch</span><br>
                        <span>Introduction :</span><br>
                        <span>"Hold It Against Me" is three <br>
                            minutes and forty-nine seconds <br>
                            long.It is a dance-pop song that <br>
                            blends pulsating industrial and trance <br>
                            beats with elements of grime.</span>
                    </div>
                </ol>
                <li>Andy Warhol - Because of you</li>
                <ol>
                    <article>
                        <p style="width: 100px;height: 100px;">
                            <img src="./img/songinfo/cover1.jpg" style="width: 300px;height: 300px;">
                        </p>
                        <img class="songsadded_ff" style="width: 50px;height: 30px;"
                            src="./img/songupload/button_edit.png">
                        <input style="opacity:0;" type="file" name="" class="theFile" style="color: rgba(0, 0, 0, 0);">
                    </article>
                    <div>
                        <span>Song Title : Because of you</span><br>
                        <span>Author : Andy Warhol</span><br>
                        <span>Song Type : House</span><br>
                        <span>HashTag : #Scratch</span><br>
                        <span>Introduction :</span><br>
                        <span>"Hold It Against Me" is three <br>
                            minutes and forty-nine seconds <br>
                            long.It is a dance-pop song that <br>
                            blends pulsating industrial and trance <br>
                            beats with elements of grime.</span>
                    </div>
                </ol>
            </ol>
        </ol>
        <div class="uploadmic">
            <img src="./img/songupload/mic.png" alt="">
        </div>
        <!-- <div class="songsadded_adds3"></div> -->
    </section>
    <!-- <section class="songsadded_adds3"></section> -->

    <script>
        function doFirst() {
            document.getElementById('theFile').onchange = fileChange;
        }

        function fileChange() {
            let file = document.getElementById('theFile').files[0];
            let content = '';
            //========================

            let readFile = new FileReader();
            readFile.readAsDataURL(file);
            readFile.addEventListener('load', function () {
                let image = document.getElementById('image');
                image.src = this.result;
                image.style.maxWidth = '500px';
                image.style.maxHeight = '400px';
            });
        }
        window.addEventListener('load', doFirst);
    </script>
    <script>
        new Vue({
            el: "#infopath",
            data: {
                infopathURL:"",
            },
            methods: {
                changeSignUpload(song){
                    const songFile = song.target.files.item(0);
                    const readers = new FileReader();
                    readers.addEventListener('load', this.SignUploadLoader);
                    readers.readAsDataURL(songFile);
                },
                SignUploadLoader(song){
                    this. infopathURL = song.target.result;
                }
            },
        });
    </script>
    

    <script>
        new Vue({
            el: "#app",
            data: {
                mobile_list: false,
                search_bar: false,
                mem_list: false,
                mem_login: false,

            },
            mounted() {
                // nav_bar start
                document.querySelector('.mem_list ul').setAttribute('style',
                    `height: ${window.innerHeight}px;`);
                document.querySelector('.mobile_list ul').setAttribute('style',
                    `height: ${window.innerHeight}px;`);
                document.querySelectorAll('.paint_border')[0].setAttribute('style',
                    `height: ${window.innerHeight}px;`);
                document.querySelectorAll('.paint_border')[1].setAttribute('style',
                    `height: ${window.innerHeight}px;`);

                document.addEventListener('click', () => {
                    this.mem_list = false;
                    this.search_bar = false;
                    this.mobile_list = false;

                    document
                        .querySelector(".search_bar")
                        .setAttribute("style", "height: 0px; filter: opacity(0);");
                    document
                        .querySelector(".mem_list")
                        .setAttribute("style", "transform: translateX(270px); filter: opacity(0);");
                    document
                        .querySelector(".mobile_list")
                        .setAttribute("style", "transform: translateX(-270px); filter: opacity(0);");
                });
                // nav_bar end



                // player start
                $(document).ready(function () {
                    //撥放器縮放
                    $('#expand').click(function () {
                        $('.player_b').addClass('open');
                        $('.player_s').animate({
                            bottom: '-70px'
                        });
                    });
                    $('#closePlayer').click(function () {
                        $('.player_b').removeClass('open');
                        $('.player_s').animate({
                            bottom: '0'
                        });
                    });

                    //手機推移
                    $('.left .pushBtn').click(function () {
                        $('.left').css('height', '10%');
                        $('.right').css('height', '90%');
                        $('.right .pushBtn').show();
                        $('.left .pushBtn').hide();
                    });
                    $('.right .pushBtn').click(function () {
                        $('.left').css('height', '90%');
                        $('.right').css('height', '10%');
                        $('.left .pushBtn').show();
                        $('.right .pushBtn').hide();
                    });

                    //select選歌單
                    $('#player .selectBtn').click(function () {
                        $('#player .lightCover').show();
                        $('#player #myAllList').show();
                    });

                    //歌單清單
                    $('.closeLight').click(function () {
                        $('.lightCover').hide();
                        $('#myAllList').hide();
                    });
                    $('.lightCover').click(function () {
                        $(this).hide();
                        $('#myAllList').hide();
                    });

                    //點愛心
                    $('.heart').click(function () {
                        if ($(this).hasClass('becomeRed')) {
                            $(this).html('<i class="far fa-heart"></i>').removeClass(
                                'becomeRed');
                        } else {
                            $(this).html('<i class="fas fa-heart"></i>').addClass('becomeRed');
                        }
                    });

                    //點歌單撥放，左側專輯唱片動畫
                    $('.songCover').mouseover(function () {
                        $(this).find('.listPlay').show();
                    });
                    $('.songCover').mouseout(function () {
                        $(this).find('.listPlay').hide();
                    });

                    $(".listPlay").click(function () {
                        if ($(this).hasClass('nowlistening')) {
                            $(this).html('<i class="fas fa-play"></i>').removeClass(
                                "nowlistening");
                            isPlaying(true);
                        } else {
                            $(this).html('<i class="fas fa-pause"></i>').addClass(
                                "nowlistening");
                            $("#player .songCover .listPlay").not(this).removeClass(
                                'nowlistening');
                            isPlaying(false);
                        }
                    });



                    /* -- 音樂播放 -- */
                    let storage = localStorage;
                    var autoplay = false,
                        songTime,
                        progressingTime,
                        playStatus = false,
                        nowPlaying = 0, //現在播放的歌
                        audio = $("audio")[0], //撥放器
                        myPlaylist = [{
                                title: "Lucid Dreamer",
                                creator: "Spazz Cardigan",
                                cover: "../img/library/cover1.jpg",
                                filein: "../img/library/Lucid_Dreamer.mp3",
                                totalTime: "3:11",
                            },
                            {
                                title: "Spring In My Step",
                                creator: "Silent Partner",
                                cover: "../img/library/cover2.jpg",
                                filein: "../img/library/Spring_In_My_Step.mp3",
                                totalTime: "1:59",
                            },
                            {
                                title: "On My Way Home",
                                creator: "The 126ers",
                                cover: "../img/library/cover3.jpg",
                                filein: "../img/library/On_My_Way_Home.mp3",
                                totalTime: "1:56",
                            }
                        ];

                    $('#player audio').attr("src", myPlaylist[nowPlaying].filein);
                    // isStorageHave();

                    // isAutoPlay(true);//測試

                    //播放暫停按鈕 -- 音樂撥放/暫停
                    $("#player .play").click(function () {
                        // console.log(nowPlaying);
                        // console.log(playStatus);
                        isPlaying(playStatus);
                    });

                    //下一首按鈕 -- 切換下一首
                    $("#player .next").click(function () {
                        if (nowPlaying == myPlaylist.length - 1) {
                            $("#player audio").attr("src", myPlaylist[myPlaylist.length - 1]
                                .filein);
                        } else {
                            nowPlaying++;
                            $("#player audio").attr("src", myPlaylist[nowPlaying].filein);
                        }
                        if (playStatus == true) {
                            isPlaying(false);
                        } else {
                            isPlaying(true);
                        }
                    });

                    //上一首按鈕 -- 切換上一首
                    $("#player .prev").click(function () {
                        if (nowPlaying == 0) {
                            $("#player audio").attr("src", myPlaylist[0].filein);
                        } else {
                            nowPlaying--;
                            $("#player audio").attr("src", myPlaylist[nowPlaying].filein);
                        }
                        if (playStatus == true) {
                            isPlaying(false);
                        } else {
                            isPlaying(true);
                        }
                    });

                    //停止按鈕 -- 音樂全數停止
                    $("#player .stop").click(function () {
                        audio.pause();
                        audio.currentTime = 0;
                        isPlaying(true);
                        $("#player .songCover .listPlay").removeClass('nowlistening');
                    });

                    //循環播放 -- 單首??未處理
                    $("#player .loop").click(function () {
                        if ($(this).hasClass("becomeYel")) {
                            $(this).removeClass("becomeYel");
                            audio.loop = false;
                        } else {
                            $(this).addClass("becomeYel");
                            audio.loop = true;
                        }
                    });
                    //隨機播放 -- 清單隨機--未處理



                    //clickBar -- 詳細(b)/簡易(s)
                    $(".player_b .progressbar").click(function (e) {
                        let progressBarSize_b = parseInt($(".player_b .progressbar").css(
                            "width"));
                        let mouseX_b = e.clientX - $(".player_b .progressbar").offset().left;
                        $(".player_b .progressbar .progress").css('width', `${mouseX_b}px`);

                        let newTime_b = mouseX_b / (progressBarSize_b / audio.duration);
                        audio.currentTime = newTime_b;
                    });
                    $(".player_s .progressbar").click(function (e) {
                        let progressBarSize_s = parseInt($(".player_s .progressbar").css(
                            "width"));
                        let mouseX_s = e.clientX - $(".player_s .progressbar").offset().left;
                        $(".player_s .progressbar .progress").css('width', `${mouseX_s}px`);

                        let newTime_s = mouseX_s / (progressBarSize_s / audio.duration);
                        audio.currentTime = newTime_s;
                    });


                    /* -- 自動撥放 --*/
                    // function isAutoPlay(autoP){//測試
                    //   if(autoP){
                    //     isPlaying(false);
                    //   }else{
                    //     isPlaying(true);
                    //   }
                    // }


                    /* -- local -- */
                    // function isStorageHave() {
                    //   let newSongTime;
                    //   if(storage.length != 0){
                    //     newSongTime = storage.getItem(1);
                    //     console.log(newSongTime);
                    //   }else{
                    //     console.log(newSongTime);
                    //   }

                    // }



                    function isPlaying(isPlaying) {
                        if (!isPlaying) { //如果沒有播放就讓他撥
                            playAudio();
                            $("#player .play").html('<i class="fas fa-pause"></i>');
                            $("#player .player_b .coverRec").animate({
                                right: "-50%",
                                opacity: "1"
                            }, "fast", "swing").addClass("recRotate");
                            playStatus = true;
                            // console.log(playStatus);
                        } else {
                            audio.pause();
                            $("#player .play").html('<i class="fas fa-play"></i>');
                            playStatus = false;
                            $("#player .player_b .coverRec").animate({
                                right: "0%"
                            }).removeClass("recRotate");
                            // console.log(playStatus);
                        }
                        $("#player .songInfo .name").text(myPlaylist[nowPlaying].title);
                        $("#player .songInfo .creator").text(myPlaylist[nowPlaying].creator);
                    }

                    //播放
                    function playAudio() {
                        audio.play();
                    }



                    //進度條
                    progressingTime = setInterval(progressingShow, 100);
                    let newSong = nowPlaying; //測試
                    function progressingShow() {
                        songTime = audio.currentTime;
                        let progressColor = (songTime / audio.duration) * 100;
                        if (audio.ended) {
                            autoChange();
                        }

                        // if(newSong == nowPlaying){
                        //   storage.setItem(newSong, songTime);
                        // }else{
                        //   storage.clear();
                        //   storage.setItem(nowPlaying, songTime);
                        // }

                        // console.log(audio.duration); //歌曲總長秒數
                        $("#player .progress").css("width", `${progressColor.toFixed(2)}%`);
                        $("#player span.start").text(
                            `${parseInt(songTime / 60)}:${parseInt(songTime % 60)}`)
                        $("#player span.end").text(myPlaylist[nowPlaying].totalTime);
                    }

                    //自動換下一首
                    function autoChange() {
                        if (nowPlaying == myPlaylist.length - 1) {
                            if (audio.ended) {
                                audio.currentTime = 0;
                                isPlaying(true);
                            } else {
                                isPlaying(false);
                            }
                        } else {
                            nowPlaying++;
                            $("#player audio").attr("src", myPlaylist[nowPlaying].filein);
                            isPlaying(false);
                        }
                    }
                });
                // player end


            },
            methods: {
                // nav_bar
                hamburger_click(e) {
                    // e.stopPropagation();
                    document
                        .querySelector(".hamburger").classList.toggle("is-active");
                },
                search_bt_click(e) {
                    e.stopPropagation();
                    if (this.search_bar == false) {
                        this.search_bar = true;
                        this.mem_list = false;
                        this.mobile_list = false;
                        document
                            .querySelector(".search_bar")
                            .setAttribute("style", "height: 240px; filter: opacity(1);");
                        document.querySelector("input.search").focus();
                        document
                            .querySelector(".mem_list")
                            .setAttribute("style", "transform: translateX(270px); filter: opacity(0);");
                        document
                            .querySelector(".mobile_list")
                            .setAttribute("style", "transform: translateX(-270px); filter: opacity(0);");
                    } else {
                        this.search_bar = false;
                        document
                            .querySelector(".search_bar")
                            .setAttribute("style", "height: 0px; filter: opacity(0);");
                        document.querySelector("input.search").blur();
                        document
                            .querySelector(".mem_list")
                            .setAttribute("style", "transform: translateX(270px); filter: opacity(0);");
                        document
                            .querySelector(".mobile_list")
                            .setAttribute("style", "transform: translateX(-270px); filter: opacity(0);");
                    }
                },

                stopPropagation(e) {
                    e.stopPropagation();
                },

                mem_bt_click(e) {
                    e.stopPropagation();
                    if (this.mem_list == false) {
                        this.mem_list = true;
                        this.search_bar = false;
                        this.mobile_list = false;
                        document
                            .querySelector(".mem_list")
                            .setAttribute("style", "transform: translateX(0); filter: opacity(1);");
                        document
                            .querySelector(".search_bar")
                            .setAttribute("style", "height: 0px; filter: opacity(0);");
                        document
                            .querySelector(".mobile_list")
                            .setAttribute("style", "transform: translateX(-270px); filter: opacity(0);");
                    } else {
                        this.mem_list = false;
                        document
                            .querySelector(".mem_list")
                            .setAttribute("style", "transform: translateX(270px); filter: opacity(0);");
                        document
                            .querySelector(".search_bar")
                            .setAttribute("style", "height: 0px; filter: opacity(0);");
                        document
                            .querySelector(".mobile_list")
                            .setAttribute("style", "transform: translateX(-270px); filter: opacity(0);");
                    }
                },

                hamburger_click(e) {
                    e.stopPropagation();
                    if (this.mobile_list == false) {
                        this.mobile_list = true;
                        this.mem_list = false;
                        this.search_bar = false;
                        document
                            .querySelector(".mobile_list")
                            .setAttribute("style", "transform: translateX(0); filter: opacity(1);");
                        document
                            .querySelector(".mem_list")
                            .setAttribute("style", "transform: translateX(270px); filter: opacity(0);");
                        document
                            .querySelector(".search_bar")
                            .setAttribute("style", "height: 0px; filter: opacity(0);");
                    } else {
                        this.mobile_list = false;
                        document
                            .querySelector(".mobile_list")
                            .setAttribute("style", "transform: translateX(-270px); filter: opacity(0);");
                        document
                            .querySelector(".mem_list")
                            .setAttribute("style", "transform: translateX(270px); filter: opacity(0);");
                        document
                            .querySelector(".search_bar")
                            .setAttribute("style", "height: 0px; filter: opacity(0);");
                    }
                },
            }
        });
    </script>
    <script>
        $(function () {
            $(".songsadded_leftli").height(document.body.scrollHeight);

            $(".songsadded_leftli ol.songsadded_inside2").hide();
            $(".songsadded_inside2 ol").hide();

            //bind()為.leftli li的li生成點選事件
            $(".songsadded_leftli li").bind("click", function () {
                /**
                .netx("ol")獲取同級的下一個ol元素
                slideToggle(300)展開/關閉當前被點選的ol元素，300為速度，除了可以是數字還可以"slow"、"normal"、"fast"
                siblings("ol")遍歷所有的ul元素
                **/
                // $(this).next("ol").slideToggle(300).siblings("ol").slideUp(300);
                $(this).next("ol").slideToggle(300).siblings("ol").slideUp(300);
            })
        });
    </script>
</body>

</html>