<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SOUNDWAVE | songsadded</title>
    <link rel="stylesheet" href="./css/main.css">
    <!-- <link rel="stylesheet" href="./css/songupload.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pagePiling.js/1.5.6/jquery.pagepiling.min.js"></script> -->
    <script src="./js/player.js"></script>
    <script src="./js/public.js"></script>
    <style>
        .songsadded_leftli {
            list-style-type: none;
        }

        .songsadded_leftli ul {
            list-style-type: none;
            padding: 0px;
        }
        .songsadded_inside2 li{
            list-style-type: none;
        }

        .songsadded_body {
            background: url(./img/songupload/addimg0.jpg);
            background-repeat: no-repeat;
        }

        input[type="checkbox"] {
            -webkit-appearance: none;
            vertical-align: middle;
            margin-top: 0;
            background: #fff;
            border: #d0d6d6 solid 1px;
            border-radius: 3px;
            min-height: 20px;
            min-width: 20px;
        }

        input[type="checkbox"]:checked {
            background: #f1c40f;
        }

        input[type=checkbox]:checked::after {
            content: '';
            top: 3px;
            left: 3px;
            position: absolute;
            background: transparent;
            border: #fff solid 2px;
            border-top: none;
            border-right: none;
            height: 6px;
            width: 10px;
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

    </style>
</head>

<body class="songsadded_body">
    <div id="app">
        <!-- 記得包在 Vue 裡-->


        <!-- nav_bar start -->
        <div class="nav_bar flexbox">
            <div class="hamburger" @click="hamburger_click">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
            <div class="mobile_list" @click="stopPropagation">
                <div class="paint_border"></div>
                <ul>
                    <li class="REMIX flexbox">
                        <a href="./remix.html">
                        </a>
                    </li>
                    <li class="COLLECTION flexbox">
                        <a href="./collection.html">
                        </a>
                    </li>
                    <li class="ACTIVITY flexbox">
                        <a href="./activity.html">
                        </a>
                    </li>
                    <li class="LIBRARY flexbox">
                        <a href="./library.html">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="logo_container">
                <a href="./index.html">
                    <div class="logo"></div>
                </a>
            </div>
            <ul class="main_list flexbox">
                <li class="REMIX flexbox">
                    <a href="./remix.html">
                    </a>
                </li>
                <li class="COLLECTION flexbox">
                    <a href="./collection.html">
                    </a>
                </li>
                <li class="ACTIVITY flexbox">
                    <a href="./activity.html">
                    </a>
                </li>
                <li class="LIBRARY flexbox">
                    <a href="./library.html">
                    </a>
                </li>
            </ul>
            <div class="search_bt" @click="search_bt_click">
                <a href="#"></a>
            </div>
            <div class="search_bar" @click="stopPropagation">
                <input class="search" type="text" />
                <div class="tag_container">
                </div>
            </div>
            <div class="login_bt" @click="" v-if="mem_login == false">
                <a class="flexbox" href="#">Login</a>
            </div>
            <div class="mem_bt" @click="mem_bt_click" v-if="mem_login == true">
                <a href="#"></a>
            </div>
            <div class="mem_list" @click="stopPropagation">
                <div class="paint_border"></div>
                <ul>
                    <li>
                        <a href="./profile.html">
                            <h4>Profile</h4>
                        </a>
                    </li>
                    <li>
                        <a href="./library.html">
                            <h4>Library</h4>
                        </a>
                    </li>
                    <li>
                        <a href="./songsadded.html">
                            <h4>
                                Song Upload
                                <br />&amp; Remove
                            </h4>
                        </a>
                    </li>
                    <li>
                        <a href="./store.html">
                            <h4>
                                Store Value
                                <br />&amp;Store Record
                            </h4>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <h4>Donate Record</h4>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- nav_bar end -->




        <!-- player start -->
        <div id="player">
            <audio src="" id="audioPlayer"></audio>
            <div class="player_s">
                <div class="info">
                    <div class="cover"><img src="./img/library/cover1.jpg"></div>
                    <div class="songInfo">
                        <span class="name">Lucid Dreamer</span>
                        <span class="creator">Spazz Cardigan</span>
                    </div>
                    <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                    <div class="clearfix"></div>
                </div>

                <div class="controlPanel">
                    <div class="progressbar">
                        <div class="progress"></div>
                    </div>
                    <div class="time">
                        <span class="start">00:00</span>
                        <span class="end">04:30</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="btns">
                        <div class="controls">
                            <button class="prev"><i class="fas fa-step-backward"></i></button>
                            <button class="play"><i class="fas fa-play"></i></button>
                            <button class="next"><i class="fas fa-step-forward"></i></button>
                            <button class="stop"><i class="fas fa-stop"></i></button>
                            <button class="rand"><i class="fas fa-random"></i></button>
                            <button class="loop"><i class="fas fa-undo-alt"></i></button>
                            <div class="clearfix"></div>
                        </div>
                        <div class="vol">
                            <div class="volicon"><i class="fas fa-volume-down"></i></div>
                            <div class="volLine">
                                <div class="volControl"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="expand" id="expand"><i class="fas fa-expand"></i></div>
                <div class="clearfix"></div>
            </div>

            <!-- 詳細版 -->
            <div class="player_b">
                <div class="left">
                    <div class="songCover">
                        <div class="coverImg">
                            <img src="./img/library/cover1.jpg">
                            <div class="coverRec"><img src="./img/library/player_record.png" alt=""></div>
                        </div>
                    </div>
                    <div class="songInfo">
                        <div class="name">
                            Lucid Dreamer
                        </div>
                        <div class="creator">
                            Spazz Cardigan
                        </div>
                        <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="controlPanel">
                        <div class="progressbar">
                            <div class="progress"></div>
                        </div>
                        <div class="time">
                            <span class="start">00:00</span>
                            <span class="end">04:30</span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="btns">
                            <div class="controls">
                                <button class="rand"><i class="fas fa-random"></i></button>
                                <button class="prev"><i class="fas fa-step-backward"></i></button>
                                <button class="play"><i class="fas fa-play"></i></button>
                                <button class="next"><i class="fas fa-step-forward"></i></button>
                                <button class="stop"><i class="fas fa-stop"></i></button>
                                <button class="loop"><i class="fas fa-undo-alt"></i></button>
                                <div class="clearfix"></div>
                            </div>
                            <div class="vol">
                                <div class="volicon"><i class="fas fa-volume-down"></i></div>
                                <div class="volLine">
                                    <div class="volControl"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="pushBtn"></div>
                </div>

                <div class="right">
                    <div class="pushBtn"></div>
                    <div class="listTitle">
                        <div class="listCover">
                            <img src="./img/library/list_pic1.jpg"></div>
                        <div class="listName">
                            <h2>peaceful list</h2>
                            <span>8 songs</span>
                        </div>
                        <button class="selectBtn" id="selectBtn">SELECT</button>
                        <div class="clearfix"></div>
                    </div>
                    <div class="list">
                        <ul>
                            <li>
                                <div class="songCover">
                                    <img src="./img/library/cover1.jpg" alt="">
                                    <div class="listPlay"><i class="fas fa-play"></i></div>
                                </div>
                                <div class="listSongInfo">
                                    <div class="name">
                                        <h4>Lucid Dreamer</h4>
                                        <p> Spazz Cardigan</p>
                                    </div>
                                </div>
                                <div class="totalTime">4:30</div>
                                <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <div class="songCover">
                                    <img src="./img/library/cover2.jpg" alt="">
                                    <div class="listPlay"><i class="fas fa-play"></i></div>
                                </div>
                                <div class="listSongInfo">
                                    <div class="name">
                                        <h4>Lucid Dreamer</h4>
                                        <p> Spazz Cardigan</p>
                                    </div>
                                </div>
                                <div class="totalTime">4:30</div>
                                <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <div class="songCover">
                                    <img src="./img/library/cover3.jpg" alt="">
                                    <div class="listPlay"><i class="fas fa-play"></i></div>
                                </div>
                                <div class="listSongInfo">
                                    <div class="name">
                                        <h4>Lucid Dreamer</h4>
                                        <p> Spazz Cardigan</p>
                                    </div>
                                </div>
                                <div class="totalTime">4:30</div>
                                <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <div class="songCover">
                                    <img src="./img/library/cover4.jpg" alt="">
                                    <div class="listPlay"><i class="fas fa-play"></i></div>
                                </div>
                                <div class="listSongInfo">
                                    <div class="name">
                                        <h4>Lucid Dreamer</h4>
                                        <p> Spazz Cardigan</p>
                                    </div>
                                </div>
                                <div class="totalTime">4:30</div>
                                <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <div class="songCover">
                                    <img src="./img/library/cover5.jpg" alt="">
                                    <div class="listPlay"><i class="fas fa-play"></i></div>
                                </div>
                                <div class="listSongInfo">
                                    <div class="name">
                                        <h4>Lucid Dreamer</h4>
                                        <p> Spazz Cardigan</p>
                                    </div>
                                </div>
                                <div class="totalTime">4:30</div>
                                <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <div class="songCover">
                                    <img src="./img/library/cover6.jpg" alt="">
                                    <div class="listPlay"><i class="fas fa-play"></i></div>
                                </div>
                                <div class="listSongInfo">
                                    <div class="name">
                                        <h4>Lucid Dreamer</h4>
                                        <p> Spazz Cardigan</p>
                                    </div>
                                </div>
                                <div class="totalTime">4:30</div>
                                <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <div class="songCover">
                                    <img src="./img/library/cover1.jpg" alt="">
                                    <div class="listPlay"><i class="fas fa-play"></i></div>
                                </div>
                                <div class="listSongInfo">
                                    <div class="name">
                                        <h4>Lucid Dreamer</h4>
                                        <p> Spazz Cardigan</p>
                                    </div>
                                </div>
                                <div class="totalTime">4:30</div>
                                <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                                <div class="clearfix"></div>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="close" id="closePlayer"><i class="fas fa-times"></i></div>
                <div class="clearfix"></div>

                <!-- 撥放器燈箱 -->
                <div class="lightCover">
                    <div class="lightbox_s" id="myAllList">
                        <div class="closeLight"><i class="fas fa-times"></i></div>
                        <h3>My List</h3>
                        <div class="lightSelectMenu">
                            <ul>
                                <li>Liked songs</li>
                                <li>Peaceful songs</li>
                                <li>party</li>
                            </ul>
                        </div>
                        <button class="">ok</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- player end -->





    </div>
    <header>
        <div>
            <img src="./img/songupload/addtitle.png" alt="">
        </div>
    </header>

    <section class="songsadded_adds2">
        <ol class="songsadded_leftli">
            <li class="songsadded_lif">&emsp;Upload song</li>
            <ol class="songsadded_inside">
                <form action="" method="POST">
                    <article>
                        <br>
                        <p style="width: 100px;height: 100px;">
                            <img id="image" style="width: 300px;height: 300px;">
                        </p>
                        <!-- <img class="songsadded_ff" style="width: 50px;height: 30px;"
                            src="./img/songupload/button_edit.png"> -->
                        <input type="file" name="" id="theFile" style="display: none;">
                        <label class="songsadded_ff" for="theFile"> &emsp; Edit</label>

                    </article>
                    <div>
                        <p>Song Title : <input type="text" id="add_pp"
                                style="border: 1px solid #d0d6d6;width:350px;height:28px;background-color: #d0d6d6;">
                        </p>
                        <div id="infopath">
                            <p  class="songsadd_path" >{{infopathURL}}</p>
                            <input type="file" name="" id="songinfo_btn" @change="changeSignUpload" style="display: none;">
                                <label class="songinfo_bb" for="songinfo_btn"> &ensp;choose</label>
                        </div>
                        <br>
                        <input type="checkbox" name="" id="">House&ensp;
                        <input type="checkbox" style="border-radius: 5px;" name="" id="">Trap
                        <br>
                        <input type="checkbox" name="" id="">#Scratch&ensp;
                        <input type="checkbox" name="" id="">#Stress&ensp;
                        <input type="checkbox" name="" id="add_Ethereal">#Ethereal&ensp;
                        <br>
                        <p>Introduction :</p>
                        <textarea name="" id="add_tta" cols="65" rows="6" style="border: 1px solid #d0d6d6;"></textarea>
                    </div>
                    <section><input type="button" id="sd" name="submit" onClick="document.form.submit()">
                             <label class="sd_btn" for="sd">Send</label>
                    </section>
                </form>

            </ol>

            <li class="songsadded_lif">&emsp;Uploaded</li>
            <ol class="songsadded_inside2">
                <li>Andy Warhol - Because of you</li>
                <ol>
                    <article>
                        <p style="width: 100px;height: 100px;">
                            <img src="./img/songinfo/cover1.jpg" style="width: 300px;height: 300px;">
                        </p>
                        <!-- <img class="songsadded_ff" style="width: 50px;height: 30px;"
                            src="./img/songupload/button_edit.png"> -->
                            <input type="file" name="" id="theFile" style="display: none;">
                            <label class="songsadded_ff" for="theFile"> &emsp; Edit</label>
                    </article>
                    <div>
                        <span><span style="font-weight: bold;">Song Title :</span> Because of you</span><br>
                        <span><span style="font-weight: bold;">Author :</span> Andy Warhol</span><br>
                        <span><span style="font-weight: bold;">Song Type :</span> House</span><br>
                        <span><span style="font-weight: bold;">HashTag :</span> #Scratch</span><br>
                        <span><span style="font-weight: bold;">Introduction :</span></span><br>
                        <span>"Hold It Against Me" is three <br>
                            minutes and forty-nine seconds <br>
                            long.It is a dance-pop song that <br>
                            blends pulsating industrial and trance <br>
                            beats with elements of grime.</span>
                    </div>
                </ol>
                <li>Andy Warhol - Because of you</li>
                <ol>
                    <article>
                        <p style="width: 100px;height: 100px;">
                            <img src="./img/songinfo/cover1.jpg" style="width: 300px;height: 300px;">
                        </p>
                        <!-- <img class="songsadded_ff" style="width: 50px;height: 30px;"
                            src="./img/songupload/button_edit.png"> -->
                            <input type="file" name="" id="theFile" style="display: none;">
                            <label class="songsadded_ff" for="theFile"> &emsp; Edit</label>
                    </article>
                    <div>
                        <span><span style="font-weight: bold;">Song Title :</span> Because of you</span><br>
                        <span><span style="font-weight: bold;">Author :</span> Andy Warhol</span><br>
                        <span><span style="font-weight: bold;">Song Type :</span> House</span><br>
                        <span><span style="font-weight: bold;">HashTag :</span> #Scratch</span><br>
                        <span><span style="font-weight: bold;">Introduction :</span></span><br>
                        <span>"Hold It Against Me" is three <br>
                            minutes and forty-nine seconds <br>
                            long.It is a dance-pop song that <br>
                            blends pulsating industrial and trance <br>
                            beats with elements of grime.</span>
                    </div>
                </ol>
                <li>Andy Warhol - Because of you</li>
                <ol>
                    <article>
                        <p style="width: 100px;height: 100px;">
                            <img src="./img/songinfo/cover1.jpg" style="width: 300px;height: 300px;">
                        </p>
                        <!-- <img class="songsadded_ff" style="width: 50px;height: 30px;"
                            src="./img/songupload/button_edit.png"> -->
                            <input type="file" name="" id="theFile" style="display: none;">
                            <label class="songsadded_ff" for="theFile"> &emsp; Edit</label>
                    </article>
                    <div>
                        <span><span style="font-weight: bold;">Song Title :</span> Because of you</span><br>
                        <span><span style="font-weight: bold;">Author :</span> Andy Warhol</span><br>
                        <span><span style="font-weight: bold;">Song Type :</span> House</span><br>
                        <span><span style="font-weight: bold;">HashTag :</span> #Scratch</span><br>
                        <span><span style="font-weight: bold;">Introduction :</span></span><br>
                        <span>"Hold It Against Me" is three <br>
                            minutes and forty-nine seconds <br>
                            long.It is a dance-pop song that <br>
                            blends pulsating industrial and trance <br>
                            beats with elements of grime.</span>
                    </div>
                </ol>
            </ol>
        </ol>
        <div class="uploadmic">
            <img src="./img/songupload/mic.png" alt="">
        </div>
        <!-- <div class="songsadded_adds3"></div> -->
    </section>
    <!-- <section class="songsadded_adds3"></section> -->

    <script>
        function doFirst() {
            document.getElementById('theFile').onchange = fileChange;
        }

        function fileChange() {
            let file = document.getElementById('theFile').files[0];
            let content = '';
            //========================

            let readFile = new FileReader();
            readFile.readAsDataURL(file);
            readFile.addEventListener('load', function () {
                let image = document.getElementById('image');
                image.src = this.result;
                image.style.maxWidth = '500px';
                image.style.maxHeight = '400px';
            });
        }
        window.addEventListener('load', doFirst);
    </script>
    <script>
        new Vue({
            el: "#infopath",
            data: {
                infopathURL:"",
            },
            methods: {
                changeSignUpload(song){
                    const songFile = song.target.files.item(0);
                    const readers = new FileReader();
                    readers.addEventListener('load', this.SignUploadLoader);
                    readers.readAsDataURL(songFile);
                },
                SignUploadLoader(song){
                    this. infopathURL = song.target.result;
                }
            },
        });
    </script>
    

    <script>
        $(function () {
            $(".songsadded_leftli").height(document.body.scrollHeight);

            $(".songsadded_leftli ol.songsadded_inside2").hide();
            $(".songsadded_inside2 ol").hide();

            //bind()為.leftli li的li生成點選事件
            $(".songsadded_leftli li").bind("click", function () {
                /**
                .netx("ol")獲取同級的下一個ol元素
                slideToggle(300)展開/關閉當前被點選的ol元素，300為速度，除了可以是數字還可以"slow"、"normal"、"fast"
                siblings("ol")遍歷所有的ul元素
                **/
                // $(this).next("ol").slideToggle(300).siblings("ol").slideUp(300);
                $(this).next("ol").slideToggle(300).siblings("ol").slideUp(300);
            })
        });
    </script>
</body>

</html>