<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SOUNDWAVE | songinfo</title>
  <link rel="Shortcut Icon" type="image/x-icon" href="./img/collection/smalllogo.ico" />
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.4/jquery.colorbox.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
  <script src="./js/player.js"></script>
  <script src="./js/public.js"></script>
  <style>
    input[type="radio"] {
      -webkit-appearance: none;
      vertical-align: middle;
      margin-top: 0;
      background: #fff;
      border: #d0d6d6 solid 1px;
      border-radius: 3px;
      min-height: 20px;
      min-width: 20px;
    }

    input[type="radio"]:checked {
      background: #7ED5E5;
    }

    input[type=radio]:checked::after {
      content: '';
      top: 3px;
      left: 3px;
      position: absolute;
      background: transparent;
      border: #fff solid 2px;
      border-top: none;
      border-right: none;
      height: 6px;
      width: 10px;
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  </style>
</head>

<body class="songinfo_back">
  <div class="infoallall">
    <div id="app">
      <!-- 記得包在 Vue 裡-->


      <!-- nav_bar start -->
      <div class="nav_bar flexbox">
        <div class="hamburger" @click="hamburger_click">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
        <div class="mobile_list" @click="stopPropagation">
          <div class="paint_border"></div>
          <ul>
            <li class="REMIX flexbox">
              <a href="./remix.html">
              </a>
            </li>
            <li class="COLLECTION flexbox">
              <a href="./collection.html">
              </a>
            </li>
            <li class="ACTIVITY flexbox">
              <a href="./activity.html">
              </a>
            </li>
            <li class="LIBRARY flexbox">
              <a href="./library.html">
              </a>
            </li>
          </ul>
        </div>
        <div class="logo_container">
          <a href="./index.html">
            <div class="logo"></div>
          </a>
        </div>
        <ul class="main_list flexbox">
          <li class="REMIX flexbox">
            <a href="./remix.html">
            </a>
          </li>
          <li class="COLLECTION flexbox">
            <a href="./collection.html">
            </a>
          </li>
          <li class="ACTIVITY flexbox">
            <a href="./activity.html">
            </a>
          </li>
          <li class="LIBRARY flexbox">
            <a href="./library.html">
            </a>
          </li>
        </ul>
        <div class="search_bt" @click="search_bt_click">
          <a href="#"></a>
        </div>
        <div class="search_bar" @click="stopPropagation">
          <input class="search" type="text" />
          <div class="tag_container">
          </div>
        </div>
        <div class="login_bt" @click="" v-if="mem_login == false">
          <a class="flexbox" href="#">Login</a>
        </div>
        <div class="mem_bt" @click="mem_bt_click" v-if="mem_login == true">
          <a href="#"></a>
        </div>
        <div class="mem_list" @click="stopPropagation">
          <div class="paint_border"></div>
          <ul>
            <li>
              <a href="./profile.html">
                <h4>Profile</h4>
              </a>
            </li>
            <li>
              <a href="./library.html">
                <h4>Library</h4>
              </a>
            </li>
            <li>
              <a href="./songsadded.html">
                <h4>
                  Song Upload
                  <br />&amp; Remove
                </h4>
              </a>
            </li>
            <li>
              <a href="./store.html">
                <h4>
                  Store Value
                  <br />&amp;Store Record
                </h4>
              </a>
            </li>
            <li>
              <a href="">
                <h4>Donate Record</h4>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- nav_bar end -->




      <!-- player start -->
      <div id="player">
        <audio src="" id="audioPlayer"></audio>
        <div class="player_s">
          <div class="info">
            <div class="cover"><img src="./img/library/cover1.jpg"></div>
            <div class="songInfo">
              <span class="name">Lucid Dreamer</span>
              <span class="creator">Spazz Cardigan</span>
            </div>
            <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
            <div class="clearfix"></div>
          </div>

          <div class="controlPanel">
            <div class="progressbar">
              <div class="progress"></div>
            </div>
            <div class="time">
              <span class="start">00:00</span>
              <span class="end">04:30</span>
              <div class="clearfix"></div>
            </div>
            <div class="btns">
              <div class="controls">
                <button class="prev"><i class="fas fa-step-backward"></i></button>
                <button class="play"><i class="fas fa-play"></i></button>
                <button class="next"><i class="fas fa-step-forward"></i></button>
                <button class="stop"><i class="fas fa-stop"></i></button>
                <button class="rand"><i class="fas fa-random"></i></button>
                <button class="loop"><i class="fas fa-undo-alt"></i></button>
                <div class="clearfix"></div>
              </div>
              <div class="vol">
                <div class="volicon"><i class="fas fa-volume-down"></i></div>
                <div class="volLine">
                  <div class="volControl"></div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="expand" id="expand"><i class="fas fa-expand"></i></div>
          <div class="clearfix"></div>
        </div>

        <!-- 詳細版 -->
        <div class="player_b">
          <div class="left">
            <div class="songCover">
              <div class="coverImg">
                <img src="./img/library/cover1.jpg">
                <div class="coverRec"><img src="./img/library/player_record.png" alt=""></div>
              </div>
            </div>
            <div class="songInfo">
              <div class="name">
                Lucid Dreamer
              </div>
              <div class="creator">
                Spazz Cardigan
              </div>
              <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
              <div class="clearfix"></div>
            </div>
            <div class="controlPanel">
              <div class="progressbar">
                <div class="progress"></div>
              </div>
              <div class="time">
                <span class="start">00:00</span>
                <span class="end">04:30</span>
                <div class="clearfix"></div>
              </div>
              <div class="btns">
                <div class="controls">
                  <button class="rand"><i class="fas fa-random"></i></button>
                  <button class="prev"><i class="fas fa-step-backward"></i></button>
                  <button class="play"><i class="fas fa-play"></i></button>
                  <button class="next"><i class="fas fa-step-forward"></i></button>
                  <button class="stop"><i class="fas fa-stop"></i></button>
                  <button class="loop"><i class="fas fa-undo-alt"></i></button>
                  <div class="clearfix"></div>
                </div>
                <div class="vol">
                  <div class="volicon"><i class="fas fa-volume-down"></i></div>
                  <div class="volLine">
                    <div class="volControl"></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="pushBtn"></div>
          </div>

          <div class="right">
            <div class="pushBtn"></div>
            <div class="listTitle">
              <div class="listCover">
                <img src="./img/library/list_pic1.jpg"></div>
              <div class="listName">
                <h2>peaceful list</h2>
                <span>8 songs</span>
              </div>
              <button class="selectBtn" id="selectBtn">SELECT</button>
              <div class="clearfix"></div>
            </div>
            <div class="list">
              <ul>
                <li>
                  <div class="songCover">
                    <img src="./img/library/cover1.jpg" alt="">
                    <div class="listPlay"><i class="fas fa-play"></i></div>
                  </div>
                  <div class="listSongInfo">
                    <div class="name">
                      <h4>Lucid Dreamer</h4>
                      <p> Spazz Cardigan</p>
                    </div>
                  </div>
                  <div class="totalTime">4:30</div>
                  <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                  <div class="clearfix"></div>
                </li>
                <li>
                  <div class="songCover">
                    <img src="./img/library/cover2.jpg" alt="">
                    <div class="listPlay"><i class="fas fa-play"></i></div>
                  </div>
                  <div class="listSongInfo">
                    <div class="name">
                      <h4>Lucid Dreamer</h4>
                      <p> Spazz Cardigan</p>
                    </div>
                  </div>
                  <div class="totalTime">4:30</div>
                  <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                  <div class="clearfix"></div>
                </li>
                <li>
                  <div class="songCover">
                    <img src="./img/library/cover3.jpg" alt="">
                    <div class="listPlay"><i class="fas fa-play"></i></div>
                  </div>
                  <div class="listSongInfo">
                    <div class="name">
                      <h4>Lucid Dreamer</h4>
                      <p> Spazz Cardigan</p>
                    </div>
                  </div>
                  <div class="totalTime">4:30</div>
                  <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                  <div class="clearfix"></div>
                </li>
                <li>
                  <div class="songCover">
                    <img src="./img/library/cover4.jpg" alt="">
                    <div class="listPlay"><i class="fas fa-play"></i></div>
                  </div>
                  <div class="listSongInfo">
                    <div class="name">
                      <h4>Lucid Dreamer</h4>
                      <p> Spazz Cardigan</p>
                    </div>
                  </div>
                  <div class="totalTime">4:30</div>
                  <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                  <div class="clearfix"></div>
                </li>
                <li>
                  <div class="songCover">
                    <img src="./img/library/cover5.jpg" alt="">
                    <div class="listPlay"><i class="fas fa-play"></i></div>
                  </div>
                  <div class="listSongInfo">
                    <div class="name">
                      <h4>Lucid Dreamer</h4>
                      <p> Spazz Cardigan</p>
                    </div>
                  </div>
                  <div class="totalTime">4:30</div>
                  <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                  <div class="clearfix"></div>
                </li>
                <li>
                  <div class="songCover">
                    <img src="./img/library/cover6.jpg" alt="">
                    <div class="listPlay"><i class="fas fa-play"></i></div>
                  </div>
                  <div class="listSongInfo">
                    <div class="name">
                      <h4>Lucid Dreamer</h4>
                      <p> Spazz Cardigan</p>
                    </div>
                  </div>
                  <div class="totalTime">4:30</div>
                  <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                  <div class="clearfix"></div>
                </li>
                <li>
                  <div class="songCover">
                    <img src="./img/library/cover1.jpg" alt="">
                    <div class="listPlay"><i class="fas fa-play"></i></div>
                  </div>
                  <div class="listSongInfo">
                    <div class="name">
                      <h4>Lucid Dreamer</h4>
                      <p> Spazz Cardigan</p>
                    </div>
                  </div>
                  <div class="totalTime">4:30</div>
                  <div class="heart becomeRed"><i class="fas fa-heart"></i></div>
                  <div class="clearfix"></div>
                </li>

              </ul>
            </div>
          </div>
          <div class="close" id="closePlayer"><i class="fas fa-times"></i></div>
          <div class="clearfix"></div>

          <!-- 撥放器燈箱 -->
          <div class="lightCover">
            <div class="lightbox_s" id="myAllList">
              <div class="closeLight"><i class="fas fa-times"></i></div>
              <h3>My List</h3>
              <div class="lightSelectMenu">
                <ul>
                  <li>Liked songs</li>
                  <li>Peaceful songs</li>
                  <li>party</li>
                </ul>
              </div>
              <button class="">ok</button>
            </div>
          </div>
        </div>
      </div>
      <!-- player end -->





    </div>
    <header>
      <div>
        <img src="./img/songinfo/songinfotitle.png" alt="">
      </div>
    </header>
    <div class="songinfo_all">
      <section class="songinfo_infos2">
        <div class="songinfo_infoplay">
          <div class="music-player-container is-playing">
            <div class="music-player">
              <div class="player-content-container">
                <h2 class="song-title">Lucid dreamer</h2><!--  /.song-title -->
                <h1 class="artist-name">Spazz Cardigan</h1><!--  /.track-title -->
                <!-- <h1 class="album-title">Lucid Dreamer</h1> /.album-title -->
                <div class="music-player-controls">
                  <!-- <div class="control-back"></div> /.control-back -->
                  <br>
                  <div class="control-play"></div><!--  /.control-play -->
                  <div class="song_tllike"><span>total like<br>
                      89757
                    </span></div>
                  <div class="heart-like-container is-click">
                    <div class="heart-like"></div>
                  </div>
                  <!-- <div class="dona-donate"> -->
                  <input type="button" name="" class="infotopdona" style="display: none;">
                  <label class="infodona" for="infotopdona">Donate</label>
                  <!-- </div> -->
                  <!-- <div class="control-forwards"></div> /.control-forwards -->
                </div><!--  /.music-player-controls -->
              </div><!--  /.player-content-container -->
            </div><!--  /.music-player -->
            <div class="album">
              <div class="album-art"></div><!--  /.album-art -->
              <div class="vinyl"></div><!--  /.vinyl -->
            </div><!--  /.album-art -->
            <div style="clear: both;"></div>
          </div><!--  /.music-player -->
          <audio id="music" src="./music/Paul_Flint.mp3"></audio>
        </div>
        <label class="label" for="audioFile" id="audioLabel"></label>
        <!-- <input type="file" name="audioFile" id="audioFile"
          onchange="vudio.readAudioSrc(this,vudio,document.querySelector('#audioLabel'))" accept="audio/*"> -->
        <div class="songinfo_wave" style="z-index: -1;">
          <div class="infoinfocontainer">
            <img id="bg" />
            <canvas id="infoinfocanvas"></canvas>
            <audio id="infoaudio" src="./music/Paul_Flint.mp3" preload="auto"></audio>
          </div>
        </div>
      </section>
      <br>
      <br>
      <section class="songinfo_infos3">
        <div class="songinfo_titl">
          <div class="info_square">
            <p>Introduction</p>
            <br>
            <div class="square_info">
              <div class="square_info_info">
                {{ songInfos.song_idn }}
              </div>

            </div>
            <div class="songinfo_ear">
              <img src="./img/songinfo/ear2.png" alt="">
            </div>
          </div>
        </div>
      </section>
      <section class="songinfo_infos4">
        <div>
          <div class="message">
            <br>
            <h3>Message</h3>
            <br>
            <div class="mess">
              <ul class="infomess_ul" style="height: 500px">
                <li class="infomess_li" v-for="item in songmess">
                  <img class="infomessimg" src="./img/songinfo/people.png">
                  <div class="clearfix"></div>
                  <p>&ensp;ID : {{ item.mem_name }}</p>
                  &ensp;{{ item.message_info }}
                  <input type="button" name="" class="inforeport" style="display: none;">
                  <label class="songinfo_re" for="inforeport" style="text-align: center;"
                    @click="report_mess(item.message_no)">Report</label>
                </li>
              </ul>
            </div>
            <div class="mess_write">
              <textarea class="infomess_ta" name="" placeholder="Please leave a message." rows="8" cols="125"
                v-model="push_mess.text"></textarea>
              <br>
              <label for="dollars100">
                <input type="radio" name="dollar" id="dollars100" v-model="push_mess.donate_money" value="100">
                $ 100 dollars
              </label>
              <label for="dollars300">
                <input type="radio" name="dollar" id="dollars300" v-model="push_mess.donate_money" value="300">
                $ 300 dollars
              </label>
              <label for="dollars500">
                <input type="radio" name="dollar" id="dollars500" v-model="push_mess.donate_money" value="500">
                $ 500 dollars
              </label>
              <label for="dollars1000">
                <input type="radio" name="dollar" id="dollars1000" v-model="push_mess.donate_money" value="1000">
                $ 1000 dollars
              </label>
              <br>
              <div class="infose-send" @click="get_push_message">
                <button class="infose-send">Send</button>
              </div>
              <!-- <button class="infomess_btn">清空</button> -->
            </div>
          </div>
        </div>
      </section>
    </div>
    </section>
  </div>
  </div>
  <footer class="songinfofoot">
  </footer>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.1/axios.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
  <script>
    (function () {
      $('.inforeport').on('click', function () {
        $.colorbox({
          html: '<h1>Hello lightbox!!!</h1>', //在燈箱中要顯示的html字段
          width: 700, //燈箱中間區塊的寬度
          height: 600, //燈箱中間區塊的高度
        });
      });
    })();
  </script>
  <script src="./js/songinfo.js"></script>
  <script src="./js/vudio.js"></script>
  <script>
    var colors = [
      [
        [0, '#f00'],
        [0.3, '#f00'],
        [0.3, '#f90'],
        [0.7, '#f90'],
        [0.7, '#ff0'],
        [1, '#ff0']
      ],
      '#ff0',
      ['#06f', '#09f', ' #0Cf', '#0ff'],
      ['#fb6d6b', '#c10056', ' #a50053', '#51074b'],
      [
        [0, '#ff422d'],
        [0.5, '#ff422d'],
        [0.5, '#6072ff'],
        [1, '#6072ff']
      ]
    ];
    var types = ['waveform', 'circlebar', 'lighting', 'circlewave'];
    var prettify = false;
    var canvas = song('#infoinfocanvas');
    var audio = song('#infoaudio');
    var vudio = new Vudio(audio, canvas, {
      effect: 'waveform',
      accuracy: 128,
      waveform: {
        maxHeight: 160,
        spacing: 1,
        shadowBlur: 6,
        shadowColor: 'rgba(208,214,214,0.5)',
        prettify: true,
        fadeSide: true,
        color: [
          [0, '#d0d6d6'],
          [0.3, '#afc0c0'],
          [0.3, '#afc0c0'],
          [0.7, '#afc0c0'],
          [0.7, '#afc0c0'],
          [1, '#d0d6d6'],

        ]
      },
    });
    vudio.dance();

    function song(selector) {
      return document.querySelector(selector);
    }

    function prettifyWaveform() {
      vudio.setOption({
        waveform: {
          prettify: prettify
        },
        circlewave: {
          prettify: prettify
        },
        circlebar: {
          prettify: prettify
        },
      });
      prettify = !prettify;
    }
  </script>

  <!-- <script>
        $(".songinfo_re").on('click', function () {
            $.fancybox.open('<div class="message"><h2>Hello!</h2><p>You are awesome!</p></div>');
        });
    </script> -->

  <script>
    $(".square_info_info").on("mouseenter mouseleave", function (event) { //挷定滑鼠進入及離開事件
      if (event.type == "mouseenter") {
        $(this).css({
          "overflow-y": "scroll"
        }); //滑鼠進入
      } else {
        $(this).scrollTop(0).css({
          "overflow-y": "hidden"
        }); //滑鼠離開
      }
    });
  </script>
  <script>
    (function ($) {
      $(document).ready(function () {

        // Pause/Play functionality
        var playButton = $('.control-play'),
          album = $('.album');

        playButton.on('click', function () {
          $('.music-player-container').toggleClass('is-playing');
        });
      });
    })(jQuery);
  </script>
  <script>
    (function ($) {
      $(document).ready(function () {
        var heartButton = $('.heart-like'),
          album = $('.album');
        heartButton.on('click', function () {
          $('.heart-like-container').toggleClass('is-click');
        });
      });
    })(jQuery);
  </script>
  <script>
    document.getElementById("control-play").onclick = function () {
      var mu = document.getElementById("music");
      // mu.play();

      if (this.innerHTML == "play") {
        this.innerHTML = "stop";
        mu.src = "./music/Paul Flint - SAVAGE Worlds First 21 Launchpad Cover.mp3";
      } else {
        this.innerHTML = "play";
        mu.src = "";
      }
    }
  </script>
  <script>
    var bars = document.querySelectorAll('span');

    setInterval(function () {
      for (var i = 0; i < bars.length; i++) {
        var bar = bars[i];
        var height = Math.floor(Math.random() * 100);
        bar.style.height = height + '%';

      }
    }, 150);
  </script>
  <script>
    let qq = new Vue({
      el: '.songinfo_all',
      data: {
        songnum: null,
        songInfos: {},
        songmess: [],
        push_mess: {
          donate_money: 0,
          text: '',
        },
        member: '',
      },
      methods: {
        async loca_search() {
          var vm = this;

          function Infos() {
            return new Promise((resolve, reject) => {
              var songInfo = location.search.substring(9);
              vm.songnum = songInfo;
              resolve();
            })
          };
          await Infos();
          await vm.get_Page_infos();
          vm.get_mess_infos()
        },
        get_Page_infos() { // 獲取歌曲資訊
          var vm = this;
          return new Promise((resolve, reject) => {

            axios.get('./phps/songinfos.php?get=song&song_no=' + vm.songnum)
              .then(res => {
                vm.songInfos = res.data;
                resolve();
              })
          })
        },
        get_mess_infos() { // 獲取留言資訊
          var vm = this;
          axios.get('./phps/songinfos.php?get=message&song_no=' + vm.songnum)
            .then(res => {
              vm.songmess = [];
              vm.songmess = res.data;
            })
        },
        get_member() {
          var vm = this;
          axios.get('./phps/songinfos.php?get=mem')
            .then(res => {
              vm.member = res.data.mem_name;
            })
        },
        get_push_message() { // 新增資料
          var vm = this;
          $.post('./phps/songinfos_post.php', {
            post: 'post_message',
            song_no: vm.songnum,
            donate_money: vm.push_mess.donate_money,
            text: vm.push_mess.text,
            message_time: Date.now(),
          }, res => {
            alert(res);
            vm.get_mess_infos();
            vm.push_mess = {
              donate_money: 0,
              text: '',
            }
            // $('.infomess_ul').animate({
            //   scrollTop: 0,
            // },300)
          })
        },
        report_mess(message_no) {
          axios.get('./phps/songinfos.php?get=report_mess&message_no=' + message_no)
            .then(res => {
              alert(res.data);
              console.log(res.data)
            })
        }
      },
      mounted() {
        this.loca_search();
        this.get_member();
      }
    })
  </script>
</body>

</html>