<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/public.css">
  <link rel="stylesheet" href="./css/nav_bar.css">
  <link rel="stylesheet" href="./css/store.css">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js'></script>
  <title>Document</title>
</head>

<body>
  <div id="app">
    <div class="nav_bar flexbox">
      <div class="hamburger" @click="hamburger_click">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
      <div class="mobile_list" @click="stopPropagation">
        <div class="paint_border"></div>
        <ul>
          <li class="REMIX flexbox">
            <a href="./remix.html">
            </a>
          </li>
          <li class="COLLECTION flexbox">
            <a href="">
            </a>
          </li>
          <li class="ACTIVITY flexbox">
            <a href="">
            </a>
          </li>
          <li class="LIBRARY flexbox">
            <a href="">
            </a>
          </li>
        </ul>
      </div>

      <div class="logo_container">
        <a href="">
          <div class="logo"></div>
        </a>
      </div>
      <ul class="main_list flexbox">
        <li class="REMIX flexbox">
          <a href="">
          </a>
        </li>
        <li class="COLLECTION flexbox">
          <a href="">
          </a>
        </li>
        <li class="ACTIVITY flexbox">
          <a href="">
          </a>
        </li>
        <li class="LIBRARY flexbox">
          <a href="">
          </a>
        </li>
      </ul>
      <div class="search_bt" @click="search_bt_click">
        <a href="#"></a>
      </div>
      <div class="search_bar">
        <input class="search" type="text" />
        <div class="tag_container">
        </div>
      </div>
      <div class="mem_bt" @click="mem_bt_click">
        <a href="#"></a>
      </div>
      <div class="mem_list" @click="stopPropagation">
        <div class="paint_border"></div>
        <ul>
          <li>
            <a href="">
              <h4>Profile</h4>
            </a>
          </li>
          <li>
            <a href="">
              <h4>Favorite</h4>
            </a>
          </li>
          <li>
            <a href="">
              <h4>
                Song Upload
                <br />&amp; Remove
              </h4>
            </a>
          </li>
          <li>
            <a href="./store.html">
              <h4>
                Store Value
                <br />&amp;Store Record
              </h4>
            </a>
          </li>
          <li>
            <a href="">
              <h4>Donate Record</h4>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <header>
      <img src="./img/member/RESTORE.png">
    </header>
    <div class="wrapper ">
      <img src="./img/member/color1.png" class="color1">
      <!-- <img src="./img/member/color2.png" class="color2"> -->
      <div class="stepCount">
        <div class="rowCount">
          <div class="count">
            <!-- <img src="./img/member/step1.png"> -->
            <img src="./img/member/step1_color.png" v-if="step >= 1">
            <!-- <img src="./img/member/step_color.png" class="step_color"> -->
          </div>
          <div class="count">
            <img src="./img/member/step2.png" v-if="step < 2">
            <img src="./img/member/step2_color.png" v-if="step >= 2">
          </div>
          <div class="count">
            <img src="./img/member/step3.png" v-if="step < 3">
            <img src="./img/member/step3_color.png" v-if="step >= 3">
          </div>
          <div class="count">
            <img src="./img/member/step4.png" v-if="step < 4">
            <img src="./img/member/step4_color.png" v-if="step >= 4">
          </div>
        </div>
      </div>
      <div class="stepFlow">
        <div class="step" v-if="step == 1">
          <img src="./img/member/color2.png" class="color2">
          <div class="choose_money">
            
            <h2>Select Amount</h2>
            <div class="rowpick">
              <div class="money">
                <div :class="{select_money: true,select_money_margin: true,active:isActive == 1}"
                  @click="isActive = 1;choose_money = 100">
                  <img src="./img/member/choose_money.png" v-if="isActive !== 1">
                  <img src="./img/member/choose_money_blue.png" v-if="isActive == 1">
                  <p>100$</p>

                </div>
              </div>
              <div class="money">
                <div :class="{select_money: true,active:isActive == 2}" @click="isActive = 2;choose_money = 300">
                  <img src="./img/member/choose_money.png" v-if="isActive !== 2">
                  <img src="./img/member/choose_money_blue.png" v-if="isActive == 2">
                  <p>300$</p>
                </div>
              </div>
              <div class="money">
                <div :class="{select_money: true,select_money_margin: true,active:isActive == 3}"
                  @click="isActive = 3;choose_money = 500">
                  <img src="./img/member/choose_money.png" v-if="isActive !== 3">
                  <img src="./img/member/choose_money_blue.png" v-if="isActive == 3">
                  <p>500$</p>
                </div>
              </div>
              <div class="money">
                <div :class="{select_money: true,active:isActive == 4}" @click="isActive = 4;choose_money = 1000">
                  <img src="./img/member/choose_money.png" v-if="isActive !== 4">
                  <img src="./img/member/choose_money_blue.png" v-if="isActive == 4">
                  <p>1000$</p>
                </div>
              </div>
              <div class="button">
                <div class="btn_s" @click="step = 2">
                  <p>Next</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="step" v-if="step == 2">
          <img src="./img/member/color2.png" class="color2">
          <div class="enter_card">
            <h2>Enter card number</h2>
            <!-- <img  class="moneybox" src="./img/member/selectbox.png"> -->
            <div class="enter mem">
              <div class="mem_info">
                <h4>Stored value</h4>
                <div class="stored_value">
                  <img src="./img/member/choose_money.png">
                  <h3>${{choose_money}}</h3>
                </div>
              </div>
            </div>
            <div class="enter enterNumber">
              <div class="input">
                <h6>CARD NUMBER</h6>
                <input type="text" v-model="card_infos.card_number" maxlength="16" placeholder="4444 4444 4444 4444">
              </div>
              <div class="input">
                <h6>CVC</h6>
                <input type="text" v-model="card_infos.cvc" maxlength="3" placeholder="444">
              </div>
              <div class="input">
                <h6>VALID THROUGH</h6>
                <input type="date" v-model="card_infos.vaild_through" placeholder="06/21">
              </div>
            </div>

            <div class="button">
              <div class="press">
                <div class="btn_s">
                  <p @click="step=1">back</p>
                </div>
              </div>
              <div class="press">
                <div class="btn_s">
                  <p @click="step=3">Next</p>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="step" v-if="step==3">
          <img src="./img/member/color2.png" class="color2">
          <div class="comfirm_detail">
            <h2>Confirm details</h2>
            <div class="detail">
              <p><span class="card_class">Stored value:</span><span>${{ choose_money }}</span></p>
              <p><span class="card_class">Card number: </span><span>{{ card_infos.card_number }}</span>
              </p>
              <p><span class="card_class">CVC: </span><span>{{ card_infos.cvc }}</span></p>
              <p><span class="card_class">Vaild through:
                </span><span>{{ card_infos.vaild_through }}</span></p>
            </div>
            <div class="button">
              <div class="press">
                <div class="btn_s">
                  <p @click="step = 2">Back</p>
                </div>
              </div>
              <div class="press">
                <div class="btn_s">
                  <p @click="step = 4">Checkout</p>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="step" v-if="step == 4">
          <img src="./img/member/color2.png" class="color2">
          <h2>Done</h2>
          <div class="done">
            <div class="success">
              <div class="success_info">
                <p>Stored value successfully</p>
                <p>Your Point: 1100</p>
              </div>
              <img src="./img/member/sound.png" alt="">
            </div>
            <div class="button">
              <div class="btn_s" @click="step = 3">
                <p>Back home</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="support">
        <h2>Trade Record</h2>
        <div class="box">
          <div class="phone_member_info">
            <div class="pic col-4 col-sm-10"><img src="./img/member/gem.jpg"></div>
            <div class="meminfos col-6 col-sm-10">
              <p>MemberID: 21468</p>
              <p>MemberName: G.E.M</p>
              <p>Points: 1021</p>
            </div>
          </div>
          <div class="member_info">
            <!-- <img class="mp3" src="./img/member/mp3.png"> -->
            <img class="gem" src="./img/member/gem.jpg">
            <div class="member">
              <div class="member_detail">
                <p>MemberID: 21468</p>
                <p>MemberName: G.E.M</p>
                <p>Points: 1021</p>
              </div>
            </div>
          </div>
          <div class="support_history">
            <div class="table">
              <div class="th">
                <div class="col-3 col-sm-5 td" style="border-radius: 5px 0 0 0;">Trade no</div>
                <div class="col-4 col-sm-6 td" style="">Cost</div>
                <div class="col-5 date td" style="border-radius: 0 5px 0 0;">Date</div>
              </div>
              <div class="tbody">
                <div v-for="item in history" class="tr">
                  <div class="col-3 col-sm-6 td">{{item.no}}</div>
                  <div class="col-4 col-sm-6 td">${{item.cost}}</div>
                  <div class="col-5 date td">{{item.date}}</div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>

    <!--  ↓↓↓↓↓  Code Here  ↓↓↓↓↓  -->
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js'></script>
  <script>
    let _search_click = false;
    let _mem_bt_click = false;

    new Vue({
      el: '#app',
      data: {
        step: 1,
        choose_money: 100,
        isActive: 1, // 選金錢的是否active
        card_infos: {
          card_number: '',
          cvc: '',
          vaild_through: '2019-12-26',
        },
        history: [{
            no: 1,
            cost: 500,
            date: '2019-1-12',
          },
          {
            no: 2,
            cost: 300,
            date: '2019-2-12',
          },
          {
            no: 3,
            cost: 500,
            date: '2019-3-12',
          },
          {
            no: 4,
            cost: 500,
            date: '2019-4-12',
          },
          {
            no: 5,
            cost: 500,
            date: '2019-5-12',
          },
          {
            no: 6,
            cost: 500,
            date: '2019-5-22',
          },
          {
            no: 7,
            cost: 500,
            date: '2019-1-12',
          },
          {
            no: 1,
            cost: 500,
            date: '2019-1-12',
          },
          {
            no: 1,
            cost: 500,
            date: '2019-1-12',
          },
          {
            no: 1,
            cost: 500,
            date: '2019-1-12',
          },
          {
            no: 1,
            cost: 500,
            date: '2019-1-12',
          },
          {
            no: 1,
            cost: 500,
            date: '2019-1-12',
          },
          {
            no: 1,
            cost: 500,
            date: '2019-1-12',
          },
          {
            no: 1,
            cost: 500,
            date: '2019-1-12',
          },
          {
            no: 1,
            cost: 500,
            date: '2019-1-12',
          },
          {
            no: 1,
            cost: 500,
            date: '2019-1-12',
          },
          {
            no: 1,
            cost: 500,
            date: '2019-1-12',
          },
          {
            no: 1,
            cost: 500,
            date: '2019-1-12',
          },
          {
            no: 1,
            cost: 500,
            date: '2019-1-12',
          },
          {
            no: 1,
            cost: 500,
            date: '2019-1-12',
          },
          {
            no: 1,
            cost: 500,
            date: '2019-1-12',
          },

        ]
      },
      methods: {
        hamburger_click(e) {
          e.stopPropagation();
          document.querySelector(".hamburger").classList.toggle("is-active");
        },
        search_bt_click(e) {
          e.stopPropagation();
          if (this.search_bar == false) {
            this.search_bar = true;
            this.mem_list = false;
            this.mobile_list = false;
            document
              .querySelector(".search_bar")
              .setAttribute("style", "height: 240px; filter: opacity(1);");
            document.querySelector("input.search").focus();
            document
              .querySelector(".mem_list")
              .setAttribute("style", "transform: translateX(270px); filter: opacity(0);");
            document
              .querySelector(".mobile_list")
              .setAttribute("style", "transform: translateX(-270px); filter: opacity(0);");
          } else {
            this.search_bar = false;
            document
              .querySelector(".search_bar")
              .setAttribute("style", "height: 0px; filter: opacity(0);");
            document.querySelector("input.search").blur();
            document
              .querySelector(".mem_list")
              .setAttribute("style", "transform: translateX(270px); filter: opacity(0);");
            document
              .querySelector(".mobile_list")
              .setAttribute("style", "transform: translateX(-270px); filter: opacity(0);");
          }
        },
        stopPropagation(e) {
          e.stopPropagation();
        },
        mem_bt_click(e) {
          e.stopPropagation();
          if (this.mem_list == false) {
            this.mem_list = true;
            this.search_bar = false;
            this.mobile_list = false;
            document
              .querySelector(".mem_list")
              .setAttribute("style", "transform: translateX(0); filter: opacity(1);");
            document
              .querySelector(".search_bar")
              .setAttribute("style", "height: 0px; filter: opacity(0);");
            document
              .querySelector(".mobile_list")
              .setAttribute("style", "transform: translateX(-270px); filter: opacity(0);");
          } else {
            this.mem_list = false;
            document
              .querySelector(".mem_list")
              .setAttribute("style", "transform: translateX(270px); filter: opacity(0);");
            document
              .querySelector(".search_bar")
              .setAttribute("style", "height: 0px; filter: opacity(0);");
            document
              .querySelector(".mobile_list")
              .setAttribute("style", "transform: translateX(-270px); filter: opacity(0);");
          }
        },
        hamburger_click(e) {
          e.stopPropagation();
          if (this.mobile_list == false) {
            this.mobile_list = true;
            this.mem_list = false;
            this.search_bar = false;
            document
              .querySelector(".mobile_list")
              .setAttribute("style", "transform: translateX(0); filter: opacity(1);");
            document
              .querySelector(".mem_list")
              .setAttribute("style", "transform: translateX(270px); filter: opacity(0);");
            document
              .querySelector(".search_bar")
              .setAttribute("style", "height: 0px; filter: opacity(0);");
          } else {
            this.mobile_list = false;
            document.querySelector(".mobile_list").setAttribute("style",
              "transform: translateX(-270px); filter: opacity(0);");
            document
              .querySelector(".mem_list")
              .setAttribute("style", "transform: translateX(270px); filter: opacity(0);");
            document
              .querySelector(".search_bar")
              .setAttribute("style", "height: 0px; filter: opacity(0);");
          }
        },
        moveDiv(move) {
          var step = document.getElementsByClassName('step');
          for (var i = 0; i < step.length; i++) {
            step[i].style.transform = `translateX(-${move*100}%)`
          }
          setTimeout(function () {
            $('body,html').animate({
              scrollTop: 370
            }, 900);
          }, 300)
          // return false;
        },

      },
      mounted() {
        // 組長的code
        var vm =this;
        document.addEventListener('click', () => {
          vm.mem_list = false;
          vm.search_bar = false;
          vm.mobile_list = false;

          document
            .querySelector(".search_bar")
            .setAttribute("style", "height: 0px; filter: opacity(0);");
          document
            .querySelector(".mem_list")
            .setAttribute("style", "transform: translateX(270px); filter: opacity(0);");
          document
            .querySelector(".mobile_list")
            .setAttribute("style", "transform: translateX(-270px); filter: opacity(0);");
        });

      },
    })
  </script>
</body>

</html>