<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
  <!-- <link rel="stylesheet" href="./css/store.css"> -->
  <link rel="stylesheet" href="./css/main.css">
  <title>Document</title>
</head>

<body class="store_body">
  <div id="nav_app">
    <!-- nav_bar start -->
    <div class="nav_bar flexbox">
      <div class="hamburger" @click="hamburger_click">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
      <div class="mobile_list" @click="stopPropagation">
        <div class="paint_border"></div>
        <ul>
          <li class="REMIX flexbox">
            <a href="./remix.html">
            </a>
          </li>
          <li class="COLLECTION flexbox">
            <a href="./collection.html">
            </a>
          </li>
          <li class="ACTIVITY flexbox">
            <a href="./activity.html">
            </a>
          </li>
          <li class="LIBRARY flexbox">
            <a href="./library.html">
            </a>
          </li>
        </ul>
      </div>
      <div class="logo_container">
        <a href="./index.html">
          <div class="logo"></div>
        </a>
        <div class="finger"></div>
      </div>
      <ul class="main_list flexbox">
        <li class="REMIX flexbox">
          <a href="./remix.html">
          </a>
        </li>
        <li class="COLLECTION flexbox">
          <a href="./collection.html">
          </a>
        </li>
        <li class="ACTIVITY flexbox">
          <a href="./activity.html">
          </a>
        </li>
        <li class="LIBRARY flexbox">
          <a href="./library.html">
          </a>
        </li>
      </ul>
      <div class="search_bt" @click="search_bt_click">
        <a href="#"></a>
      </div>
      <div class="search_bar" @click="stopPropagation">
        <input class="search" type="text" />
        <div class="tag_container">
        </div>
      </div>

      <div class="mem_bt" @click="mem_bt_click" v-if="mem_login == true">
        <a href="#"></a>
      </div>
      <div class="login_bt" v-if="mem_login == false">
        <a href="./login.html"></a>
      </div>
      <div class="mem_list" @click="stopPropagation">
        <div class="paint_border"></div>
        <ul>
          <li>
            <a href="./profile.html">
              <h4>Profile</h4>
            </a>
          </li>
          <li>
            <a href="./songsadded.html">
              <h4>
                Song Upload
                <br />&amp; Remove
              </h4>
            </a>
          </li>
          <li>
            <a href="./store.html">
              <h4>
                Store Value
                <br />&amp;Store Record
              </h4>
            </a>
          </li>
          <li>
            <a href="./donate.html">
              <h4>Donate Record</h4>
            </a>
          </li>
          <li @click="logout">
            <a href="#">
              <h4>Log Out</h4>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- nav_bar end -->
  </div>
  <header>
    <img src="./img/member/RESTORE.png" alt="">
  </header>
  <div id="store_app">
    <div class="store_big_box">
      <img src="./img/member/bg_down.png" class="bg_down">
      <img src="./img/member/step1_bg.png" class="step1_bg">
      <!-- <img src="./img/member/bg_down2.png" class="bg_down2" v-if="step == 2">
      <img src="./img/member/step2_bg.png" class="step2_bg" v-if="step == 2">
      <img src="./img/member/bg_down3.png" class="bg_down3" v-if="step == 3">
      <img src="./img/member/step3_bg.png" class="step3_bg" v-if="step == 3">
      <img src="./img/member/bg_down4.png" class="bg_down4" v-if="step == 4">
      <img src="./img/member/step4_bg.png" class="step4_bg" v-if="step == 4"> -->

      <div class="wrapper store_wrapper">
        <div class="store_meminfos">
          <div class="col-xl-3 mem_img">
            <div class="col-xl-8 ">
              <img :src=memberinfos.mem_img>
            </div>
          </div>
          <div class="col-xl-3">
            <div class="col-xl-10 col-11">
              <p>Member ID</p>
              <p>{{ memberinfos.mem_no }}</p>
            </div>
          </div>
          <div class="col-xl-3 pline">
            <div class="col-xl-10 col-11">
              <p>Name</p>
              <p>{{ memberinfos.mem_name }}</p>
            </div>
          </div>
          <div class="col-xl-3">
            <div class="col-xl-10 col-11">
              <p>Point</p>
              <p>{{ memberinfos.mem_point }}</p>
            </div>
          </div>
        </div>
        <div class="store_flow">
          <div class="title">
            <h2 v-if="step == 1">Select Amount</h2>
            <h2 v-if="step == 2">Enter Card</h2>
            <h2 v-if="step == 3">Confirm Detail</h2>
            <h2 v-if="step == 4">Done</h2>
          </div>
          <div class="flow">
            <div class="col-xl-3">
              <div class="col-xl-6 image">
                <img src="./img/member/step1.png">
              </div>
              <div class="col-xl-12">
                <h4>Select</h4>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="col-xl-6 image">
                <img src="./img/member/step2.png" v-if="step < 2">
                <img src="./img/member/step2_color.png" v-else>
              </div>
              <div class="col-xl-12">
                <h4 :class="{flow_word: step < 2}">Card</h4>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="col-xl-6 image">
                <img src="./img/member/step3.png" v-if="step < 3">
                <img src="./img/member/step3_color.png" v-else>
              </div>
              <div class="col-xl-12">
                <h4 :class="{flow_word: step < 3}">Check</h4>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="col-xl-6 image">
                <img src="./img/member/step4.png" v-if="step < 4">
                <img src="./img/member/step4_color.png" v-else>
              </div>
              <div class="col-xl-12">
                <h4 :class="{flow_word: step < 4}">Done</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="store_step">
          <div class="col-xl-12 step choose_money" v-if="step == 1">
            <!-- <img src="./img/member/step1_bg.png" class="step1_bg"> -->
            <img src="./img/member/ribe.png" class="ribe">
            <img src="./img/member/sm_ribe.png" class="sm_ribe">
            <div class="col-xl-3 col-6">
              <div class="col-xl-8 choose">
                <img src="./img/member/choose_money.png" v-if="isActive != 1" @click="isActive = 1;choose_money = 100">
                <img src="./img/member/choose_money_blue.png" v-if="isActive == 1">
                <p class="poa_center">$100</p>
              </div>
            </div>
            <div class="col-xl-3 col-6">
              <div class="col-xl-8 choose">
                <img src="./img/member/choose_money2.png" v-if="isActive != 2" @click="isActive = 2;choose_money = 300">
                <img src="./img/member/choose_money_blue2.png" v-if="isActive == 2">
                <p class="poa_center">$300</p>
              </div>
            </div>
            <div class="col-xl-3 col-6">
              <div class="col-xl-8 choose">
                <img src="./img/member/choose_money3.png" v-if="isActive != 3" @click="isActive = 3;choose_money = 500">
                <img src="./img/member/choose_money_blue3.png" v-if="isActive == 3">
                <p class="poa_center">$500</p>
              </div>
            </div>
            <div class="col-xl-3 col-6">
              <div class="col-xl-8 choose">
                <img src="./img/member/choose_money4.png" v-if="isActive != 4"
                  @click="isActive = 4;choose_money = 1000">
                <img src="./img/member/choose_money_blue4.png" v-if="isActive == 4">
                <p class="poa_center">$1000</p>
              </div>
            </div>
            <div class="col-xl-12 store_button">
              <div class="col-xl-6 btn" @click="step += 1">
                <p>Next</p>
              </div>
            </div>
          </div>
          <div class="col-xl-12 step enter_card" v-if="step == 2">
            <div class="col-xl-4 col-12 card">
              <img src="./img/member/bone_feet.png" class="bone">
              <div class="col-xl-8 col-md-10 col-11 choosed">
                <div class="col-xl-12 ">
                  <h4>Store Value</h4>
                </div>
                <div class="col-xl-12 value">
                  <img src="./img/member/choose_money.png">
                  <p class="poa_center">${{choose_money}}</p>
                </div>
              </div>
            </div>
            <div class="col-xl-8 col-12 card cardinfo">
              <div class="col-xl-11">
                <div class="col-xl-12">
                  <h4>Card Number: </h4>
                </div>
                <div class="col-xl-12 fal">
                  <input type="number" placeholder="4444444444444444" v-model="card_infos.card_number">
                  <span v-if="checkNum(card_infos.card_number) && enter">need to enter 16 number</span>
                </div>
              </div>
              <div class="col-xl-11">
                <div class="col-xl-12">
                  <h4>CVC: </h4>
                </div>
                <div class="col-xl-12 fal">
                  <input type="number" placeholder="444" v-model="card_infos.cvc">
                  <span v-if="checkCvc(card_infos.cvc) && enter">need to enter 3 number</span>
                </div>
              </div>
              <div class="col-xl-11">
                <div class="col-xl-12">
                  <h4>Valid Through: </h4>
                </div>
                <div class="col-xl-12 fal">
                  <input type="date" value="2019-12-26" v-model="card_infos.vaild_through">
                </div>
              </div>
            </div>
            <div class="col-xl-12 store_button">
              <div class="col-xl-5 press">
                <div class="btn" @click="step = 1">Back</div>
              </div>
              <div class="col-xl-5 press">
                <div class="btn" @click="step3Next">Next</div>
              </div>
            </div>
          </div>
          <div class="col-xl-12 step comfirm_detail" v-if="step == 3">

            <div class="col-xl-6 col-md-8  col-12 comfirm">
              <img src="./img/member/bone_head.png" class="bone_head">
              <img src="./img/member/bone_hand.png" class="bone_hand">
              <p><span>Store Value: </span><span>${{choose_money}}</span></p>
              <p><span>Card Number: </span><span>{{card_infos.card_number}}</span></p>
              <p><span>CVC: </span><span>{{card_infos.cvc}}</span></p>
              <p><span>vaild Through: </span><span>{{card_infos.vaild_through}}</span></p>
            </div>
            <div class="col-xl-12 store_button">
              <div class="col-xl-5 press">
                <div class="btn" @click="step = 2">Back</div>
              </div>
              <div class="col-xl-5 press">
                <div class="btn" @click="checkout()">Checkout</div>
              </div>
            </div>
          </div>
          <div class="flexbox step done" v-if="step == 4">
            <div class="success_info">
              <h5>{{ isSuccess }}</h5>
              <h5>Your Point: {{ memberinfos.mem_point }}</h5>
            </div>
            <div class="dance">
              <div class="col-xl-12 poa_center dance_place">
                <img src="./img/member/step4_head.png" class="head">
                <img src="./img/member/step4_body_top.png" class="body_top">
                <img src="./img/member/step4_body_down.png" class="body_down">
                <img src="./img/member/step4_feet.png" class="feet">
              </div>
            </div>
            <div class="col-xl-12 button">
              <div class="store_button">
                <a href="./index.html" style="color: #333;display: inline-block;">
                  <div class="btn">Home</div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="store_history">
          <div class="col-xl-12 title">
            <h2>Trade record</h2>
          </div>
          <div class="col-xl-10 col-lg-11 col-12 table">
            <div class="col-xl-12 thead">
              <div class="col-xl-3">
                <h4>Trade no</h4>
              </div>
              <div class="col-xl-4">
                <h4>Cost</h4>
              </div>
              <div class="col-xl-4">
                <h4>Date</h4>
              </div>
            </div>
            <div class="col-xl-12 tbody">
              <div class="col-xl-12 tr" v-for="list in history">
                <div class="col-xl-3 td">{{ list.no }}</div>
                <div class="col-xl-4 td">{{ list.cost }}</div>
                <div class="col-xl-4 date td">{{ list.date }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--  ↓↓↓↓↓  Code Here  ↓↓↓↓↓  -->
  </div>
  <div id="player">
    <audio src="" id="audioPlayer"></audio>
    <div class="player_s">
      <div class="info">
        <div class="cover"><img src="./img/collection/album1.jpg"></div>
        <div class="songInfo">
          <span class="name">Lucid Dreamer</span>
          <span class="creator">Spazz Cardigan</span>
        </div>
        <div class="heart"><img src="./img/collection/grayheart.png" alt=""></div>
        <div class="clearfix"></div>
      </div>

      <div class="controlPanel">
        <div class="progressbar">
          <div class="progress"></div>
        </div>
        <div class="time">
          <span class="start">00:00</span>
          <span class="end">04:30</span>
          <div class="clearfix"></div>
        </div>
        <div class="btns">
          <div class="controls">
            <button class="prev"><i class="fas fa-step-backward"></i></button>
            <button class="play"><i class="fas fa-play"></i></button>
            <button class="next"><i class="fas fa-step-forward"></i></button>
            <button class="stop"><i class="fas fa-stop"></i></button>
            <button class="rand"><i class="fas fa-random"></i></button>
            <button class="loop"><i class="fas fa-undo-alt"></i></button>
            <div class="clearfix"></div>
          </div>
          <div class="vol">
            <div class="volicon"><i class="fas fa-volume-down"></i></div>
            <div class="volLine">
              <div class="volControl"></div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="expand" id="expand"><i class="fas fa-expand"></i></div>
      <div class="clearfix"></div>
    </div>

    <!-- 詳細版 -->
    <div class="player_b">
      <div class="left">
        <div class="info">
          <div class="songCover">
            <img src="./img/collection/album1.jpg">
            <div class="coverRec"><img src="./img/library/player_record.png" alt=""></div>
          </div>
        </div>
        <div class="songInfo">
          <div class="name">Lucid Dreamer</div>
          <div class="creator">Spazz Cardigan</div>
          <div class="heart"><img src="./img/collection/grayheart.png" alt=""></div>
          <div class="clearfix"></div>
        </div>
        <div class="controlPanel">
          <div class="progressbar">
            <div class="progress"></div>
          </div>
          <div class="time">
            <span class="start">00:00</span>
            <span class="end">00:00</span>
            <div class="clearfix"></div>
          </div>
          <div class="btns">
            <div class="controls">
              <button class="rand"><i class="fas fa-random"></i></button>
              <button class="prev"><i class="fas fa-step-backward"></i></button>
              <button class="play"><i class="fas fa-play"></i></button>
              <button class="next"><i class="fas fa-step-forward"></i></button>
              <button class="stop"><i class="fas fa-stop"></i></button>
              <button class="loop"><i class="fas fa-undo-alt"></i></button>
              <div class="clearfix"></div>
            </div>
            <div class="vol">
              <div class="volicon"><i class="fas fa-volume-down"></i></div>
              <div class="volLine">
                <div class="volControl"></div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="pushBtn"></div>
      </div>

      <div class="right">
        <div class="pushBtn"></div>
        <div class="listTitle">
          <div class="listCover">
            <img src="./img/library/list_pic_no.jpg"></div>
          <div class="listName">
            <h2>Total songs</h2>
            <span>0 songs</span>
          </div>
          <button class="selectBtn" id="selectBtn">SELECT</button>
          <div class="clearfix"></div>
        </div>
        <div class="list">
          <ul class="chooseList">
            <!-- <li>
              <div class="songCover">
                <img src="./img/collection/album1.jpg" alt="">
                <div class="listPlay nowlistening"><img src="./img/library/coverPlay-s.png"></div>
              </div>
              <div class="listSongInfo">
                <div class="name">
                  <h4>Lucid Dreamer</h4>
                  <p> Spazz Cardigan</p>
                </div>
              </div>
              <div class="totalTime">3:11</div>
              <div class="heart becomeRed"><img src="./img/collection/redheart.png"></div>
              <div class="clearfix"></div>
            </li> -->
          </ul>
        </div>
        <input type="hidden" id="playerfavorStatus" name="favorStatus">
        <input type="hidden" id="playerFavorSong" name="favorSong">
      </div>
      <div class="close" id="closePlayer"><i class="fas fa-times"></i></div>
      <div class="clearfix"></div>

      <!-- 撥放器燈箱 -->
      <div class="lightCover">
        <div class="lightbox_s allmylist" id="myAllList">
          <div class="closeLight"><i class="fas fa-times"></i></div>
          <h4>My List</h4>
          <div class="lightSelectMenu">
            <ul>
              <!-- <li class="chooseList">Liked songs</li> -->
            </ul>
          </div>
          <input type="hidden" name="plistName" id="plistName">
          <button id="mylistOK">ok</button>
        </div>
        <div class="lightbox_s" id="playerAlert">
          <div class="closeLight"><i class="fas fa-times"></i></div>
          <h4></h4>
          <button>ok</button>
        </div>
      </div>
    </div>
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js'></script>
  <script src="./js/nav_bar.js"></script>
  <script src="./js/player.js"></script>
  <script>
    new Vue({
      el: '#store_app',
      data: {
        screenWidth: document.body.clientWidth,
        step: 1,
        start: false,
        choose_money: 100,
        isActive: 1, // 選金錢的是否active
        enter: false,
        isSuccess: '',
        card_infos: {
          card_number: '',
          cvc: '',
          vaild_through: '2020-02-06',
        },
        history: [],
        memberinfos: {},
      },
      methods: {
        moveDiv() {
          setTimeout(function () {
            $('body,html').animate({
              scrollTop: 370
            }, 900);
          }, 300)
          // return false;
        },
        dance() {
          var vm = this;
          // if (vm.start == true) {
          //   vm.start = false;
          //   clearTimeout(move);
          //   console.log(move)
          // }
          move = '';
          move = setTimeout(function () {
            vm.start = true;
            // console.log("clear");
            TweenMax.set($('.head'), {
              x: '-50%',
              rotation: '45deg',
            })
            TweenMax.set($('.body_top'), {
              x: '-50%',
              y: '0%',
              rotation: '35deg',
            })
            TweenMax.set($('.body_down'), {
              x: '-50%',
              y: '0%',
              rotation: '13deg',

            })
            TweenMax.set($('.feet'), {
              x: '-50%',
              y: '0%',
              rotation: '0deg',
            })


            TweenMax.to($('.head'), 1, {
              x: '-50%',
              rotation: '20deg',
              transformOrigin: "50% 50%",
              repeatDelay: 1,
              repeat: -1,
              yoyo: true,
            })
            TweenMax.to($('.body_top'), 1, {
              x: '-33%',
              y: '31%',
              rotation: '22deg',
              transformOrigin: "50% 50%",
              repeatDelay: 1,
              repeat: -1,
              yoyo: true,
            })
            TweenMax.to($('.body_down'), 1, {
              x: '-16%',
              y: '38%',
              rotation: '11deg',
              transformOrigin: "50% 50%",
              repeatDelay: 1,
              repeat: -1,
              yoyo: true,
            })
            TweenMax.to($('.feet'), 1, {
              x: '-43%',
              y: '8%',
              rotation: '0deg',
              transformOrigin: "50% 50%",
              repeatDelay: 1,
              repeat: -1,
              yoyo: true,
            })
          }, 0)

        },
        checkNum(cardNum) {
          if (cardNum.length != 16) return true;
        },
        checkCvc(cvc) {
          if (cvc.length != 3) return true;
        },
        step3Next() {
          this.enter = true
          if (this.checkNum(this.card_infos.card_number) && this.checkCvc(this.card_infos.cvc)) {
            return;
          }
          this.step = 3;
        },
        async checkout() {
          const vm = this;

          function check() {
            return new Promise((resolve, reject) => {
              vm.date();
              axios.get(`./phps/store.php?get=storemoney&store_price=${vm.choose_money}&store_day=${today}`)
                .then((res) => {
                  if (res.data == '請先登入會員') {
                    alert('Please login first!');
                    location.href = './login.html';
                    resolve();
                  } else {
                    vm.isSuccess = res.data;
                    console.log('success')
                    vm.history_php();
                    vm.meminfos();
                    resolve();
                  }
                }).catch((error) => {
                  console.error(error)
                })
            })

          }

          await check();
          if (vm.isSuccess != '') vm.step = 4;
        },
        history_php() {
          const vm = this;
          axios.get('./phps/store_history.php').then(res => {
            var all = [];
            all = res.data;
            vm.history = [];
            for (var item in all) {
              // console.log(all[item].mem_no)
              vm.history.push({
                no: all[item].store_no,
                cost: all[item].store_price,
                date: all[item].store_day
              })
            }
          }).catch(error => {
            console.log(error)
          })
        },
        date() {
          const vm = this;
          // 獲得日期
          var now = new Date();
          var year = now.getFullYear();
          var mon = now.getMonth() + 1 > 10 ? now.getMonth() + 1 : "0" + (now.getMonth() + 1);
          var date = now.getDate() > 10 ? now.getDate() : "0" + now.getDate();

          today = `${year}-${mon}-${date}`;
          return today;
        },
        meminfos() {
          var vm = this;
          axios.get('./phps/store.php?get=meminfos').then(res => {
            vm.memberinfos = {};
            vm.memberinfos = {
              mem_no: res.data[0].mem_no,
              mem_acct: res.data[0].mem_acct,
              mem_psw: res.data[0].mem_psw,
              mem_name: res.data[0].mem_name,
              mem_img: res.data[0].mem_img,
              mem_point: res.data[0].mem_point
            }

          })
        }
      },
      computed: {

      },
      mounted() {
        // nav_bar end
        var vm = this;
        window.onresize = () => {
          return (() => {
            vm.screenWidth = document.body.clientWidth;

          })()
        }

        vm.history_php();
        vm.meminfos();

      },
      watch: {
        screenWidth() {
          var vm = this;
          if (vm.step == 4) {
            this.dance();
          }
        },
        step() {
          var vm = this;
          if (vm.step == 4) {
            this.dance();
          }
        }

      },
    })
  </script>
</body>

</html>